
<ons-template id="te-day-jobs.html">
    <ons-page style="height: 100%;" ng-controller="TEDayJobsController">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center" ng-bind="title">
        </div>
        <div class="right">
          <ons-toolbar-button ng-hide="loading||working" ng-click="viewCrew()">
            <ons-icon icon="ion-person-stalker"></ons-icon>
          </ons-toolbar-button>
          <ons-toolbar-button ng-hide="loading||working" ng-click="viewModuleReports()">
            <ons-icon icon="fa-bar-chart"></ons-icon>
          </ons-toolbar-button>
          <ons-toolbar-button ng-show="loading">
            <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
          </ons-toolbar-button>
          <ons-toolbar-button ng-hide="loading||working" ng-click="addCrewToJob()">
            <ons-icon icon="ion-plus"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="centerVertical" ng-show="working||!tabs.length">
        <ons-progress-circular indeterminate="true" ng-show="working"></ons-progress-circular>
        <div ng-hide="working">No jobs available.</div>
      </div>
      <ons-tabbar position="auto" var="teJobsTabBar" ng-style="(working||!tabs.length)?{'visibility':'hidden'}:{}"  ng-cloak>
          <ons-tab ng-repeat="tab in tabs" label="{{ tab.title }}" page="te-day-jobs-list.html" ng-hide="tab.gone"></ons-tab>
      </ons-tabbar>
      <help-button ng-if="env == 'demo'"></help-button>
    </ons-page>
</ons-template>

<ons-template id="te-day-jobs-list.html">
  <ons-page style="height: 100%;">
    <ons-list>
      <ons-list-item tappable ng-repeat="job in $parent.tabs[$parent.tabIndex].jobs | filter:showJobRow" ng-click="openJobDay(job)" on-long-press="jobOnLongPress(job)" ng-class="getClass(job)" id="{{job.RowTypeCode=='JOB'?'anchor-tejob-'+job.JobID:''}}">
        <div class="left">
          <span ng-show="job.RowTypeCode == 'JOB'">{{ getJobNumber(job) }}
          <div class="job-and-org"><span class="org">{{ getOrg(job) }}</span>{{ getOtherJobNumber(job) }}</div>
          </span>
          <span ng-show="job.RowTypeCode == 'JDC'">
            <div>{{ job.Date | date:'M/d/yyyy' }} <span class="job-day">{{ job.Date | date:'EEEE' }}</span></div>
          </span>
        </div>
        <div class="right">
          <span class="if-480 job-list-description" ng-show="job.RowTypeCode == 'JOB'">{{ job.Description }}</span>
          <span ng-show="job.RowTypeCode == 'JDC'">
            <ons-button class="time-review-button" ng-click="openJobDayCrew(job, $event)" ng-disabled="loading">{{ job.Status }}</ons-button>
            <span class="detail-buttons" style="width: auto">
              <ons-button modifier="quiet" ng-click="viewReports(job)" ng-disabled="loading" class="complete" style="font-size: 20px; line-height: auto;">
                <ons-icon icon="fa-bar-chart"></ons-icon>
              </ons-button>
            </span>
          </span>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-template>

<ons-template id="te-crew-member-dialog">
  <ons-dialog style="z-index: 100000;" cancelable>
    <ons-toolbar class="fourty-four" inline>
      <div class="center" style="font-size: 16px;">Crew Members</div>
      <div class="right">
          <ons-toolbar-button ng-show="loading">
            <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
          </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div style="padding: 10px; font-size: 14px">
      <ons-list>
        <ons-list-item ng-repeat="member in CrewMember" ng-click="openMember(member, $event)" tappable>
          <div class="left">
            {{ member.Name }}
          </div>
          <div class="right detail-buttons" style="width: auto">
            <ons-button modifier="quiet" ng-click="openReports(member, $event)" ng-disabled="loading" class="complete" style="font-size: 20px; line-height: auto;">
              <ons-icon icon="fa-bar-chart"></ons-icon>
            </ons-button>
          </div>
        </ons-list-item>
      </ons-list>
    </div>
  </ons-dialog>
</ons-template>

<ons-template id="te-begin-day.html">
    <ons-page style="height: 100%;" ng-controller="BeginDayController" ons-hide="onHide()">
      <ons-toolbar>
        <div class="left"><ons-back-button id="back-button" ng-disabled="loading"></ons-back-button></div>
        <div class="center">{{ jobday.Date | date:'M/d/yyyy' }} ({{ job.JobNumber }})</div>
        <div class="right">
          <ons-toolbar-button ng-click="completeWork()" ng-disabled="loading || working"><ons-icon icon="ion-log-out"></ons-icon></ons-toolbar-button>
          <ons-toolbar-button ng-click="finish()" ng-disabled="working" ng-hide="loading"><ons-icon icon="ion-checkmark"></ons-icon></ons-toolbar-button>
          <ons-toolbar-button ng-show="loading">
            <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="centerVertical" ng-show="working">
        <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
      <ons-tabbar position="auto" var="beginDayTabs" ng-hide="working">
          <ons-tab label="Members" page="te-member-list.html" active></ons-tab>
          <ons-tab label="Equipment" page="te-equipment-list.html"></ons-tab>
      </ons-tabbar>
      <ons-speed-dial position="bottom right" direction="up" ng-hide="working || loading" class="orange-fab" style="right: 40px;">
        <ons-fab class="info-button-float">
          <ons-icon icon="md-plus"></ons-icon>
        </ons-fab>
        <ons-speed-dial-item ng-click="addItem('rental', $event)" class="info-button-float"><ons-icon icon="ion-plus"></ons-icon><div>Add Rental</div></ons-speed-dial-item>
        <ons-speed-dial-item ng-click="addItem('equipment', $event)" class="info-button-float"><ons-icon icon="fa-truck"></ons-icon><div>Add Equipment</div></ons-speed-dial-item>
        <ons-speed-dial-item ng-click="addItem('member', $event)" class="info-button-float"><ons-icon icon="ion-person"></ons-icon><div>Add Crew Member</div></ons-speed-dial-item>
      </ons-speed-dial>
      <help-button ng-if="env == 'demo'"></help-button>
    </ons-page>
</ons-template>

<ons-template id="te-member-list.html">
    <ons-page style="height: 100%;">
      <ons-list>
        <ons-list-header>
          <div class="left">
            <div class="member-name">Name</div><!--
         --><div class="member-craft if-480 if-inline-block">Craft</div><!--
         --><div class="member-class">Class</div><!--
         --><div class="member-status">Status</div>
          </div>
        </ons-list-header>
        <ons-list-item tappable ng-repeat="member in jobdaycrew.JobDayCrewMember" class="te-crew-row">
          <div class="left list-content {{ member.MemberStatusCrewMemberActiveFlag?'':'faded' }}">
            <div class="member-name completion-cell">{{ member.PersonFullName }}</div>
            <div class="member-craft completion-cell if-480">{{ member.CraftCraft }}</div>
            <div class="member-class completion-cell">{{ member.ClassClass }}</div>
            <div class="member-status completion-cell">{{ member.MemberStatusDescription }}</div>
          </div>
          <div class="right location-detail-right">
            <div class="detail-buttons list-content" style="width: auto">
                <ons-button modifier="quiet" ng-class="member.MemberStatusCrewMemberActiveFlag?'complete':'uncomplete'" ng-click="openMember(member, $event)" ng-disabled="loading"><ons-icon icon="ion-person"></ons-icon></ons-button>
            </div>
          </div>
        </ons-list-item>
      </ons-list>
    </ons-page>
</ons-template>

<ons-template id="te-equipment-list.html">
    <ons-page style="height: 100%;">
      <ons-list>
        <ons-list-header>
          <div class="left">
            <div class="equipment-number">#</div><!--
         --><div class="equipment-description">Description</div><!--
         --><div class="equipment-category">Category</div>
          </div>
        </ons-list-header>
        <ons-list-item tappable ng-repeat="equipment in jobdaycrew.JobDayCrewEquipment" class="te-crew-row">
          <div class="left list-content {{ equipment.ActiveFlag?'':'faded' }}">
            <span class="equipment-number">{{ equipment.Equipment }}</span>
            <span class="equipment-description">{{ equipment.EquipmentDescription }}</span>
            <span class="equipment-category">{{ equipment.CategoryCategory }}</span>
          </div>
          <div class="right location-detail-right">
             <div class="detail-buttons list-content" style="width: auto">
                <ons-button modifier="quiet" ng-class="equipment.ActiveFlag?'complete':'uncomplete'" ng-click="activateEquipment(equipment, $event)" ng-disabled="loading" style="font-size: 22px;"><ons-icon icon="fa-truck"></ons-icon></ons-button>
             </div>
          </div>
        </ons-list-item>
      </ons-list>
    </ons-page>
</ons-template>

<ons-template id="activate-equipment-dialog.html">
    <ons-alert-dialog style="z-index: 100000;" class="expanded contains-select" cancelable>
      <div class="alert-dialog-title">Equipment #: {{ equipment.EquipmentEquipmentNumber }}</div>
      <div class="alert-dialog-content">
        <div class="centerVertical" style="margin: 20px;" ng-hide="data">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
        <div ng-show="data">
          <ons-row>
            <ons-col>
              <label for="equipActive">
                <ons-checkbox ng-model="equipActive" input-id="equipActive" ng-change="activate()"></ons-checkbox>
                Active
              </label>
            </ons-col>
            <ons-col ng-show="(hasChanges) || (equipActive != originalActive)">
              <label for="equipPermanent">
                <ons-checkbox ng-model="equipPermanent.value" input-id="equipPermanent"></ons-checkbox>
                Permanent
               </label>
            </ons-col>
          </ons-row>
           <div ng-show="!equipActive" style="margin-top: 10px;"><b>Inactive Reason</b>
              <ui-select ng-model="selects.inactiveReason" theme="selectize" tagging="tagHandler">
                <ui-select-match>
                    <span ng-bind="$select.selected.Meaning"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (data.SmartCodes| filter: filterReason('Meaning',$select.search))">
                    <span ng-bind="item.Meaning"></span>
                </ui-select-choices>
            </ui-select>
           </div>
         </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, equipActive, selects.inactiveReason, equipPermanent.value)" ng-disabled="!data || (!equipActive && !selects.inactiveReason)">OK</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="te-add-equipment-dialog.html">
    <ons-alert-dialog style="z-index: 100000;" class="expanded contains-select" cancelable>
      <div class="alert-dialog-title">Add Equipment</div>
      <div class="alert-dialog-content">
        <div class="centerVertical" style="margin: 20px;" ng-hide="data">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
        <div ng-show="data">
          <div><b>Category</b>
              <div style="display: flex">
                <ui-select ng-model="selects.category" theme="selectize" tagging="tagHandler" on-select="selectCategory($item)" style="flex: 1;">
                  <ui-select-match>
                      <span ng-bind="$select.selected.Category"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in data.Category | filter: $select.search">
                      <span ng-bind="item.Category"></span>
                  </ui-select-choices>
                </ui-select>
                <ons-button modifier="quiet" style="font-size: 20px; line-height: 26px; padding: 2px 5px 0 10px;" ng-click="selects.category = null" ng-disabled="!selects.category">
                  <ons-icon icon="ion-backspace"></ons-icon>
                </ons-button>
              </div>
          </div>
          <div><b>Equipment</b>
              <ui-select ng-model="selects.equipment" theme="selectize" tagging="tagHandler" on-select="selectEquip($item)">
                <ui-select-match>
                    <span ng-bind="$select.selected.Number+' - '+$select.selected.Description"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in data.Equipment | filter: filterSearch($select.search)">
                    <span ng-bind="item.Number+' - '+item.Description"></span>
                </ui-select-choices>
            </ui-select>
          </div>
          <label for="equipmentAddPermanent">
            <ons-checkbox ng-model="permanent" input-id="equipmentAddPermanent"></ons-checkbox>
            Permanent
          </label>
        </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, selects.equipment, permanent)" ng-disabled="!data || !selects.equipment">Add</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="activate-member-dialog.html">
    <ons-alert-dialog style="z-index: 100000;" class="expanded contains-select" cancelable>
      <div class="alert-dialog-title">{{ member.PersonFullName }}</div>
      <div class="alert-dialog-content">
        <div class="centerVertical" style="margin: 20px;" ng-hide="data">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
        <div ng-show="data">
           <div><b>Craft</b>
              <ui-select ng-model="selects.craft" theme="selectize" tagging="tagHandler" on-select="selectCraft($item, $model)">
                <ui-select-match>
                    <span ng-bind="$select.selected.Craft"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in data.Craft | filter: filterSearch('Craft',$select.search)">
                    <span ng-bind="item.Craft"></span>
                </ui-select-choices>
            </ui-select>
           </div>
           <div><b>Class</b>
              <ui-select ng-model="selects.class" theme="selectize" tagging="tagHandler" ng-disabled="!selects.craft" on-select="calcHasChanges()">
                <ui-select-match>
                    <span ng-bind="$select.selected.Class"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (data.Class | filter: filterClass('Class',$select.search))">
                    <span ng-bind="item.Class"></span>
                </ui-select-choices>
            </ui-select>
           </div>
           <div><b>Job Status</b>
              <ui-select ng-model="selects.jobStatus" theme="selectize" tagging="tagHandler" on-select="calcHasChanges()">
                <ui-select-match>
                    <span ng-bind="$select.selected.Description"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (data.JobStatus | filter: filterSearch('Description',$select.search))">
                    <span ng-bind="item.Description"></span>
                </ui-select-choices>
            </ui-select>
           </div>
           <div ng-show="!selects.jobStatus.Active"><b>Inactive Reason</b>
              <ui-select ng-model="selects.inactiveReason" theme="selectize" tagging="tagHandler" on-select="calcHasChanges()">
                <ui-select-match>
                    <span ng-bind="$select.selected.Meaning"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (data.InactiveReason | filter: filterSearch('Meaning',$select.search))">
                    <span ng-bind="item.Meaning"></span>
                </ui-select-choices>
            </ui-select>
           </div>
           <div ng-show="hasChanges && !hidePermanent">
            <label for="activeMemberPermanent">
              <ons-checkbox ng-model="permanent.value" input-id="activeMemberPermanent"></ons-checkbox>
              {{ permanentLabel }}
            </label>
           </div>
         </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, selects.craft, selects.class, selects.jobStatus, selects.inactiveReason)" ng-disabled="!data || !selects.craft || !selects.class || !selects.jobStatus || (!selects.jobStatus.Active && !selects.inactiveReason)">OK</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="te-add-member-dialog.html">
    <ons-alert-dialog style="z-index: 100000;" class="expanded contains-select" cancelable>
      <div class="alert-dialog-title">Add Member</div>
      <div class="alert-dialog-content">
        <div class="centerVertical" style="margin: 20px;" ng-hide="data">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
        <div ng-show="data">
          <div><b>Person</b>
              <ui-select ng-model="selects.person" theme="selectize" tagging="tagHandler" on-select="selectPerson($item, $model)">
                <ui-select-match>
                    <span ng-bind="$select.selected.FullName"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in data.Person | filter: filterName($select.search)">
                    <span ng-bind="item.FullName"></span>
                </ui-select-choices>
            </ui-select>
          </div>
          <div><b>Craft</b>
              <ui-select ng-model="selects.craft" theme="selectize" tagging="tagHandler" ng-disabled="!selects.person" on-select="selectCraft($item, $model)">
                <ui-select-match>
                    <span ng-bind="$select.selected.Craft"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in data.Craft | filter: filterSearch('Craft',$select.search)">
                    <span ng-bind="item.Craft"></span>
                </ui-select-choices>
            </ui-select>
          </div>
          <div><b>Class</b>
              <ui-select ng-model="selects.class" theme="selectize" tagging="tagHandler" ng-disabled="!selects.craft">
                <ui-select-match>
                    <span ng-bind="$select.selected.Class"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (data.Class | filter: filterClass('Class',$select.search))">
                    <span ng-bind="item.Class"></span>
                </ui-select-choices>
            </ui-select>
          </div>
          <label for="memberAddPermanent" ng-hide="hidePermanent">
            <ons-checkbox ng-model="permanent" input-id="memberAddPermanent"></ons-checkbox>
            Permanent
          </label>
        </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, selects.person, selects.craft, selects.class, permanent)" ng-disabled="!data || !selects.person || !selects.craft || !selects.class">Add</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="te-end-day.html">
    <ons-page style="height: 100%;" ng-controller="EndDayController" ons-hide="hidePage()" ons-show="showPage()">
      <ons-toolbar>
        <div class="left"><ons-back-button id="end-day-back-button" ng-disabled="loading"></ons-back-button></div>
        <div class="center">{{ jobday.Date | date:'M/d/yyyy' }} ({{ job.JobNumber }})</div>
        <div class="right" style="padding-right: 10px;">
          <ons-toolbar-button class="if-480 if-inline-block" ng-show="jobday.UseDesignFlag&&(jobday.StatusCode=='EPE'||jobday.StatusCode=='RJ')&&canNav.screen == 0" ng-click="completeWork()" ng-disabled="loading || working"><ons-icon icon="ion-settings"></ons-icon></ons-toolbar-button>
          <ons-toolbar-button ng-click="viewReports()" ng-disabled="working || loading" ng-hide="!hasReports || canNav.screen < canNav.pages.SUMMARY"><ons-icon icon="fa-bar-chart"></ons-icon></ons-toolbar-button>
          <ons-toolbar-button ng-click="navStep(-1)" ng-disabled="working || !canNav.left" ng-hide="loading"><ons-icon icon="ion-chevron-left"></ons-icon></ons-toolbar-button>
          <ons-toolbar-button ng-click="navStep(1)" ng-disabled="working || !canNav.right || (canNav.screen == 0 && !jobdaycrew.Task.length)" ng-hide="loading || (canNav.screen == canNav.pages.SUMMARY && (jobdaycrew.StatusCode=='EPE'||(jobdaycrew.StatusCode=='RJ'&&jobdaycrew.canResubmit)))"><ons-icon icon="ion-chevron-right"></ons-icon></ons-toolbar-button>
          <ons-toolbar-button ng-click="complete()" ng-disabled="working" ng-hide="loading || canNav.screen < canNav.pages.SUMMARY || (jobdaycrew.StatusCode!='EPE'&&jobdaycrew.StatusCode!='RJ')||(jobdaycrew.StatusCode == 'RJ' && !jobdaycrew.canResubmit)"><ons-icon icon="ion-checkmark"></ons-icon></ons-toolbar-button>
          <ons-toolbar-button ng-show="loading"><ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon></ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="centerVertical" ng-show="working">
        <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
      <div ng-hide="working">
        <!-- Header -->
        <div class="job-detail-wrapper">
          <ons-row>
            <ons-col>
              <div class="job-detail-title">Foreman: <span class="te-header-value">{{ jobdaycrew.ForemanFullName }}</span></div>
            </ons-col>
            <ons-col>
              <div class="job-detail-title">Crew: <span class="te-header-value">{{ jobdaycrew.JobCrewName }}</span></div>
            </ons-col>
          </ons-row>
          <ons-row ng-hide="working">
            <ons-col>  
              <div class="divider"></div>
            </ons-col>
          </ons-row>
          <ons-row>
            <ons-col>
              <div class="job-detail-subtitle">Date: <span class="te-header-value">{{ jobday.Date | date:'M/d/yyyy' }}</span></div>
            </ons-col>
            <ons-col>  
              <div class="job-detail-subtitle">Day: <span class="te-header-value">{{ jobday.Date | date:'EEEE' }}</span></div>
            </ons-col>
            <ons-col>  
              <div class="job-detail-subtitle">Status: <span class="te-header-value">{{ jobdaycrew.StatusMeaning }}</span></div>
            </ons-col>
          </ons-row>
        </div>
        <!-- Pages -->
        <div>
          <!-- Tasks page -->
          <div ng-show="canNav.screen == canNav.pages.TASKS">
            <h4 class="te-page-header {{ (!loading && (jobdaycrew.StatusCode == 'EPE' || jobdaycrew.StatusCode == 'RJ'))?'editable':'' }}">
              <span class="te-page-title left detail-buttons" style="white-space:nowrap;">Tasks 
                <ons-button class="uncomplete if-less-480" modifier="quiet" ng-show="jobday.UseDesignFlag&&(jobday.StatusCode=='EPE'||jobday.StatusCode=='RJ')" ng-click="completeWork()" ng-disabled="loading || working"><ons-icon icon="ion-settings"></ons-icon></ons-button>
              </span>
              <div class="if-less-480" ng-show="toggleHoursWhich == 1">
                <ons-button modifier="quiet" ng-click="toggleHours()" class="gray-button">
                  <ons-icon icon="ion-arrow-left-b"></ons-icon>
                </ons-button>
              </div>
              <span class="te-page-title center">
                <div style="display: flex;">
                  <div style="position: relative; flex: {{job.ContractAllowDoubleTimeFlag?3:2}};" class="{{toggleHoursWhich == 1?'':'if-480'}}">
                    <span style="background-color: #fff; padding: 0 5px; font-weight: normal;">Compensated Allocation</span>
                    <div style="border: 1px solid #ccc; position: absolute; height: 50%; left: 15px; right: 15px; top: 40%; border-bottom: none; z-index: -1;"></div>
                  </div>
                  <div style="flex:3" class="{{toggleHoursWhich == 0?'':'if-480'}}"></div>
                </div>
                <div style="display: flex; align-items: flex-end;">
                  <div class="task-header-total {{toggleHoursWhich == 1?'':'if-480'}}">
                    ST Hrs<br><span class="header-hour-editable hours" ng-click="editAllocation('ST')">{{jobdaycrew.STHours | number:2}}</span>
                  </div>
                  <div class="task-header-total {{toggleHoursWhich == 1?'':'if-480'}}">
                    OT Hrs<br><span class="header-hour-editable hours" ng-click="editAllocation('OT')">{{jobdaycrew.OTHours | number:2}}</span>
                  </div>
                  <div class="task-header-total {{toggleHoursWhich == 1?'':'if-480'}}" ng-show="job.ContractAllowDoubleTimeFlag">
                    DT Hrs<br><span class="header-hour-editable hours" ng-click="editAllocation('DT')">{{jobdaycrew.DTHours | number:2}}</span>
                  </div>
                  <div class="task-header-total {{toggleHoursWhich == 0?'':'if-480'}}">Comp.<br><span class="hours">{{jobdaycrew.TotalHours | number:2}}</span></div>
                  <div class="task-header-total {{toggleHoursWhich == 0?'':'if-480'}}">Non-Comp.<br><span class="hours">{{jobdaycrew.NonCompHours | number:2}}</span></div>
                  <div class="task-header-total {{toggleHoursWhich == 0?'':'if-480'}}">Total<br><span class="hours">{{jobdaycrew.GrandTotalHours | number:2}}</span></div>
                </div>
              </span>
              <div class="if-less-480" ng-show="toggleHoursWhich == 0">
                <ons-button modifier="quiet" ng-click="toggleHours()" class="gray-button">
                  <ons-icon icon="ion-arrow-right-b"></ons-icon>
                </ons-button>
              </div>
              <div class="detail-buttons" ng-show="jobdaycrew.StatusCode == 'EPE' || jobdaycrew.StatusCode == 'RJ'" style="width: auto;">
                <ons-button modifier="quiet" class="complete" ng-click="addTask()" ng-disabled="loading"><ons-icon icon="ion-plus-circled"></ons-icon></ons-button>
                <ons-button modifier="quiet" class="uncomplete" ng-click="removeTask()" ng-disabled="loading || !jobdaycrew.Task.length"><ons-icon icon="ion-minus-circled"></ons-icon></ons-button>
              </div>
            </h4>
            <div class="te-page-content {{ (!loading && (jobdaycrew.StatusCode == 'EPE' || jobdaycrew.StatusCode == 'RJ'))?'editable':'' }}">
              <ons-list>
                <ons-list-header style="display: flex;">
                  <div class="left te-task-number">Task #</div><!--
               --><div class="left te-task-time">Start</div><!--
               --><div class="left te-task-duration">Hours</div><!--
               --><div class="left te-task-time">End</div>
                </ons-list-header>
                <ons-list-item tappable ng-repeat="task in jobdaycrew.Task" class="te-task {{(task.JobTaskTaskNumber != task.JobTaskDescription)?'show-desc':''}}">
                  <div class="left">
                    <div class="te-task-number cell">
                      <div>{{ task.JobTaskTaskNumber }}</div>
                      <div class="desc-below" ng-show="task.JobTaskTaskNumber != task.JobTaskDescription">
                        {{ task.JobTaskDescription }}
                      </div>
                    </div>
                    <div class="te-task-time cell">
                      <span class="{{jobdaycrew.Task.length == 1?'te-task-change-button':''}}" ng-click="changeTime('StartTime', task, $index)">{{ task.StartTime | date: 'H:mm' }}</span>
                    </div>
                    <div class="te-task-duration cell">
                      <span class="{{$index==jobdaycrew.Task.length-1?'te-task-change-button':''}}" ng-click="changeDuration(task, $index)">{{ task.Duration | number:2 }}</span>
                    </div>
                    <div class="te-task-time cell">
                      <span class="{{$index==jobdaycrew.Task.length-1?'te-task-change-button':''}}" ng-click="changeTime('EndTime', task, $index)">{{ task.EndTime | date: 'H:mm' }}</span>
                    </div>
                  </div>
                  <div class="right location-detail-right">
                    <div class="detail-buttons">
                        <ons-button modifier="quiet" style="color:#00F" ng-click="editTask(task, $index)" ng-disabled="loading"><ons-icon icon="ion-edit"></ons-icon></ons-button>
                    </div>
                  </div>
                </ons-list-item>
              </ons-list>
            </div>
          </div>
          <!-- Phase code page -->
          <div ng-show="canNav.screen == canNav.pages.PHASECODES">
            <h4 class="te-page-header {{ (!loading && (jobdaycrew.StatusCode == 'EPE' || jobdaycrew.StatusCode == 'RJ'))?'editable':'' }}">
              <span class="te-page-title left" style="white-space:nowrap;">Phase Codes</span>
              <div class="if-less-480" ng-show="toggleHoursWhich == 1">
                <ons-button modifier="quiet" ng-click="toggleHours()" class="gray-button">
                  <ons-icon icon="ion-arrow-left-b"></ons-icon>
                </ons-button>
              </div>
              <span class="te-page-title center">
                <div style="display: flex;">
                  <div style="position: relative; flex: {{job.ContractAllowDoubleTimeFlag?3:2}};" class="{{toggleHoursWhich == 1?'':'if-480'}}">
                    <span style="background-color: #fff; padding: 0 5px; font-weight: normal;">Compensated Allocation</span>
                    <div style="border: 1px solid #ccc; position: absolute; height: 50%; left: 15px; right: 15px; top: 40%; border-bottom: none; z-index: -1;"></div>
                  </div>
                  <div style="flex:3" class="{{toggleHoursWhich == 0?'':'if-480'}}"></div>
                </div>
                <div style="display: flex; align-items: flex-end;">
                  <div class="task-header-total {{toggleHoursWhich == 1?'':'if-480'}}">
                    ST Hrs<br><span class="header-hour-editable hours" ng-click="editAllocation('ST')">{{jobdaycrew.STHours | number:2}}</span>
                  </div>
                  <div class="task-header-total {{toggleHoursWhich == 1?'':'if-480'}}">
                    OT Hrs<br><span class="header-hour-editable hours" ng-click="editAllocation('OT')">{{jobdaycrew.OTHours | number:2}}</span>
                  </div>
                  <div class="task-header-total {{toggleHoursWhich == 1?'':'if-480'}}" ng-show="job.ContractAllowDoubleTimeFlag">
                    DT Hrs<br><span class="header-hour-editable hours" ng-click="editAllocation('DT')">{{jobdaycrew.DTHours | number:2}}</span>
                  </div>
                  <div class="task-header-total {{toggleHoursWhich == 0?'':'if-480'}}">Comp.<br><span class="hours">{{jobdaycrew.TotalHours | number:2}}</span></div>
                  <div class="task-header-total {{toggleHoursWhich == 0?'':'if-480'}}">Non-Comp.<br><span class="hours">{{jobdaycrew.NonCompHours | number:2}}</span></div>
                  <div class="task-header-total {{toggleHoursWhich == 0?'':'if-480'}}">Total<br><span class="hours">{{jobdaycrew.GrandTotalHours | number:2}}</span></div>
                </div>
              </span>
              <div class="if-less-480" ng-show="toggleHoursWhich == 0">
                <ons-button modifier="quiet" ng-click="toggleHours()" class="gray-button">
                  <ons-icon icon="ion-arrow-right-b"></ons-icon>
                </ons-button>
              </div>
            </h4>
            <div class="te-page-content {{ (!loading && (jobdaycrew.StatusCode == 'EPE' || jobdaycrew.StatusCode == 'RJ'))?'editable':'' }}">
              <ons-list>
                <ons-list-header>
                  <div class="left">
                    <div class="member-name">Task / Code</div><!--
                 --><div class="member-hours-small">ST</div><!--
                 --><div class="member-hours-small">OT</div><!--
                 --><div class="member-hours-small" ng-show="job.ContractAllowDoubleTimeFlag">DT</div>
                  </div>
                  <div style="float: right;">Total</div>
                </ons-list-header>
                <ons-list-item tappable ng-repeat="row in getPhaseCodeScreen(jobdaycrew.Task)" class="te-crew-row summary {{ row.recordType=='PC'?'light-gray-bg':'' }}">
                  <div class="left list-content" style="{{ row.recordType=='TASK'?'font-weight: bold;':'' }}">
                    <div class="member-name cell" style="{{ row.recordType=='PC'?'padding-left: 20px; font-weight: normal;':'' }}">
                      <span ng-show="row.recordType == 'TASK'">{{ row.JobTaskTaskNumber+(row.JobTaskDescription==row.JobTaskTaskNumber?'':(' - '+row.JobTaskDescription))}}</span>
                      <span ng-show="row.recordType == 'PC'">{{ row.DisplayNumber+(row.Description==row.DisplayNumber?'':(' - '+row.Description))}}</span>
                    </div>
                    <div class="member-hours-small cell"><span class="{{row.PCClassST}}" ng-click="changePCTime(row, 'ST')">
                    {{ (row.recordType=='TASK'?row.totals.ST:row.STHours) | number:2 }}</span></div>
                    <div class="member-hours-small cell"><span class="{{row.PCClassOT}}" ng-click="changePCTime(row, 'OT')">
                    {{ (row.recordType=='TASK'?row.totals.OT:row.OTHours) | number:2 }}</span></div>
                    <div class="member-hours-small cell" ng-show="job.ContractAllowDoubleTimeFlag"><span class="{{row.PCClassDT}}" ng-click="changePCTime(row, 'DT')">
                    {{ (row.recordType=='TASK'?row.totals.DT:row.DTHours) | number:2 }}</span></div>
                  </div>
                  <div class="right list-content">
                    <div class="member-hours-small total-hours cell" style="{{ row.recordType=='PC'?'font-weight: normal;':'' }}">{{ (row.recordType=='TASK'?(row.totals.ST+row.totals.OT+row.totals.DT):(row.STHours+row.OTHours+row.DTHours)) | number:2 }}
                    </div>
                  </div>
                </ons-list-item>
              </ons-list>
            </div>
          </div>
          <!-- Members page -->
          <div ng-show="canNav.screen == canNav.pages.MEMBERS">
            <h4 class="te-page-header">
              <span class="te-page-title">Crew Members</span>
              <div class="detail-buttons" ng-show="jobdaycrew.StatusCode != 'AP'">
                <ons-button modifier="quiet" class="complete" ng-click="addMember()" ng-disabled="loading"><ons-icon icon="ion-plus-circled"></ons-icon></ons-button>
              </div>
            </h4>
            <div class="te-page-content {{ (!loading && (jobdaycrew.StatusCode == 'EPE' || jobdaycrew.StatusCode == 'RJ'))?'editable':'' }}">
              <ons-list>
                <ons-list-header>
                  <div class="left">
                    <div class="member-name-ed">Name</div><!--
                 --><div class="member-hours-ed">PD</div><!--
                 --><div class="member-hours-ed if-480 if-inline-block">ST</div><!--
                 --><div class="member-hours-ed if-480 if-inline-block">OT</div><!--
                 --><div class="member-hours-ed if-480 if-inline-block" ng-show="job.ContractAllowDoubleTimeFlag">DT</div><!--
                 --><div class="member-hours-ed"><span class="if-less-480">Hours</span><span class="if-480">Total</span></div><!--
                 --><div class="member-status">Status</div>
                  </div>
                </ons-list-header>
                <ons-list-item tappable ng-repeat="member in jobdaycrew.JobDayCrewMember" class="te-crew-row show-desc">
                  <div class="left list-content {{ member.MemberStatusCrewMemberActiveFlag?'':'faded' }} {{ member.localChanges?'member-changed':''}}">
                    <div class="member-name-ed cell">{{ member.PersonFullName }}
                    <div class="desc-below">
                        <span class="member-class-below">{{ member.ClassClass }} <span class="faded">({{ member.CraftCraft }})</span></span>
                      </div>
                    </div>
                    <div class="member-hours-ed cell">
                      <span class="{{(member.StatusCode == 'AP'||!member.ActiveFlag)?'':'te-task-change-button'}}" ng-click="changeMemberPerDiem(member)">{{ member.PerDiemFlag?(member.PerDiemAmount | currency:'$'):'None' }}</span>
                    </div>
                    <div class="member-hours-ed cell if-480">
                      <span class="{{(member.StatusCode == 'AP'||!member.ActiveFlag)?'':'te-task-change-button'}}" ng-click="changeMemberTime(member)">{{ (member.STHours) | number:2 }}</span>
                    </div>
                    <div class="member-hours-ed cell if-480">
                      <span class="{{(member.StatusCode == 'AP'||!member.ActiveFlag)?'':'te-task-change-button'}}" ng-click="changeMemberTime(member)">{{ (member.OTHours) | number:2 }}</span>
                    </div>
                    <div class="member-hours-ed cell if-480" ng-show="job.ContractAllowDoubleTimeFlag">
                      <span class="{{(member.StatusCode == 'AP'||!member.ActiveFlag)?'':'te-task-change-button'}}" ng-click="changeMemberTime(member)">{{ (member.DTHours) | number:2 }}</span>
                    </div>
                    <div class="member-hours-ed cell">
                      <span class="{{(member.StatusCode == 'AP'||!member.ActiveFlag)?'':'te-task-change-button'}}" ng-click="changeMemberTime(member)">{{ (member.TotalHours) | number:2 }}</span>
                    </div>
                    <div class="member-status cell">{{ member.MemberStatusDescription }}</div>
                  </div>
                  <div class="right location-detail-right">
                    <div class="detail-buttons list-content" style="width: auto">
                        <ons-button modifier="quiet" ng-class="member.MemberStatusCrewMemberActiveFlag?'complete':'uncomplete'" ng-click="openMember(member, $event)" ng-disabled="loading"><ons-icon icon="ion-person"></ons-icon></ons-button>
                    </div>
                  </div>
                </ons-list-item>
              </ons-list>
            </div>
          </div>
          <!-- Equipment page -->
          <div ng-show="canNav.screen == canNav.pages.EQUIPMENT">
            <h4 class="te-page-header">
              <span class="te-page-title">Equipment</span>
              <div class="detail-buttons" ng-show="jobdaycrew.StatusCode != 'AP'">
                <ons-button modifier="quiet" class="uncomplete" ng-click="addRental()" ng-disabled="loading" style="font-size: 22px; line-height: 36px;"><ons-icon icon="fa-truck"></ons-icon></ons-button>
                <ons-button modifier="quiet" class="complete" ng-click="addEquipment()" ng-disabled="loading"><ons-icon icon="ion-plus-circled"></ons-icon></ons-button>
              </div>
            </h4>
            <div class="te-page-content {{ (!loading && (jobdaycrew.StatusCode == 'EPE' || jobdaycrew.StatusCode == 'RJ'))?'editable':'' }}">
              <ons-list>
                <ons-list-header>
                  <div class="left">
                    <div class="equipment-number">#</div><!--
                 --><div class="equipment-category">Category</div><!--
                 --><div class="equipment-hours">Hours</div>
                  </div>
                </ons-list-header>
                <ons-list-item tappable ng-repeat="equipment in jobdaycrew.JobDayCrewEquipment" class="te-crew-row show-desc">
                  <div class="left list-content {{ equipment.temporaryActive?'':'faded' }} {{ equipment.localChanges?'equipment-changed':''}}">
                    <div class="equipment-number cell">{{ equipment.EquipmentEquipmentNumber }}
                    <div class="desc-below">
                        <span class="equipment-desc-below">{{ equipment.EquipmentDescription }} </span>
                      </div>
                    </div>
                    <div class="equipment-category cell">{{ equipment.CategoryCategory }}</div>
                    <div class="equipment-hours cell">
                      <span class="{{(equipment.StatusCode == 'AP'||!equipment.temporaryActive)?'':'te-task-change-button'}}" ng-click="changeEquipmentTime(equipment)">{{ (equipment.temporaryHours||equipment.TotalHours) | number:2 }}</span>
                    </div>
                  </div>
                  <div class="right location-detail-right">
                     <div class="detail-buttons list-content" style="width: auto">
                        <ons-button modifier="quiet" ng-class="equipment.temporaryActive?'complete':'uncomplete'" ng-click="activateEquipment(equipment, $event)" ng-disabled="loading" style="font-size: 22px;"><ons-icon icon="fa-truck"></ons-icon></ons-button>
                     </div>
                  </div>
                </ons-list-item>
              </ons-list>
            </div>
          </div>
          <!-- Summary page -->
          <div ng-show="canNav.screen == canNav.pages.SUMMARY">
            <h4 class="te-page-header">
              <span class="te-page-title" style="{{jobdaycrew.showComments?'flex:0':''}}">Summary</span>
              <ons-button modifier="quiet" class="uncomplete" ng-click="review('EPE')" ng-disabled="loading" ng-show="jobdaycrew.canReopen">Reopen</ons-button>
              <div class="detail-buttons end-day" style="width: auto; flex:1; text-align: center;" ng-show="jobdaycrew.showComments">
                <ons-button modifier="quiet" class="{{jobdaycrew.StatusCode == 'RJ'?'reject':'complete'}}" ng-click="viewComments()" ng-disabled="loading"><ons-icon icon="ion-chatboxes"></ons-icon></ons-button>
              </div>
              <div class="detail-buttons end-day" ng-show="jobdaycrew.showSummaryButtons" style="width: auto;">
                <ons-button modifier="quiet" class="approve" ng-click="review('AP')" ng-disabled="loading" ng-hide="jobdaycrew.HideApprove"><ons-icon icon="ion-thumbsup"></ons-icon></ons-button>
                <ons-button modifier="quiet" class="complete" ng-click="review('RV')" ng-disabled="loading" ng-hide="jobdaycrew.HideReviewed||!jobdaycrew.HideApprove"><ons-icon icon="ion-thumbsup"></ons-icon></ons-button>
                <ons-button modifier="quiet" class="reject" ng-click="review('RJ')" ng-disabled="loading" ng-hide="jobdaycrew.HideReject"><ons-icon icon="ion-thumbsdown"></ons-icon></ons-button>
              </div>
            </h4>
            <div class="te-page-content">
              <ons-list>
                <ons-list-header>
                  <div class="left">
                    <div class="member-name">Crew Members</div><!--
                 --><div class="member-hours-small if-480 if-inline-block">PD</div><!--
                 --><div class="member-hours-small">ST</div><!--
                 --><div class="member-hours-small">OT</div><!--
                 --><div class="member-hours-small" ng-show="job.ContractAllowDoubleTimeFlag">DT</div>
                  </div>
                  <div style="float: right;">Total</div>
                </ons-list-header>
                <ons-list-item tappable ng-repeat="row in jobdaycrew.Summary | filter:filterSummary('PersonID')" class="te-crew-row summary show-desc" ng-click="viewWeekTotals('member', row)">
                  <div class="left list-content">
                    <div class="member-name cell {{ row.Active?'':'faded' }}">{{ row.Name }}
                      <div class="desc-below faded" style="display: flex; font-style: oblique;">
                        <span class="member-name cell" style="font-weight: normal; text-align: right; padding-right: 10px;">Weekly</span>
                        <span class="member-hours-small cell if-480">{{ (row.WeekPerDiem) | currency:'$' }}</span>
                        <span class="member-hours-small cell">{{ (row.WeekST) | number:2 }}</span>
                        <span class="member-hours-small cell">{{ (row.WeekOT) | number:2 }}</span>
                        <span class="member-hours-small cell" ng-show="job.ContractAllowDoubleTimeFlag">{{ (row.WeekDT) | number:2 }}</span>
                      </div>
                    </div>
                    <div class="member-hours-small cell if-480">{{ (row.PerDiem) | currency:'$' }}</div>
                    <div class="member-hours-small cell">{{ (row.ST) | number:2 }}</div>
                    <div class="member-hours-small cell">{{ (row.OT) | number:2 }}</div>
                    <div class="member-hours-small cell" ng-show="job.ContractAllowDoubleTimeFlag">{{ (row.DT) | number:2 }}</div>
                  </div>
                  <div class="right list-content">
                    <div class="member-hours-small total-hours cell">{{ (row.TotalHours) | number:2 }}
                      <div class="desc-below faded" style="display: flex; font-style: oblique;">
                        <span class="member-hours-small total-hours cell"><span class="te-task-view-button">{{ (row.WeekTotal) | number:2 }}</span></span>
                      </div>
                    </div>
                  </div>
                </ons-list-item>
              </ons-list>
              <ons-list>
                <ons-list-header>
                  <div class="left">Equipment</div>
                </ons-list-header>
                <ons-list-item tappable ng-repeat="row in jobdaycrew.Summary2 | filter:filterSummary('EquipmentID', false)" class="te-crew-row summary show-desc" ng-click="viewWeekTotals('equipment', row)">
                  <div class="left list-content">
                    <div class="member-name cell {{ row.Active?'':'faded' }}">{{ row.Name }}
                      <div class="desc-below faded" style="display: flex; font-style: oblique;">
                        <span class="member-name cell" style="font-weight: normal; text-align: right; padding-right: 10px;">Weekly</span>
                      </div>
                    </div>
                  </div>
                  <div class="right list-content">
                    <div class="member-hours-small total-hours cell">{{ (row.TotalHours) | number:2 }}
                      <div class="desc-below faded" style="display: flex; font-style: oblique;">
                        <span class="member-hours-small total-hours cell"><span class="te-task-view-button">{{ (row.WeekTotal) | number:2 }}</span></span>
                      </div>
                    </div>
                  </div>
                </ons-list-item>
              </ons-list>
              <ons-list>
                <ons-list-header>
                  <div class="left">Rental Equipment</div>
                </ons-list-header>
                <ons-list-item tappable ng-repeat="row in jobdaycrew.Summary2 | filter:filterSummary('EquipmentID', true)" class="te-crew-row summary show-desc" ng-click="viewWeekTotals('equipment', row)">
                  <div class="left list-content">
                    <div class="member-name cell {{ row.Active?'':'faded' }}">{{ row.Name }}
                      <div class="desc-below faded" style="display: flex; font-style: oblique;">
                        <span class="member-name cell" style="font-weight: normal; text-align: right; padding-right: 10px;">Weekly</span>
                      </div>
                    </div>
                  </div>
                  <div class="right list-content">
                    <div class="member-hours-small total-hours cell">{{ (row.TotalHours) | number:2 }}
                      <div class="desc-below faded" style="display: flex; font-style: oblique;">
                        <span class="member-hours-small total-hours cell"><span class="te-task-view-button">{{ (row.WeekTotal) | number:2 }}</span></span>
                      </div>
                    </div>
                  </div>
                </ons-list-item>
              </ons-list>
            </div>
          </div>
        </div>
      </div>
      <help-button ng-if="env == 'demo'"></help-button>
    </ons-page>
</ons-template>

<ons-template id="time-picker-dialog.html">
    <ons-alert-dialog class="time-picker">
      <div class="alert-dialog-title">{{ title }}</div>
      <div class="alert-dialog-content">
        <clockpicker ng-model="time" clock-mode="hours" ng-hide="loading"></clockpicker>
        <div class="centerVertical" ng-show="loading">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, time)" ng-disabled="!time || loading">Ok</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="te-task-dialog.html">
    <ons-alert-dialog class="expanded contains-select">
      <div class="alert-dialog-title">{{ effectiveTitle }}</div>
      <div class="alert-dialog-content">
        <div class="centerVertical" style="margin: 20px;" ng-hide="data || editing">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
        <div ng-show="data || editing" ng-class="{editable: editable}">
          <div ng-show="page==0">
             <div><b>Task</b>
                <div style="display: flex; align-items: flex-start; padding-top: 10px;">
                  <div style="flex: 1;" ng-show="task.JobTaskTaskNumber">
                    <ons-row>
                      <ons-col style="font-weight: bold; font-style: oblique;">{{ task.JobTaskTaskNumber }}</ons-col>
                    </ons-row>
                    <ons-row ng-hide="task.JobTaskTaskNumber==task.JobTaskDescription">
                      <ons-col style="font-style: oblique;">{{ task.JobTaskDescription }}</ons-col>
                    </ons-row>
                  </div>
                  <ons-button ng-click="chooseTask()" style="font-size: 20px; min-height: 40px;" ng-show="task.isNew">
                    <ons-icon icon="ion-search"></ons-icon>
                    <span style="font-size: 14px;" ng-hide="task.JobTaskTaskNumber"> Choose Task</span>
                  </ons-button>
                </div>
             </div>
             <ons-row style="margin-top: 10px;">
              <ons-col><b>Start</b><br />
                <span class="{{canEditStart?'te-task-change-button':''}}" ng-click="changeTime('StartTime')">{{ task.StartTime | date: 'HH:mm' }}<span ng-hide="task.StartTime"><ons-icon icon="ion-clock" style="vertical-align: inherit;"></ons-icon> Set</span></span>
              </ons-col>
              <ons-col><b>Hours</b><br />
                <span class="{{canEditEnd?'te-task-change-button':''}}" ng-click="changeDuration()">{{ task.Duration | number:2 }}<span ng-hide="task.Duration"><ons-icon icon="ion-clock" style="vertical-align: inherit;"></ons-icon> Set</span></span>
              </ons-col>
              <ons-col><b>End</b><br />
                <span class="{{canEditEnd?'te-task-change-button':''}}" ng-click="changeTime('EndTime')">{{ task.EndTime | date: 'HH:mm' }}<span ng-hide="task.EndTime"><ons-icon icon="ion-clock" style="vertical-align: inherit;"></ons-icon> Set</span></span>
              </ons-col>
             </ons-row>
           </div>
           <div ng-show="page==1">
            <div class="centerVertical" ng-show="loading">
              <ons-progress-circular indeterminate="true"></ons-progress-circular>
            </div>
             <div ng-hide="loading">
                <ons-list>
                <ons-list-header style="padding: 0;">
                  <div class="left">
                    <div class="te-member-task-time">ST</div><!--
                 --><div class="te-member-task-time">OT</div><!--
                 --><div class="te-member-task-time" ng-show="parent.job.ContractAllowDoubleTimeFlag">DT</div>
                  </div>
                  <div style="float: right;">
                    <div>Total</div>
                  </div>
                </ons-list-header>
                <ons-list-item class="editable" ng-repeat="pc in task.PhaseCode" style="padding: 0; font-size: 14px">
                  <div class="left" style="padding: 3px 0 9px;">
                    <div>
                      <div class="te-member-task">{{pc.DisplayNumber+(pc.Description==pc.DisplayNumber?'':(' - '+pc.Description))}}</div>
                      <div>
                        <div class="te-member-task-time"><span class="te-task-change-button {{ canChangePCClass('ST') }}" ng-click="changePCTime(pc, 'ST', $index)">{{pc.STHours | number:2}}</span></div><!--
                     --><div class="te-member-task-time"><span class="te-task-change-button {{ canChangePCClass('OT') }}" ng-click="changePCTime(pc, 'OT', $index)">{{pc.OTHours | number:2}}</span></div><!--
                     --><div class="te-member-task-time" ng-show="parent.job.ContractAllowDoubleTimeFlag"><span class="te-task-change-button {{ canChangePCClass('DT') }}" ng-click="changePCTime(pc, 'DT', $index)">{{pc.DTHours | number:2}}</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="right" style="padding: 0;">
                    <div>
                      <div class="te-member-task">&nbsp;</div>
                      <div>{{(pc.STHours+pc.OTHours+pc.DTHours) | number:2}}</div>
                    </div>
                  </div>
                </ons-list-item>
              </ons-list>
             </div>
           </div>
           <div ng-show="page==2" style="padding-top: 10px;">
              <div class="centerVertical" ng-show="loading">
                <ons-progress-circular indeterminate="true"></ons-progress-circular>
              </div>
              <div ng-hide="loading">
                <label for="editTaskComplete" ng-show="parent.job.TypeCode=='TE' && (task.Complete||(task.JobTaskID && task.Complete !== ''))"><ons-checkbox input-id="editTaskComplete" ng-model="task.Complete"></ons-checkbox> Complete </label>
                <div style="padding-top: 20px;"><b>Comment</b>
                  <ons-input input-id="editTaskComment" type="text" ng-model="task.Comment" style="width: 100%;"></ons-input>
                </div>
              </div>
           </div>
         </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, task)" ng-disabled="loading || (!data && !editing) || !task.JobTaskTaskNumber || !task.StartTime || !task.EndTime" ng-show="page == 2 || options.phaseCodes">{{ button }}</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="nav(1)" ng-disabled="loading || (!data && !editing) || !task.JobTaskTaskNumber || !task.StartTime || !task.EndTime" ng-show="page < 2 && !options.phaseCodes">Next <ons-icon icon="ion-chevron-right" style="vertical-align: 0;"></ons-icon></ons-button>        
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="nav(-1)" ng-disabled="loading || (!data && !editing)" ng-show="page > 0 && !options.phaseCodes"><ons-icon icon="ion-chevron-left" style="vertical-align: 0;"></ons-icon> Back</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)" style="float: left;">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="te-pick-task-dialog.html">
  <ons-dialog style="z-index: 100000; position: fixed;" cancelable class="scrollable-dialog smaller">
    <ons-toolbar style="height: 44px;" inline>
      <div class="center" style="font-size: 16px; line-height: 44px;">{{ mode }}</div>
      <div class="right" style="line-height: 44px;">
        <ons-toolbar-button ng-hide="mode == 'Choose Task'" ng-click="mode='Choose Task'">
          <ons-icon icon="ion-backspace-outline"></ons-icon>
        </ons-toolbar-button>
        <ons-toolbar-button ng-hide="mode == 'Choose Task'" ng-click="saveNewTask()" class="active" ng-disabled="!newTask.Task || !newTask.Description || !newTask.PhaseCode.length">
          <ons-icon icon="ion-checkmark"></ons-icon>
        </ons-toolbar-button>
        <ons-toolbar-button ng-show="mode == 'Choose Task' && !data.disableAdd" ng-click="createTask()">
          <ons-icon icon="ion-plus" style="font-size: 20px !important;"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-tabbar class="tabbar-short tabbar-inline" inline id="te-task-dialog-tabbar" var="addTaskTabbar" ng-show="mode=='Choose Task'">
      <ons-tab page="te-pick-task-page.html" ng-repeat="tab in tabs" ng-attr-active="$index==0">
        <div class="tab-bar__icon">
          <ons-icon ng-attr-icon="{{tab.icon}}"></ons-icon>
        </div>
        <div class="tab-bar__label">
          {{ tab.label }}
        </div>
      </ons-tab>
    </ons-tabbar>
    <div ng-hide="mode=='Choose Task'" ng-class="ons.platform.isAndroid()?'alert-dialog-content--material':'alert-dialog-content--ios'" style="margin-bottom: 24px;">
      <ons-row style="align-items: center;">
        <ons-col><b>Task #</b><br />
          <ons-input type="text" input-id="newTaskTaskNumber" ng-model="newTask.Task" style="width: 100%;"></ons-input>
        </ons-col>
        <ons-col style="padding-left: 20px;" ng-hide="JobTypeCode != 'TE'">
          <label for="newTaskComplete"><ons-checkbox input-id="newTaskComplete"  ng-model="newTask.Complete"></ons-checkbox> Complete </label>
        </ons-col>
      </ons-row>
      <div style="padding-top: 10px;"><b>Description</b>
        <ons-input type="text" ng-model="newTask.Description" style="width: 100%;"></ons-input>
      </div>
      <div style="padding-top: 10px;">
        <div style="display: flex; align-items: center;"><b style="flex: 1;">Phase Codes</b><ons-button ng-click="addPhaseCode()" ng-disabled="data.PhaseCode.length == newTask.PhaseCode.length"><ons-icon icon="ion-plus"></ons-icon></ons-button></div>
        <div>
          <div ng-repeat="pc in newTask.PhaseCode" style="display: flex; align-items: center;"><span style="flex: 1;">{{ pc.Number }} - {{ pc.Description }}</span><ons-button ng-click="newTask.PhaseCode.splice($index,1)" modifier="quiet"><ons-icon icon="ion-minus"></ons-icon></ons-button></div>
        </div>
      </div>
    </div>
  </ons-dialog>
</ons-template>

<ons-template id="te-pick-task-page.html">
  <ons-page>
    <ons-list style="flex: 1; transform: translate(0,0);" class="dialog-list">
      <ons-list-item ng-repeat="task in tabs[tabIndex].tasks" ng-click="selectTask(task)" style="font-size: 14px;" on-long-press="transferTask($index)" tappable>
        <div class="dialog-list-item">
          <div style="font-weight: bold; font-style: oblique;">
            {{ task.Task }}
          </div>
          <div style="font-style: oblique;">
            {{ task.Description }}
          </div>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-template>

<ons-template id="te-pick-phasecode-dialog.html">
  <ons-dialog style="z-index: 100005; position: fixed;" cancelable>
    <ons-toolbar style="height: 44px; flex-shrink: 0;" inline>
      <div class="center" style="font-size: 16px; line-height: 44px;">Phase Codes</div>
    </ons-toolbar>
    <ons-list style="flex: 1; overflow: auto; transform: translate(0,0);" class="dialog-list">
      <ons-list-item ng-repeat="pc in PhaseCode" ng-click="done(pc)" style="font-size: 14px;" tappable>
        <div class="dialog-list-item">
          <div style="font-weight: bold; font-style: oblique;">
            {{ pc.Number }}
          </div>
          <div style="font-style: oblique;">
            {{ pc.Description }}
          </div>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-dialog>
</ons-template>

<ons-template id="member-time-dialog.html">
    <ons-alert-dialog style="z-index: 100000;" class="expanded" cancelable>
      <div class="alert-dialog-title"> {{ member.PersonFullName }}
        <ons-button modifier="quiet" style="float: right; font-size: 25px; color: #00f;" ng-click="addTask()" ng-disabled="loading" ng-hide="!showAddButton(member.MemberPhaseCodeTime)">
          <ons-icon icon="ion-plus"></ons-icon>
        </ons-button>
      </div>
      <div class="alert-dialog-content">
        <div>
          <div style="margin: -15px -5px 2px;">
            <div style="border-radius: 5px; background-color: #f6f6f6 !important; padding: 5px 5px 0px !important;">
              <div style="padding: 0;">
                  Week Time
              </div>
              <div style="font-size: 14px;">
                <div style="padding: 3px 0 3px; display: inline-block;">
                  <div>
                      <div class="te-member-task-time"><span class="te-task-change-button" ng-click="changeTime(task, 'ST')">{{member.STWeek | number:2}}</span></div><!--
                   --><div class="te-member-task-time"><span class="te-task-change-button" ng-click="changeTime(task, 'OT')">{{member.OTWeek | number:2}}</span></div><!--
                   --><div class="te-member-task-time" ng-show="job.ContractAllowDoubleTimeFlag"><span class="te-task-change-button" ng-click="changeTime(task, 'DT')">{{member.DTWeek | number:2}}</span></div>
                  </div>
                </div>
                <div style="padding: 0; float: right">
                  <div>
                    <div>{{member.TotalWeek | number:2}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ons-list>
            <ons-list-header style="padding: 0;">
              <div class="left">
                <div class="te-member-task-time">ST</div><!--
             --><div class="te-member-task-time">OT</div><!--
             --><div class="te-member-task-time" ng-show="job.ContractAllowDoubleTimeFlag">DT</div>
              </div>
              <div style="float: right;">
                <div>Total</div>
              </div>
            </ons-list-header>
            <ons-list-item class="editable" ng-repeat="task in member.MemberPhaseCodeTime | filter:filterPhaseCodeTime()" style="padding: 0; font-size: 14px">
              <div class="left" style="padding: 3px 0 9px;">
                <div>
                  <div class="te-member-task">{{task.Code}}</div>
                  <div>
                    <div class="te-member-task-time"><span class="te-task-change-button" ng-click="changeTime(task, 'ST')">{{task.ST | number:2}}</span></div>
                    <div class="te-member-task-time"><span class="te-task-change-button" ng-click="changeTime(task, 'OT')">{{task.OT | number:2}}</span></div>
                    <div class="te-member-task-time" ng-show="job.ContractAllowDoubleTimeFlag"><span class="te-task-change-button" ng-click="changeTime(task, 'DT')">{{task.DT | number:2}}</span></div>
                  </div>
                </div>
              </div>
              <div class="right" style="padding: 0;">
                <div>
                  <div class="te-member-task">&nbsp;</div>
                  <div>{{task.Total | number:2}}</div>
                </div>
              </div>
            </ons-list-item>
          </ons-list>
        </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-disabled="loading">OK</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="equipment-time-dialog.html">
    <ons-alert-dialog style="z-index: 100000;" class="expanded" cancelable>
      <div class="alert-dialog-title"> {{ equipment.Equipment }}</div>
      <div class="alert-dialog-content">
        <div>
          <ons-list>
            <ons-list-header style="padding: 0;">
              <div class="left">
                <div class="te-member-task-time">Task</div>
              </div>
              <div style="float: right;">
                <div>Hours</div>
              </div>
            </ons-list-header>
            <ons-list-item class="editable" ng-repeat="task in equipment.EquipmentPhaseCodeTime | filter:filterPhaseCodeTime()" style="padding: 0; font-size: 14px">
              <div class="left" style="padding: 3px 0 9px;">
                <div>
                  <div class="te-member-task">{{task.Code}}</div>
                </div>
              </div>
              <div class="right" style="padding: 0;">
                <div><span class="te-task-change-button" ng-click="changeTime(task, 'Total')">{{task.Total | number:2}}</span></div>
              </div>
            </ons-list-item>
          </ons-list>
        </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-disabled="loading">OK</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="week-time-dialog.html">
    <ons-alert-dialog style="z-index: 100000;" class="expanded scrollable-dialog" cancelable>
      <div class="alert-dialog-title"> {{ data.FullName||(data.Number+' - '+data.Description) }}
        <div class="alert-dialog-subtitle" ng-show="data.ClassClass">{{data.ClassClass}}</div>
      </div>
      <div class="alert-dialog-content" style="overflow-y: auto">
        <div style="margin: 0 -5px">
          <ons-list-item class="te-week-time week-time-job-row" style="border-radius: 5px;">
            <div class="left" style="{{person?'padding-top: 5px; display: block;':''}}">
                <div><span style="font-weight: bold;">{{data.period.date}}</span>
                  <div class="desc-below" style="left: 5px; right: 5px;" ng-show="person">
                    <div style="float: right; text-align: right;">
                      <div>{{data.period.hours.TotalHours | number:2}}</div>
                    </div>
                    <div class="te-member-task-time">{{data.period.hours.PerDiem | currency:'$':2}}</div>
                    <div class="te-member-task-time">{{data.period.hours.STHours | number:2}}</div>
                    <div class="te-member-task-time">{{data.period.hours.OTHours | number:2}}</div>
                    <div class="te-member-task-time">{{data.period.hours.DTHours | number:2}}</div>
                  </div>
                </div>
            </div>
            <div class="right" ng-show="!person" style="padding-right: 0">
              <div>{{data.period.hours.TotalHours | number:2}}</div>
            </div>
          </ons-list-item>
          </ons-list>
          <ons-list class="{{person?'te-week-person':'te-week-equipment'}}">
            <ons-list-header class="te-week-time">
              <div class="left" style="width: 100%; {{person?'':'display: flex;'}}">
                <div style="{{person?'':'flex: 1;'}}"><!--
                 --><div class="te-member-task-date">Date</div><!--
                 --><div class="te-member-task-task">Job(s)</div>
                </div><!--
             --><div style="{{person?'width: 100%':''}}">
                  <div style="float: right; text-align: right"><!--
                 --><div>Total</div><!--
              --></div><!--
              --><div class="te-member-task-time" ng-show="person">PD</div><!--
              --><div class="te-member-task-time" ng-show="person">ST</div><!--
              --><div class="te-member-task-time" ng-show="person">OT</div><!--
              --><div class="te-member-task-time" ng-show="person">DT</div>
                </div>
              </div>
            </ons-list-header>
            <ons-list-item class="te-week-time {{row.visible?'week-time-job-row':''}}" ng-repeat="row in data.CalcDay | filter:filterRows()" ng-click="expandCollapse(row)" >
              <div class="left">
                  <div class="te-member-task-date"><span style="font-weight: bold;">{{row.Date | date:'M/d/yyyy'}}</span>
                    <div class="desc-below" style="left: 5px; right: 5px;" ng-show="person">
                      <div style="float: right; text-align: right;">
                        <div>{{row.TotalHours | number:2}}</div>
                      </div>
                      <div class="te-member-task-time">{{row.PerDiem | currency:'$':2}}</div>
                      <div class="te-member-task-time">{{row.STHours | number:2}}</div>
                      <div class="te-member-task-time">{{row.OTHours | number:2}}</div>
                      <div class="te-member-task-time">{{row.DTHours | number:2}}</div>
                    </div>
                  </div>
                  <div>
                    <div ng-show="row.expandable">
                      <ons-icon ng-show="row.expanded" icon="ion-arrow-up-b"></ons-icon>
                      <ons-icon ng-show="!row.expanded" icon="ion-arrow-down-b"></ons-icon>
                    </div>
                    <div style="font-weight: bold;" ng-show="!row.expandable">
                      {{ row.Job }}
                    </div>
                  </div>
              </div>
              <div class="right" ng-show="!person" style="padding-right: 0">
                <div>{{row.TotalHours | number:2}}</div>
              </div>
            </ons-list-item>
          </ons-list>
        </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" ng-click="step(-1)" ng-disabled="loading" style="float: left;">
            <ons-icon icon="ion-chevron-left" style="vertical-align: 0;"></ons-icon> Prior
          </ons-button>
          <ons-button modifier="quiet" ng-click="step(+1)" ng-disabled="loading" style="float: left;">
            Next <ons-icon icon="ion-chevron-right" style="vertical-align: 0;"></ons-icon>
          </ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()">OK</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="member-pd-dialog.html">
    <ons-alert-dialog style="z-index: 100000;" class="expanded" cancelable>
      <div class="alert-dialog-title"> {{ member.PersonFullName }}</div>
      <div class="alert-dialog-content">
        <div>
          <ons-row>
            <ons-col>
              <label for="perDiemFlag">
                <ons-checkbox ng-model="data.PerDiemFlag" input-id="perDiemFlag" ng-disabled="loading"></ons-checkbox>
                Per Diem
              </label>
            </ons-col>
          </ons-row>
          <ons-row ng-show="data.PerDiemFlag" style="padding-top: 25px;">
            <ons-col style="flex: 0">$</ons-col>
            <ons-col style="padding: 0 10px 0 3px">
              <ons-input type="number" min="0.01" step="0.01" ng-model="data.PerDiemAmount" placeholder="Amount" ng-blur="round()" ng-disabled="loading">
            </ons-col>
          </ons-row>
          <ons-row ng-show="data.NoPerDiemReason" style="padding-top: 20px;">
            <ons-col>
              <b>Reason(s) Not Applied</b>
              <div ng-bind-html="data.NoPerDiemReason"></div>
            </ons-col>
          </ons-row>
        </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-disabled="loading">OK</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>