<ons-template id="te-time-review.html">
    <ons-page style="height: 100%;" ng-controller="TETimeReviewController" ons-show="showPage()">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Time Review
        </div>
        <div class="right" ng-cloak>
          <ons-toolbar-button ng-show="loading">
            <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="centerVertical" ng-show="working">
        <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
      <ons-list>
        <ons-list-item tappable ng-repeat="job in jobs | filter:showJobRow" ng-click="openJobDay(job)" on-long-press="jobOnLongPress(job)" ng-class="getClass(job)">
          <div class="left">
            <div ng-show="job.RecordTypeCode == 'JOB'">{{ getJobNumber(job) }}
              <div class="job-and-org"><span class="org">{{ getOrg(job) }}</span>{{ getOtherJobNumber(job) }}</div> 
              <span class="notification" ng-show="job.JobDayCount">{{ job.JobDayCount }}</span>
            </div>
            <div ng-show="job.RecordTypeCode == 'JD'" class="time-review-date {{job.first?'first':''}}">{{ job.Date | date:'M/d/yyyy' }} <span class="job-day">{{ job.Date | date:'EEEE' }}</span></div>
            <div ng-show="job.RecordTypeCode == 'JDC'" class="time-review-foreman">{{ job.Foreman }}</div>
          </div>
          <div class="right">
            <span class="if-480 job-list-description" ng-show="job.RecordTypeCode == 'JOB'">{{ job.Description }}</span>
            <span ng-show="job.RecordTypeCode == 'JDC'">
              <ons-button class="time-review-button" ng-click="openJobDayCrew(job, $event)" ng-disabled="loading">{{ job.Status }}</ons-button>
              <span class="detail-buttons" style="width: auto">
                <ons-button modifier="quiet" ng-click="viewReports(job)" ng-disabled="loading" class="complete" style="font-size: 20px; line-height: auto;">
                  <ons-icon icon="fa-bar-chart"></ons-icon>
                </ons-button>
              </span>
            </span>
          </div>
        </ons-list-item>
      </ons-list>
      <help-button ng-if="env == 'demo'"></help-button>
    </ons-page>
</ons-template>