<ons-alert-dialog style="z-index: 100000;" class="expanded contains-select" cancelable>
    <div class="alert-dialog-title">Add Member</div>
    <div class="alert-dialog-content">
      <div class="centerVertical" style="margin: 20px;" ng-hide="data">
        <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
      <div ng-show="data">
        <div><b>Filter</b>
          <div class="form-row">
            <span class="form-row-item flex" style="font-weight: normal;">
              Craft <ui-select ng-model="selects.craft" tagging="null" on-select="selects.class = data.Class[0];clearPerson()" class="form-input flex">
                <ui-select-match>
                    <span ng-bind="$select.selected.Craft"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in data.Craft | propsFilter: {Craft:$select.search} track by item.ID">
                    <div ng-bind-html="item.Craft | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>No craft available.</ui-select-no-choice>
              </ui-select>
              <ons-button modifier="quiet" style="font-size: 20px; line-height: 26px; padding: 2px 5px 0 10px;" ng-click="selects.craft = data.Craft[0]" ng-disabled="!selects.craft.ID">
                <ons-icon icon="ion-backspace"></ons-icon>
              </ons-button>
            </span>
          </div>
          <div class="form-row">
            <span class="form-row-item flex" style="font-weight: normal;">
                Class <ui-select ng-model="selects.class" tagging="null" ng-disabled="!selects.craft" on-select="clearPerson()" class="form-input flex">
                  <ui-select-match>
                      <span ng-bind="$select.selected.Class"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (data.Class  | propsFilter: {Class:$select.search, CraftID:selects.craft.ID}) track by item.ID">
                      <div ng-bind-html="item.Class | highlight: $select.search"></div>
                  </ui-select-choices>
                  <ui-select-no-choice>No class available.</ui-select-no-choice>
              </ui-select>
              <ons-button modifier="quiet" style="font-size: 20px; line-height: 26px; padding: 2px 5px 0 10px;" ng-click="selects.class = data.Class[0]" ng-disabled="!selects.class.ID">
                 <ons-icon icon="ion-backspace"></ons-icon>
              </ons-button>
            </span>
          </div>
        </div>
        <div><b>Person</b>
            <ui-select class="flex" ng-model="selects.person" tagging="null" on-select="selectPerson($item, $model)">
              <ui-select-match>
                  <span ng-bind="$select.selected.FullName"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in data.Person | filter: filterAddMember($select.search, selects.craft, selects.class) | orderBy: 'FullName'">
                  <div ng-bind-html="item.FullName | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div>
        <label for="memberAddPermanent" ng-hide="hidePermanent">
          <ons-checkbox ng-model="permanent" input-id="memberAddPermanent"></ons-checkbox>
          Permanent
        </label>
      </div>
    </div>
    <div class="alert-dialog-footer">
      <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, selects.person, permanent)" ng-disabled="!data || !selects.person">Add</ons-button>
      <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
    </div>
</ons-alert-dialog>