<ons-alert-dialog style="z-index: 100000;" class="expanded contains-select" cancelable>
  <div class="alert-dialog-title">Add Equipment</div>
  <div class="alert-dialog-content">
    <div class="centerVertical" style="margin: 20px;" ng-hide="data">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <div ng-show="data">
      <div>
        <b>Filter</b>
          <div class="form-row">
            <span class="form-row-item flex" style="font-weight: normal;">
              Category <ui-select ng-model="selects.category" tagging="null" on-select="selectCategory($item)" class="form-input flex">
                <ui-select-match>
                    <span ng-bind="$select.selected.Category"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in data.Category | propsFilter: {Category:$select.search} track by item.ID">
                    <div ng-bind-html="item.Category | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>No category available.</ui-select-no-choice>
              </ui-select>
              <ons-button modifier="quiet" style="font-size: 20px; line-height: 26px; padding: 2px 5px 0 10px;" ng-click="selects.category = data.Category[0]" ng-disabled="!selects.category.ID">
                <ons-icon icon="ion-backspace"></ons-icon>
              </ons-button>
            </span>
          </div>
      </div>
      <div><b>Equipment</b>
          <ui-select ng-model="selects.equipment" tagging="null">
            <ui-select-match>
                <span ng-bind="$select.selected.Number+' - '+$select.selected.Description"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in data.Equipment | filter:filterAddEquip($select.search, selects.category) track by item.ID">
                <div ng-bind-html="(item.Number+' - '+item.Description) | highlight: $select.search"></div>
            </ui-select-choices>
            <ui-select-no-choice>No equipment available.</ui-select-no-choice>
        </ui-select>
      </div>
      <label for="equipmentAddPermanent" ng-if="canPermanent">
        <ons-checkbox ng-model="permanent" input-id="equipmentAddPermanent"></ons-checkbox>
        Permanent
      </label>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button left" ng-click="openRentals()" ng-if="openRentals">Rental</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, selects.equipment, permanent)" ng-disabled="!data || !selects.equipment">Add</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
  </div>
</ons-alert-dialog>