<ons-alert-dialog class="expanded" cancelable>
  <div class="alert-dialog-title">Edit Job</div>
  <div class="alert-dialog-content">
    <span class="dialog-error">{{data.error}}</span>
    <ons-row>
      <ons-col>
        <b>Job #</b><br>
        {{data.job.WorkgroupJobNumber}}
      </ons-col>
      <ons-col>
        <b>Owner #:</b><br>
        {{data.job.NumberChar}}
      </ons-col>
    </ons-row>    
    <ons-row style="padding-top: 10px">
      <ons-col>
        <b>Description</b><br>
        <ons-input type="text" ng-model="data.description" placeholder="Description" style="width: 100%"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row style="padding-top: 10px">
      <ons-col>
        <b>Comments</b><br>
        <textarea class="textarea content-item" placeholder="No comment" ng-model="data.comment" rows="5" id="jobCommentArea2" style="width: 100%; min-height: 50px;"></textarea>
      </ons-col>
    </ons-row>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-show="parent.editable">Save</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">{{ parent.editable?'Cancel':'Close' }}</ons-button>
  </div>
</ons-alert-dialog>