<ons-dialog style="z-index: 100005;" cancelable>
  <ons-toolbar class="fourty-four" style="flex-shrink: 0;" inline>
    <div class="center" style="font-size: 16px;">Phase Codes</div>
    <div class="right">
      <ons-toolbar-button ng-click="done()" class="active" style="margin-right:0" ng-disabled="!data.hasSelection">
        <ons-icon icon="ion-checkmark"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-list style="flex: 1; overflow: auto; transform: translate(0,0);" class="dialog-list">
    <ons-list-item ng-repeat="pc in data.phaseCodes | filter:{hidden:false}" style="font-size: 14px;" ng-click="selectPhaseCode(pc)" tappable>
      <div class="left" style="padding-left: 14px">
        <ons-checkbox ng-model="pc.selected" ng-click="$event.stopPropagation()"></ons-checkbox>
      </div>
      <div class="center">
        <span>
          <span style="font-weight: bold; font-style: oblique;">
            {{ ::(pc.PhaseCodeDisplayNumber||pc.DisplayNumber) }}
          </span>
          <br>
          <span style="font-style: oblique;">
            {{ ::(pc.PhaseCodeDescription||pc.Description) }}
          </span>
        </span>
      </div>
    </ons-list-item>
  </ons-list>
</ons-dialog>