<ons-dialog style="z-index: 100000;" cancelable class="scrollable-dialog smaller" ons-posthide="close()">
  <ons-toolbar class="fourty-four" inline>
    <div class="center" style="font-size: 16px;">{{ mode }}</div>
    <div class="right">
      <ons-toolbar-button ng-hide="mode == 'Choose Task'" ng-click="removeNewTask()">
        <ons-icon icon="ion-backspace-outline"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="mode == 'Choose Task'" ng-click="saveNewTask()" class="active" ng-disabled="!data.newTask.TaskNumber || !data.newTask.Description || !data.newTask.JobTaskPhaseCode.length">
        <ons-icon icon="ion-checkmark"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="mode == 'Choose Task' && data.canMultiSelect" ng-click="data.multiSelect = !data.multiSelect" class="{{data.multiSelect?'active':''}}">
        <ons-icon icon="ion-checkmark-circled" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="mode == 'Choose Task' && data.multiSelect" ng-click="multiDone()">
        <ons-icon icon="ion-checkmark" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="mode == 'Choose Task' && !data.disableAdd && !data.multiSelect" ng-click="createTask()">
        <ons-icon icon="ion-plus" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div ng-show="mode=='Choose Task'" class="subBar" style="padding: 10px; background-color: #424141">
    <ons-input type="text" ng-model="data.filterTasks" placeholder="Filter Task #" style="width: 100%; color: #fff !important;"></ons-input>
  </div>
  <ons-tabbar class="tabbar-short tabbar-inline infinite-scroll-tabs" inline id="te-task-dialog-tabbar" var="addTaskTabbar" ng-show="mode=='Choose Task'">
    <ons-tab page="app/timesheet/te-pick-task-page.html" ng-repeat="tab in data.taskTypes">
      <input type="radio" style="display: none">
      <button class="tabbar__button">
        <div class="tabbar__icon">
          <ons-icon  ng-attr-icon="{{tab.icon}}"></ons-icon>
        </div>
        <div class="tabbar__label">
          {{ tab.label }}
        </div>
      </button>
    </ons-tab>
  </ons-tabbar>
  <div ng-hide="mode=='Choose Task'" ng-class="ons.platform.isAndroid()?'alert-dialog-content--material':'alert-dialog-content'" style="margin-bottom: 24px;">
    <ons-row style="align-items: center;">
      <ons-col><b>Task #</b><br />
        <ons-input type="text" input-id="newTaskTaskNumber" ng-model="data.newTask.TaskNumber" style="width: 100%;"></ons-input>
      </ons-col>
      <ons-col style="padding-left: 20px;">
        <label for="newTaskComplete"><ons-checkbox input-id="newTaskComplete"  ng-model="data.newTask.CompleteFlag"></ons-checkbox> Complete </label>
      </ons-col>
    </ons-row>
    <div style="padding-top: 10px;"><b>Description</b>
      <ons-input type="text" ng-model="data.newTask.Description" style="width: 100%;"></ons-input>
    </div>
    <div style="padding-top: 10px;">
      <div style="display: flex; align-items: center;"><b style="flex: 1;">Phase Codes</b><ons-button ng-click="addPhaseCode()" ng-disabled="data.phaseCodes.length == data.newTask.JobTaskPhaseCode.length"><ons-icon icon="ion-plus"></ons-icon></ons-button></div>
      <div>
        <div ng-repeat="pc in data.newTask.JobTaskPhaseCode track by pc.ID"" style="display: flex; align-items: center;"><span style="flex: 1;">{{ ::pc.PhaseCodeDisplayNumber }} - {{ ::pc.PhaseCodeDescription }}</span><ons-button ng-click="data.newTask.JobTaskPhaseCode.splice($index,1)" modifier="quiet"><ons-icon icon="ion-minus"></ons-icon></ons-button></div>
      </div>
    </div>
  </div>
</ons-dialog>