<ons-alert-dialog style="z-index: 100000;" class="expanded contains-select">
  <div class="alert-dialog-title">{{ data.memberJob.Member.PersonFullName }}</div>
  <div class="alert-dialog-content">
    <span class="dialog-error">{{data.error}}</span>
     <div><b>Craft</b>
        <div class="{{data.memberJob.Member.CraftID!=data.memberJob.Member.PersonCraftID?'timesheet-red':''}}">
          <ui-select ng-model="data.memberJob.Member.craft" ng-disabled="!parent.editable||parent.loading" title="Craft" load-data="parent.loadCraftClass(data.memberJob.Member, 'craft', 'member')" id="sp_member_craft_{{data.memberJob.Member.ID}}" on-select="parent.selectCraft(data.memberJob.Member, data.member)" class="timesheet-field ">
              <ui-select-match placeholder="Craft">{{$select.selected.Craft}}</ui-select-match>
              <ui-select-choices repeat="craft in parent.workweek.sp.craft | propsFilter: {Craft:$select.search} track by craft.ID">
                  <div class="{{craft.ID==data.memberJob.Member.PersonCraftID?'timesheet-bold':''}}" ng-bind-html="craft.Craft | highlight: $select.search"></div>
              </ui-select-choices>
              <ui-select-no-choice>No crafts available.</ui-select-no-choice>
          </ui-select>
        </div>
     </div>
     <div><b>Class</b>
        <div class="{{data.memberJob.Member.ClassID!=data.memberJob.Member.PersonClassID?'timesheet-red':''}}">
          <ui-select ng-model="data.memberJob.Member.class" ng-disabled="!parent.editable||parent.loading" title="Class" load-data="parent.loadCraftClass(data.memberJob.Member, 'class', 'member')" id="sp_member_class_{{data.memberJob.Member.ID}}" on-select="parent.changeMemberClass(data.memberJob, data.member)" class="timesheet-field">
              <ui-select-match placeholder="Class">{{$select.selected.Class}}</ui-select-match>
              <ui-select-choices repeat="class in parent.workweek.sp.class | propsFilter: {CraftID:{prop:data.memberJob.Member.craft.ID, exact: true},Class:$select.search}">
                  <div class="{{class.ID==data.memberJob.Member.PersonClassID?'timesheet-bold':''}}" ng-bind-html="class.Class | highlight: $select.search"></div>
              </ui-select-choices>
              <ui-select-no-choice>No classes available.</ui-select-no-choice>
          </ui-select>
       </div>
     </div>
     <div style="margin: 10px 0;">
      <ons-row>
        <ons-col>
          <label for="membActive">
            <ons-checkbox ng-model="data.memberJob.Member.ActiveFlag" input-id="membActive" ng-change="parent.changeCrewActive('Member', data.memberJob.Member.ActiveFlag, data.memberJob.Member, data.memberJob, data.member)" ng-disabled="!parent.editable||parent.loading"></ons-checkbox>
            Active
          </label>
        </ons-col>
        <ons-col ng-show="parent.editable&&data.memberJob.Member.permanentMessage">
          <label for="membPermanent">
            <ons-checkbox ng-model="data.memberJob.Member.hasPermanentChanges" input-id="membPermanent" ng-change="parent.checkMemberPermanent(data.memberJob.Member)" ng-disabled="!parent.editable||parent.loading"></ons-checkbox> {{ data.memberJob.Member.permanentMessage }}
           </label>
        </ons-col>
      </ons-row>
     </div>
     <div ng-hide="data.memberJob.Member.ActiveFlag"><b>Inactive Reason</b>
        <ui-select ng-model="data.memberJob.Member.inactiveReason" ng-disabled="!parent.editable||parent.loading" title="Inactive Reason" on-select="parent.changeMemberInactiveReason(data.memberJob.Member)" class="timesheet-field">
          <ui-select-match placeholder="Inactive Reason">{{$select.selected.Meaning}}</ui-select-match>
          <ui-select-choices repeat="reason in parent.workweek.sp.memberInactiveReason | propsFilter: {Meaning:$select.search}">
              <div ng-bind-html="reason.Meaning | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>No reasons available.</ui-select-no-choice>
        </ui-select>
     </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()" ng-disabled="!data.memberJob.Member.class">Close</ons-button>
  </div>
</ons-alert-dialog>