<ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;">
  <table style="height: 100%; width: 100%;" cellspacing="0" cellpadding="0"><tr style="height: 1px;"><td>
    <ons-card class="job-detail-wrapper">
      <ons-row style="display: table-row">
          <ons-col style="display: table-cell; width: 100%">
            <div class="job-detail-title">
              <span ng-show="job">Job: {{ job.WorkgroupJobNumber }} <span ng-show="job.NumberChar!=job.WorkgroupJobNumber">({{job.NumberChar}})</span></span>
              <span ng-hide="job">Find a job</span>
            </div>
          </ons-col>
          <ons-col style="display: table-cell; width: 1px; padding-left: 20px;">
            <ons-button class="receipt-header-button" ng-click="findJob()" ng-disabled="working||openingReceipt">
              <ons-icon icon="ion-search" style="font-size: 20px"></ons-icon>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row ng-show="job.NumberChar!=job.Description&&job.WorkgroupJobNumber!=job.Description">
          <ons-col>
            <div class="job-detail-subtitle light">{{job.Description}}</div>
          </ons-col>
        </ons-row>
    </ons-card>
  </td></tr><tr style="height: 100%;"><td style="vertical-align: top;">
    <div class="centerVertical" ng-show="working||!jobReceipts.length">
      <ons-progress-circular ng-show="working" indeterminate="true"></ons-progress-circular>
      <div ng-hide="working">No reciepts available.</div>
    </div>
    <ons-list>
      <ons-list-item tappable modifier="longdivider" ng-repeat="receipt in jobReceipts" ng-click="openReceipt(receipt)" ng-class="openingReceipt?'faded':''">
        <div class="left">
          <div class="date-square {{getStatusClass(receipt)}}">
            <div class="day">{{ receipt.InvoiceDate | date:'M/dd' }}</div>
            <div class="year">{{ receipt.InvoiceDate | date:'yyyy' }}</div>
          </div>
        </div>
        <div class="center">
          {{ receipt.InvoiceNumber }}
          <div class="job-and-org">{{ receipt.InvoiceTypeMeaning }}</div>
        </div>
        <div class="right">
           <span>{{ receipt.BaseAmount | currency:'$' }}</span>
        </div>
      </ons-list-item>
    </ons-list>
    <ons-button modifier="quiet" ng-show="jobNext && jobNext.id" ng-click="loadMoreJob()" ng-disabled="working || openingReceipt" style="display: block; margin: 10px auto;">Load More</ons-button>
  </td></tr></table>
</ons-page>