<ons-alert-dialog class="time-picker">
  <div class="alert-dialog-title">{{options.title||'Factor'}}</div>
  <div class="alert-dialog-content">
    <ons-input type="number" placeholder="Percent" ng-model="percent" style="width: 100%; margin-top: 10px;" ng-disabled="loading"></ons-input>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, percent)" ng-disabled="duration.toString()=='' || loading">Ok</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
  </div>
</ons-alert-dialog>