<ons-page ng-controller="DesignLocationController">
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center"><span class="if-480">Location #: </span>{{ location.NumberChar }}</div>
    <div class="right">
      <ons-toolbar-button ng-show="env == 'demo' && goToInfo" ng-click="goToInfo()"><ons-icon icon="ion-help"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working" ng-click="navigateLocation(-1)" ng-disabled="loading || !canNav.left || editingDetailIndex >= 0"><ons-icon icon="ion-chevron-left"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working" ng-click="navigateLocation(1)" ng-disabled="loading || !canNav.right || editingDetailIndex >= 0"><ons-icon icon="ion-chevron-right"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working || design.StatusCode != 'IP'" ng-click="updateEstimate()" ng-disabled="editingDetailIndex >= 0 || loading || adding"><ons-icon icon="ion-refresh"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working||loading||adding" ng-click="addDetail()" ng-disabled="design.StatusCode != 'IP' || editingDetailIndex >= 0"><ons-icon icon="ion-plus"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="loading||adding">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div ons-class="toolbar" ng-show="editingDetailIndex >= 0" class="subBar fixed">
    <div class="left">
      <ons-toolbar-button ng-click="saveDetail()" ng-disabled="loading||adding"><ons-icon icon="ion-checkmark"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="moveDetail(-1)" ng-disabled="loading||adding||!canMove.up" ng-show="location.UseAssembliesFlag"><ons-icon icon="ion-chevron-up"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="moveDetail(1)" ng-disabled="loading||adding||!canMove.down" ng-show="location.UseAssembliesFlag"><ons-icon icon="ion-chevron-down"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="detailComment()" ng-disabled="loading||adding"><ons-icon icon="ion-chatboxes"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center"></div>
    <div class="right">
      <ons-toolbar-button ng-click="deleteDetail()" ng-disabled="loading||adding||!canDeleteDetail(editingDetailIndex)"><ons-icon icon="ion-trash-b"></ons-icon></ons-toolbar-button>
    </div>
  </div>

  
  <ons-card class="job-detail-wrapper" ng-cloak>
    <ons-row>
      <ons-col width="65%">
        <div class="job-detail-title">Ref #: {{ location.ReferenceNumber }}</div>
      </ons-col>
      <ons-col>
        <div class="job-detail-title">Type: {{ location.TypeMeaning }}</div>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>  
        <div class="job-detail-subtitle light">{{ location.Description }}</div>
      </ons-col>
    </ons-row>
    <div class="divider" ng-hide="working"></div>
    <ons-row ng-hide="working">
      <ons-col>  
        <span class="job-detail-subtitle">Hours: <br class="if-less-480 if-inline-block">{{ location.UnfactoredHours | number:2 }}</span> 
      </ons-col>
      <ons-col>  
        <span class="job-detail-subtitle">Factored Hrs: <br class="if-less-480 if-inline-block">{{ location.FactoredHours | number:2 }}</span>
      </ons-col>
      <ons-col>  
        <span class="job-detail-subtitle">Factor: <br class="if-less-480 if-inline-block">{{ (location.totalFactor==-1?100:location.totalFactor) | number:2 }}%</span>
      </ons-col>
      <ons-col style="flex: 0" ng-show="location.totalFactor > -1">  
        <ons-button style="margin-bottom: 3px; padding: 0px 10px; min-height: 30px; line-height: 25px; font-size: 20px; flex-shrink: 1" ng-click="locationFactors()" ng-disabled="editingDetailIndex >= 0 || loading || adding">
        <ons-icon icon="ion-wrench"></ons-icon>
        </ons-button>
      </ons-col>
    </ons-row>
  </ons-card>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-list ng-hide="working">
      <ons-list-header style="display: flex;">
          <div class="left location-detail-assembly" ng-show="location.UseAssembliesFlag">Assm.</div><!--
       --><div class="left location-detail-action">Action</div><!--
       --><div class="left location-detail-spec">Spec #</div><!--
       --><div class="left location-detail-uom">UOM</div><!--
       --><div class="left location-detail-qty {{editDes?'':'if-480'}} if-inline">Des. Qty</div><!--
       --><div class="left location-detail-qty" ng-show="showEst">Est. Qty</div>
      </ons-list-header>
      <ons-list-item modifier="longdivider" id="anchor{{detail.JobLocationDetailID}}" ng-repeat="detail in location.LocationDetail | filter:showDetailRow" class="location-detail completion" ng-class="getDetailClass(detail)" ng-click="openLocationDetail(detail)" on-long-press="detailOnLongPress(detail)" tappable>
          <div class="left" ng-class="detail.Comments?'has-comments':''">
            <div class="location-detail-assembly completion-cell" ng-show="location.UseAssembliesFlag">
              <div>{{ detail.AssemblyNumber }}</div>
              <div class="desc-below" ng-show="detail.AssemblyID">
                {{ detail.AssemblyDescription }}
                <div class="location-detail-comments" ng-show="detail.Comments" ng-bind="detail.Comments"></div>
              </div>
            </div>
            <div class="location-detail-action completion-cell">{{ detail.ActionCodeCalc }}</div>
            <div class="location-detail-spec completion-cell">
              <div>{{ detail.SpecificationSpecificationNumber }}</div>
              <div class="desc-below" ng-show="!detail.AssemblyID">
                {{ detail.SpecificationDescription }}
                <div class="location-detail-comments" ng-show="detail.Comments" ng-bind="detail.Comments"></div>
              </div>
            </div>
            <span class="location-detail-uom completion-cell">{{ detail.UnitOfMeasureAbbreviation }}</span>
            <span class="location-detail-qty {{editDes?'':'if-480'}} if-inline-block" style="opacity: 1;">
              <span class="{{(!loading&&!adding&&editDes)?'qty-edit':''}}" ng-click="editQuantity('DesignQuantity', detail, $event)">{{ detail.DesignQuantity | number:2 }}</span>
            </span>
            <span class="location-detail-qty {{editDes?'if-480':''}} if-inline-block" ng-show="showEst" style="opacity: 1;">
              <span class="{{(!loading&&!adding&&design.StatusCode=='IP')?'qty-edit':''}}" ng-click="editQuantity('EstimatedQuantity', detail, $event)">{{ detail.EstimatedQuantity | number:2 }}</span>
            </span>
          </div>
          <div class="right location-detail-right right-buttons">
              <div class="detail-buttons" style="width: auto !important;" ng-show="design.StatusCode=='IP'">
                <ons-button modifier="quiet" style="color:#00F" on-click="editDetail(detail, $index, $event)" ng-disabled="loading||adding" ng-hide="editingDetailIndex >= 0"><ons-icon icon="ion-edit"></ons-icon></ons-button>
                <ons-button modifier="quiet" on-click="cancelEdit(detail, $event)" ng-disabled="loading||adding" ng-hide="!detail.editing"><ons-icon icon="ion-close"></ons-icon></ons-button>
              </div>
        </div>
      </ons-list-item>
  </ons-list>
</ons-page>