<ons-page ng-controller="InspectLocationController">
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">Location #: {{ location.NumberChar }}</div>
     <div class="right" ng-hide="location.IncompleteInspectionFlag != 'Y' || design.JobBillingUponCode != 'LDI'">
      <ons-toolbar-button ng-click="inspectAllDialog()" ng-hide="selectMode||reviewing" ng-disabled="!canAcceptMulti(location.LocationDetail)"><ons-icon icon="ion-clipboard"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="cancelSelect()" ng-show="selectMode&&!reviewing"><ons-icon icon="ion-close"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="inspectAllDialog()" ng-show="selectMode&&!reviewing" ng-disabled="canFinishSelect(location.LocationDetail)"><ons-icon icon="ion-checkmark"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="reviewing">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-card class="job-detail-wrapper">
      <ons-row>
        <ons-col width="65%">
          <div class="job-detail-title">Ref #: {{ location.ReferenceNumber }}</div>
        </ons-col>
        <ons-col>
          <div class="job-detail-title">Type: {{ location.TypeMeaning }}</div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>  
          <div class="job-detail-subtitle light">{{ location.Description }}</div>
        </ons-col>
      </ons-row>
      <div class="divider"></div>
      <ons-row>
        <ons-col width="55%">
          <div class="job-detail-subtitle">Completed: {{ location.CompleteDate | date:'M/d/yyyy' }}</div>
        </ons-col>
        <ons-col>  
          <div class="job-detail-subtitle">Complete: {{ location.PercentComplete}}% <ons-progress-bar style="margin: 5px 0px" value="{{ location.PercentComplete }}"></ons-progress-bar></div>
        </ons-col>
      </ons-row>
   </ons-card>
   <div class="centerVertical" ng-show="working">
       <ons-progress-circular indeterminate="true"></ons-progress-circular>
   </div>
    <ons-list ng-hide="working">
        <ons-list-header>
            <div class="left location-detail-action">Action</div><!--
         --><div class="left location-detail-spec">Spec #</div><!--
         --><div class="left inspection-qty if-480 if-inline-block" ng-show="design.JobContractTypeCode='BL'">Designed</div><!--
         --><div class="left inspection-qty if-480 if-inline-block" ng-show="design.JobContractTypeCode!='BL'">Estimated</div><!--
         --><div class="left inspection-qty if-480 if-inline-block">Comp.</div><!--
         --><div class="left inspection-qty if-480 if-inline-block">Remaining</div><!--
         --><div class="left inspection-qty">CO Qty</div>
        </ons-list-header>
        <ons-list-item ng-repeat="detail in location.LocationDetail" modifier="longdivider" class="location-detail" ng-class="getDetailClass(detail)" ng-click="openLocationDetail(detail)" on-long-press="detailOnLongPress(detail)" tappable>
            <div class="left">
              <div class="location-detail-action">{{ detail.ActionActionCode }}</div>
              <div class="location-detail-spec">
                {{ detail.SpecificationSpecificationNumber }}
                <div class="desc-below">{{ detail.SpecificationDescription }}</div>
              </div>
              <div class="inspection-qty if-480 {{ detail.LDChangeOrder.length?(detail.changeOrder?'red':'blue'):'' }}"  ng-show="design.JobContractTypeCode ='BL'">{{ detail.DesignQuantity | number:2 }}</div>
              <div class="inspection-qty if-480 {{ detail.LDChangeOrder.length?(detail.changeOrder?'red':'blue'):'' }}" ng-show="design.JobContractTypeCode!='BL'">{{ detail.EstimatedQuantity | number:2 }}</div>
              <div class="inspection-qty if-480 {{ detail.LDChangeOrder.length?(detail.changeOrder?'red':'blue'):'' }}">{{ detail.CompletedToDate | number:2 }}</div>
              <div class="inspection-qty if-480 {{ detail.LDChangeOrder.length?(detail.changeOrder?'red':'blue'):'' }}">{{ detail.RemainingQty | number:2 }}</div>
              <div class="inspection-qty"><span class="{{ detail.LDChangeOrder.length?(detail.changeOrder?'red-highlight':'blue'):'' }}">{{ detail.ChangeOrderQty | number:2 }}</span></div>
            </div>
            <div class="right location-detail-right" style="padding-top: 0">
                <div class="detail-buttons" ng-show="design.JobBillingUponCode == 'LDI' && detail.inspectable && !selectMode">
                    <ons-button modifier="quiet" class="approve" ng-click="detailApprove(detail, $event)" ng-disabled="reviewing" ng-hide="(detail.ChangeOrderQty&&detail.changeOrder)"><ons-icon icon="fa-thumbs-up"></ons-icon></ons-button>
                    <ons-button modifier="quiet" ng-click="detailReject(detail, $event)" ng-disabled="reviewing" ng-hide="(detail.ChangeOrderQty&&detail.changeOrder)"><ons-icon icon="fa-thumbs-down"></ons-icon></ons-button>
                    <ons-button modifier="quiet" class="comment" ng-click="detailComment(detail, $event)" ng-disabled="reviewing"><ons-icon icon="fa-pencil-square-o"></ons-icon></ons-button>
                </div>
                <div class="location-detail-status" ng-show="selectMode && detail.inspectable && !detail.ChangeOrderQty">
                    <ons-checkbox ng-model="detail.selected" ng-click="$event.stopPropagation();"></ons-checkbox>
                </div>
                <div class="location-detail-status" ng-show="!detail.inspectable && detail.InspectionPromptCodeCalc == 'IC'">
                    <ons-button modifier="quiet" ng-click="undoInspection(detail, $event)" ng-disabled="reviewing" ng-hide="detail.InspectionPromptCodeCalc == 'BI'||design.JobBillingUponCode != 'LDI'" style="font-size: 22px;padding: 0px 10px;margin-right: 15px;"><ons-icon icon="ion-arrow-return-left" style="vertical-align: middle"></ons-icon></ons-button>
                    <ons-icon icon="ion-checkmark"></ons-icon>
                </div>
                <div class="location-detail-status" ng-show="!detail.inspectable && detail.InspectionPromptCodeCalc == 'RJ'">
                    <ons-button modifier="quiet" ng-click="undoInspection(detail, $event)" ng-disabled="reviewing" ng-hide="detail.InspectionPromptCodeCalc == 'BI'||design.JobBillingUponCode != 'LDI'" style="font-size: 22px;padding: 0px 10px;margin-right: 15px;"><ons-icon icon="ion-arrow-return-left" style="vertical-align: middle"></ons-icon></ons-button>
                    <ons-icon icon="ion-close"></ons-icon>
                </div>
          </div>
        </ons-list-item>
    </ons-list>
    <help-button ng-if="env == 'demo'"></help-button>
</ons-page>