<div>
	<ons-button ng-show="item.SpecificationSpecDocumentID" ng-click="openDocument(item, $event)" style="float: right;font-size: 20px !important; padding: 0px 10px;">
		<ons-icon icon="ion-image" ng-hide="item.opening" style="vertical-align: middle;"></ons-icon>
		<ons-icon icon="ion-load-b" ng-show="item.opening" class="spin" style="vertical-align: middle;"></ons-icon>
	</ons-button>
	<div style="font-weight: bold; font-style: oblique;">
		{{ item.SpecificationSpecificationNumber }}
	</div>
	<div style="font-style: oblique;">
		{{ item.SpecificationDescription }}
	</div>
</div>