<ons-page ng-controller="AddJobController" style="height: 100%;">
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">Add Job</div>
    <div class="right">
      <ons-toolbar-button ng-click="navStep(-1)" ng-disabled="working || page == 0" ng-hide="loading"><ons-icon icon="ion-chevron-left"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="navStep(1)" ng-disabled="working" ng-hide="loading || page == 1"><ons-icon icon="ion-chevron-right"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-disabled="working" ng-hide="loading || page != 1" ng-click="addJob()">
        <ons-icon icon="ion-checkmark"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-card class="job-detail-wrapper">
    <ons-row>
      <ons-col>
        <div class="job-detail-title">Contract #: <span style="font-weight: normal">{{ contract.ContractNumber }}</span></div>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col ng-hide="working">
        <div class="job-detail-title">Contract Type: <span style="font-weight: normal">{{ job.ContractTypeMeaning }}</span></div>
      </ons-col>
      <ons-col>
        <div class="job-detail-title">Owner: <span style="font-weight: normal">{{ contract.Owner }}</span></div>
      </ons-col>
    </ons-row>
   </ons-card>

  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>

  <fieldset ng-hide="working" class="add-job-wrapper white-wrap" ng-disabled="loading">
    <div ng-show="page == 0">
      <ons-row>
        <ons-col>
          <label for="addJobWGJobNumber">WG Job #</label>
          <ons-input ng-model="job.WorkgroupJobNumber" input-id="addJobWGJobNumber"></ons-input>
        </ons-col>
        <ons-col>
          <label for="addJobJobNumber">Job #</label>
          <ons-input ng-model="job.NumberChar" input-id="addJobJobNumber"></ons-input>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <label for="addjobDescription">Description</label>
          <textarea class="textarea" rows="2" ng-model="job.Description" id="addjobDescription" style="width: 100%"></textarea>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col style="flex:1" ng-if="!isTimeEntry">
          <label>Billing Type</label>
          <ui-select ng-model="job.JobType" theme="selectize" tagging="null" ng-disabled="loading || job.ContractTypeCode != 'BL'">
            <ui-select-match>
                <span ng-bind="$select.selected.Meaning"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (data.JobType | filter: $select.search)">
                <span ng-bind="item.Meaning"></span>
            </ui-select-choices>
          </ui-select>
        </ons-col>
        <ons-col style="flex:1">
          <label>Master Project #</label>
          <div style="display: flex">
            <ui-select ng-model="job.Project" theme="selectize" tagging="null" ng-disabled="loading || !data.Project.length" class="flex">
              <ui-select-match>
                  <span ng-bind="$select.selected.ProjectNumber"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (data.Project | filter:filterMasterProjects($select.search))">
                  <b ng-bind-html="item.ProjectNumber | highlight: $select.search"></b>
                  <div ng-bind-html="item.ProjectName | highlight: $select.search" ng-if="item.ProjectNumber != item.ProjectName"></div>
              </ui-select-choices>
            </ui-select>
            <div style="flex: inherit;width:auto;">
              <ons-button class="login-button dropdown-button" ng-disabled="loading" ng-click="addMasterProject()">
                <ons-icon icon="ion-plus"></ons-icon>
              </ons-button>
            </div>
          </div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col width="50%">
          <label>Region</label>
          <ui-select ng-model="job.Region" theme="selectize" tagging="null" on-select="selectRegion($item, $model)" ng-disabled="loading">
            <ui-select-match>
                <span ng-bind="$select.selected.RegionName"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (data.Region | filter: $select.search)">
                <span ng-bind="item.RegionName"></span>
            </ui-select-choices>
          </ui-select>
        </ons-col>
        <ons-col width="50%">
          <label>Division</label>
          <ui-select ng-model="job.Division" theme="selectize" tagging="null" ng-disabled="loading || !job.Region">
            <ui-select-match>
                <span ng-bind="$select.selected.DivisionName"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (data.Division | filter: filterDivisions($select.search))">
                <span ng-bind="item.DivisionName"></span>
            </ui-select-choices>
          </ui-select>
        </ons-col>
      </ons-row>
      <ons-row style="margin-top: 10px;">
        <ons-col ng-hide="job.JobType.SmartCode != 'TE' || !job.ContractUseDesignFlag || isTimeEntry">
          <ons-checkbox ng-model="job.UseDesignFlag" input-id="addjobUseDesign"></ons-checkbox>
          <label for="addjobUseDesign" class="checkboxLabel">Use Design</label>
        </ons-col>
        <ons-col>
          <ons-checkbox ng-model="job.TrackWeatherFlag" input-id="addjobTrackWeather"></ons-checkbox>
          <label for="addjobTrackWeather" class="checkboxLabel">Track Weather</label>
        </ons-col>
      </ons-row>
    </div>
    <div ng-show="page == 1">
      <ons-row>
        <ons-col>
          <label for="addJobAddress">Address</label>
          <ons-input ng-model="job.AddressLine1" input-id="addJobAddress"></ons-input>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col width="50%">
          <label>Country</label>
          <ui-select ng-model="job.Country" theme="selectize" tagging="null" on-select="selectCountry($item, $model)" ng-disabled="loading">
            <ui-select-match>
                <span ng-bind="$select.selected.Name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (data.Country | filter: $select.search)">
                <span ng-bind="item.Name"></span>
            </ui-select-choices>
          </ui-select>
        </ons-col>
        <ons-col width="50%">
          <label>State</label>
          <ui-select ng-model="job.State" theme="selectize" tagging="null" ng-disabled="loading || !job.Country" on-select="clearPostal()">
            <ui-select-match>
                <span ng-bind="$select.selected.Name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (data.State | filter: filterStates($select.search))">
                <span ng-bind="item.Name"></span>
            </ui-select-choices>
          </ui-select>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <label for="addJobCity">City</label>
          <div style="display: flex; align-items: flex-end;">
            <ons-input ng-model="job.City" input-id="addJobCity" disabled></ons-input>
            <div style="flex: 0;">
              <ons-button class="login-button" style="padding: 0; font-size: 22px; width: 0; visibility: hidden;">
              </ons-button>
            </div>
          </div>
        </ons-col>
        <ons-col>
          <label for="addJobZip">Zip</label>
          <div style="display: flex; align-items: flex-end;">
            <ons-input ng-model="job.PostalCodePostalCode" input-id="addJobZip" disabled></ons-input>
            <div style="flex: inherit;width:auto;">
              <ons-button class="login-button dropdown-button" ng-disabled="loading" ng-click="openZipSearch()">
                <ons-icon icon="ion-search"></ons-icon>
              </ons-button>
            </div>
          </div>
        </ons-col>
      </ons-row>
    </div>
  </fieldset>
   
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>