<ons-page style="height: 100%;" ng-controller="ManagedContractsController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.toggle()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Add Jobs
    </div>
    <div class="right" ng-cloak>
    <ons-toolbar-button ng-show="openingJob">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-list>
    <ons-list-item modifier="longdivider" tappable ng-repeat="contract in contracts" ng-click="addJob(contract)" on-long-press="contractOnLongPress(contract)" ng-class="openingContract?'faded':''">
      <div class="left">{{ contract.ContractNumber }}
        <div class="job-and-org"><span class="org">{{ contract.Owner }}</span></div>
      </div>
      <div class="right">
         <span class="job-list-description">{{ contract.Name }}</span>
      </div>
    </ons-list-item>
  </ons-list>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>