<ons-dialog style="z-index: 100000;" cancelable ng-controller="JobInfoController" ons-posthide="posthide()">
  <ons-toolbar class="fourty-four" inline>
    <div class="center" style="font-size: 16px;">{{infoDialog.title}}</div>
    <div class="right">
        <ons-toolbar-button ng-show="openingReport">
          <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
        </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-tabbar class="tabbar-short tabbar-inline" inline id="j-dialog-tabbar" ref="jobInfoDialogTabBar">
      <ons-tab page="app/dialog/job-info-1.html" active="true">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="ion-information-circled"></ons-icon>
          </div>
          <div class="tabbar__label if-480">Info</div>
        </button>
      </ons-tab>
      <ons-tab page="app/dialog/job-info-2.html" ng-if="infoDialog.job.Documents && infoDialog.job.Documents.length">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="ion-document"></ons-icon>
          </div>
          <div class="tabbar__label if-480">Documents</div>
        </button>
      </ons-tab>
      <ons-tab page="app/dialog/job-info-3.html" ng-if="infoDialog.job.Reports && infoDialog.job.Reports.length">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="fa-bar-chart"></ons-icon>
          </div>
          <div class="tabbar__label if-480">Reports</div>
        </button>
      </ons-tab>
    </ons-tabbar>
</ons-dialog>
