<ons-page>
  <div style="padding: 10px; font-size: 14px" class="white-wrap">
    <ons-row ng-show="location.ReferenceNumber || location.TypeMeaning">
      <ons-col width="60%" ng-show="location.ReferenceNumber"><span style="font-weight: bold;">Ref #:</span> {{location.ReferenceNumber}}</ons-col>
      <ons-col ng-show="location.TypeMeaning"><span style="font-weight: bold;">Type:</span> {{location.TypeMeaning}}</ons-col>
    </ons-row>
    <ons-row ng-show="location.AheadSpanLength">
      <ons-col><span style="font-weight: bold;">Ahead Span (FT):</span> {{location.AheadSpanLength}}</ons-col>
    </ons-row>
    <div ng-show="endpoint != 'designLocation'">
      <div class="divider" ng-show="location.CompleteDate || location.PercentComplete != '' || location.PlannedHours != '' || location.EarnedHours != '' || location.ApprovedChangeOrderHours"></div>
      <ons-row>
        <ons-col ng-show="location.CompleteDate"><span style="font-weight: bold;">Completed:</span> {{ location.CompleteDate | date:'M/d/yyyy' }}</ons-col>
        <ons-col ng-show="location.PercentComplete != ''"><span style="font-weight: bold;">Complete:</span> {{ location.PercentComplete }}%</ons-col>
      </ons-row>
      <ons-row>
        <ons-col ng-show="location.PlannedHours != ''"><span style="font-weight: bold;">Planned Hrs:</span> {{ location.PlannedHours }}</ons-col>
        <ons-col ng-show="location.EarnedHours != ''"><span style="font-weight: bold;">Earned Hrs:</span> {{ location.EarnedHours }}</ons-col>
      </ons-row>
      <ons-row ng-show="location.ApprovedChangeOrderHours">
        <ons-col><span style="font-weight: bold;">App. CO Hrs:</span> {{ location.ApprovedChangeOrderHours }}%</ons-col>
      </ons-row>
    </div>
    <div ng-show="endpoint == 'designLocation'">
      <div class="divider"></div>
      <ons-row>
        <ons-col><span style="font-weight: bold;">Hours:</span> {{ location.UnfactoredHours | number:2 }}</ons-col>
        <ons-col ng-show="location.totalFactor > -1"><span style="font-weight: bold;">Factor:</span> {{ location.totalFactor | number:2 }}%</ons-col>
      </ons-row>
      <ons-row>
        <ons-col><span style="font-weight: bold;">Factored Hrs:</span> {{ location.FactoredHours | number:2 }}</ons-col>
      </ons-row>
    </div>
    <div class="divider" ng-show="location.Description || location.Notes"></div>
    <ons-row ng-show="location.Description">
      <ons-col><span style="font-weight: bold;">Description:</span> {{location.Description}}</ons-col>
    </ons-row>
     <ons-row ng-show="location.Notes">
      <ons-col><span style="font-weight: bold;">Notes:</span> {{location.Notes}}</ons-col>
    </ons-row>
  </div>
</ons-page>