<div class="location-row {{item.FailedInspectionFlag?'red':(item.ActiveFlag&&!item.Complete?'blue':'')}} {{!item.ActiveFlag?'faded':''}}">
  <div style="display: flex;">
  	<div style="font-weight: bold; font-style: oblique; flex: 1;">
  		{{ item.NumberChar }}
  	</div>
  	<div style="font-style: oblique;" ng-if="item.ReferenceNumber!=item.NumberChar">
  		{{ item.ReferenceNumber }}
  	</div>
  </div>
  <div ng-if="item.Description">{{item.Description}}</div>
</div>