<ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);">
  <div ng-if="jt.Code != 'WGC'">
    <table ng-show="filteredJobs.length" class="timesheet-main" ons-class="list">
      <thead class="timesheet-header" ons-class="list-header">
        <th style="width: 1px;"></th>
        <th>Job #</th>
        <th>Description</th>
        <th>Owner</th>
        <th class="if-480" ng-if="workweek.filters.jobStatus.Code == 'ALL'">Status</th>
      </thead>
      <tbody>
        <tr class="timesheet-job-row gt-job {{job.selected?'selected':job.crewEquipSelected?'crew-selected':''}} {{ (!editable||job.hasDirect)?'locked':'' }} {{ job.hasDirect?'timesheet-highlight':'' }}"  ng-repeat="job in workweek.WorkDay[workweek.currentDay].Job | orderBy: ['order','selected','WorkgroupJobNumber'] | filter:filterAddJobs(workweek.WorkDay[workweek.currentDay].currentJobType, workweek.filters.jobStatus, workweek.filters.jobNumber) as filteredJobs track by job.ID" on-click="selectStartJob(job, true, false, $event)" on-long-press="selectStartJob(job, false, true, $event)" ons-modifier="longdivider" ons-class="list-item">
          <td style="height: 1px;">
            <div style="display: flex; height: 100%;">
              <div class="timesheet-my-checkbox {{job.checkbox?'selected':''}}">
                <div class="timesheet-job-order" ng-show="job.checkbox">{{job.order}}</div>
                <ons-checkbox ng-model="job.checkbox" ng-disabled="!editable" style="pointer-events: none;"></ons-checkbox>
              </div>
            </div>
          </td>
          <td class="nowrap font16px">
            <b ng-if="job.WorkgroupJobNumber">{{ ::job.WorkgroupJobNumber }}<br></b><i>{{ ::job.NumberChar }}</i>
          </td>
          <td>{{ ::job.Description }}</td>
          <td class="nowrap">{{ ::job.OwnerName }}</td>
          <td class="nowrap if-480" ng-if="workweek.filters.jobStatus.Code == 'ALL'">{{ ::job.StatusMeaning }}</td>
        </tr>
      </tbody>
    </table>
    <div ng-hide="filteredJobs.length" style="text-align: center; padding-top: 100px;">
      <span ng-hide="loading">No jobs of this type available.</span>
      <span ng-show="loading">Loading...</span>
    </div>
  </div>
  <div ng-if="jt.Code == 'WGC'">
    <table ng-show="workweek.WGManagedContract.length" class="timesheet-main" ons-class="list">
      <thead class="timesheet-header" ons-class="list-header">
        <th>Owner</th>
        <th>Contract #</th>
        <th>Name</th>
        <th></th>
      </thead>
      <tbody>
        <tr class="timesheet-job-row" ng-repeat="contract in workweek.WGManagedContract track by contract.ContractID" ons-class="list-item" ons-modifier="longdivider">
          <td>{{ ::contract.Owner }}</td>
          <td class="font16px"><b>{{ ::contract.ContractNumber }}</b></td>
          <td>{{ ::contract.Name }}</td>
          <td style="padding-right: 5px"><ons-button ng-click="quickAddJob(contract)" modifier="quiet" class="icon-button"><ons-icon icon="ion-plus"></ons-icon></ons-button></td>
        </tr>
      </tbody>
    </table>
    <div ng-hide="workweek.WGManagedContract.length" style="text-align: center; padding-top: 100px;">
      <i>
        <span ng-hide="loading">No contracts available.</span>
        <span ng-show="loading">Loading...</span>
      </i>
    </div>
  </div>
</ons-page>