<ons-alert-dialog cancelable>
  <div class="alert-dialog-title">
    <span ng-if="data.title">
      {{ data.title }}
    </span>
    <span ng-if="!data.title">
      {{ data.job.WorkgroupJobNumber }} - {{ data.job.NumberChar }}
    </span>
  </div>
  <div class="alert-dialog-content">
    <span class="dialog-error">{{data.error}}</span>
    <textarea class="textarea content-item" ng-readonly="!parent.editable" placeholder="No comment" ng-model="data.comment" rows="5" id="jobCommentArea" style="width: 100%; min-height: 50px;"></textarea>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, data.comment)" ng-show="parent.editable">Save</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">{{ parent.editable?'Cancel':'Close' }}</ons-button>
  </div>
</ons-alert-dialog>