<ons-alert-dialog class="expanded scrollable-dialog" cancelable>
  <div class="alert-dialog-title">Reporting Level</div>
  <div class="alert-dialog-content">
    <div style="overflow: auto;">
      <div class="report-level-row">
        <div class="flex">
          <ons-button class="icon-button expand-button" ng-click="data.WorkWeek.expanded = !data.WorkWeek.expanded" tabindex="-1" modifier="quiet"><span class="{{data.WorkWeek.expanded?'ion-chevron-down':'ion-chevron-right'}}"></span></ons-button>
          Work Week
        </div>
        <div>
          <ons-button class="icon-button" ng-click="selectReportLevel('WorkWeek')" tabindex="-1" modifier="quiet"><ons-icon icon="fa-bar-chart"></ons-icon></ons-button>
        </div>
      </div>
      <div ng-if="data.WorkWeek.expanded" class="timesheet-indent-one">
        <div ng-repeat="day in data.WorkWeek.WorkDay" class="{{$index==parent.workweek.currentDay?'timesheet-bold':''}}">
          <div class="report-level-row">
            <div class="flex">
              <ons-button class="icon-button expand-button" ng-click="day.expanded = !day.expanded" tabindex="-1" modifier="quiet"><span class="{{day.expanded?'ion-chevron-down':'ion-chevron-right'}}"></span></ons-button>
              {{ ::day.WeekdayDate | date:'M/d/yyyy' }} <span class="timesheet-ccc-badge">{{ ::(day.WeekdayDate | date:'EEE') }}</span>
            </div>
            <div>
              <ons-button class="icon-button" ng-click="selectReportLevel('WorkDay', $index)" tabindex="-1" modifier="quiet"><ons-icon icon="fa-bar-chart"></ons-icon></ons-button>
            </div>
          </div>
          <div ng-if="day.expanded" class="timesheet-indent-two">
            <div ng-repeat="job in day.JobDayCrew" class="report-level-row">
              <div class="flex">
                {{ ::job.WorkgroupJobNumber }} ({{::job.NumberChar}})
              </div>
              <div>
                <ons-button class="icon-button" ng-click="selectReportLevel('JobDayCrew', $parent.$index, $index)" tabindex="-1" modifier="quiet"><ons-icon icon="fa-bar-chart"></ons-icon></ons-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()">Cancel</ons-button>
  </div>
</ons-alert-dialog>