<ons-page style="height: 100%;" ng-controller="TimesheetListHostController" ons-init="init()">
  <ons-toolbar class="{{ons.platform.isIOS()&&!data.working?'timesheet-toolbar':''}}" id="timesheet-toolbar">
    <div class="left">
      <ons-toolbar-button ng-click="app.toggle()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      {{ title }}
    </div>
    <div class="right" ng-cloak>
      <ons-toolbar-button ng-show="data.openingTimesheet">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="centerVertical" ng-show="data.working||!data.hasTimesheets">
    <ons-progress-circular indeterminate="true" ng-show="data.working"></ons-progress-circular>
    <div ng-hide="data.working">No timesheets available.</div>
  </div>
  <ons-tabbar position="auto" var="tabbar" style="{{(data.working||!data.hasTimesheets)?'visibility:hidden':''}}" class="{{(module.options.hideTab&&data.tabs.length<2)?'no-tabs':''}}" ng-cloak>
      <ons-tab ng-repeat="tab in data.tabs track by tab.key" label="{{ tab.title }}" page="app/timesheet/timesheet-list.html" ng-style="styles.tab"></ons-tab>
  </ons-tabbar>
</ons-page>