<ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;">
  <ons-list>
    <ons-list-item modifier="longdivider" tappable ng-repeat="doc in tab.docs" ng-click="openDocument(doc)">
      <div class="left">{{ doc.Name }}</div>
    </ons-list-item>
  </ons-list>
</ons-page>