<ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;">
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-list>
    <ons-list-item modifier="longdivider" tappable ng-repeat="sb in tab.specbooks" ng-click="openSpecBook(sb)">
      <div class="left">{{ sb.Name }}
        <span class="notification" ng-show="job.badge">{{ sb.SectionCount }}</span>
      </div>
      <div class="right if-480 job-list-description">
         {{ sb.Description }}
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>