
<ons-page>
  <ons-splitter var="splitter">
      <ons-splitter-side side="left" width="250px" collapse>
        <ons-page>
          <ons-toolbar style="background-color: #ddd;">
            <div class="left" style="padding-left: 10px; max-width: 100%;">
              <svg
               style="width: 75%; height: 100%; vertical-align: middle;"
               xmlns:dc="http://purl.org/dc/elements/1.1/"
               xmlns:cc="http://creativecommons.org/ns#"
               xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
               xmlns:svg="http://www.w3.org/2000/svg"
               xmlns="http://www.w3.org/2000/svg"
               width="104.32001mm"
               height="19.398945mm"
               viewBox="0 0 104.32001 14.398945"
               version="1.1"
               id="svg8">
              <defs
                 id="defs2" />
              <g
                 id="layer1"
                 transform="translate(-19.761821,-67.517322)">
                <g
                   aria-label="UNITS"
                   style="font-style:normal;font-weight:normal;font-size:18.27622414px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.4569056"
                   id="text839">
                  <path
                     d="M 28.266334,67.87315 H 32.299953 V 75.672672 Q 32.299953,76.832784 31.934072,77.86796 31.577115,78.894213 30.800732,79.670596 30.033273,80.438054 29.185499,80.750392 28.00754,81.187665 26.356611,81.187665 25.40175,81.187665 24.26841,81.053806 23.143994,80.919947 22.385459,80.527294 21.626924,80.125717 20.993325,79.393954 20.368649,78.662191 20.136627,77.885808 19.761821,76.636457 19.761821,75.672672 V 67.87315 H 23.795441 V 75.860074 Q 23.795441,76.930947 24.384421,77.537775 24.982325,78.135678 26.035349,78.135678 27.07945,78.135678 27.66843,77.546699 28.266334,76.948795 28.266334,75.860074 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path911" />
                  <path
                     d="M 35.021755,67.87315 H 38.79658 L 43.722594,75.110464 V 67.87315 H 47.533115 V 80.955643 H 43.722594 L 38.823352,73.771873 V 80.955643 H 35.021755 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path913" />
                  <path
                     d="M 50.397699,67.87315 H 54.449167 V 80.955643 H 50.397699 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path915" />
                  <path
                     d="M 56.421355,67.87315 H 68.709617 V 71.103616 H 64.586758 V 80.955643 H 60.544214 V 71.103616 H 56.421355 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path917" />
                  <path
                     d="M 69.842958,76.627533 73.689175,76.386587 Q 73.81411,77.3236 74.197839,77.814417 74.822515,78.608647 75.982627,78.608647 76.848249,78.608647 77.312294,78.20707 77.785262,77.796569 77.785262,77.261133 77.785262,76.752468 77.339065,76.350891 76.892868,75.949314 75.268712,75.592356 72.609378,74.994452 71.476038,74.003895 70.333774,73.013338 70.333774,71.478421 70.333774,70.470016 70.91383,69.577622 71.50281,68.676305 72.671846,68.16764 73.849806,67.650052 75.893387,67.650052 78.401014,67.650052 79.712833,68.587065 81.033575,69.515155 81.283446,71.549813 L 77.472924,71.772911 Q 77.321217,70.889441 76.830401,70.487864 76.348508,70.086287 75.49181,70.086287 74.786819,70.086287 74.429862,70.389701 74.072904,70.684191 74.072904,71.11254 74.072904,71.424877 74.367394,71.674748 74.65296,71.933542 75.723833,72.15664 78.374242,72.727772 79.516506,73.316752 80.667694,73.896808 81.185282,74.76243 81.711795,75.628052 81.711795,76.698924 81.711795,77.9572 81.015728,79.019148 80.31966,80.081097 79.070309,80.634381 77.820958,81.178741 75.920159,81.178741 72.582607,81.178741 71.29756,79.893694 70.012513,78.608647 69.842958,76.627533 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path919" />
                </g>
                <path
                   style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:medium;line-height:1.25;font-family:'arial black';-inkscape-font-specification:'arial black, Heavy';letter-spacing:0px;word-spacing:0px;fill:#e87600;fill-opacity:1;stroke:none;stroke-width:0.4569056"
                   d="M 83.924075,67.740048 V 70.399317 H 94.860358 C 94.686862,69.750458 94.377125,69.211534 93.928117,68.78443 93.202301,68.088362 92.107603,67.740048 90.644079,67.740048 Z M 83.924075,73.317486 V 80.822452 H 87.984292 V 75.967975 H 90.197595 C 91.827701,75.967975 93.038675,75.596455 93.82993,74.852795 94.279055,74.433835 94.596563,73.919605 94.792661,73.317486 Z"
                   id="path880" />
                <path
                   style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:medium;line-height:1.25;font-family:'arial black';-inkscape-font-specification:'arial black, Heavy';letter-spacing:0px;word-spacing:0px;fill:#e87600;fill-opacity:1;stroke:none;stroke-width:0.4569056"
                   d="M 97.202851,67.740048 V 70.399317 H 108.90188 C 108.80356,69.975571 108.6387,69.593941 108.40268,69.25727 107.99813,68.674236 107.46574,68.27565 106.80537,68.061475 106.14499,67.847302 105.18977,67.740048 103.94042,67.740048 Z M 97.202851,73.317486 V 80.822452 H 101.26359 V 75.512695 H 101.62015 C 101.98901,75.512695 102.31928,75.614285 102.61079,75.816555 102.82496,75.971235 103.06886,76.307175 103.34253,76.824765 L 105.50209,80.822452 H 110.07132 L 108.11691,77.029925 C 108.02173,76.839535 107.83145,76.569095 107.54589,76.218085 107.26627,75.867075 107.05177,75.637875 106.90303,75.530785 106.68291,75.370155 106.33228,75.209795 105.85038,75.049165 106.45127,74.912335 106.92385,74.739595 107.2689,74.531365 107.78819,74.217515 108.1997,73.811965 108.50552,73.317486 Z"
                   id="path884" />
                <path
                   style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:medium;line-height:1.25;font-family:'arial black';-inkscape-font-specification:'arial black, Heavy';letter-spacing:0px;word-spacing:0px;fill:#e87600;fill-opacity:1;stroke:none;stroke-width:0.4569056"
                   d="M 117.28173,67.517322 C 115.15784,67.517322 113.50083,68.111851 112.31097,69.301709 111.98182,69.630856 111.70003,69.997783 111.46193,70.399317 H 121.31352 C 121.96318,70.399317 122.54572,70.40068 123.18473,70.400867 122.94315,69.986977 122.65433,69.611248 122.31501,69.275354 121.13705,68.103342 119.45917,67.517322 117.28173,67.517322 Z M 124.04462,73.312319 C 122.73302,73.313866 121.35325,73.314126 119.99681,73.314901 120.02464,73.568415 120.03918,73.839225 120.03918,74.129835 120.03918,75.593365 119.80148,76.607885 119.32553,77.173065 118.84959,77.738245 118.1772,78.020555 117.3086,78.020555 116.46381,78.020555 115.79425,77.732055 115.30045,77.154975 114.81262,76.577895 114.56872,75.628865 114.56871,74.308125 114.56871,73.949845 114.58832,73.621155 114.62401,73.317486 H 110.57258 C 110.54304,73.630495 110.52659,73.954065 110.52659,74.290555 110.52659,75.819515 110.82694,77.092635 111.42782,78.109955 112.0287,79.127292 112.81118,79.870832 113.77496,80.340822 114.7447,80.810822 115.96702,81.045692 117.44244,81.045692 118.89407,81.045692 120.10452,80.775242 121.07426,80.233852 122.04994,79.686522 122.79401,78.924932 123.30565,77.949245 123.82324,76.967615 124.08183,75.712035 124.08183,74.183065 124.08183,73.882785 124.06857,73.593495 124.04462,73.312319 Z"
                   id="path872" />
              </g>
            </svg>
            </div>
            <div class="center" style="flex: 0;"></div>
          </ons-toolbar>
          <ons-list>
            <ons-list-item class="menu-item" modifier="longdivider" ng-click="app.menuNav('home.html')" tappable>
              <ons-icon icon="ion-home"></ons-icon> Home
            </ons-list-item>
            <ons-list-item ng-repeat="module in modules" class="menu-item inset" modifier="longdivider" ng-click="app.changeModule(module)" tappable>
              {{ module.title }}
            </ons-list-item>
            <ons-list-item class="menu-item" modifier="longdivider" ng-click="app.logout()" tappable>
              <ons-icon icon="ion-person"></ons-icon> Log Out
            </ons-list-item>
            <ons-list-item  class="menu-item" modifier="longdivider" ng-click="app.menuNav('app/docs/spec-docs.html')" tappable>
              <ons-icon icon="ion-document-text"></ons-icon> Spec Documents
            </ons-list-item>
            <ons-list-item  class="menu-item" modifier="longdivider" ng-click="app.menuNav('app/docs/org-docs.html')" tappable>
              <ons-icon icon="ion-document"></ons-icon> Reference Documents
            </ons-list-item>
            <!-- <ons-list-item ng-click="app.menuNav('messages.html')" tappable>
              Messages  <span class="notification">3</span>
            </ons-list-item>
            <ons-list-item ng-click="app.menuNav('profile.html')" tappable>
              Profile
            </ons-list-item>
            <ons-list-item ng-click="app.menuNav('settings.html')" tappable>
              Settings
            </ons-list-item> -->
            <ons-list-item class="menu-item" modifier="longdivider" ng-click="app.menuNav('help.html')" tappable>
              <ons-icon icon="ion-help"></ons-icon> Help
            </ons-list-item>
          </ons-list>
          <div style="padding: 10px; font-size: small; color: rgba(0,0,0,0.5); background-color: #eceff1;">Version {{version}}</div>
        </ons-page>
      </ons-splitter-side>
      <ons-splitter-content page="home.html"></ons-splitter-content>
  </ons-splitter>
</ons-page>