<ons-page ng-controller="CompleteJobController" style="height: 100%;" ons-hide="hidePage()" ons-show="showPage()">
  <ons-toolbar>
    <div class="left">
      <ons-back-button id="back-button" ng-hide="design.process"></ons-back-button>
      <ons-toolbar-button ng-show="design.process.name=='EndDay'" ng-click="endDay()" ng-disabled="loading||adding||working||closing"><ons-icon icon="ion-log-out"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center" ng-bind="job.JobNumber"></div>
    <div class="right">
      <ons-toolbar-button ng-hide="working || loading || adding || closing" ng-click="findLocation()"><ons-icon icon="ion-search"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working || loading || adding || closing" ng-click="addLocation()"><ons-icon icon="ion-plus"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="loading || adding || closing">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-card class="job-detail-wrapper">
      <ons-row>
        <ons-col>
          <div class="job-detail-title">Job #: {{ job.JobNumber }}</div>
        </ons-col>
        <ons-col>
          <div class="job-detail-title">WG Job #: {{ job.WorkgroupJobNumber }}</div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>  
          <div class="job-detail-subtitle light">{{ job.Description }}</div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working">
        <ons-col>  
          <div class="divider"></div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working" style="display: table-row">
        <ons-col style="display: table-cell; width: 1px; padding-right: 20px;">
          <ons-button style="padding: 0px 10px; min-height: 30px; line-height: 30px;" ng-click="openPhotos()" class="{{design.DesignPhoto.length?'':'button--material--flat'}}" ng-disabled="adding">
            <ons-icon icon="ion-camera" style="font-size: 20px"></ons-icon>
          </ons-button>
        </ons-col>
        <ons-col style="display: table-cell; width: 50%">
          <div class="job-detail-subtitle">Actual Start: {{ design.JobActualStartDate | date:'M/d/yyyy' }}</div>
        </ons-col>
        <ons-col style="display: table-cell; width: 50%">  
          <div class="job-detail-subtitle">Complete: {{ design.PercentComplete }}% <ons-progress-bar style="margin: 5px 0px" value="{{ design.PercentComplete }}"></ons-progress-bar></div>
        </ons-col>
      </ons-row>
   </ons-card>
    <div class="centerVertical fiftyPercent" ng-show="working">
       <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <div ng-show="design.LargeDesignLocationCount && !working" style="opacity: 0.5; padding: 15px; font-style: italic; text-align: center;">
      <b>Large job ({{design.LargeDesignLocationCount}} locations)</b><br>Use the search icon to find locations by number.
    </div>
    <ons-list ng-hide="working || (!design.Location.length&&design.LargeDesignLocationCount)">
        <ons-list-header>
          <div class="left">
            <div class="location-number">Location</div><!--
         --><div class="location-reference-number" ng-class="design.JobBillingUponCode == 'LOI'?'if-480 if-inline-block':''">Ref #</div>
          </div>
          <div style="float: right; height: 1px;" class="detail-buttons" ng-show="design.JobBillingUponCode == 'LOI'"></div>
          <div class="location-percent-complete">Complete</div>
        </ons-list-header>
        <ons-list-item modifier="longdivider" id="anchor{{location.JobLocationID}}" class="location-row" ng-class="getLocationClass(location)" ng-repeat="location in design.Location" ng-click="goToLocation($index, location, $event)" on-long-press="locationOnLongPress(location)" tappable>
             <div class="left location-number list-content">{{ getLocationNumber(location) }} </div>
             <div class="middle location-reference-number list-content">{{ getReferenceNumber(location) }}</div>
             <div class="right">
                <span class="location-percent-complete list-content">{{ location.PercentComplete }}%</span>
             </div>
             
        </ons-list-item>
    </ons-list>
    
    <ons-button modifier="quiet" ng-show="showLoadMore" ng-click="loadMore()" ng-disabled="working || adding" style="display: block; margin: 10px auto;">Load All Locations</ons-button>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>