<ons-page>
  <ons-card class="job-detail-wrapper" ng-cloak>
    <ons-row>
      <ons-col width="65%">
        <div class="job-detail-title">Ref #: {{ location.ReferenceNumber }}</div>
      </ons-col>
      <ons-col>
        <div class="job-detail-title">Type: {{ location.TypeMeaning }}</div>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>  
        <div class="job-detail-subtitle light">{{ location.Description }}</div>
      </ons-col>
    </ons-row>
    <div class="divider"></div>
    <ons-row style="display: table-row;">
      <ons-col style="display: table-cell; width: 1px; padding-right: 20px; white-space: nowrap;">
        <ons-button style="padding: 0px 10px; min-height: 30px; line-height: 30px;" ng-click="openPhotos()" class="{{location.hasPhoto?'':'button--material--flat'}}" ng-disabled="completing||working" ng-hide="!location.hasPhoto&&location.hasDocument">
          <ons-icon icon="ion-camera" style="font-size: 20px"></ons-icon>
        </ons-button>
        <ons-button style="padding: 0px 10px; min-height: 30px; line-height: 30px;" ng-click="openDocuments()" modifier="quiet" ng-disabled="completing||working" ng-if="location.hasDocument">
          <ons-icon icon="ion-document" style="font-size: 20px"></ons-icon>
        </ons-button>
      </ons-col>
      <ons-col style="display: table-cell; width: 50%;">
        <div class="job-detail-subtitle" ng-if="location.CompleteDate">Completed: {{ location.CompleteDate | date:'M/d/yyyy' }}</div>
      </ons-col>
      <ons-col style="display: table-cell; width: 50%;">  
        <div class="job-detail-subtitle">Complete: {{ location.PercentComplete}}% <ons-progress-bar style="margin: 5px 0px" value="{{ location.PercentComplete }}"></ons-progress-bar></div>
      </ons-col>
    </ons-row>
  </ons-card>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-list ng-hide="working">
      <ons-list-header style="display: flex;">
          <div class="left location-detail-action">Action</div><!--
       --><div class="left location-detail-spec">Spec #</div><!--
       --><div class="left location-detail-uom">UOM</div><!--
       --><div class="left location-detail-qty if-480 if-inline">Est. Qty</div><!--
       --><div class="left location-detail-qty if-480 if-inline">Comp. Qty</div><!--
       --><div class="left location-detail-qty">Rem. Qty</div>
      </ons-list-header>
      <ons-list-item modifier="longdivider" ng-repeat="detail in location.summarizedDetails" class="location-detail completion {{detail.Complete?'faded':''}}" on-long-press="detailOnLongPress(detail)" tappable>
          <div class="left">
            <div class="location-detail-action completion-cell">{{ detail.ActionCodeCalc }}</div>
            <div class="location-detail-spec completion-cell">
              <div>{{ detail.SpecificationSpecificationNumber }}</div>
              <div class="desc-below">
                {{ detail.SpecificationDescription }}
              </div>
            </div>
            <span class="location-detail-uom completion-cell">{{ detail.UnitOfMeasureAbbreviation }}</span>
            <span class="location-detail-qty if-480 completion-qty">{{ detail.EstimatedQuantity | number:2 }}</span>
            <span class="location-detail-qty if-480 completion-qty">{{ detail.CompletedToDate | number:2 }}</span>
            <span class="location-detail-qty completion-cell completion-qty">{{ detail.RemainingQty | number:2 }}</span>
          </div>
          <div class="center"></div>
          <div class="right location-detail-right">
              <div class="detail-buttons" ng-show="!detail.Complete" style="width: auto !important;">
                  <ons-button style="padding-left: 0;" modifier="quiet" class="complete complete-button" on-click="detailComplete(detail, $event)" ng-disabled="completing||detail.PartialOnly" on-long-press="detailPartialComplete(detail, $event)"><ons-icon icon="ion-checkmark-circled"></ons-icon></ons-button>
              </div>
              <div ng-show="detail.Complete">
                <div class="location-detail-status">
                    <ons-icon icon="ion-checkmark"></ons-icon>
                </div>
              </div>
        </div>
      </ons-list-item>
  </ons-list>
</ons-page>
