<ons-alert-dialog style="z-index: 100000;" class="expanded" cancelable>
  <div class="alert-dialog-title">Bulk Complete <span class="notification" ng-show="selectedCount > 0" ng-bind="selectedCount"></span></div>
  <div class="alert-dialog-content no-padding" style="display: flex; flex-direction: column;">
    <div class="centerVertical" ng-show="loading">
       <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <div ng-hide="loading" class="job-detail-wrapper" style="font-size: 13px;">
        <ons-row>
          <ons-col>
            <b>Action:</b> {{ detail.ActionWorkAction }}
          </ons-col>
          <ons-col>
            <b>UOM:</b> {{ detail.UnitOfMeasureAbbreviation }}
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <b>Spec #:</b> {{ detail.SpecificationSpecificationNumber }}
          </ons-col>
          <ons-col class="if-480 if-block">
            <b>Desc:</b> {{ detail.SpecificationDescription }}
          </ons-col>
        </ons-row>
      </div>
    <div ng-hide="loading" style="flex-grow: 1; overflow-y: auto; ">
      <ons-list style="font-size: 14px;">
        <ons-list-header style="display: flex;">
            <div class="left">Location</div>
            <div class="right" style="flex-grow: 1">
              <span class="location-detail-qty" style="float: right;">Rem. Qty</span>
              <span class="location-detail-qty if-480" style="float: right;">Comp. Qty</span>
              <span class="location-detail-qty if-480" style="float: right;">Est. Qty</span>
            </div>
        </ons-list-header>
        <ons-list-item modifier="longdivider" ng-repeat="d in details" ng-click="selectDetail(d, $event)" tappable>
          <div class="left">
            <ons-checkbox ng-model="d.selected" ng-change="updateSelectedCount();" ng-click="$event.stopPropagation();"></ons-checkbox>
            &nbsp;{{ d.Location }}
          </div>
          <div class="right">
            <div class="location-detail-qty if-480">{{ d.EstimatedQty }}</div>
            <div class="location-detail-qty if-480">{{ d.CompletedQty }}</div>
            <div class="location-detail-qty">{{ d.RemainingQty }}</div>
          </div>
        </ons-list-item>
      </ons-list>
    </div>
    <div style="padding: 10px">
      <ons-input type="text" placeholder="Comment" ng-hide="loading" ng-model="detail.Comments" style="width: 100%;"></ons-input>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" ng-disabled="loading || selectedCount <= 0 || (commentRequired&&!detail.Comments)" class="alert-dialog-button" ng-click="done()" style="color: #00F;">Complete</ons-button>
    <ons-button modifier="quiet" ng-disabled="loading" class="alert-dialog-button" ng-click="selectAll(false)">None</ons-button>
    <ons-button modifier="quiet" ng-disabled="loading" class="alert-dialog-button" ng-click="selectAll(true)">All</ons-button>
  </div>
</ons-alert-dialog>