<ons-alert-dialog style="z-index: 100000;" class="expanded contains-select">
  <div class="alert-dialog-title">New Detail</div>
  <div class="alert-dialog-content">
    <div class="centerVertical" style="margin: 20px;" ng-hide="data">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <div ng-show="data">
       <div><ons-row style="display: flex; align-items: flex-end;">
        <ons-col style="display: flex; align-items: flex-end; padding: 0 8px 10px 0;">
          <ons-input type="number" placeholder="Quantity" ng-model="form.qty"></ons-input>
          <span ng-bind="selects.spec.UnitOfMeasureAbbreviation || 'EA'"></span>
        </ons-col>
        <ons-col>
           <b>Action</b>
              <ui-select ng-model="selects.action" theme="selectize" tagging="tagHandler" on-select="selectAction($item, $model)" ng-disabled="!form.qty">
                  <ui-select-match>
                      <span ng-bind="$select.selected.WorkAction"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (data.ReferenceAction | filter: $select.search) track by item.ActionID
  ">
                      <span ng-bind="item.WorkAction"></span>
                  </ui-select-choices>
              </ui-select>
          </ons-col>
       </ons-row></div>
       <div><b>Spec</b>
          <div style="display: flex; align-items: flex-start; padding-top: 10px;">
            <div style="flex: 1;" ng-show="selects.spec">
              <ons-row>
                <ons-col style="font-weight: bold; font-style: oblique;">{{ selects.spec.SpecificationSpecificationNumber }}</ons-col>
              </ons-row>
              <ons-row>
                <ons-col style="font-style: oblique;">{{ selects.spec.SpecificationDescription }}</ons-col>
              </ons-row>
            </div>
            <ons-button ng-click="searchSpec()" style="font-size: 20px; min-height: 40px;" ng-disabled="!selects.action.ActionID">
              <ons-icon icon="ion-search"></ons-icon>
              <span ng-show="!selects.spec" style="font-size: 14px;"> Search</span>
            </ons-button>
          </div>
       </div>
       <div style="padding-top: 10px;"><b>Comments</b>
          <ons-input type="text" ng-attr-placeholder="{{options.requireComment?'Required':''}}" ng-model="form.comments" style="width: 100%;" class="no-label"></ons-input>
        </div>
     </div>
  </div>
  <div class="alert-dialog-footer">
  <ons-button modifier="quiet" class="alert-dialog-button blue-button" ng-click="done(true, selects.spec, form.qty, true, form.comments)" ng-disabled="!data || !selects.spec || !form.qty || (options.requireComment&&!form.comments)" ng-hide="hideComplete">Add &amp; Complete</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, selects.spec, form.qty, false, form.comments)" ng-disabled="!data || !selects.spec || !form.qty || (options.requireComment&&!form.comments)">Add</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
  </div>
</ons-alert-dialog>