<ons-alert-dialog style="z-index: 100000;" class="expanded contains-select">
  <div class="alert-dialog-title">{{ title }}</div>
  <div class="alert-dialog-content">
    <div class="centerVertical" style="margin: 20px;" ng-hide="data.SmartCodes">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <div ng-show="data.SmartCodes">
       <div ng-show="!data.JobLocationID || page == 0"><ons-row style="display: flex; align-items: flex-end;">
        <ons-col style="display: flex; align-items: flex-end; padding: 0 8px 10px 0;">
          <ons-input type="text" placeholder="Location #" ng-model="form.NumberChar" ng-change="changeNumber()"></ons-input>
        </ons-col>
        <ons-col>
           <b>Type</b>
              <ui-select ng-model="selects.type" theme="selectize" tagging="tagHandler" on-select="selectType($item)">
                  <ui-select-match>
                      <span ng-bind="$select.selected.Meaning"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (data.SmartCodes | filter: $select.search)">
                      <span ng-bind="item.Meaning"></span>
                  </ui-select-choices>
              </ui-select>
          </ons-col>
       </ons-row></div>
       <div ng-show="!data.JobLocationID || page == 0">
          <div style="padding-top: 10px;"><b>Reference #</b>
            <ons-input type="text" ng-model="form.ReferenceNumber" style="width: 100%;"></ons-input>
          </div>
          <div style="padding-top: 10px;"><b>Description</b>
            <ons-input type="text" ng-model="form.Description" style="width: 100%;"></ons-input>
          </div>
       </div>
      <div ng-show="page == 1">
        <div style="padding-top: 10px;"><b>Notes</b>
            <ons-input type="text" ng-model="form.Notes" style="width: 100%;"></ons-input>
          </div>
      </div>
     </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, selects.type, form)" ng-disabled="!data.SmartCodes || !selects.type || !form.NumberChar || !form.ReferenceNumber" ng-show="!data.JobLocationID || page==1">{{ data.JobLocationID ? 'Ok':'Add'}}</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="goPage(1)" ng-disabled="!data.SmartCodes || !selects.type || !form.NumberChar || !form.ReferenceNumber" ng-show="data.JobLocationID && page==0">Next <ons-icon icon="ion-chevron-right" style="vertical-align: 0;"></ons-icon></ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="goPage(0)" ng-show="data.JobLocationID && page==1"><ons-icon icon="ion-chevron-left" style="vertical-align: 0;"></ons-icon> Back</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)" ng-show="!data.JobLocationID || page==0">Cancel</ons-button>
  </div>
</ons-alert-dialog>