<ons-alert-dialog ng-attr-cancelable="!data.showJobs" class="location-percent-dialog scrollable-dialog scoll-button-container">
  <div class="alert-dialog-title">Complete %
    <ons-button modifier="quiet" style="float: right; font-size: 22px; padding: 0 7px; margin-left: 3px;" ng-click="findLocation()" ng-hide="!findLocation">
      <ons-icon icon="ion-search"></ons-icon>
    </ons-button>
    <ons-button modifier="quiet" style="float: right; font-size: 22px; padding: 0 7px; margin-left: 3px;" ng-click="scrollLocation(+1)" ng-hide="!scrollLocation" class="scroll-button-location-percent-complete-down">
      <ons-icon icon="ion-chevron-down"></ons-icon>
    </ons-button>
    <ons-button modifier="quiet" style="float: right; font-size: 22px; padding: 0 7px;" ng-click="scrollLocation(-1)" ng-hide="!scrollLocation" class="scroll-button-location-percent-complete-up">
      <ons-icon icon="ion-chevron-up"></ons-icon>
    </ons-button>
  </div>
  <div class="alert-dialog-content" style="flex: 1 100 auto;">
    <div style="overflow-y: auto;" class="flex location-percent-complete-scroll" scroll-buttons="scroll-button-location-percent-complete">
      <div ng-repeat="job in data.jobs" style="{{$index?'margin-top: 20px':''}}">
        <div style="font-size: 14px" ng-if="data.showJobs"><b>{{ ::job.WorkgroupJobNumber }} ({{ ::job.NumberChar }})</b></div>
        <div ng-repeat="location in job.Location" class="location-percent-row {{$index%2?'alt':''}} {{location.isActive?'active':''}}" id="location-percent-complete-{{ location.ID }}">
          <div style="display: flex; align-items: center; margin-bottom: 5px">
            <div class="flex">{{::(adjustLocationNumber(location.NumberChar))}}</div>
            <div class="timesheet-entry editable {{location.PercentComplete>location.OriginalPercentComplete?'timesheet-green':(location.PercentComplete<location.OriginalPercentComplete?'timesheet-red':'')}}">
              <span class="timesheet-clickable" ng-click="setLocationActive(location); editPercent(location)">{{ location.PercentComplete }}%</span>
            </div>
          </div>
          <ons-range style="width: 100%;" ng-model="location.PercentComplete" ng-change="setLocationActive(location)"></ons-range>
        </div>
      </div>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)">Ok</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)" ng-if="data.showJobs">Cancel</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-if="!data.showJobs" ng-click="data.jobs[0].Location[0].PercentComplete = 0" style="float: left; margin-left: 10px;">0%</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-if="!data.showJobs" ng-click="data.jobs[0].Location[0].PercentComplete = 100" style="float: left;">100%</ons-button>
  </div>
</ons-alert-dialog>