<ons-page ng-controller="DailyReportJobController" style="height: 100%;" ons-show="showPage()">
  <ons-toolbar>
    <div class="left"><ons-back-button id="dailyreport-back-button" ng-disabled="loading"></ons-back-button></div>
    <div class="center">ATC Daily Report</div>
    <div class="right">
      <ons-toolbar-button ng-disabled="working||!data.changed" ng-hide="loading" ng-click="save()">
        <ons-icon icon="fa-save"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-card class="job-detail-wrapper">
    <ons-row>
      <ons-col>
        <div class="job-detail-title">Job #: {{ job.NumberChar }}</div>
      </ons-col>
      <ons-col>
        <div class="job-detail-title">WG Job #: {{ job.WorkgroupJobNumber }}</div>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>  
        <div class="job-detail-subtitle light">{{ job.Description }}</div>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>  
        <div class="divider"></div>
      </ons-col>
    </ons-row>
    <div style="display: flex">
      <div>
        <ons-button class="icon-button" ng-click="navDate(-1)" tabindex="-1" modifier="quiet" ng-disabled="working||loading">
            <ons-icon icon="ion-chevron-left"></ons-icon>
        </ons-button>
      </div>
      <div class="flex" style="text-align: center; padding: 4px;">
        <span class="search-input date-input no-wrap" style="vertical-align: middle; background-image: none; padding: 0px 8px; margin-left: 3px;">
        <ons-icon icon="ion-calendar"></ons-icon>
        <input type="date" ng-model="data.date" ng-disabled="working||loading" title="Date" placeholder="Any Date" ng-change="changeDate()" ons-class="no-white text-input">
        </span>
      </div>
      <div>
        <ons-button class="icon-button" ng-click="navDate(1)" tabindex="-1" modifier="quiet" ng-disabled="working||loading">
            <ons-icon icon="ion-chevron-right"></ons-icon>
        </ons-button>
      </div>
    </div>
  </ons-card>

  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>

  <fieldset style="border: none; padding: 0" ng-hide="working" ng-disabled="loading">
    <div class="add-job-wrapper white-wrap">
        <div style="display: flex;">
            <div class="flex">
                <ons-button class="icon-button expand-button" ng-click="toggle('photos')" tabindex="-1" modifier="quiet">
                    <span class="{{data.expanded.photos?'ion-chevron-down':'ion-chevron-right'}}"></span>
                </ons-button>
                <ons-list-title style="display: inline;">Photos</ons-list-title>
            </div>
            <div>
                <ons-button style="min-height: 30px; line-height: 30px;" ng-click="addPhoto()" ng-disabled="working||loading" modifier="quiet">
                    <ons-icon icon="ion-plus" style="font-size: 22px"></ons-icon>
                </ons-button>
            </div>
        </div>
        <div ng-show="data.expanded.photos">
            <ons-list>
                <ons-list-item tappable modifier="longdivider" ng-repeat="upload in data.form.ATCPhoto" ng-click="openPhoto($index)" ng-class="(loading||working)?'faded':''">
                    <div class="left" ng-if="upload.thumb">
                        <div class="camera-thumbnail small" ng-style="{'background-image':'url('+upload.thumb+')'}"></div>
                    </div>
                    <div class="center">
                        {{ upload.Description }}
                        <i ng-show="!upload.Description">&lt;No Description&gt;</i>
                    </div>
                    <div class="right">
                        <ons-button ng-click="removePhoto($index)"><ons-icon icon="ion-close" style="font-size: 18px"></ons-icon></ons-button>
                    </div>
                </ons-list-item>
            </ons-list>
        </div>
    </div>
  </fieldset>
   
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>