<ons-alert-dialog style="z-index: 100000;" cancelable>
    <div class="alert-dialog-title">
      Map Settings
    </div>    
    <div class="alert-dialog-content">
      <div style="flex-grow: 1; overflow-y: auto; ">
        <label>
            <ons-checkbox ng-model="onlyFiltered" ng-change="changeMapFilter()"></ons-checkbox>
            Show Only Filtered Locations
        </label>
      </div>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="close()">Close</ons-button>
  </div>
</ons-alert-dialog>