<ons-dialog style="z-index: 100000;" cancelable ng-controller="UploadsDialogController">
  <ons-toolbar class="fourty-four" inline>
    <div class="center" style="font-size: 16px;">{{ title }}</div>
    <div class="right">
        <ons-toolbar-button ng-show="openingUpload">
          <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
        </ons-toolbar-button>
        <ons-toolbar-button ng-hide="openingUpload" ng-click="addUpload()" ng-if="!restrictAdd&&settings.type!='DO'">
          <ons-icon icon="ion-plus"></ons-icon>
        </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-tabbar position="auto" ng-if="settings.initType" class="tabbar-inline tabbar-inline-top" inline var="uploadsTypeTabBar">
    <ons-tab ng-if="settings.initType==types[0].code" data-tab="{{tab = types[0]}}" label="{{tab.label}}" active page="app/dialog/uploads/uploads-list.html"></ons-tab>
    <ons-tab ng-if="settings.initType!=types[0].code" data-tab="{{tab = types[0]}}" label="{{tab.label}}" page="app/dialog/uploads/uploads-list.html"></ons-tab>
    <ons-tab ng-if="settings.initType==types[1].code" data-tab="{{tab = types[1]}}" label="{{tab.label}}" active page="app/dialog/uploads/uploads-list.html"></ons-tab>
    <ons-tab ng-if="settings.initType!=types[1].code" data-tab="{{tab = types[1]}}" label="{{tab.label}}" page="app/dialog/uploads/uploads-list.html"></ons-tab>
  </ons-tabbar>
  <div style="font-size: 14px" ng-show="!settings.initType">
    <ons-list>
      <ons-list-item modifier="longdivider" ng-repeat="upload in uploads" ng-click="openUpload(upload)" ng-disabled="openingUpload" tappable>
        <div class="left">
          <span ng-if="upload.Description">{{ upload.Description }}</span>
          <i ng-if="!upload.Description">&lt;No description&gt;</i>
        </div>
        <div class="right">
          <ons-button class="icon-button" modifier="quiet" ng-disabled="openingUpload" ng-click="deleteUpload(upload)" ng-if="deleteUpload">
            <ons-icon icon="ion-trash-b"></ons-icon>
          </ons-button>
        </div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-dialog>
