<ons-alert-dialog class="time-picker">
  <div class="alert-dialog-title">{{options.title||'Duration'}}</div>
  <div class="alert-dialog-content">
    <ons-input type="number" placeholder="{{options.placeholder||'Hours'}}" ng-model="duration" ng-blur="roundHours()" style="width: 100%; margin-top: 10px;" ng-disabled="loading"></ons-input>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, duration)" ng-disabled="duration.toString()=='' || (!options.allowZero&&duration=='0') || loading">Ok</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
  </div>
</ons-alert-dialog>