<ons-page>
  <div class="centerVertical" style="margin: 20px;" ng-show="loading">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <div ng-hide="loading" style="padding: 10px; font-size: 14px" class="white-wrap">
    <ons-list>
      <ons-list-header><h4 class="orange-header">Reports</h4></ons-list-header>
      <ons-list-item modifier="longdivider" ng-repeat="report in infoDialog.job.Reports" ng-click="openReport(report)" tappable>
        <div class="left">
          {{ report.Name }}
        </div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>