<ons-dialog style="z-index: 100000;" cancelable ng-controller="LocationInfoController" ons-postshow="postshow()">
  <ons-toolbar class="fourty-four" inline>
    <div class="center" style="font-size: 16px;">Location #: {{location.NumberChar}}</div>
  </ons-toolbar>
  <ons-tabbar class="tabbar-short tabbar-inline" inline id="l-dialog-tabbar">
      <ons-tab page="app/dialog/location-info-1.html" active="true">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="ion-information-circled"></ons-icon>
          </div>
          <div class="tabbar__label if-480">Info</div>
        </button>
      </ons-tab>
      <ons-tab page="app/dialog/location-info-2.html" ng-if="location.JobBillingUponCode == 'LOI'">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="ion-clipboard"></ons-icon>
          </div>
          <div class="tabbar__label if-480">Inspections</div>
        </button>
      </ons-tab>
    </ons-tabbar>
</ons-dialog>