<ons-page>
  <div class="centerVertical" style="margin: 20px;" ng-show="loading">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <div ng-hide="loading" style="padding: 10px; font-size: 14px" class="white-wrap">
    <h4 class="orange-header">Completion History</h4>
    <div ng-show="!detail.CompletionDetail || !detail.CompletionDetail.length">
      <div class="divider"></div>
      No completions for this location detail.
    </div>
    <div ng-repeat="completion in detail.CompletionDetail">
      <div class="divider"></div>
      <ons-row>
        <ons-col width="40%"><span style="font-weight: bold;">Date:</span> {{completion.CompleteDate | date:'M/d/yyyy' }}</ons-col>
        <ons-col><span style="font-weight: bold;">Status:</span> {{completion.StatusMeaning}}</ons-col>
      </ons-row>
      <ons-row>
        <ons-col width="22%"><span style="font-weight: bold;">Qty:</span> {{completion.Quantity}}</ons-col>
        <ons-col><span style="font-weight: bold;">Type:</span> {{completion.CompletionTypeMeaning }}</ons-col>
      </ons-row>
    </div>
  </div>
  </div>
</ons-page>