<ons-alert-dialog style="z-index: 100000;" class="expanded scrollable-dialog">
  <div class="alert-dialog-title">{{ data.title }}</div>
  <div class="alert-dialog-content no-padding">
    <ons-list style="overflow-y: auto" class="no-bg">
      <ons-list-item modifier="longdivider" tappable ng-repeat="item in data.items" ng-click="selectRow($index)">
        <label class="left">
          <ons-radio name="choices" ng-checked="$index == $parent.data.currentIndex" value="{{ item.value }}" style="margin-right: 5px;" ng-hide="data.noRadio"></ons-radio>
          <span ng-bind="item.label" ng-show="!data.template"></span>
          <ng-include ng-if="data.template" src="data.template"></ng-include>
        </label>
      </ons-list-item>
    </ons-list>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, data.currentIndex, data.items)" ng-hide="data.autoClose">Ok</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
  </div>
</ons-alert-dialog>