<ons-page style="height: 100%;" ng-controller="HotelsController" ons-show="showPage()" ons-hide="hidePage()">
  <ons-toolbar>
    <div class="left">
      <ons-back-button id="hotels-back-button" ng-disabled="loading" ></ons-back-button>
    </div>
    <div class="center">{{ job.WorkgroupJobNumber }}</div>
    <div class="right">
      <ons-toolbar-button ng-show="!loading&&job.changed" ng-click="save()">
        <ons-icon icon="fa-save"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
   <table style="height: 100%; width: 100%;" cellspacing="0" cellpadding="0"><tr><td>
     <div ons-class="toolbar" class="subBar fixed" ng-hide="working" style="height: 80px;">
      <div class="center toolbar__center">
        <table class="calendar-header">
          <tr class="calendar-header-months">
            <td colspan="{{calendar.month1Span}}">{{ dateTabs[0].JobDate | date:'MMM' }}</td>
            <td colspan="{{calendar.month2Span}}" ng-if="calendar.month2Span>0">{{ dateTabs[6].JobDate | date:'MMM' }}</td>
          </tr>
          <tr class="calendar-header-days">
            <td ng-repeat="day in dateTabs" ng-click="changeDate(day)">
              <div class="calendar-header-day {{ day.JobDate.getTime()==calendar.today.getTime()?'today':''}} {{ day.UnhandledMyPeople?day.occupied?'occupied':'':'hotel-members-accounted'}}" style="{{ day===currentDate?'border: '+pixelWidth+'px solid #fff;':''}}">{{ dayOfWeek[day.JobDate.getDay()]}}<br><span class="day-date">{{ day.JobDate | date:'dd'}}</span></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
   </td></tr><tr style="height: 100%;"><td style="vertical-align: top; overflow-y: auto;">
      <div class="centerVertical" ng-show="working">
         <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
      <fieldset ng-hide="working" class="hotels-header white-wrap" ng-disabled="loading">
        <div class="form-row emphasize-value">
          <div class="form-row-item flex">Night Of:
            <span class="search-input date-input no-wrap" style="vertical-align: middle; background-image: none; padding: 0px 8px; margin-left: 3px;">
              <ons-icon icon="ion-calendar"></ons-icon>
              <input type="date" ng-model="currentDate.JobDate" ng-disabled="loading" title="Night Of" placeholder="Night Of" ng-change="newDate()" ons-class="no-white text-input" style="background-color: transparent !important;">
            </span>
          </div>
          <div class="form-row-item {{currentDate.UnhandledMyPeople?'':'hotel-members-accounted'}}">
            <ons-button class="icon-button" ng-click="viewCrew()" tabindex="-1" modifier="quiet" ng-disabled="loading"><span class="ion-person"></span></ons-button> {{ currentDate.TotalRoomedPeople+' of '+crewCount }}
          </div>
        </div>
      </fieldset>
      <ons-row style="display: table-row">
        <ons-col style="display: table-cell; width: 100%">
          <ons-list-title>Hotels</ons-list-title>
        </ons-col>
        <ons-col style="display: table-cell; width: 1px; padding-left: 20px;">
          <ons-button style="min-height: 30px; line-height: 30px;" ng-click="addHotel()" ng-disabled="working||loading" modifier="quiet">
            <ons-icon icon="ion-plus" style="font-size: 22px"></ons-icon>
          </ons-button>
        </ons-col>
      </ons-row>
      <ons-list>
        <ons-list-item tappable modifier="longdivider" ng-repeat="hotel in currentDate.JobDayHotel | filter: {active:true}" ng-class="(loading||working)?'faded':''" ng-click="viewHotel(hotel)" on-long-press="longPressHotel(hotel)">
          <div class="left">
            {{ hotel.VendorName }} <span class="job-and-org" ng-show="hotel.City">{{hotel.City}}</span>
          </div>
          <div class="center">
          </div>
          <div class="right">
            {{ hotel.OccupantCount }}
          </div>
        </ons-list-item>
      </ons-list>
    </td></tr></table>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>