<ons-page style="height: 100%;" ng-controller="HotelController" ons-show="showPage()">
  <ons-toolbar>
    <div class="left">
      <ons-back-button id="hotel-back-button" ng-disabled="loading"></ons-back-button>
    </div>
    <div class="center">Night Of {{ day.JobDate | date:'M/dd' }}</div>
    <div class="right">
      <ons-toolbar-button ng-hide="loading" ng-click="deleteHotel()"><ons-icon icon="ion-trash-b"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
   <table style="height: 100%; width: 100%;" cellspacing="0" cellpadding="0"><tr><td>
    <form style="display: table-row" novalidate="true" ng-submit="blur()">
     <ons-card class="job-detail-wrapper on-white">
        <table class="hotel-header"><tr>
          <td style="width: 50%">
            <div class="job-detail-title" style="display: inline-block; margin-right: 10px;">
              <span ng-show="job">{{ hotel.VendorName }}</span>
            </div>
          </td>
          <td style="width: 1px;">
            <ons-button class="receipt-header-button" ng-click="findHotel()" ng-disabled="loading">
              <ons-icon icon="ion-search" style="font-size: 20px"></ons-icon>
            </ons-button>
          </td>
          <td style="text-align: center; padding-left: 20px;">
            <ons-button style="padding: 0px 10px; min-height: 30px; line-height: 30px;" ng-click="hotelPhoto()" class="{{hotel.HasReceipt?'':'button--material--flat'}}" ng-disabled="loading">
              <ons-icon icon="{{hotel.HasReceipt?'ion-image':'ion-camera'}}" style="font-size: 20px"></ons-icon>
            </ons-button>
          </td>
          <td style="width: 30%; white-space: nowrap; font-size: 13px;" class="{{day.UnhandledPeople?'':'hotel-members-accounted'}}">
            <div style="text-align: right;">
              <ons-button class="icon-button" ng-click="viewCrew()" tabindex="-1" modifier="quiet" ng-disabled="loading"><span class="ion-person"></span></ons-button> {{ hotel.OccupantCount+' of '+parent.crewCount }}
            </div>
          </td>
        </tr></table>
        <ons-row>
          <ons-col>  
            <div class="divider"></div>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col style="display: table-cell; width: 100%;" class="hotel-info">
            <div class="form-row">
              <div class="form-row-item" style="flex:3"><label class="no-wrap">City:</label><ons-input type="text" placeholder="City" ng-model="hotel.City" ng-change="changeHotel()" input-id="hotel-city" ng-disabled="loading"></ons-input></div>
              <div class="form-row-item" style="flex:2"><label class="no-wrap">Cost:</label><div><input type="text" placeholder="Amount" ng-model="hotel.Cost" ng-disabled="loading" formatted-number-input="{decimals:2,prefix:'$'}" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" inputmode="decimal" autocapitalize="words" ng-change="changeHotel()"></div></div>
            </div>
          </ons-col>
        </ons-row>
        <ons-row>
          <textarea class="textarea content-item" ng-readonly="loading" placeholder="Notes" ng-model="hotel.Notes" rows="2" style="width: 100%;" ng-change="changeHotel()"></textarea>
        </ons-row>
     </ons-card>
    </form>
   </td></tr><tr style="height: 100%;"><td style="vertical-align: top; overflow-y: auto;">
      <ons-row style="display: table-row">
        <ons-col style="display: table-cell; width: 100%">
          <ons-list-title>Rooms</ons-list-title>
        </ons-col>
        <ons-col style="display: table-cell; width: 1px; padding-left: 20px;">
          <ons-button style="min-height: 30px; line-height: 30px;" ng-click="addRoom()" ng-disabled="loading" modifier="quiet">
            <ons-icon icon="ion-plus" style="font-size: 22px"></ons-icon>
          </ons-button>
        </ons-col>
      </ons-row>
      <ons-list class="on-white">
        <ons-list-item modifier="longdivider" ng-repeat-start="room in hotel.HotelRoom | filter:filterRooms()" ng-class="(loading)?'faded':''" class="hotel-room {{ room.open?'open':''}}" id="room_{{room.ID}}">
          <div class="left">
            <ons-button class="icon-button expand-button" ng-click="expandRoom(room)" tabindex="-1" modifier="quiet" ng-disabled="loading"><span class="{{room.open?'ion-chevron-down':'ion-chevron-right'}}"></span></ons-button>
          </div>
          <form class="center" novalidate="true" ng-submit="blur()">
            <input type="text" placeholder="Room #" ng-model="room.RoomNumber" ng-readonly="loading" ons-class="text-input" class="job-and-org hotel-room-number {{room.HasReceipt?'hotel-members-accounted':'hotel-members-unaccounted'}}" ng-change="changeRoom(room)" click-select>
            <input type="text" placeholder="Cost" ng-model="room.Cost" ng-readonly="loading" ons-class="text-input" ng-change="changeCost(room)" formatted-number-input="{decimals:2,prefix:'$'}" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" inputmode="decimal" autocapitalize="words">
            <ons-button style="padding: 0px 10px; min-height: 30px; line-height: 30px;" ng-click="roomPhoto(room)" class="{{room.HasReceipt?'':'button--material--flat'}}" ng-disabled="loading">
              <ons-icon icon="{{room.HasReceipt?'ion-image':'ion-camera'}}" style="font-size: 20px"></ons-icon>
            </ons-button>
            <button type="submit" style="display: none;"></button>
          </form>
          <div class="right">
            {{ room.OccupantCount }}
          </div>
        </ons-list-item>
        <div ng-show="room.open" ng-repeat-end class="hotel-room-expanded">
          <div style="display: flex;">
            <div class="flex">
              <textarea class="textarea content-item" ng-readonly="loading" placeholder="Notes" ng-model="room.Notes" rows="2" style="width: 100%;" ng-change="changeRoom(room)"></textarea>
            </div>
            <div style="padding-left: 10px;">
              <ons-button class="icon-button" ng-click="deleteRoom(room)" tabindex="-1" modifier="quiet" ng-disabled="loading">
                <ons-icon icon="ion-trash-b" style="font-size: 20px"></ons-icon>
              </ons-button>
            </div>
          </div>
          <div ng-repeat="occupant in room.HotelRoomOccupant | filter:{active:true} | orderBy:['-isMyCrew','PersonFullName']" class="hotel-room-occupants">
            <span class="{{occupant.isMyCrew&&parent.myCrew?'blue-button':''}} {{occupant.PersonID == parent.myId?'timesheet-bold':''}}">
              {{ occupant.PersonFullName }}
            </span>
            <ons-button ng-click="removeOccupant(room, occupant)" ng-disabled="loading" modifier="quiet">
              <ons-icon icon="ion-minus" style="font-size: 20px"></ons-icon>
            </ons-button>
          </div>
          <div ng-repeat="avail in availableOccupants | orderBy:['-isMyCrew','Name']" class="hotel-room-occupants available" ng-show="room.addingOccupants">
            <span class="{{avail.isMyCrew&&parent.myCrew?'blue-button':''}} {{avail.ID == parent.myId?'timesheet-bold':''}}">
              {{ avail.Name }}
            </span>
            <ons-button ng-click="addOccupant(room, avail)" ng-disabled="loading" modifier="quiet">
              <ons-icon icon="ion-plus" style="font-size: 20px"></ons-icon>
            </ons-button>
          </div>
          <div style="text-align: right">
            <ons-button ng-click="toggleOccupantMode(room)" modifier="quiet" ng-disabled="loading" ng-show="!room.addingOccupants&&day.UnhandledPeople > 0">
              <ons-icon icon="ion-person"></ons-icon> Add Occupants
            </ons-button>
          </div>
        </div>
      </ons-list>
    </td></tr></table>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>