<ons-page style="height: 100%;" ng-controller="DispatchController" ons-show="showPage()" ons-hide="hidePage()">
  <ons-toolbar>
    <div class="left">
      <ons-back-button id="dispatch-back-button" ng-disabled="loading" ng-hide="job.process"></ons-back-button>
      <ons-toolbar-button ng-show="job.process.name=='EndDay'" ng-click="endDay()" ng-disabled="loading||working||closing"><ons-icon icon="ion-log-out"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">
      {{ ::job.DispatchWizardName }}
    </div>
    <div class="right">
      <ons-toolbar-button ng-if="!job.IsReadOnly && job.DispatchWizardEnableMappingFlag" ng-hide="working || loading" ng-click="openRouting()"><ons-icon icon="ion-map"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-if="!job.IsReadOnly" ng-hide="working || loading" ng-click="$parent.copying=!$parent.copying" ng-class="copying?'active':''"><ons-icon icon="fa-clone"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-if="dispatchFilters.length && dispatchFilters[0].FilterFlag" ng-hide="working || loading" ng-click="$parent.searchVisible=!$parent.searchVisible" ng-class="searchVisible?'active':''"><ons-icon icon="ion-search"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working || loading" ng-click="addLocation()" ng-if="job.canAddLocations" ng-disabled="job.IsReadOnly"><ons-icon icon="ion-plus"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <select id="width_tmp_select" ons-class="ons-input" style="display: none;pointer-events:none;font-size: 14px;">
   <option id="width_tmp_option"></option>
  </select>
  <div ng-hide="working">
    <ons-card class="job-detail-wrapper">
      <ons-row>
        <ons-col width="70%">
          <div class="job-detail-title">Job #: {{ ::job.JobWorkgroupJobNumber }} <span ng-if="job.JobJobNumberChar != job.JobWorkgroupJobNumber">({{ ::job.JobJobNumberChar }})</span></div>
        </ons-col>
        <ons-col>
          <div class="time-entry-date" ng-if="job.CompleteDate" style="text-align: center;"><span class="job-detail-subtitle">Time Entry Date<br><b class="todays-date">{{job.CompleteDate | date:'MM/dd/yyyy'}}</b></div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>  
          <div class="job-detail-subtitle light">{{ job.JobDescription }}</div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working">
        <ons-col>  
          <div class="divider"></div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working" style="align-items: center; margin-bottom: 10px;">
        <ons-col>  
          <span class="job-detail-subtitle">
             <span class="search-input date-input no-wrap" style="vertical-align: middle; background-image: none; padding: 0px 8px; margin-left: 3px;">
              <ons-icon icon="ion-calendar"></ons-icon>
              <input type="date" ng-model="job.currentDateFilter" ng-disabled="loading" title="Filter Date" placeholder="Any Date" ng-change="changeFilter('date')" ons-class="no-white text-input">
            </span>
             <ui-select ng-model="job.doneFilter" ng-disabled="loading" title="Filter other days by Done status" class="no-search short" style="display: inline-block; vertical-align: middle; margin-left: 3px;">
                <ui-select-match class="no-wrap">{{$select.selected.Display}}</ui-select-match>
                <ui-select-choices repeat="option in doneFilterOptions">
                    <div ng-bind="option.Display"></div>
                </ui-select-choices>
                <ui-select-no-choice>No options available.</ui-select-no-choice>
            </ui-select>
            <ui-select ng-model="job.foremanFilter" ng-disabled="loading" title="Filter by assigned foreman" class="no-search short" on-select="changeFilter('foreman')" ng-if="job.DispatchWizardForemanFilterFlag" ng-show="job.hasForemenAssigned" style="display: inline-block; vertical-align: middle; margin-left: 3px; min-width: 130px;">
                <ui-select-match>{{$select.selected.FullName}}</ui-select-match>
                <ui-select-choices repeat="option in foremanFilterOptions">
                    <div style="{{option.bold?'font-weight: bold':''}}" ng-bind="option.FullName"></div>
                </ui-select-choices>
                <ui-select-no-choice>No options available.</ui-select-no-choice>
            </ui-select>
          </span> 
        </ons-col>
      </ons-row>
      <form ng-submit="search()" ng-show="searchVisible && !working">
        <ons-input ng-repeat-start="filter in dispatchFilters = (job.DispatchField | filter:{FilterFlag: true})" class="fifty-percent-if-480 on-white" type="text" ng-model="filter.filterValue" ng-disabled="loading" title="{{filter.Name}}" ng-change="changeFilter(filter)" placeholder="{{filter.Name}}" input-id="dispatch-filter-{{filter.DispatchWizardFieldID}}"></ons-input>
        <div class="if-less-480" style="height:0px; margin-top:10px" ng-repeat-end></div>
        <div style="margin-top: 20px; display: flex;">
          <div style="flex: 1">
            <ons-button ng-click="clearSearch()" modifier="quiet">Clear</ons-button>
            <ons-button ng-click="searchVisible = !searchVisible" modifier="quiet">Hide</ons-button>
          </div>
          <div>
            
          </div>
          <div>
            <button type="submit" class="button" ng-class="ons.platform.isAndroid()?'button--material':'button--ios'" ng-disabled="loading">
              <ons-ripple></ons-ripple>
              <ons-icon icon="ion-search" style="font-size: 15px"></ons-icon> Search
            </button>
          </div>
        </div>
      </form>
      <ons-row ng-show="searchVisible && !working">
        <ons-col>  
          <div class="divider"></div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working">
        <ons-col>
          <div class="filterCount">
            Showing <span class="count">{{ filteredCounts[0] }}</span> of <span class="count">{{ filteredCounts[1] }}</span> locations
          </div>
        </ons-col>
      </ons-row>
   </ons-card>
   
    <div style="overflow: auto">
      <table class="timesheet-main even-rows crew-time {{ loading?'':'editable' }}" ons-class="list">
        <thead sticky-header class="timesheet-header" ons-class="list-header" style="line-height: inherit;">
          <tr class="table-header">
            <th style="width: 85px;">Date</th>
            <th ng-if="job.DispatchWizardLocationPhotosFlag||copying" class="btn"></th>
            <th ng-repeat="field in job.DispatchField | filter:{VisibleFlag: true} as filteredDispatchFields">{{ ::field.Name }}</th>
            <th class="check">Done</th>
            <th ng-repeat="field in job.Field | filter:{VisibleFlag: true} as filteredFields" class="{{job.fields[field.DispatchJobFieldID].TypeCode.toLowerCase()}}">{{ ::field.Name }}</th>
            <th class="btn"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="location in job.DispatchLocation | filter: filterLocations() as filteredLocations track by location.ID" id="location-{{location.ID}}" class="location {{location.LocationComplete?'done':''}} {{isTempId(location.ID)?'new':''}}" data="{{reset('rowIndex', $index); reset('colIndex',0)}}" ons-class="list-item">
            <td class="entry left date {{ getRequiredClass(location.WorkDate) }}">
              <div class="entry-inner {{ job.CompleteDate&&location.WorkDate.getTime()==job.CompleteDate.getTime()?'todays-date':'' }} {{location.HasBilled?'billed':''}}">
                <input type="date" ng-model="location.WorkDate" ng-disabled="loading||location.LocationComplete||job.IsReadOnly" title="Date" placeholder="Date" ng-change="changeField('WorkDate', location)" ons-class="text-input" class="no-white">
              </div>
            </td>
            <td ng-if="job.DispatchWizardLocationPhotosFlag||copying" style="white-space: nowrap; text-align: center;">
              <ons-button class="icon-button" style="{{location.hasPhoto?'':'color:#ccc'}}" ng-click="locationPhotos(location, 'PH')" modifier="quiet" ng-hide="copying||(!location.hasPhoto&&location.hasDocument)"><ons-icon icon="ion-image"></ons-icon></ons-button>
              <ons-button class="icon-button" ng-click="locationPhotos(location, 'DO')" tabindex="-1" ng-if="location.hasDocument" modifier="quiet" ng-hide="copying"><ons-icon icon="ion-document"></ons-icon></ons-button>
              <ons-button class="icon-button" ng-click="copyLocation(location)" ng-show="copying"><ons-icon icon="fa-clone"></ons-icon></ons-button>
            </td>
            <td ng-repeat="field in job.DispatchField | filter:{VisibleFlag: true}" class="entry left dispatch-field {{ field.class }} dispatch-field-{{field.DispatchWizardFieldID}} {{ getRequiredClass(location[field.key], field) }}">
              <div class="entry-inner">
                <contenteditable class="no-white"
                  style="{{field.MaxWidth!==''?('max-width:'+field.MaxWidth+'px;'):''}}{{field.MinWidth!==''?('min-width:'+field.MinWidth+'px;'):''}}" ons-class="text-input" ng-model="location[field.key]" maxlength="255" readonly="loading||location.LocationComplete||job.IsReadOnly||(!field.EditableFlag&&!isTempId(location.ID))" title="{{field.Name}}" placeholder="{{field.Name}}" on-change="changeField(field, $parent.location)" click-select></contenteditable>
                <!-- <input type="text" ng-model="location[field.key]" maxlength="255" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||(!field.EditableFlag&&!isTempId(location.ID))" title="{{field.Name}}" placeholder="{{field.Name}}" click-select on-change="changeField(field.ColumnName, $parent.location)" ons-class="text-input"> -->
              </div>
            </td>
            <td class="check done">
              <div class="entry-inner">
                <label class="grid-label" title="Done">
                  <ons-checkbox ng-model="location.LocationComplete" ng-disabled="loading||job.IsReadOnly||(location.LocationComplete&&location.HasBilled)" ng-change="checkComplete(location)"></ons-checkbox>
                </label>
              </div>
            </td>
            <td ng-repeat="field in location.LocationField | filter:filterLocationsFields() | orderBy:'order'" class="{{job.fields[field.DispatchJobFieldID].TypeCode.toLowerCase()}} custom-field field-{{field.DispatchJobFieldID}} {{ getRequiredClass(field.FieldValue, field) }} {{ getTakenClass(field) }} {{field.Billed?'billed':''}}">
              <div ng-if="job.fields[field.DispatchJobFieldID] && !['CHAR','CHECK'].includes(job.fields[field.DispatchJobFieldID].TypeCode)" class="custom-field entry-inner">
                <!-- Number and dollars -->
                <input type="text" ng-if="['NUM','DOL'].includes(job.fields[field.DispatchJobFieldID].TypeCode)" ng-model="field.FieldValue" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed||field.disabled" formatted-number-input="{decimals:{{job.fields[field.DispatchJobFieldID].Decimals}},prefix:'{{job.fields[field.DispatchJobFieldID].TypeCode=='DOL'?'$':''}}',round:{{job.fields[field.DispatchJobFieldID].round}},focusClick:false}" title="{{job.fields[field.DispatchJobFieldID].Name}}" placeholder="{{job.fields[field.DispatchJobFieldID].Name}}" on-change="changeField(field, $parent.location)" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" inputmode="decimal" autocapitalize="words" class="no-white">
                <!-- Dropdown -->
                <div ng-if="'DROP'==job.fields[field.DispatchJobFieldID].TypeCode" class="select-wrap">
                  <select ng-model="field.option"  ng-focus="tempEvent=$event" placeholder="{{job.fields[field.DispatchJobFieldID].Name}}" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed||field.disabled" title="{{job.fields[field.DispatchJobFieldID].Name}}" ng-change="selectOption(field, location, tempEvent)" ng-options="option.Display for option in job.fields[field.DispatchJobFieldID].FieldOption | filter:filterMultiOptions(field) track by option.DispatchJobFieldOptionID" ons-class="text-input" class="no-white">
                  </select>
                </div>
                <!-- Radio -->
                <div ng-if="'RADIO'==job.fields[field.DispatchJobFieldID].TypeCode" watch-model="field.option" watch-change="selectOption(field, location)">
                  <label ng-repeat="option in job.fields[field.DispatchJobFieldID].FieldOption | filter:filterMultiOptions(field)" class="{{field.option===option?'checked':''}}">
                    <ons-radio input-helper helper-ng-model="field.option" helper-ng-value="option" ng-checked="field.option===option" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed||field.disabled" title="{{job.fields[field.DispatchJobFieldID].Name}}" name="radio-{{field.DispatchLocationFieldID}}"></ons-radio> {{ option.Display }}
                  </label>
                </div>                
              </div>
              <div class="entry-inner" ng-if="job.fields[field.DispatchJobFieldID] && ['CHAR','CHECK'].includes(job.fields[field.DispatchJobFieldID].TypeCode)">
                <!-- Checkbox -->
                <label ng-if="'CHECK'==job.fields[field.DispatchJobFieldID].TypeCode" class="grid-label" title="{{job.fields[field.DispatchJobFieldID].Name}}">
                  <ons-checkbox ng-model="field.FieldValue" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed||field.disabled" ng-change="changeField(field, location)"></ons-checkbox>
                </label>
                <!-- Character -->
                <label ng-if="'CHAR'==job.fields[field.DispatchJobFieldID].TypeCode" class="grid-label">
                  <ons-button  class="icon-button comments-icon" ng-click="openCharacter(field, location)" modifier="quiet" ng-disabled="loading||field.disabled"><span class="{{field.FieldValue?'ion-chatbox-working':'ion-chatbox'}}"></span></ons-button>
                </label>
              </div>
            </td>
            <td style="text-align: center;">
              <ons-button class="icon-button" ng-click="deleteLocation(location)" ng-disabled="loading||location.HasBilled" modifier="quiet"><span class="ion-trash-b"></span></ons-button>
            </td>
          </tr>
          <tr ng-if="!filteredLocations.length"><td colspan="{{3+filteredDispatchFields.length+filteredFields.length}}" class="center" style="padding: 10px">
            <i ng-if="!job.DispatchWizardLocationSearchFlag">No locations&mdash;use the add button to create one</i>
            <i ng-if="job.DispatchWizardLocationSearchFlag">Use the search filters to find a location, or use the add button to create one</i>
          </td></tr>
        </tbody>
      </table>
    </div>
  </div>
</ons-page>
