<ons-page>
  <div style="padding: 10px; font-size: 14px" class="white-wrap">
    <ons-row>
      <ons-col ng-show="OrgType == 'OW'"><span style="font-weight: bold;">WG Job #:</span> {{infoDialog.job.WorkgroupJobNumber}}</ons-col>
      <ons-col ng-show="OrgType != 'OW'"><span style="font-weight: bold;">Job #:</span> {{infoDialog.job.JobNumber}}</ons-col>
      <ons-col><span style="font-weight: bold;">Status:</span> {{infoDialog.job.Status}}</ons-col>
    </ons-row>
    <ons-row>
      <ons-col ng-show="infoDialog.job.Workgroup"><span style="font-weight: bold;">WG:</span> {{infoDialog.job.Workgroup}}</ons-col>
      <ons-col ng-show="infoDialog.job.Owner"><span style="font-weight: bold;">Owner:</span> {{infoDialog.job.Owner}}</ons-col>
    </ons-row>
    <ons-row>
      <ons-col ng-show="infoDialog.job.Description"><span style="font-weight: bold;">Description:</span> {{infoDialog.job.Description}}</ons-col>
    </ons-row>
    <div>
      <div class="centerVertical" style="margin: 20px;" ng-show="loading">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
      <div ng-hide="loading">
        <div ng-show="endpoint != 'designJob'">
          <ons-row ng-show="infoDialog.job.PercentComplete != ''">
            <ons-col><span style="font-weight: bold;">Percent Complete:</span> {{infoDialog.job.PercentComplete}}% <ons-progress-bar style="margin: 5px 0px" value="{{ infoDialog.job.PercentComplete }}"></ons-progress-bar></ons-col>
          </ons-row>
          <div class="divider"></div>
          <ons-row>
            <ons-col><span style="font-weight: bold;">Start:</span> {{infoDialog.job.ActualStartDate | date:'M/d/yyyy'}}</ons-col>
            <ons-col><span style="font-weight: bold;">Target:</span> {{infoDialog.job.TargetCompleteDate | date:'M/d/yyyy'}}</ons-col>
          </ons-row>
          <ons-row ng-show="infoDialog.job.TotalHours||infoDialog.job.TotalHours==0">
            <!-- <ons-col><span style="font-weight: bold;">Dollars:</span> {{infoDialog.job.TotalDollars | currency:'$'}}</ons-col> -->
            <ons-col><span style="font-weight: bold;">Hours:</span> {{infoDialog.job.TotalHours}}</ons-col>
          </ons-row>
          <div class="divider"></div>
          <ons-row>
            <ons-col><div style="font-weight: bold;">Address:</div>
              <div ng-show="infoDialog.job.Address">{{infoDialog.job.Address}}</div>
              <div ng-show="infoDialog.job.City || infoDialog.job.State || infoDialog.job.PostalCode">
                {{infoDialog.job.City}}<span ng-show="infoDialog.job.City && infoDialog.job.State">, </span>
                {{infoDialog.job.State}}
                {{infoDialog.job.PostalCode}}
              </div>
            </ons-col>
          </ons-row>
        </div>
        <div ng-show="endpoint == 'designJob'">
          <div class="divider"></div>
          <ons-row>
            <ons-col><span style="font-weight: bold;">Hours:</span> {{infoDialog.job.UnfactoredHours | number:2 }}</ons-col>
            <ons-col><span style="font-weight: bold;">Factored Hrs:</span> {{infoDialog.job.FactoredHours | number:2 }}</ons-col>
          </ons-row>
        </div>
      </div>
    </div>
  </div>
</ons-page>