<ons-page>
  <div class="centerVertical" style="margin: 20px;" ng-show="loading">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <div ng-hide="loading" style="padding: 10px; font-size: 14px" class="white-wrap">
    <ons-list>
      <ons-list-header><h4 class="orange-header">Documents</h4></ons-list-header>
      <ons-list-item modifier="longdivider" ng-repeat="doc in infoDialog.job.Documents" ng-click="openJobDoc(doc)" tappable>
        <div class="left">
          {{ doc.FileName }}
        </div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>