<ons-page>
  <div style="padding: 10px; font-size: 14px;" class="white-wrap">
    <div ng-show="!detail.AssemblyID && !detail.isSummary && detail.CalcAssemblyNumber">
      <ons-row>
        <ons-col><span style="font-weight: bold;">Assm. #:</span> {{detail.CalcAssemblyNumber }}</ons-col>
      </ons-row>
      <ons-row>
        <ons-col><span style="font-weight: bold;">Assm. Desc:</span> {{detail.CalcAssemblyDescription }}</ons-col>
      </ons-row>
      <div class="divider"></div>
    </div>
    <ons-row ng-show="detail.ActionCodeCalc || detail.UnitOfMeasureAbbreviation">
      <ons-col width="60%" ng-show="detail.ActionCodeCalc"><span style="font-weight: bold;">Action:</span> {{detail.ActionCodeCalc }}</ons-col>
      <ons-col ng-show="detail.UnitOfMeasureAbbreviation"><span style="font-weight: bold;">UOM:</span> {{detail.UnitOfMeasureAbbreviation}}</ons-col>
    </ons-row>
    <ons-row ng-show="detail.SpecificationDescription||detail.AssemblyDescription">
      <ons-col><span style="font-weight: bold;">Description:</span> {{ detail.AssemblyID?detail.AssemblyDescription:detail.SpecificationDescription}}</ons-col>
    </ons-row>
    <div ng-show="!detail.isSummary">
      <div class="divider"></div>
      <ons-row>
        <ons-col><span style="font-weight: bold;">Design Qty:</span> {{detail.DesignQuantity}}</ons-col>
        <ons-col><span style="font-weight: bold;">Est. Qty:</span> {{detail.EstimatedQuantity}}</ons-col>
      </ons-row>
      <ons-row>
        <ons-col><span style="font-weight: bold;">Comp. Qty:</span> {{detail.CompletedToDate}}</ons-col>
        <ons-col><span style="font-weight: bold;">Rem. Qty:</span> {{detail.RemainingQty}}</ons-col>
      </ons-row>
      <ons-row>
        <ons-col ng-show="detail.Complete !== ''"><span style="font-weight: bold;">Complete:</span> <span class="checkbox-disabled-wrapper"><ons-checkbox ng-checked="::detail.Complete" disabled></ons-checkbox></span></ons-col>
        <ons-col ng-show="detail.CompleteDate"><span style="font-weight: bold;">Completed:</span> {{ detail.CompleteDate | date:'M/d/yyyy' }}</ons-col>
      </ons-row>
      <div class="divider" ng-show="detail.Comments"></div>
      <ons-row ng-show="detail.Comments">
        <ons-col><span style="font-weight: bold;">Comments:</span> {{detail.Comments}}</ons-col>
      </ons-row>
    </div>
  </div>
</ons-page>