<ons-page>
  <div class="centerVertical" style="margin: 20px;" ng-show="loading">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <div ng-hide="loading" style="padding: 10px; font-size: 14px" class="white-wrap">
    <h4 class="orange-header">Inspection History</h4>
    <div ng-show="!location.LInspection || !location.LInspection.length || !location.LInspection[0].StatusDate">
      <div class="divider"></div>
      No inspections for this location detail.
    </div>
    <div ng-repeat="inspection in location.LInspection | filter:loadedInspections">
      <div class="divider"></div>
      <ons-row>
        <ons-col width="40%"><span style="font-weight: bold;">Date:</span> {{inspection.StatusDate | date:'M/d/yyyy' }}</ons-col>
        <ons-col><span style="font-weight: bold;">Status:</span> {{inspection.StatusMeaning}}</ons-col>
      </ons-row>
      <ons-row>
        <ons-col><span style="font-weight: bold;">Completed By:</span> {{inspection.CompletedByUserName}}</ons-col>
      </ons-row>
      <ons-row>
        <ons-col><div style="font-weight: bold;">Comments:</div>
          <div>
            <ons-button ng-show="inspection.PhotoString" ng-click="openPhoto(inspection.PhotoString)" style="float: right;">
                <ons-icon icon="ion-camera" class="camera-icon"></ons-icon>
            </ons-button>
            <span ng-bind-html="inspection.Comments"></span>
          </div>
        </ons-col>
      </ons-row>
    </div>
  </div>
</ons-page>