<ons-dialog style="z-index: 100005;" cancelable ng-controller="RentalEquipmentController" class="expanded scrollable-dialog contains-select" id="RentalEquipmentDialog">
  <ons-toolbar class="fourty-four" style="flex-shrink: 0;" inline>
    <div class="center" style="font-size: 16px;">{{ title }}</div>
    <div class="right">
      <ons-toolbar-button ng-hide="loading || !addingNew" ng-click="cancelNew()">
        <ons-icon icon="ion-backspace-outline"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="loading || addingNew" ng-click="toggleFilter()" class="{{filters.show?'active':''}}">
        <ons-icon icon="ion-funnel"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="loading" ng-click="addNew()" ng-class="addingNew?'active':''" ng-disabled="addingNew&&(!form.number||!form.description||!form.category||(form.new&&!form.newCompany)||(!form.new&&!form.company))">
        <ons-icon icon="ion-plus" ng-hide="addingNew"></ons-icon>
        <ons-icon icon="ion-checkmark" ng-show="addingNew"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <form class="smartpick-search" ng-submit="executeSearch()" style="flex-shrink: 0;" ng-hide="addingNew">
    <ons-input type="text" ng-model="searches.equipment" ng-disabled="loading" id="rental-equipment-search" placeholder="Equipment #"></ons-input>
    <ons-input type="text" ng-model="searches.company" ng-disabled="loading" placeholder="Rental Company"></ons-input>
    <button type="submit" class="login-button button" ng-class="ons.platform.isAndroid()?'button--material':'button--ios'" ng-disabled="loading">
      <ons-ripple></ons-ripple>
      <ons-icon icon="ion-search"></ons-icon>
    </button>
  </form>
  <div class="smartpick-filters {{filters.show?'':'collapsed'}}" ng-show="filters.show||filters.category">
     <div class="smartpick-row">
        <b class="smartpick-label">Category</b>
        <div style="flex: 1; display: flex;">
          <ui-select ng-model="filters.category" theme="selectize" tagging="null" ng-disabled="loading" style="flex: 1;">
              <ui-select-match>
                  <span ng-bind="$select.selected.Category"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in smartpicks.EquipmentCategory | filter:$select.search">
                  <span ng-bind="item.Category"></span>
              </ui-select-choices>
          </ui-select>
          <ons-button modifier="quiet" style="font-size: 20px; line-height: 26px; padding: 2px 5px 0 10px;" ng-click="filters.category = null" ng-show="filters.show" ng-disabled="!filters.category">
            <ons-icon icon="ion-backspace"></ons-icon>
          </ons-button>
        </div>
     </div>
  </div>
  <ons-list style="overflow: auto; -webkit-transform: translate(0,0);" ng-hide="addingNew" class="flex">
    <ons-list-item modifier="longdivider" ng-repeat="item in items | filter: filterItems() as filteredItems" ng-click="selectItem(item)" style="font-size: 14px; {{ item.Message?'opacity:0.4;':'' }}" tappable>
      <div>
        <div style="font-weight: bold;">
          {{ item.EquipmentNumber+' - '+item.Description}}
        </div>
        <div>
          Category: <span style="font-style: oblique;">{{ item.Category }}</span>
        </div>
        <div>
          Company: <span style="font-style: oblique;">{{ item.RentalCompany }}</span>
        </div>
      </div>
    </ons-list-item>
    <div style="padding: 20px; text-align: center; color: #ccc; font-style: oblique; font-size: 13px;" ng-show="!filteredItems.length">
      <div ng-show="!filteredItems.length && !searched">
        Search for rental equipment by number or rental company.
      </div>
      <div ng-show="!filteredItems.length && searched">
        No items found for current search. Use the [+] button to add a new item.
      </div>
    </div>
  </ons-list>
  <div ng-if="addingNew" class="alert-dialog-content" ng-class="ons.platform.isAndroid()?'alert-dialog-content--material':'alert-dialog-content--ios'">
    <div class="centerVertical" ng-show="loadingSmartpicks">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <div ng-hide="loadingSmartpicks">
      <div>
        <div style="margin-bottom: 5px;">
          <b>Rental Company</b>
          <label style="float: right;">
            <ons-checkbox ng-model="form.new" ng-disabled="loading"></ons-checkbox>
            New?
          </label>
        </div>
        <div ng-hide="form.new">
          <ui-select ng-model="form.company" theme="selectize" tagging="null" ng-disabled="loading">
            <ui-select-match>
                <span ng-bind="$select.selected.Name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in smartpicks.RentalCompany | filter: filterSmartpick(['Name'],$select.search)">
                <span ng-bind="item.Name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <ons-input type="text" ng-model="form.newCompany" ng-show="form.new" style="width: 100%;" ng-disabled="loading"></ons-input>
      </div>
      <div style="margin-top: 10px;">
        <b>Equipment #</b>
        <ons-input type="text" ng-model="form.number" style="width: 100%;" ng-disabled="loading"></ons-input>
      </div>
      <div style="margin-top: 10px;">
        <b>Description</b>
        <ons-input type="text" ng-model="form.description" style="width: 100%;" ng-disabled="loading"></ons-input>
      </div>
      <div style="margin-top: 10px;">
        <div>
          <b>Category</b>
        </div>
        <ui-select ng-model="form.category" theme="selectize" tagging="null" ng-disabled="loading">
          <ui-select-match>
              <span ng-show="$select.selected.Category">
                <span ng-bind="$select.selected.Category"></span> - <span style="font-style: oblique;" ng-bind="$select.selected.Description"></span>
              </span>
          </ui-select-match>
          <ui-select-choices repeat="item in smartpicks.EquipmentCategory | filter: filterSmartpick(['Category','Description'],$select.search)">
              <div style="font-weight: bold" ng-bind="item.Category"></div>
              <div style="font-style: oblique;" ng-bind="item.Description"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</ons-dialog>

