<ons-dialog style="z-index: 100005;" cancelable ng-controller="VendorDialogController" class="expanded scrollable-dialog contains-select" id="VendorDialog">
  <ons-toolbar class="fourty-four" style="flex-shrink: 0;" inline>
    <div class="center" style="font-size: 16px;">{{ title }}</div>
    <div class="right">
      <ons-toolbar-button ng-hide="loading || !addingNew" ng-click="cancelNew()">
        <ons-icon icon="ion-backspace-outline"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="loading || addingNew || forceType" ng-click="toggleFilter()" class="{{filters.show?'active':''}}">
        <ons-icon icon="ion-funnel"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="loading" ng-click="addNew()" ng-class="addingNew?'active':''" ng-disabled="addingNew&&(!form.newCompany.trim()||!form.companyType)">
        <ons-icon icon="ion-plus" ng-hide="addingNew"></ons-icon>
        <ons-icon icon="ion-checkmark" ng-show="addingNew"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <form class="smartpick-search" style="flex-shrink: 0; height: 50px; align-items: center;" ng-hide="addingNew">
    <ons-input type="text" ng-model="searches.company" ng-disabled="loading" placeholder="{{ filters.type?filters.type.Meaning:'Vendor/Sub Contractor'}} Name" id="vendor-name-search"></ons-input>
  </form>
  <div class="smartpick-filters {{filters.show?'':'collapsed'}}" ng-show="filters.show||(filters.type&&!addingNew&&!forceType)">
     <div class="smartpick-row">
        <b class="smartpick-label">Type</b>
        <div style="flex: 1; display: flex;">
          <ui-select ng-model="filters.type" theme="selectize" tagging="null" ng-disabled="loading||!filters.show" style="flex: 1;">
              <ui-select-match>
                  <span ng-bind="$select.selected.Meaning"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in smartpicks.VendorType | filter:$select.search">
                  <span ng-bind="item.Meaning"></span>
              </ui-select-choices>
          </ui-select>
          <ons-button modifier="quiet" style="font-size: 20px; line-height: 26px; padding: 2px 5px 0 10px;" ng-click="filters.type = null" ng-show="filters.show" ng-disabled="!filters.type">
            <ons-icon icon="ion-backspace"></ons-icon>
          </ons-button>
        </div>
     </div>
  </div>
  <ons-list style="overflow: auto; -webkit-transform: translate(0,0);" ng-hide="addingNew" class="flex">
    <ons-list-item modifier="longdivider" ng-repeat="item in items | filter: filterItems(searches.company) as filteredItems" ng-click="selectItem(item)" style="padding: 0; font-size: 14px; {{ item.Message?'opacity:0.4;':'' }}" tappable>
      <div style="width: 100%; padding: 0px 16px;">
        <div style="display: flex;">
          <div style="font-weight: bold; font-style: oblique; flex: 1;">
            {{ item.ReportName }}
          </div>
          <div style="font-style: oblique;" ng-hide="forceSubType">
            {{ item.OrgTypeCode=='VE'&&!['','UC'].includes(item.Type)?item.TypeMeaning:item.OrgTypeMeaning }}
          </div>
        </div>
      </div>
    </ons-list-item>
    <div style="padding: 20px; text-align: center; color: #ccc; font-style: oblique; font-size: 13px;" ng-show="!filteredItems.length">
      <div ng-show="!filteredItems.length && !searched">
        Search for vendors/sub contractors
      </div>
      <div ng-show="!filteredItems.length && searched">
        No items found for current search. Use the [+] button to add a new item.
      </div>
    </div>
  </ons-list>
  <div ng-if="addingNew" class="alert-dialog-content" ng-class="ons.platform.isAndroid()?'alert-dialog-content--material':'alert-dialog-content--ios'">
    <div class="centerVertical" ng-show="loadingSmartpicks">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <div ng-hide="loadingSmartpicks">
      <div>
        <div style="margin-bottom: 10px;">
          <b>Name</b>
          <ons-input type="text" ng-model="form.newCompany" style="width: 100%;" ng-disabled="loading"></ons-input>
        </div>
        <div style="margin-bottom: 10px;" ng-show="!forceType">
          <b style="margin-bottom: 7px;">Type</b>
          <br>
          <label ng-repeat="type in smartpicks.VendorType | filter: {SubCode:'false'}">
            <ons-radio name="type" ng-model="form.companyType" value="{{ type.Code }}"></ons-radio>
            {{ type.Meaning }}
          </label>
        </div>
        <div style="margin-bottom: 10px;" ng-show="form.companyType == 'VE' && !forceSubType">
          <b style="margin-bottom: 7px;">Vendor Type</b>
          <br>
          <ui-select ng-model="form.vendorType" theme="selectize" tagging="null" ng-disabled="loading">
            <ui-select-match>
                <span ng-bind="$select.selected.Meaning"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in smartpicks.VendorSubType | filter:$select.search">
                <span ng-bind="item.Meaning"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>
</ons-dialog>

