<ons-page ng-controller="InspectJobController" style="height: 100%;">
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">Inspect: {{ job.JobNumber }}</div>
    <div class="right">
      <ons-toolbar-button ng-show="reviewing">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-card class="job-detail-wrapper">
      <ons-row>
        <ons-col>
          <div class="job-detail-title">Job #: {{ job.JobNumber }}</div>
        </ons-col>
        <ons-col>
          <div class="job-detail-title">WG Job #: {{ job.WorkgroupJobNumber }}</div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>  
          <div class="job-detail-subtitle light">{{ job.Description }}</div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working">
        <ons-col>  
          <div class="divider"></div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working">
        <ons-col width="60%">
          <div class="job-detail-subtitle">Actual Start: {{ design.JobActualStartDate | date:'M/d/yyyy' }}</div>
        </ons-col>
        <ons-col>  
          <div class="job-detail-subtitle">Complete: {{ design.PercentComplete }}% <ons-progress-bar style="margin: 5px 0px" value="{{ design.PercentComplete }}"></ons-progress-bar></div>
        </ons-col>
      </ons-row>
   </ons-card>
   <div class="centerVertical" ng-show="working">
       <ons-progress-circular indeterminate="true"></ons-progress-circular>
   </div>
    <ons-list ng-hide="working">
        <ons-list-header>
          <div class="left">
            <div class="location-number">Location</div><!--
         --><div class="location-reference-number if-480 if-inline-block">Ref #</div><!--
         --><div class="location-detail-qty" ng-show="design.JobBillingUponCode == 'LDI'">Ready</div><!--
         --><div class="location-detail-qty">COs</div>
          </div>
          <div style="float: right; height: 1px;" class="detail-buttons" ng-show="design.JobBillingUponCode == 'LOI'"></div>
          <div class="location-percent-complete">Complete</div>
        </ons-list-header>
        <ons-list-item tappable class="location-row" modifier="longdivider" ng-class="getLocationClass(location)" ng-repeat="location in design.Location" ng-click="goToLocation($index, location)" on-long-press="locationOnLongPress(location)">
             <div class="left {{location.ReferenceNumber != location.NumberChar?'has-desc-below-less-480':''}}">
                <div class="location-number list-content">{{ location.NumberChar }} 
                <div class="location-reference-number list-content if-less-480 desc-below" ng-show="location.ReferenceNumber != location.NumberChar">{{ location.ReferenceNumber }}</div>
                </div>
                <div class="location-reference-number list-content if-480" ng-class="design.JobBillingUponCode == 'LOI'?'if-480':''">{{ location.ReferenceNumber }}</div>
                <div class="location-detail-qty list-content {{location.InspectableDetails?'blue':''}}" ng-show="design.JobBillingUponCode == 'LDI'">{{ location.InspectableDetails }}</div>
                <div class="location-detail-qty list-content"><span class="{{location.UnapprovedChangeOrderDetails?'red-highlight':''}}">{{ location.ChangeOrderDetails }}</span></div>
             </div>
             <div class="right">
                <span class="location-percent-complete list-content">{{ location.PercentComplete }}%</span>
                <div style="display: inline-block;" ng-show="design.JobBillingUponCode == 'LOI'">
                    <div class="detail-buttons" ng-show="location.inspectable">
                        <ons-button modifier="quiet" class="approve" ng-click="locationApprove(location, $event)" ng-disabled="reviewing"><ons-icon icon="fa-thumbs-up"></ons-icon></ons-button>
                        <ons-button modifier="quiet" ng-click="locationReject(location, $event)" ng-disabled="reviewing"><ons-icon icon="fa-thumbs-down"></ons-icon></ons-button>
                        <ons-button modifier="quiet" class="comment" ng-click="locationComment(location, $event)" ng-disabled="reviewing"><ons-icon icon="fa-pencil-square-o"></ons-icon></ons-button>
                    </div>
                    <div class="location-status" ng-show="!location.inspectable && location.IncompleteInspectionFlag == 'A'">
                        <ons-button modifier="quiet" ng-click="undoInspection(location, $event)" ng-disabled="reviewing" ng-hide="location.InspectionPromptCodeCalc == 'BI'||location.AcceptLocationInspectionButton !='Un-Accept'" style="font-size: 22px;padding: 0px 10px;margin-right: 15px;"><ons-icon icon="ion-arrow-return-left" style="vertical-align: middle"></ons-icon></ons-button>
                        <ons-icon icon="ion-checkmark"></ons-icon>
                    </div>
                    <div class="location-status" ng-show="!location.inspectable && location.IncompleteInspectionFlag == 'R'">
                        <ons-button modifier="quiet" ng-click="undoInspection(location, $event)" ng-disabled="reviewing" ng-hide="location.InspectionPromptCodeCalc == 'BI'||location.AcceptLocationInspectionButton !='Un-Reject'" style="font-size: 22px;padding: 0px 10px;margin-right: 15px;"><ons-icon icon="ion-arrow-return-left" style="vertical-align: middle"></ons-icon></ons-button>
                        <ons-icon icon="ion-close"></ons-icon>
                    </div>
                </div>
             </div>
        </ons-list-item>
    </ons-list>
    <ons-button modifier="quiet" ng-show="showLoadMore" ng-click="loadMore()" ng-disabled="working" style="display: block; margin: 10px auto;">Load All Locations</ons-button>
   <help-button ng-if="env == 'demo'"></help-button>
</ons-page>