<ons-alert-dialog>
  <div class="alert-dialog-title">Add Master Project</div>
  <div class="alert-dialog-content">
    <div class="dialog-error" style="margin-bottom: 10px;">{{data.error}}</div>
    <ons-row>
      <ons-col>
        <b>Project #</b><br>
        <ons-input type="text" placeholder="Number" ng-model="data.number" ng-change="resetMasterProject()" style="width: 100%"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row style="margin-top: 20px">
      <ons-col>
        <b>Name</b><br>
        <ons-input type="text" placeholder="Name" ng-model="data.name" ng-change="resetMasterProject()" style="width: 100%"></ons-input>
      </ons-col>
    </ons-row>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-disabled="!data.number||!data.name">Add</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
  </div>
</ons-alert-dialog>