<ons-page class="login-page" ng-controller="SignUpController">
     <div class="sign-up-form" ng-hide="init">
        <ons-card>
            <h3>Sign Up</h3>
            <p style="font-size: small;" class="job-detail-wrapper">Enter details below and we&apos;ll email you login credentials to access the demo app.</p>
            <br>
            <ons-input type="text" placeholder="First Name (required)" value="" ng-model="data.firstName" ng-disabled="working" class="on-white"></ons-input>
            <ons-input type="text" placeholder="Last Name (required)" value="" ng-model="data.lastName" ng-disabled="working" class="on-white"></ons-input>
            <ons-input type="email" placeholder="Email (required)" value="" ng-model="data.email" ng-disabled="working" class="on-white"></ons-input>
            <ons-input type="tel" placeholder="Phone Number" value="" ng-model="data.phoneNumber" ng-disabled="working" class="on-white"></ons-input>
            <ons-input type="text" placeholder="Company" value="" ng-model="data.company" ng-disabled="working" class="on-white"></ons-input>
            <br>
            <ons-button modifier="large" class="login-button" ng-click="submit()" ng-disabled="working">
                <ons-icon ng-show="working" icon="fa-circle-o-notch" spin="true"></ons-icon>
                {{button}}
            </ons-button>
            <br><br>
            <ons-button modifier="quiet" class="forgot-password" ng-disabled="working" ng-click="cancel()">Cancel</ons-button>
        </ons-card>
    </div>
</ons-page>