<ons-page style="height: 100%;" ng-controller="SpecDocsBookController">
  <ons-toolbar>
    <div class="left"><ons-back-button id="back-button"></ons-back-button></div>
    <div class="center">{{ specbook.OwnerName +' - '+specbook.Name }}</div>
  </ons-toolbar>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-list ng-hide="working">
    <ons-list-item modifier="longdivider" ng-repeat="section in specbook.sections" ng-click="openSection(section)" tappable>
         <div class="left list-content">{{ section.SectionCode }}</div>
         <div class="right job-list-description">
           {{ section.Name }}
         </div>
    </ons-list-item>
  </ons-list>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>