<ons-page style="height: 100%;" ng-controller="SpecDocsController" ng-init="init()">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.toggle()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center" ng-show="loaded">
      Spec Documents
    </div>
  </ons-toolbar>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-tabbar position="auto" modifier="autogrow" dynamic-tabbar="specDocTabbar" ng-style="working?{'visibility':'hidden'}:{}">
      <ons-tab ng-repeat="tab in tabs" label="{{ tab.title }}" page="app/docs/spec-docs-owner.html"></ons-tab>
  </ons-tabbar>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>