<ons-page style="height: 100%; display: flex;">
  <ons-card class="job-detail-wrapper">
      <ons-row ng-hide="working" style="align-items: center; margin-bottom: 10px;">
        <ons-col>  
          <span class="job-detail-subtitle">
            <div style="display: flex; align-items: center;">
              <span style="padding-right: 10px;">
                <ui-select ng-model="job.mappedFilter" ng-disabled="loading" title="Filter by mapped status" class="no-search short" style="display: inline-block; vertical-align: middle;" ng-show="filteredCounts[2]&&filteredCounts[3]">
                    <ui-select-match style="white-space: nowrap;">{{$select.selected.Display}}</ui-select-match>
                    <ui-select-choices repeat="option in parent.mappedFilterOptions">
                        <div ng-bind="option.Display"></div>
                    </ui-select-choices>
                    <ui-select-no-choice>No options available.</ui-select-no-choice>
                </ui-select>
                 <ui-select ng-model="job.doneFilter" ng-disabled="loading" title="Filter other days by Done status" class="no-search short" style="display: inline-block; vertical-align: middle; ">
                    <ui-select-match style="white-space: nowrap;">{{$select.selected.Display}}</ui-select-match>
                    <ui-select-choices repeat="option in parent.doneFilterOptions">
                        <div ng-bind="option.Display"></div>
                    </ui-select-choices>
                    <ui-select-no-choice>No options available.</ui-select-no-choice>
                  </ui-select>
                    <ui-select ng-model="job.foremanFilter" ng-disabled="loading" title="Filter by assigned foreman" class="no-search short"  ng-if="job.DispatchWizardForemanFilterFlag" ng-show="job.hasForemenAssigned" style="display: inline-block; vertical-align: middle; min-width: 130px;">
                    <ui-select-match>{{$select.selected.FullName}}</ui-select-match>
                    <ui-select-choices repeat="option in parent.foremanFilterOptions">
                        <div style="{{option.bold?'font-weight: bold':''}}" ng-bind="option.FullName"></div>
                    </ui-select-choices>
                    <ui-select-no-choice>No options available.</ui-select-no-choice>
                </ui-select>
              </span>
            </div>
            <div style="display: flex; align-items: center; margin-top: 5px;">
              <ons-input class="flex on-white" type="text" ng-model="model.filterList" input-id="routeLocationFilter" ng-disabled="loading" title="Filter" placeholder="Filter"></ons-input>
              <ons-button modifier="quiet" class="icon-button" ng-click="clearFilter()" style="text-overflow: clip;" ng-disabled="!model.filterList"><ons-icon icon="ion-close"></ons-icon></ons-button>
            </div>
          </span> 
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working">
        <ons-col>
          <div class="filterCount">
            Showing <span class="count">{{ filteredCounts[0] }}</span> of <span class="count">{{ filteredCounts[1] }}</span> locations
          </div>
        </ons-col>
      </ons-row>
   </ons-card>
  <ons-list class="routing-locations">
    <ons-list-item modifier="longdivider" id="routing-loc-{{location.ID}}" ng-repeat="location in job.DispatchLocation | filter: filterLocations(filterList) track by location.ID" class="location {{location.LocationComplete?'done':''}} {{parent.isTempId(location.ID)?'new':''}}" data="{{parent.reset('rowIndex', $index); parent.reset('colIndex',0)}}"  tappable>
        <div class="left" ng-click="locatePin(location)">
          <ons-icon icon="ion-android-pin" ng-show="location.status=='map'" style="color: {{ location.LocationComplete?colors.complete:colors.uncomplete }};"></ons-icon>
          <ons-icon icon="ion-load-c" ng-show="location.status=='loading'" class="spin"></ons-icon>
          <ons-icon icon="ion-alert-circled" ng-show="location.status=='error'" style="color: #F00;"></ons-icon>
        </div>
        <div class="center canFade">
          <div>
            <b>{{ location.LocationLocationNumberChar }}</b>
            <div ng-if="location.LocationAddress && location.LocationAddress!=location.LocationLocationNumberChar">{{ location.LocationAddress}}</div>
            <div ng-if="location.LocationCity || location.LocationStateCode || location.LocationPostalCode">
              <span ng-if="location.LocationCity">{{ location.LocationCity }}<span ng-if="location.LocationStateCode || location.LocationPostalCode">, </span></span>
              <span ng-if="location.LocationStateCode">{{ location.LocationStateCode }}</span>
              <span ng-if="location.LocationPostalCode">{{ location.LocationPostalCode }}</span>
            </div>
          </div>
        </div>
        <div class="right right-buttons canFade">
          <div class="detail-buttons" style="width: auto !important;">
            <ons-button ng-click="editLocation(location)" modifier="quiet"><ons-icon icon="ion-edit"></ons-icon></ons-button>
          </div>
        </div>
    </ons-list-item>
  </ons-list>
</ons-page>