<ons-page style="height: 100%;" ng-controller="RoutingController" ons-hide="hidePage($event)" id="routingPage">
  <ons-toolbar>
    <div class="left">
      <ons-back-button id="routing-back-button" ng-disabled="loading"></ons-back-button>
    </div>
    <div class="center">
      Job Route
    </div>
    <div class="right" ng-cloak>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-tabbar position="auto" var="routingTabbar" ng-cloak tabbar-fix ons-postchange="changeTab($event)">
      <ons-tab active label="Map" page="app/mapping/route-map.html"></ons-tab>
      <ons-tab label="Locations" page="app/mapping/route-locations.html"></ons-tab>
  </ons-tabbar>
</ons-page>