<ons-page style="height: 100%; display: flex;" class="fix">
  <div class="centerVertical" ng-show="working">
     <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <div id="routing-map" style="flex: 1; height: 100%; width: 100%; opacity: {{working?'0':'1'}}"></div>
  <div class="mapPopup popover popover--material {{contextMenu?'no-selection':''}}" id="routePopup" ng-hide="working">
    <div class="popover__content popover--material__content" style="display: flex; flex-direction: column;">
      <div class="flex" ng-show="popupLocation">
        <ons-button class="icon-button" style="{{popupLocation.hasPhoto?'':'color:#ccc;'}} float: right; font-size: 25px;" ng-click="parent.locationPhotos(popupLocation, 'PH')" modifier="quiet" ng-hide="(!popupLocation.hasPhoto&&popupLocation.hasDocument)" ng-if="job.DispatchWizardLocationPhotosFlag"><ons-icon icon="ion-image"></ons-icon></ons-button>
        <ons-button class="icon-button" style="float: right; font-size: 25px;" ng-click="parent.locationPhotos(popupLocation, 'DO')" tabindex="-1" ng-if="popupLocation.hasDocument" modifier="quiet"><ons-icon icon="ion-document"></ons-icon></ons-button>

        <b>{{ popupLocation.LocationLocationNumberChar }}</b>
        <div ng-if="popupLocation.LocationAddress && popupLocation.LocationAddress!=popupLocation.LocationLocationNumberChar">{{ popupLocation.LocationAddress}}</div>
        <div ng-if="popupLocation.LocationCity || popupLocation.LocationStateCode || popupLocation.LocationPostalCode">
          <span ng-if="popupLocation.LocationCity">{{ popupLocation.LocationCity }}<span ng-if="popupLocation.LocationStateCode || popupLocation.LocationPostalCode">, </span></span>
          <span ng-if="popupLocation.LocationStateCode">{{ popupLocation.LocationStateCode }}</span>
          <span ng-if="popupLocation.LocationPostalCode">{{ popupLocation.LocationPostalCode }}</span>
        </div>
        <div class="inexact-address-warning" style="margin-top: 5px;" ng-show="popupLocation.LocationInexactAddressMatch">
          This address is not an exact match
        </div>
      </div>
      <div style="display: flex; margin-top: 5px;" ng-show="popupLocation">
        <ons-button ng-click="nav(popupLocation)"><ons-icon icon="ion-android-navigate"></ons-icon> Navigate</ons-button>
        <ons-button ng-click="editLocation(popupLocation)" modifier="quiet"><ons-icon icon="ion-edit"></ons-icon> Values </ons-button>
      </div>
      <div class="flex" ng-show="contextMenu">
        <b>{{ contextMenu.lat | number:5 }}, {{ contextMenu.lon | number:5 }}</b>
      </div>
      <div style="display: flex;" ng-show="contextMenu">
        <ons-button ng-click="searchCoords()"><ons-icon icon="ion-search"></ons-icon> Search Here</ons-button>
      </div>
    </div>
    <div class="popover__arrow popover--bottom__arrow"></div>
  </div>
</ons-page>