<ons-alert-dialog style="z-index: 100000;" class="expanded" cancelable>
    <div class="alert-dialog-title">
      Location
      <ons-button class="icon-button" style="{{location.hasPhoto?'':'color:#ccc;'}} float: right; font-size: 25px;" ng-click="parent.locationPhotos(location, 'PH')" modifier="quiet" ng-hide="(!location.hasPhoto&&location.hasDocument)" ng-if="job.DispatchWizardLocationPhotosFlag"><ons-icon icon="ion-image"></ons-icon></ons-button>
      <ons-button class="icon-button" style="float: right; font-size: 25px;" ng-click="parent.locationPhotos(location, 'DO')" tabindex="-1" ng-if="location.hasDocument" modifier="quiet"><ons-icon icon="ion-document"></ons-icon></ons-button>
    </div>    
    <div class="alert-dialog-content location {{location.LocationComplete?'done':''}} {{parent.isTempId(location.ID)?'new':''}}" ng-if="location" style="display: flex; flex-direction: column;">
      <div style="flex-grow: 1; overflow-y: auto; ">
        <div class="entry date {{ parent.getRequiredClass(location.WorkDate) }} form-row">
          <input type="date" class="no-white form-input form-row-item {{ job.CompleteDate&&location.WorkDate.getTime()==job.CompleteDate.getTime()?'todays-date':'' }} {{location.HasBilled?'billed':''}}" ng-model="location.WorkDate" ng-disabled="loading||location.LocationComplete||job.IsReadOnly" title="Date" placeholder="Date" ng-change="parent.changeField('WorkDate', location)" ons-class="text-input">
          <label>
            <ons-checkbox ng-model="location.LocationComplete" ng-disabled="loading||job.IsReadOnly||(location.LocationComplete&&location.HasBilled)" ng-change="parent.checkComplete(location)"></ons-checkbox>
            Complete
          </label>
        </div>
        <div ng-repeat="field in job.DispatchField | filter:{VisibleFlag: true,ColumnName:'!Address'}" class="entry left dispatch-field form-row {{ field.class }} dispatch-field-{{field.DispatchWizardFieldID}} {{ parent.getRequiredClass(location[field.key], field) }}">
          <div class="fake-tr">
            <span class="fake-td form-label">{{ ::field.Name }}</span>
            <span class="fake-td form-input">
              <input style="width: 100%" type="text" ng-model="location[field.key]" maxlength="255" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||(!field.EditableFlag&&!parent.isTempId(location.ID))" title="{{field.Name}}" placeholder="{{field.Name}}" click-select on-change="parent.changeField(field.ColumnName, $parent.location)" ons-class="text-input">
            </span>
          </div>
        </div>
        <div ng-repeat="field in location.LocationField | filter:parent.filterLocationsFields() | orderBy:'order'" class="{{job.fields[field.DispatchJobFieldID].TypeCode.toLowerCase()}} custom-field left field-{{field.DispatchJobFieldID}} {{ parent.getRequiredClass(field.FieldValue, field) }} {{ parent.getTakenClass(field) }} {{field.Billed?'billed':''}} form-row {{'RADIO'==job.fields[field.DispatchJobFieldID].TypeCode?'emphasize-value':''}}">
          <div class="fake-tr">
            <span class="fake-td form-label" ng-if="'CHAR'!=job.fields[field.DispatchJobFieldID].TypeCode">{{ ::job.fields[field.DispatchJobFieldID].Name }}</span>
            <span class="{{'CHAR'!=job.fields[field.DispatchJobFieldID].TypeCode?'fake-td form-input':''}}">
              <!-- Number and dollars -->
              <input type="text" style="width: 100%" ng-if="['NUM','DOL'].includes(job.fields[field.DispatchJobFieldID].TypeCode)" ng-model="field.FieldValue" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed" formatted-number-input="{decimals:{{job.fields[field.DispatchJobFieldID].Decimals}},prefix:'{{job.fields[field.DispatchJobFieldID].TypeCode=='DOL'?'$':''}}',round:{{job.fields[field.DispatchJobFieldID].round}},focusClick:false}" title="{{job.fields[field.DispatchJobFieldID].Name}}" placeholder="{{job.fields[field.DispatchJobFieldID].Name}}" on-change="parent.changeField(field, $parent.location)" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" inputmode="numeric" autocapitalize="words">
              <!-- Dropdown -->
              <div ng-if="'DROP'==job.fields[field.DispatchJobFieldID].TypeCode" class="select-wrap" style="padding-left: 3px">
                <select style="width: 100%" ng-focus="tempEvent=$event" ng-model="field.option" placeholder="{{job.fields[field.DispatchJobFieldID].Name}}" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed" title="{{job.fields[field.DispatchJobFieldID].Name}}" ng-change="parent.selectOption(field, location, tempEvent)" ng-options="option.Display for option in job.fields[field.DispatchJobFieldID].FieldOption track by option.DispatchJobFieldOptionID" ons-class="text-input">
                </select>
              </div>
              <!-- Radio -->
              <div class="form-input" ng-if="'RADIO'==job.fields[field.DispatchJobFieldID].TypeCode" watch-model="field.option" watch-change="parent.selectOption(field, location)">
                <label ng-repeat="option in job.fields[field.DispatchJobFieldID].FieldOption" class="{{field.option===option?'checked':''}} float-left">
                  <ons-radio input-helper helper-ng-model="field.option" helper-ng-value="option" ng-checked="field.option===option" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed" title="{{job.fields[field.DispatchJobFieldID].Name}}" name="radio-{{field.DispatchLocationFieldID}}"></ons-radio> {{ option.Display }}
                </label>
              </div>
              <!-- Checkbox -->
              <label ng-if="'CHECK'==job.fields[field.DispatchJobFieldID].TypeCode" title="{{job.fields[field.DispatchJobFieldID].Name}}">
                <ons-checkbox ng-model="field.FieldValue" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed" ng-change="parent.changeField(field, location)"></ons-checkbox>
              </label>
              
              <!-- Character -->
              <textarea style="width: 100%; height:50px;" ng-if="'CHAR'==job.fields[field.DispatchJobFieldID].TypeCode" ng-model="field.FieldValue" ng-disabled="loading||location.LocationComplete||job.IsReadOnly||field.Billed" title="{{job.fields[field.DispatchJobFieldID].Name}}" placeholder="{{job.fields[field.DispatchJobFieldID].Name}}" on-change="parent.changeField(field, $parent.location)"></textarea>
            </span>
          </div>
     </div>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <div class="{{ons.platform.isIOS()?'alert-dialog-footer--rowfooter':''}}">
      <ons-button ng-click="delete()" class="alert-dialog-button alert-dialog-button--rowfooter left" ng-disabled="loading||location.HasBilled" modifier="quiet"><span class="ion-trash-b"></span> Delete</ons-button>
      <ons-button ng-click="editAddress()" class="alert-dialog-button alert-dialog-button--rowfooter left" ng-disabled="loading" modifier="quiet"><span class="ion-android-locate"></span> Address</ons-button>
    </div>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="close()">Close</ons-button>
  </div>
</ons-alert-dialog>