<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: blob: ws: wss: gap://ready file://*; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="lib/polyfills.js"></script>
  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="lib/onsenui/js/onsenui.js"></script>
  <script>
    ons.disableAutoStatusBarFill();
  </script>
  <script type="text/javascript" src="lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="lib/angular/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="lib/angular/select.js"></script>
  <script type="text/javascript" src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <link rel="stylesheet" href="lib/angular/selectize.css">
  <link rel="stylesheet" href="lib/angular/select.min.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="css/onsen-css-components.css">
  <link rel="stylesheet" href="lib/osm/ol.css" type="text/css">
  <script src="lib/osm/ol.js"></script>
  <script src="config.js"></script>
</head>
<body class="{{ons.platform.isAndroid()?'android':'ios'}}" ons-class="body" style="will-change: transform;">
  <div class="load-container">
    <div class="loader"></div>
  </div>

  <ons-navigator var="mainNav" ng-controller="AppController as app"></ons-navigator>


<ons-modal direction="up" var="mainModal">
  <div style="text-align: center">
    <p>
      <ons-icon icon="ion-load-c" size="28px" spin></ons-icon> {{ modalText }}
    </p>
  </div>
</ons-modal>

  <!-- <upro-template ng-include src="'app/basic-templates.html'"></upro-template> -->
<ons-template id="home.html">
  <ons-page style="height: 100%;" ng-controller="HomeController">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        UnitsPro
      </div>
    </ons-toolbar>
    <div class="centerVertical" ng-show="working">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>

    <ons-list-title>Modules</ons-list-title>
    <ons-list ng-hide="working">      
      <ons-list-item modifier="chevron longdivider" tappable="true" ng-repeat="module in modules" ng-click="goToModule(module)">{{ module.title }}</ons-list-item>
    </ons-list>
    <help-button ng-if="env == 'demo'"></help-button>
  </ons-page>
</ons-template>

<ons-template id="job-list-host.html">
    <ons-page style="height: 100%;" ng-controller="JobListHostController" ng-init="init()">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center" ng-show="loaded">
          {{ title }}
        </div>
        <div class="right" ng-cloak>
          <ons-toolbar-button ng-show="openingJob">
            <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="centerVertical" ng-show="working||!hasJobs">
        <ons-progress-circular indeterminate="true" ng-show="working"></ons-progress-circular>
        <div ng-hide="working">No jobs available.</div>
      </div>
      <ons-tabbar position="auto" var="tabbar" ng-style="(working||!hasJobs)?{'visibility':'hidden'}:{}" class="{{(module.options.hideTab&&data.tabs.length<2)?'no-tabs':''}}" ng-cloak tabbar-fix>
          <ons-tab ng-repeat="tab in data.tabs" label="{{ tab.title }}" page="job-list.html" ng-style="styles.tab"></ons-tab>
      </ons-tabbar>
      <help-button ng-if="env == 'demo'"></help-button>
    </ons-page>
</ons-template>

<ons-template id="job-list.html">
    <ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;">
      <div class="centerVertical" ng-show="working">
        <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
      <ons-list>
        <ons-list-item tappable modifier="longdivider" ng-repeat="job in tab.jobs" on-click="openJob(job, tab)" on-long-press="jobOnLongPress(job, tab)" ng-class="openingJob?'faded':''">
          <div class="left">{{ getJobNumber(job) }}
            <div class="dispatch-badge" ng-if="job.DispatchWizards">{{ job.DispatchWizards[0].name }}</div>
            <div class="job-and-org"><span class="org">{{ getOrg(job) }}</span>{{ getOtherJobNumber(job) }}</div>
            <span class="notification" ng-show="job.badge">{{ job.badge }}</span>
            <span class="notification red" ng-show="job.redBadge">{{ job.redBadge }}</span>
          </div>
          <div class="right">
             <span class="if-480 job-list-description">{{ job.Description }}</span>
             <ons-button style="margin-left: 8px;padding-right: 10px; padding-left: 10px; margin-top: -10px;margin-bottom: -10px;" ng-show="module.key == 'Completion' && job.HasUnapprovedTime===false && job.Incomplete === false" on-click="fieldCompleteJob(job, $event)" modifier="quiet">
                <ons-icon icon="ion-flag"></ons-icon>
             </ons-button>
             <span style="color: #f97c00; display: inline-block; padding-left: 8px;" ng-show="module.key == 'Completion' && job.CJDDLocked">
                <ons-icon ng-attr-icon="{{job.CJDDLocked=='M'?'ion-android-people':'ion-locked'}}"></ons-icon>
             </span>
          </div>
        </ons-list-item>
      </ons-list>
    </ons-page>
</ons-template>

<ons-template id="comment-dialog.html">
    <ons-alert-dialog style="z-index: 100001;" class="expanded">
      <div class="alert-dialog-title">{{ model.title }}</div>
      <div class="alert-dialog-content" style="margin: 10px 0 10px 0;">
        <div ng-show="model.otherHTML" ng-bind-html="model.otherHTML" style="margin-bottom: 10px; font-size: 14px; max-height: 90px; overflow-y: auto;"></div>
        <textarea class="textarea" rows="3" placeholder="{{model.placeholder}}" ng-model="model.comment" style="width: 100%" ng-disabled="model.disabled"></textarea>
        <div style="margin: 5px 0px">
           <ons-button ng-show="model.selectItems && !model.selectItems.items" modifier="quiet" class="forgot-password" ng-click="model.selectItems.callback()">
              <ons-icon icon="ion-checkmark-circled" class="camera-icon"></ons-icon> Select Items
           </ons-button>
           <div ng-show="model.selectItems.items">
            {{ model.selectItems.items.length }} Selected
           </div>
          
           <ons-button ng-show="model.useCamera && !model.photoUrl" modifier="quiet" class="forgot-password" ng-click="openCamera()">
              <ons-icon icon="ion-camera" class="camera-icon"></ons-icon> Camera
           </ons-button>
           <ons-button ng-show="model.useCamera && !model.photoUrl" modifier="quiet" class="forgot-password" ng-click="openCamera(0)">
              <ons-icon icon="ion-image" class="camera-icon"></ons-icon> Choose
           </ons-button>
           <div ng-show="model.photoUrl">
              <ons-button style="margin: 10px; float: right;" ng-click="removePhoto()">Remove</ons-button>
              <div class="camera-thumbnail" ng-style="{'background-image':'url('+model.photoUrl+')'}"></div>
           </div>
         </div>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" ng-disabled="!model.comment && model.requireComment" ng-show="model.buttons.accept" class="alert-dialog-button" ng-click="accept(model.comment, model.photoUrl)">{{model.buttons.accept}}</ons-button>
        <ons-button modifier="quiet" ng-disabled="!model.comment && model.requireComment" ng-show="model.buttons.reject" class="alert-dialog-button" ng-click="reject(model.comment, model.photoUrl)">{{model.buttons.reject}}</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="cancel(model.comment, model.photoUrl)">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="upload-dialog.html">
    <ons-alert-dialog style="z-index: 100001;" class="expanded" cancelable>
      <div class="alert-dialog-title">{{ model.title }}</div>
      <div class="alert-dialog-content" style="margin: 10px 0 10px 0;" data-istagged="{{model.tagged = isPhotoTagged(model.description)}}">
        <div style="margin: 5px 0px">
            <ons-button ng-show="!model.photoUrl" modifier="quiet" class="forgot-password" ng-click="openCamera()">
              <ons-icon icon="ion-camera" class="camera-icon"></ons-icon> Camera
           </ons-button>
           <ons-button ng-show="!model.photoUrl" modifier="quiet" class="forgot-password" ng-click="openCamera(0)">
              <ons-icon icon="ion-image" class="camera-icon"></ons-icon> Choose Photo
           </ons-button>
           <div ng-show="model.photoUrl">
              <ons-button style="margin: 10px; float: right;" ng-click="removePhoto()">Remove</ons-button>
              <div class="camera-thumbnail" ng-style="{'background-image':'url('+model.photoUrl+')'}"></div>
           </div>
         </div>
         <div ng-show="model.otherHTML" ng-bind-html="model.otherHTML" style="margin-bottom: 10px; font-size: 14px; max-height: 90px; overflow-y: auto;"></div>
         <div ng-if="model.tags&&model.tags.length" style="padding-top: 10px; padding-bottom: 5px; overflow-x: auto; overflow-y: visible; white-space: nowrap;">
           <ons-button ng-repeat="tag in model.tags" class="comment-tag {{tag.Text==model.description?'':'unselected'}}" ng-click="chooseTag(tag)">{{ tag.Text }}</ons-button>
         </div>
        <textarea class="textarea" rows="3" placeholder="{{model.placeholder}}" ng-model="model.description" style="width: 100%" ng-hide="model.tagOnly||model.noCaption"></textarea>
      </div>
      <div class="alert-dialog-footer">
        <ons-button modifier="quiet" ng-disabled="!model.photoUrl || (!model.description && model.requireDescription)" class="alert-dialog-button" ng-click="save(model)">{{ model.saveLabel }}</ons-button>
        <ons-button modifier="quiet" class="alert-dialog-button" ng-click="cancel()">Cancel</ons-button>
      </div>
   </ons-alert-dialog>
</ons-template>

<ons-template id="image-viewer-modal.html">
    <ons-dialog class="img-modal-dialog" style="z-index: 900001;" cancelable>
      <div class="dialog-content" data-istagged="{{model.tagged = isPhotoTagged(model.caption)}}">
        <div class="centerVertical">
          <span ng-show="model.loading" style="background-color: #fff; border-radius: 10px; padding: 10px;">
            <ons-progress-circular  indeterminate="true"></ons-progress-circular>
          </span>
          <div ng-hide="model.loading" style="height: auto; min-height: 50px; text-align: center; background-color: #fff; overflow-y: auto;">
            <ons-button ng-click="close()" class="fade-transition {{model.showControls?'':'hide'}}" style="position: absolute; right: 0px; font-size: 20px; color: #fff;" modifier="quiet">
              <ons-icon icon="ion-close" style="text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);"></ons-icon>
            </ons-button>
            <ons-button ng-click="delete()" class="fade-transition {{model.showControls?'':'hide'}}" style="position: absolute; left: 0px; font-size: 20px; color: #fff;" modifier="quiet" ng-if="delete">
              <ons-icon icon="ion-trash-b" style="text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);"></ons-icon>
            </ons-button>
            <img ng-show="model.init" ng-src="{{model.src}}" img-load="loadDone()" style="display: block; margin: auto; min-height: 100px;" ng-click="toggleControls()" />
            <div class="fade-transition {{model.showControls?'':'hide'}}" style="position: absolute; height: auto; bottom: 0px; left: 0px; width: 100%; font-size: 16px; color: #fff; text-shadow: 0px 0px 5px rgba(0, 0, 0, 1); {{model.caption||model.editing?'background-color: rgba(0,0,0,0.4);':''}}">
              <table style="width: 100%"><tr><td style="width: 100%; text-align: left; padding-left: 10px; {{!model.key||!model.editable?'padding-top: 5px;padding-bottom: 5px;':''}}">
                  <span ng-show="model.caption && !model.editing">{{ model.caption }}</span>
                  <form ng-submit="saveCaption()">
                    <div ng-if="model.tags&&model.tags.length&&model.editing" style="padding-top: 5px;padding-bottom: 10px; overflow-x: auto; overflow-y: visible; white-space: nowrap;">
                     <ons-button ng-repeat="tag in model.tags" class="comment-tag {{tag.Text==model.caption?'':'unselected'}}" ng-click="chooseTag(tag)">{{ tag.Text }}</ons-button>
                   </div>
                    <input id="img-modal-edit" style="font-size: 16px; width: 100%; margin-bottom: 5px;" class="transparent-white" type="text" ng-model="model.caption" ng-hide="!model.editing||model.tagOnly" placeholder="Enter a description" ng-disabled="model.saving" maxlength="100">
                  </form>
                </td>
                <td style="width: 1px" ng-show="model.key&&model.editable">
                  <ons-button ng-click="editCaption()" style="font-size: 20px; color: #fff;" modifier="quiet" ng-hide="model.editing">
                    <ons-icon icon="ion-edit" style="text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);"></ons-icon>
                  </ons-button>
                  <ons-button ng-click="saveCaption()" style="font-size: 20px; color: #fff;" modifier="quiet" ng-show="model.editing&&!model.saving">
                    <ons-icon icon="ion-checkmark" style="text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);"></ons-icon>
                  </ons-button>
                  <div style="font-size: 20px; color: #fff; padding: 0 16px" modifier="quiet" ng-show="model.saving">
                    <ons-icon icon="ion-load-b" class="spin" style="text-shadow: 0px 0px 5px rgba(0, 0, 0, 1); line-height: 0.75em !important; vertical-align: -25% !important;"></ons-icon>
                  </div>
              </td></tr></table>
            </div>
          </div>
        </div>
      </div>
   </ons-dialog>
</ons-template>

<ons-template id="alert-dialog.html">
  <ons-alert-dialog>
    <div class="alert-dialog-title">{{ model.title }}</div>
    <div class="alert-dialog-content preserve-default" ng-bind="model.content" ng-show="model.content"></div>
    <div class="alert-dialog-content preserve-default" ng-bind-html="model.html" ng-show="model.html"></div>
    <div class="alert-dialog-footer">
      <button class="alert-dialog-button" ng-click="clickButton(button)" ng-repeat="button in model.buttons">{{button.label}}</button>
    </div>
  </ons-alert-dialog>
</ons-template>

<ons-template id="messages.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Messages
        </div>
      </ons-toolbar>
      <ons-if platform="android">
          <ons-fab position="bottom right">
          <ons-icon
            icon="md-plus">
          </ons-icon>
        </ons-fab>
      </ons-if>
    </ons-page>
</ons-template>


<ons-template id="profile.html">
    <ons-page ng-controller="ProfileController">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Profile
        </div>
      </ons-toolbar>

      <div class="profile-card">
        <div class="profile-image">
            <ons-icon icon="fa-user" size="75px"></ons-icon>
        </div>
        <div class="profile-name">{{profile.Person.FirstName +' '+profile.Person.LastName}}</div>
        <div class="profile-id">{{profile.UserName}}</div>
        <div class="profile-desc">{{profile.EmailAddress}}</div>

      </div>

    </ons-page>
</ons-template>

<ons-template id="settings.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings
        </div>
      </ons-toolbar>
    </ons-page>
</ons-template>

<ons-template id="help.html">
    <ons-page ng-controller="HelpController" ons-show="showPage()" ons-hide="hidePage()">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Help
        </div>
      </ons-toolbar>
      <iframe src="http://mobile-help.unitspro.com" style="width: 100%; height: 100%;" id="helpFrame"></iframe>
    </ons-page>
</ons-template>


  <script src="app/app.js"></script>
  <script src="app/CommonServices.js"></script>
  <script src="app/AppCtrl.js"></script>
  <script src="app/HomeCtrl.js"></script>
  <script src="app/HelpCtrl.js"></script>
  <script src="app/JobListHostCtrl.js"></script>
  <script src="app/login/LoginCtrl.js"></script>
  <script src="app/docs/SpecDocsCtrl.js"></script>
  <script src="app/docs/OrgDocsCtrl.js"></script>
  <script src="app/inspect/InspectJobCtrl.js"></script>
  <script src="app/inspect/InspectLocationCtrl.js"></script>
  <script src="app/dialog/InfoDialogCtrls.js"></script>
  <script src="app/dialog/smartpick/SmartpickSearchCtrl.js"></script>
  <script src="app/dialog/reports/ReportsDialogCtrl.js"></script>
  <script src="app/dialog/uploads/UploadsDialogCtrl.js"></script>
  <script src="app/dialog/RentalEquipmentDialogCtrl.js"></script>
  <script src="app/dialog/AddTEJobDialogCtrl.js"></script>
  <script src="app/completework/CompleteJobCtrl.js"></script>
  <script src="app/completework/CompleteLocationCtrl.js"></script>
  <script src="app/timesheet/FTESaveService.js"></script>
  <script src="app/timesheet/TimeEntryService.js"></script>
  <script src="app/timesheet/TimesheetListHostCtrl.js"></script>
  <script src="app/timesheet/FTEWorkWeekCtrl.js"></script>
  <script src="app/timesheet/FTEWorkDayCtrl.js"></script>
  <script src="app/timesheet/TECompletionService.js"></script>
  <script src="app/timesheet/GTWorkWeekCtrl.js"></script>
  <script src="app/timesheet/GTWorkDayCtrl.js"></script>
  <script src="app/timesheet/TimesheetService.js"></script>
  <script src="app/addjob/ManagedContractsCtrl.js"></script>
  <script src="app/addjob/AddJobCtrl.js"></script>
  <script src="app/designjob/DesignJobCtrl.js"></script>
  <script src="app/designjob/DesignLocationCtrl.js"></script>
  <script src="app/receipts/ReceiptsCtrl.js"></script>
  <script src="app/receipts/EditReceiptCtrl.js"></script>
  <script src="app/dialog/VendorDialogCtrl.js"></script>
  <script src="app/dispatch/DispatchCtrl.js"></script>
  <script src="app/dispatch/DispatchService.js"></script>
  <script src="app/dispatch/DispatchSaveService.js"></script>
  <script src="app/mapping/RoutingCtrl.js"></script>
  <script src="app/hotels/HotelsCtrl.js"></script>
  <script src="app/hotels/HotelCtrl.js"></script>
  <script src="app/showup/ShowupSitesCtrl.js"></script>
  <script src="app/showup/ShowupLocationsCtrl.js"></script>
  <script src="app/dailyreport/DailyReportCtrl.js"></script>
</body>
</html>
