<ons-alert-dialog style="z-index: 100000;" class="expanded" cancelable>
  <div class="alert-dialog-title">Complete
    <ons-button modifier="quiet" style="float: right; font-size: 25px; color: #00f;" ng-click="openBulkComplete()" ng-hide="detail.isSummary||detail.PartialOnly">
      <ons-icon icon="ion-settings"></ons-icon>
    </ons-button>
  </div>
  <div class="alert-dialog-content">
     How many units? 
     <div>
      <input type="text" placeholder="Quantity" ng-model="qty" style="margin: 10px 0px 5px; width: 50%;" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" inputmode="decimal" autocapitalize="words">
     </div>
     <div style="font-size: 13px; font-style: oblique;">(<b>{{estimated | number:2}}</b> Estimated, <b>{{remaining | number:2}}</b> Remaining)</div>
    <ons-input type="text" placeholder="Comment" ng-model="detail.Comments" style="margin-top: 20px; width: 100%;"></ons-input>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" ng-hide="detail.CompletedToDate==0||detail.PartialOnly" class="alert-dialog-button" ng-click="uncomplete()" style="float: left; margin-left: 10px;">Uncomplete</ons-button>
    <ons-button modifier="quiet" ng-hide="detail.isSummary" ng-disabled="!qty || qty=='0' || (detail.PartialOnly && qty==remaining)" class="alert-dialog-button" ng-click="done(qty, false)">Partial</ons-button>
    <ons-button modifier="quiet" ng-disabled="!qty || qty=='0' || (commentRequired && !detail.Comments && detail.DesignQuantity != qty) || (detail.PartialOnly && qty!=remaining)" class="alert-dialog-button blue" ng-click="done(qty, true)">Complete</ons-button>
  </div>
</ons-alert-dialog>

