<ons-dialog style="z-index: 100000;" cancelable ng-controller="ReportsDialogController">
  <ons-toolbar class="fourty-four" inline>
    <div class="center" style="font-size: 16px;">Reports</div>
    <div class="right">
        <ons-toolbar-button ng-show="openingReport">
          <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
        </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div style="font-size: 14px">
    <ons-list>
      <ons-list-item modifier="longdivider" ng-repeat="report in reports" ng-click="openReport(report)" tappable>
        <div class="left">
          {{ report.Name }}
        </div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-dialog>
