<ons-dialog style="z-index: 100005;" cancelable class="expanded scrollable-dialog contains-select">
  <ons-toolbar style="flex-shrink: 0;" inline class="fourty-four">
    <div class="center" style="font-size: 16px;">Address Lookup</div>
    <div class="right">
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="loading" ng-click="executeSearch()" ng-disabled="!form.address.trim()||(form.postal.length<5&&!form.city.trim()&&!form.state)">
        <ons-icon icon="ion-search" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <form class="smartpick-search" ng-submit="executeSearch()" style="flex-shrink: 0;">
    <div class="smartpick-search-basic">
      <div class="row" style="margin-top: 5px;">
        <input type="text" ng-model="form.address" placeholder="Street address..." autocomplete="off" ons-class="text-input" style="width: 100%;"></input>
      </div>
      <div class="row">
        <input type="text" ng-model="form.city" autocomplete="off" ons-class="text-input" placeholder="City" style="flex: 2 1 auto;"></input>
        <ui-select ng-model="form.state" tagging="null" style="margin-left: 3px; width: 80px;">
          <ui-select-match>
              <span ng-bind="$select.selected.Code"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in data.State | propsFilter: {Code:$select.search} track by item.Code">
              <div ng-bind-html="item.Code | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>No state available.</ui-select-no-choice>
        </ui-select>
        <input type="text" ng-model="form.postal" max-length="5" autocomplete="off" ons-class="text-input" placeholder="Zip" style="flex: 1 1.5 auto;"></input>
      </div>
      <button type="submit" ng-hide="1"></button>
    </div>
  </form>
  <ons-list style="overflow: auto; transform: translate(0,0);" class="flex">
    <ons-list-item modifier="longdivider" ng-repeat="item in items" ng-click="selectItem(item)" style="font-size: 14px;" tappable ng-hide="loading">
      <div style="width: 100%; padding-right: 16px;">
        <div style="font-weight: bold; width: 100%;">
          {{ item.Address }}          
        </div>
        <div>
         {{ item.City }}<span ng-if="item.City&&item.State">, </span>{{ item.State }} {{ item.PC }}
        </div>
        <div class="inexact-address-warning" style="margin-top: 3px;" ng-show="item.Part">
          This address is not an exact match
        </div>
      </div>
    </ons-list-item>
    <div style="padding: 20px; text-align: center; color: #ccc; font-style: oblique; font-size: 13px;" ng-show="!items.length||loading||!showItems">
      <div ng-show="!loading && showItems">
        No matching address found for your search criteria.
      </div>
      <div ng-show="!loading && !showItems">
        Use the button in the title bar to execute the address search.
      </div>
      <div ng-show="loading">
        <div class="centerVertical">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
      </div>
    </div>
  </ons-list>
</ons-dialog>

