<ons-page style="height: 100%;" ng-controller="ReceiptsController" ng-init="init()">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.toggle()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center" ng-show="loaded">
      {{ title }}
    </div>
    <div class="right" ng-cloak>
      <ons-toolbar-button ng-hide="working || openingReceipt" ng-click="addReceipt()"><ons-icon icon="ion-plus"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="openingReceipt">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true" ng-show="working"></ons-progress-circular>
  </div>
  <ons-tabbar position="auto" var="receiptsTabbar" ng-cloak tabbar-fix>
      <ons-tab label="My Receipts" page="app/receipts/receipt-list.html"></ons-tab>
      <ons-tab label="By Job" page="app/receipts/job-search.html"></ons-tab>
  </ons-tabbar>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>