<ons-page class="login-page" ng-controller="ForgotPasswordController">
     <div class="login-form" ng-hide="init">
        <ons-card>
            <h3>Forgot Password</h3>
            <p style="font-size: small;" class="job-detail-wrapper">Enter your username and we&apos;ll send a reset link to the email address attached to your account.</p>
            <br>
            <ons-input type="text" placeholder="Username" value="" autocapitalize="none" ng-model="username" ng-disabled="working" class="on-white"></ons-input>
            <br>
            <ons-button modifier="large" class="login-button" ng-click="submit()" ng-disabled="working">
                <ons-icon ng-show="working" icon="fa-circle-o-notch" spin="true"></ons-icon>
                {{button}}
            </ons-button>
            <br><br>
            <ons-button modifier="quiet" class="forgot-password" ng-disabled="working" ng-click="cancel()">Cancel</ons-button>
        </ons-card>
    </div>
</ons-page>
