<ons-page class="login-page" ng-controller="ResetPasswordController" ons-show="show()">
     <div class="login-form" ng-hide="init">
        <ons-card>
            <h3>Reset Password</h3>
            <p style="font-size: small;" class="job-detail-wrapper">Enter your new pasword</p>
            <br>
            <ons-input type="password" placeholder="New Password" value="" ng-model="password" ng-disabled="working" class="on-white"></ons-input>
            <ons-input type="password" placeholder="Verify Password" value="" ng-model="verifyPassword" ng-disabled="working" class="on-white"></ons-input>
            <br>
            <ons-button modifier="large" class="login-button" ng-click="reset()" ng-disabled="working">
                <ons-icon ng-show="working" icon="fa-circle-o-notch" spin="true"></ons-icon>
                {{button}}
            </ons-button>
            <ons-button modifier="quiet" class="forgot-password" ng-disabled="working" ng-click="cancel()">Cancel</ons-button>
        </ons-card>
    </div>
</ons-page>


