<ons-alert-dialog style="z-index: 100000;" class="expanded scrollable-dialog" cancelable>
  <div class="alert-dialog-title">{{data.title}}</div>
  <div class="alert-dialog-content no-padding">
    <div style="overflow: auto;">
      <table class="timesheet-main row-lines" ons-class="list">
        <thead class="timesheet-header" ons-class="list-header">
          <th class="timesheet-summary-col left nowrap">Person</th>
          <th class="timesheet-summary-col">No Room?</th>
          <th class="timesheet-summary-col nowrap" ng-if="data.type=='day'&&data.hotel.length">Hotel</th>
          <th class="timesheet-summary-col nowrap" ng-if="data.hotel.length&&data.room.length">Room</th>
        </thead>
        <tbody>
          <tr ng-repeat="person in data.person" ons-class="list-item" class="hotel-room-occupants {{person.handled?'available':''}}">
            <td class="timesheet-summary-col nowrap smaller left {{person.isMyCrew&&data.myCrew?'blue-button':''}} {{person.id==data.me?'timesheet-bold':''}}">{{ ::person.name }}</td>
            <td class="timesheet-summary-col">
              <label class="grid-label">
                <ons-checkbox ng-model="person.noRoom" ng-disabled="loading" ng-change="changeNoRoom(person)"></ons-checkbox>
              </label>
            </td>
            <td class="timesheet-summary-col nowrap smaller" ng-if="data.type=='day'&&!person.noRoom&&data.hotel.length">
              <div class="select-wrap">
                <select ng-model="person.hotel" placeholder="Hotel" ng-disabled="loading" title="Hotel" ng-change="changeHotel(person)" ng-options="hotel.name for hotel in data.hotel" ons-class="text-input" class="no-white">
                </select>
              </div>
            </td>
            <td class="timesheet-summary-col nowrap smaller" colspan="{{data.type=='day'&&person.noRoom&&data.hotel.length?2:1}}" ng-if="data.hotel.length&&data.room.length">
              <div class="select-wrap" style="{{person.noRoom?'visibility: hidden;':'';}}">
                <select ng-model="person.room" placeholder="Room" ng-disabled="loading||!person.hotel" title="Room" ng-change="changeRoom(person)" ng-options="room.num for room in data.room[person.hotel.index]" ons-class="text-input" class="no-white {{person.room.receipt?'hotel-members-accounted':'hotel-members-unaccounted'}}">
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()">Close</ons-button>
  </div>
</ons-alert-dialog>