<ons-page class="login-page" ng-controller="LoginController" ons-show="show()">
     <form id="login-form" class="login-form" ng-hide="init" ng-submit="login()">
        <ons-card>
            <svg
               xmlns:dc="http://purl.org/dc/elements/1.1/"
               xmlns:cc="http://creativecommons.org/ns#"
               xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
               xmlns:svg="http://www.w3.org/2000/svg"
               xmlns="http://www.w3.org/2000/svg"
               width="104.32001mm"
               height="19.398945mm"
               viewBox="0 0 104.32001 19.398945"
               version="1.1"
               id="svg8">
              <defs
                 id="defs2" />
              <g
                 id="layer1"
                 transform="translate(-19.761821,-67.517322)">
                <g
                   aria-label="UNITS"
                   style="font-style:normal;font-weight:normal;font-size:18.27622414px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.4569056"
                   id="text839">
                  <path
                     d="M 28.266334,67.87315 H 32.299953 V 75.672672 Q 32.299953,76.832784 31.934072,77.86796 31.577115,78.894213 30.800732,79.670596 30.033273,80.438054 29.185499,80.750392 28.00754,81.187665 26.356611,81.187665 25.40175,81.187665 24.26841,81.053806 23.143994,80.919947 22.385459,80.527294 21.626924,80.125717 20.993325,79.393954 20.368649,78.662191 20.136627,77.885808 19.761821,76.636457 19.761821,75.672672 V 67.87315 H 23.795441 V 75.860074 Q 23.795441,76.930947 24.384421,77.537775 24.982325,78.135678 26.035349,78.135678 27.07945,78.135678 27.66843,77.546699 28.266334,76.948795 28.266334,75.860074 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path911" />
                  <path
                     d="M 35.021755,67.87315 H 38.79658 L 43.722594,75.110464 V 67.87315 H 47.533115 V 80.955643 H 43.722594 L 38.823352,73.771873 V 80.955643 H 35.021755 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path913" />
                  <path
                     d="M 50.397699,67.87315 H 54.449167 V 80.955643 H 50.397699 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path915" />
                  <path
                     d="M 56.421355,67.87315 H 68.709617 V 71.103616 H 64.586758 V 80.955643 H 60.544214 V 71.103616 H 56.421355 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path917" />
                  <path
                     d="M 69.842958,76.627533 73.689175,76.386587 Q 73.81411,77.3236 74.197839,77.814417 74.822515,78.608647 75.982627,78.608647 76.848249,78.608647 77.312294,78.20707 77.785262,77.796569 77.785262,77.261133 77.785262,76.752468 77.339065,76.350891 76.892868,75.949314 75.268712,75.592356 72.609378,74.994452 71.476038,74.003895 70.333774,73.013338 70.333774,71.478421 70.333774,70.470016 70.91383,69.577622 71.50281,68.676305 72.671846,68.16764 73.849806,67.650052 75.893387,67.650052 78.401014,67.650052 79.712833,68.587065 81.033575,69.515155 81.283446,71.549813 L 77.472924,71.772911 Q 77.321217,70.889441 76.830401,70.487864 76.348508,70.086287 75.49181,70.086287 74.786819,70.086287 74.429862,70.389701 74.072904,70.684191 74.072904,71.11254 74.072904,71.424877 74.367394,71.674748 74.65296,71.933542 75.723833,72.15664 78.374242,72.727772 79.516506,73.316752 80.667694,73.896808 81.185282,74.76243 81.711795,75.628052 81.711795,76.698924 81.711795,77.9572 81.015728,79.019148 80.31966,80.081097 79.070309,80.634381 77.820958,81.178741 75.920159,81.178741 72.582607,81.178741 71.29756,79.893694 70.012513,78.608647 69.842958,76.627533 Z"
                     style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-family:'arial black';-inkscape-font-specification:'arial black,  Heavy';stroke-width:0.4569056"
                     id="path919" />
                </g>
                <path
                   style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:medium;line-height:1.25;font-family:'arial black';-inkscape-font-specification:'arial black, Heavy';letter-spacing:0px;word-spacing:0px;fill:#e87600;fill-opacity:1;stroke:none;stroke-width:0.4569056"
                   d="M 83.924075,67.740048 V 70.399317 H 94.860358 C 94.686862,69.750458 94.377125,69.211534 93.928117,68.78443 93.202301,68.088362 92.107603,67.740048 90.644079,67.740048 Z M 83.924075,73.317486 V 80.822452 H 87.984292 V 75.967975 H 90.197595 C 91.827701,75.967975 93.038675,75.596455 93.82993,74.852795 94.279055,74.433835 94.596563,73.919605 94.792661,73.317486 Z"
                   id="path880" />
                <path
                   style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:medium;line-height:1.25;font-family:'arial black';-inkscape-font-specification:'arial black, Heavy';letter-spacing:0px;word-spacing:0px;fill:#e87600;fill-opacity:1;stroke:none;stroke-width:0.4569056"
                   d="M 97.202851,67.740048 V 70.399317 H 108.90188 C 108.80356,69.975571 108.6387,69.593941 108.40268,69.25727 107.99813,68.674236 107.46574,68.27565 106.80537,68.061475 106.14499,67.847302 105.18977,67.740048 103.94042,67.740048 Z M 97.202851,73.317486 V 80.822452 H 101.26359 V 75.512695 H 101.62015 C 101.98901,75.512695 102.31928,75.614285 102.61079,75.816555 102.82496,75.971235 103.06886,76.307175 103.34253,76.824765 L 105.50209,80.822452 H 110.07132 L 108.11691,77.029925 C 108.02173,76.839535 107.83145,76.569095 107.54589,76.218085 107.26627,75.867075 107.05177,75.637875 106.90303,75.530785 106.68291,75.370155 106.33228,75.209795 105.85038,75.049165 106.45127,74.912335 106.92385,74.739595 107.2689,74.531365 107.78819,74.217515 108.1997,73.811965 108.50552,73.317486 Z"
                   id="path884" />
                <path
                   style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:medium;line-height:1.25;font-family:'arial black';-inkscape-font-specification:'arial black, Heavy';letter-spacing:0px;word-spacing:0px;fill:#e87600;fill-opacity:1;stroke:none;stroke-width:0.4569056"
                   d="M 117.28173,67.517322 C 115.15784,67.517322 113.50083,68.111851 112.31097,69.301709 111.98182,69.630856 111.70003,69.997783 111.46193,70.399317 H 121.31352 C 121.96318,70.399317 122.54572,70.40068 123.18473,70.400867 122.94315,69.986977 122.65433,69.611248 122.31501,69.275354 121.13705,68.103342 119.45917,67.517322 117.28173,67.517322 Z M 124.04462,73.312319 C 122.73302,73.313866 121.35325,73.314126 119.99681,73.314901 120.02464,73.568415 120.03918,73.839225 120.03918,74.129835 120.03918,75.593365 119.80148,76.607885 119.32553,77.173065 118.84959,77.738245 118.1772,78.020555 117.3086,78.020555 116.46381,78.020555 115.79425,77.732055 115.30045,77.154975 114.81262,76.577895 114.56872,75.628865 114.56871,74.308125 114.56871,73.949845 114.58832,73.621155 114.62401,73.317486 H 110.57258 C 110.54304,73.630495 110.52659,73.954065 110.52659,74.290555 110.52659,75.819515 110.82694,77.092635 111.42782,78.109955 112.0287,79.127292 112.81118,79.870832 113.77496,80.340822 114.7447,80.810822 115.96702,81.045692 117.44244,81.045692 118.89407,81.045692 120.10452,80.775242 121.07426,80.233852 122.04994,79.686522 122.79401,78.924932 123.30565,77.949245 123.82324,76.967615 124.08183,75.712035 124.08183,74.183065 124.08183,73.882785 124.06857,73.593495 124.04462,73.312319 Z"
                   id="path872" />
                <g
                   aria-label="Utility Work Management Software Solutions"
                   style="font-style:normal;font-weight:normal;font-size:4.21541548px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.10538539"
                   id="text866">
                  <path
                     d="M 22.119729,83.011657 H 23.050085 V 84.810618 Q 23.050085,85.078198 22.965694,85.316962 22.883362,85.553667 22.704289,85.73274 22.527274,85.909755 22.331735,85.981796 22.060038,86.082653 21.679251,86.082653 21.459012,86.082653 21.197607,86.051778 20.93826,86.020903 20.763304,85.930338 20.588348,85.837714 20.442208,85.668933 20.298126,85.500151 20.24461,85.321079 20.158161,85.032915 20.158161,84.810618 V 83.011657 H 21.088517 V 84.853843 Q 21.088517,85.10084 21.224365,85.240805 21.362272,85.378711 21.605152,85.378711 21.845974,85.378711 21.981823,85.242863 22.119729,85.104956 22.119729,84.853843 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path922" />
                  <path
                     d="M 24.626749,83.011657 V 83.843213 H 25.08781 V 84.454531 H 24.626749 V 85.230513 Q 24.626749,85.370478 24.653507,85.415761 24.694673,85.485743 24.797588,85.485743 24.890212,85.485743 25.056935,85.432227 L 25.118684,86.010612 Q 24.80788,86.078536 24.538242,86.078536 24.225379,86.078536 24.07718,85.998262 23.928982,85.917988 23.856941,85.755382 23.786959,85.590717 23.786959,85.224338 V 84.454531 H 23.478213 V 83.843213 H 23.786959 V 83.441843 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path924" />
                  <path
                     d="M 25.515938,83.011657 H 26.35367 V 83.581808 H 25.515938 Z M 25.515938,83.843213 H 26.35367 V 86.029137 H 25.515938 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path926" />
                  <path
                     d="M 26.921763,83.011657 H 27.761552 V 86.029137 H 26.921763 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path928" />
                  <path
                     d="M 28.331704,83.011657 H 29.169435 V 83.581808 H 28.331704 Z M 28.331704,83.843213 H 29.169435 V 86.029137 H 28.331704 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path930" />
                  <path
                     d="M 30.719341,83.011657 V 83.843213 H 31.180402 V 84.454531 H 30.719341 V 85.230513 Q 30.719341,85.370478 30.746099,85.415761 30.787265,85.485743 30.890181,85.485743 30.982804,85.485743 31.149527,85.432227 L 31.211277,86.010612 Q 30.900472,86.078536 30.630834,86.078536 30.317971,86.078536 30.169773,85.998262 30.021574,85.917988 29.949534,85.755382 29.879551,85.590717 29.879551,85.224338 V 84.454531 H 29.570805 V 83.843213 H 29.879551 V 83.441843 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path932" />
                  <path
                     d="M 31.334775,83.843213 H 32.219848 L 32.670618,85.298437 33.088454,83.843213 H 33.913836 L 33.047288,86.179393 Q 32.89909,86.578705 32.744717,86.71867 32.526536,86.916268 32.079883,86.916268 31.898752,86.916268 31.520023,86.866868 L 31.454157,86.282309 Q 31.635288,86.339941 31.857586,86.339941 32.005784,86.339941 32.096349,86.272017 32.188973,86.204093 32.252781,86.029137 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path934" />
                  <path
                     d="M 35.307311,83.011657 H 36.192383 L 36.511421,84.697411 36.976599,83.011657 H 37.859613 L 38.326849,84.697411 38.645887,83.011657 H 39.526843 L 38.862009,86.029137 H 37.94812 L 37.419135,84.129318 36.892208,86.029137 H 35.978319 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path936" />
                  <path
                     d="M 39.56801,84.94235 Q 39.56801,84.442181 39.905572,84.119027 40.243135,83.793814 40.817403,83.793814 41.474003,83.793814 41.809508,84.174601 42.079146,84.481289 42.079146,84.93 42.079146,85.434286 41.743642,85.75744 41.410196,86.078536 40.819461,86.078536 40.292534,86.078536 39.967322,85.810956 39.56801,85.479568 39.56801,84.94235 Z M 40.4078,84.940292 Q 40.4078,85.232571 40.525123,85.372536 40.644505,85.512501 40.823578,85.512501 41.004709,85.512501 41.119974,85.374595 41.237298,85.236688 41.237298,84.932058 41.237298,84.648012 41.119974,84.510105 41.002651,84.37014 40.829753,84.37014 40.646563,84.37014 40.527181,84.512163 40.4078,84.652128 40.4078,84.940292 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path938" />
                  <path
                     d="M 42.494924,83.843213 H 43.279139 V 84.201359 Q 43.392346,83.96877 43.511728,83.882321 43.633168,83.793814 43.810183,83.793814 43.995431,83.793814 44.21567,83.909079 L 43.956323,84.505988 Q 43.808124,84.444239 43.721676,84.444239 43.557011,84.444239 43.466445,84.580088 43.336772,84.77151 43.336772,85.296379 V 86.029137 H 42.494924 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path940" />
                  <path
                     d="M 44.4956,83.011657 H 45.351856 V 84.567738 L 45.977582,83.843213 H 47.008794 L 46.224579,84.608904 47.054077,86.029137 H 46.109313 L 45.666777,85.152297 45.351856,85.461044 V 86.029137 H 44.4956 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path942" />
                  <path
                     d="M 48.764531,83.011657 H 49.991282 L 50.464693,84.847668 50.936046,83.011657 H 52.158681 V 86.029137 H 51.397107 V 83.727948 L 50.806372,86.029137 H 50.116839 L 49.528163,83.727948 V 86.029137 H 48.764531 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path944" />
                  <path
                     d="M 53.459532,84.551271 52.65885,84.466881 Q 52.704133,84.256933 52.788524,84.137551 52.874973,84.016111 53.035521,83.927604 53.150786,83.863796 53.3525,83.828805 53.554215,83.793814 53.788862,83.793814 54.165532,83.793814 54.394004,83.837038 54.622477,83.878204 54.774791,84.011994 54.881823,84.104618 54.943573,84.275458 55.005322,84.444239 55.005322,84.598612 V 85.563959 Q 55.005322,85.718332 55.023847,85.806839 55.04443,85.893288 55.110296,86.029137 H 54.324022 Q 54.276681,85.944746 54.262273,85.901522 54.247864,85.856239 54.233456,85.761557 54.068792,85.920046 53.906185,85.98797 53.683888,86.078536 53.38955,86.078536 52.998471,86.078536 52.794699,85.897405 52.592985,85.716274 52.592985,85.450752 52.592985,85.201697 52.739124,85.041149 52.885264,84.880601 53.278401,84.802385 53.749754,84.707703 53.889719,84.670653 54.029684,84.631545 54.186115,84.569796 54.186115,84.415423 54.122308,84.353674 54.0585,84.291924 53.897952,84.291924 53.692121,84.291924 53.589206,84.35779 53.508932,84.409248 53.459532,84.551271 Z M 54.186115,84.991749 Q 54.013217,85.053499 53.825911,85.10084 53.570681,85.168764 53.502757,85.23463 53.432774,85.302554 53.432774,85.389003 53.432774,85.487802 53.500699,85.551609 53.570681,85.613358 53.704471,85.613358 53.844436,85.613358 53.963818,85.545434 54.085258,85.47751 54.134657,85.38077 54.186115,85.281971 54.186115,85.125539 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path946" />
                  <path
                     d="M 55.511665,83.843213 H 56.291764 V 84.199301 Q 56.46672,83.98112 56.645793,83.888496 56.824866,83.793814 57.082155,83.793814 57.430009,83.793814 57.625548,84.001703 57.823146,84.207534 57.823146,84.639779 V 86.029137 H 56.981298 V 84.827085 Q 56.981298,84.621254 56.90514,84.536863 56.828983,84.450414 56.691076,84.450414 56.538761,84.450414 56.444079,84.565679 56.349397,84.680945 56.349397,84.979399 V 86.029137 H 55.511665 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path948" />
                  <path
                     d="M 59.091063,84.551271 58.290381,84.466881 Q 58.335664,84.256933 58.420055,84.137551 58.506504,84.016111 58.667052,83.927604 58.782317,83.863796 58.984031,83.828805 59.185745,83.793814 59.420392,83.793814 59.797063,83.793814 60.025535,83.837038 60.254007,83.878204 60.406322,84.011994 60.513354,84.104618 60.575103,84.275458 60.636853,84.444239 60.636853,84.598612 V 85.563959 Q 60.636853,85.718332 60.655377,85.806839 60.675961,85.893288 60.741826,86.029137 H 59.955553 Q 59.908212,85.944746 59.893803,85.901522 59.879395,85.856239 59.864987,85.761557 59.700322,85.920046 59.537716,85.98797 59.315419,86.078536 59.021081,86.078536 58.630002,86.078536 58.42623,85.897405 58.224515,85.716274 58.224515,85.450752 58.224515,85.201697 58.370655,85.041149 58.516795,84.880601 58.909932,84.802385 59.381285,84.707703 59.52125,84.670653 59.661215,84.631545 59.817646,84.569796 59.817646,84.415423 59.753838,84.353674 59.690031,84.291924 59.529483,84.291924 59.323652,84.291924 59.220737,84.35779 59.140463,84.409248 59.091063,84.551271 Z M 59.817646,84.991749 Q 59.644748,85.053499 59.457442,85.10084 59.202212,85.168764 59.134288,85.23463 59.064305,85.302554 59.064305,85.389003 59.064305,85.487802 59.132229,85.551609 59.202212,85.613358 59.336002,85.613358 59.475967,85.613358 59.595349,85.545434 59.716789,85.47751 59.766188,85.38077 59.817646,85.281971 59.817646,85.125539 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path950" />
                  <path
                     d="M 62.730154,83.843213 H 63.51437 V 85.907696 L 63.516428,86.004437 Q 63.516428,86.210268 63.427921,86.395516 63.341472,86.582822 63.195332,86.698087 63.05125,86.813352 62.826895,86.86481 62.604598,86.916268 62.316434,86.916268 61.657776,86.916268 61.410779,86.71867 61.16584,86.521072 61.16584,86.189685 61.16584,86.148519 61.169957,86.078536 L 61.982988,86.17116 Q 62.013863,86.284367 62.077671,86.327591 62.170294,86.391399 62.310259,86.391399 62.491391,86.391399 62.579898,86.294658 62.670463,86.197918 62.670463,85.957096 V 85.625708 Q 62.546965,85.771848 62.423466,85.837714 62.229985,85.940629 62.00563,85.940629 61.56721,85.940629 61.297572,85.557784 61.106149,85.286087 61.106149,84.839434 61.106149,84.328974 61.353146,84.061394 61.600143,83.793814 61.999455,83.793814 62.254685,83.793814 62.41935,83.880263 62.586073,83.966712 62.730154,84.166368 Z M 61.941822,84.903242 Q 61.941822,85.139947 62.042679,85.255213 62.143536,85.36842 62.308201,85.36842 62.464633,85.36842 62.569606,85.251096 62.676638,85.131714 62.676638,84.89295 62.676638,84.654187 62.56549,84.52863 62.454341,84.401015 62.293793,84.401015 62.133245,84.401015 62.036504,84.518338 61.941822,84.633604 61.941822,84.903242 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path952" />
                  <path
                     d="M 66.451575,85.144064 H 64.771996 Q 64.794637,85.345778 64.881086,85.444577 65.002526,85.5866 65.198066,85.5866 65.321564,85.5866 65.432713,85.524851 65.500637,85.485743 65.578853,85.386944 L 66.404234,85.463102 Q 66.21487,85.792431 65.94729,85.936513 65.67971,86.078536 65.179541,86.078536 64.745238,86.078536 64.496182,85.957096 64.247127,85.833597 64.082463,85.568076 63.919856,85.300496 63.919856,84.940292 63.919856,84.427773 64.247127,84.110793 64.576457,83.793814 65.154841,83.793814 65.624135,83.793814 65.895832,83.935837 66.167529,84.07786 66.309552,84.347499 66.451575,84.617137 66.451575,85.049382 Z M 65.599436,84.742694 Q 65.574736,84.499814 65.467704,84.39484 65.36273,84.289866 65.189832,84.289866 64.990176,84.289866 64.870795,84.448356 64.794637,84.547155 64.774054,84.742694 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path954" />
                  <path
                     d="M 66.84677,83.843213 H 67.628927 V 84.162251 Q 67.797709,83.962595 67.968548,83.878204 68.141446,83.793814 68.384327,83.793814 68.645732,83.793814 68.798046,83.886438 68.950361,83.979062 69.047102,84.162251 69.244699,83.948187 69.407306,83.87203 69.569912,83.793814 69.808676,83.793814 70.160647,83.793814 70.358244,84.003761 70.555842,84.21165 70.555842,84.656245 V 86.029137 H 69.716052 V 84.78386 Q 69.716052,84.635662 69.658419,84.563621 69.574029,84.450414 69.448472,84.450414 69.300274,84.450414 69.209708,84.557446 69.119143,84.664478 69.119143,84.901184 V 86.029137 H 68.279353 V 84.825026 Q 68.279353,84.680945 68.262886,84.629487 68.236128,84.547155 68.170262,84.497755 68.104397,84.446298 68.015889,84.446298 67.871808,84.446298 67.779184,84.555388 67.68656,84.664478 67.68656,84.913534 V 86.029137 H 66.84677 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path956" />
                  <path
                     d="M 73.482757,85.144064 H 71.803177 Q 71.825819,85.345778 71.912267,85.444577 72.033708,85.5866 72.229247,85.5866 72.352745,85.5866 72.463894,85.524851 72.531818,85.485743 72.610034,85.386944 L 73.435416,85.463102 Q 73.246051,85.792431 72.978471,85.936513 72.710891,86.078536 72.210722,86.078536 71.776419,86.078536 71.527364,85.957096 71.278309,85.833597 71.113644,85.568076 70.951037,85.300496 70.951037,84.940292 70.951037,84.427773 71.278309,84.110793 71.607638,83.793814 72.186022,83.793814 72.655317,83.793814 72.927013,83.935837 73.19871,84.07786 73.340733,84.347499 73.482757,84.617137 73.482757,85.049382 Z M 72.630617,84.742694 Q 72.605917,84.499814 72.498885,84.39484 72.393912,84.289866 72.221014,84.289866 72.021358,84.289866 71.901976,84.448356 71.825819,84.547155 71.805235,84.742694 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path958" />
                  <path
                     d="M 73.871777,83.843213 H 74.651875 V 84.199301 Q 74.826832,83.98112 75.005904,83.888496 75.184977,83.793814 75.442266,83.793814 75.79012,83.793814 75.985659,84.001703 76.183257,84.207534 76.183257,84.639779 V 86.029137 H 75.341409 V 84.827085 Q 75.341409,84.621254 75.265251,84.536863 75.189094,84.450414 75.051187,84.450414 74.898872,84.450414 74.80419,84.565679 74.709508,84.680945 74.709508,84.979399 V 86.029137 H 73.871777 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path960" />
                  <path
                     d="M 77.698171,83.011657 V 83.843213 H 78.159232 V 84.454531 H 77.698171 V 85.230513 Q 77.698171,85.370478 77.724929,85.415761 77.766096,85.485743 77.869011,85.485743 77.961635,85.485743 78.128358,85.432227 L 78.190107,86.010612 Q 77.879302,86.078536 77.609664,86.078536 77.296801,86.078536 77.148603,85.998262 77.000405,85.917988 76.928364,85.755382 76.858382,85.590717 76.858382,85.224338 V 84.454531 H 76.549635 V 83.843213 H 76.858382 V 83.441843 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path962" />
                  <path
                     d="M 79.857339,85.030857 80.74447,84.975283 Q 80.773286,85.191405 80.861793,85.304612 81.005875,85.487802 81.273455,85.487802 81.473111,85.487802 81.580143,85.395178 81.689233,85.300496 81.689233,85.176997 81.689233,85.059673 81.586318,84.96705 81.483402,84.874426 81.10879,84.792093 80.495414,84.654187 80.234009,84.425714 79.970546,84.197242 79.970546,83.843213 79.970546,83.610624 80.104336,83.404794 80.240184,83.196904 80.509822,83.079581 80.781519,82.960199 81.252872,82.960199 81.831256,82.960199 82.133828,83.176321 82.438457,83.390385 82.49609,83.85968 L 81.617192,83.911137 Q 81.582201,83.707365 81.468994,83.614741 81.357845,83.522117 81.160248,83.522117 80.997642,83.522117 80.915309,83.5921 80.832977,83.660024 80.832977,83.758823 80.832977,83.830863 80.900901,83.888496 80.966767,83.948187 81.213764,83.999645 81.825081,84.131376 82.088545,84.267225 82.354067,84.401015 82.473449,84.600671 82.594889,84.800327 82.594889,85.047324 82.594889,85.337545 82.434341,85.582484 82.273793,85.827422 81.98563,85.955038 81.697466,86.080594 81.259047,86.080594 80.489239,86.080594 80.192843,85.784198 79.896447,85.487802 79.857339,85.030857 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path964" />
                  <path
                     d="M 82.90775,84.94235 Q 82.90775,84.442181 83.245313,84.119027 83.582876,83.793814 84.157144,83.793814 84.813744,83.793814 85.149248,84.174601 85.418887,84.481289 85.418887,84.93 85.418887,85.434286 85.083382,85.75744 84.749936,86.078536 84.159202,86.078536 83.632275,86.078536 83.307062,85.810956 82.90775,85.479568 82.90775,84.94235 Z M 83.74754,84.940292 Q 83.74754,85.232571 83.864864,85.372536 83.984246,85.512501 84.163319,85.512501 84.34445,85.512501 84.459715,85.374595 84.577039,85.236688 84.577039,84.932058 84.577039,84.648012 84.459715,84.510105 84.342391,84.37014 84.169493,84.37014 83.986304,84.37014 83.866922,84.512163 83.74754,84.652128 83.74754,84.940292 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path966" />
                  <path
                     d="M 86.758849,83.843213 H 87.158161 V 84.456589 H 86.758849 V 86.029137 H 85.919059 V 84.456589 H 85.606196 V 83.843213 H 85.919059 V 83.744414 Q 85.919059,83.610624 85.947875,83.450076 85.976692,83.289528 86.054907,83.188671 86.135181,83.085756 86.277205,83.024006 86.421286,82.960199 86.6971,82.960199 86.917339,82.960199 87.337233,83.011657 L 87.24461,83.518 Q 87.094353,83.493301 87.001729,83.493301 86.888522,83.493301 86.839123,83.532409 86.789723,83.569458 86.76914,83.651791 86.758849,83.697073 86.758849,83.843213 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path968" />
                  <path
                     d="M 88.475477,83.011657 V 83.843213 H 88.936538 V 84.454531 H 88.475477 V 85.230513 Q 88.475477,85.370478 88.502235,85.415761 88.543401,85.485743 88.646317,85.485743 88.73894,85.485743 88.905663,85.432227 L 88.967413,86.010612 Q 88.656608,86.078536 88.38697,86.078536 88.074107,86.078536 87.925909,85.998262 87.77771,85.917988 87.70567,85.755382 87.635687,85.590717 87.635687,85.224338 V 84.454531 H 87.326941 V 83.843213 H 87.635687 V 83.441843 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path970" />
                  <path
                     d="M 89.086793,83.843213 H 89.897766 L 90.249737,85.220221 90.694332,83.843213 H 91.449731 L 91.910792,85.220221 92.262763,83.843213 H 93.067561 L 92.262763,86.029137 H 91.517655 L 91.075119,84.713878 90.646991,86.029137 H 89.897766 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path972" />
                  <path
                     d="M 94.024676,84.551271 93.223994,84.466881 Q 93.269277,84.256933 93.353667,84.137551 93.440116,84.016111 93.600664,83.927604 93.71593,83.863796 93.917644,83.828805 94.119358,83.793814 94.354005,83.793814 94.730676,83.793814 94.959148,83.837038 95.18762,83.878204 95.339935,84.011994 95.446967,84.104618 95.508716,84.275458 95.570466,84.444239 95.570466,84.598612 V 85.563959 Q 95.570466,85.718332 95.58899,85.806839 95.609573,85.893288 95.675439,86.029137 H 94.889165 Q 94.841824,85.944746 94.827416,85.901522 94.813008,85.856239 94.7986,85.761557 94.633935,85.920046 94.471329,85.98797 94.249032,86.078536 93.954693,86.078536 93.563615,86.078536 93.359842,85.897405 93.158128,85.716274 93.158128,85.450752 93.158128,85.201697 93.304268,85.041149 93.450408,84.880601 93.843545,84.802385 94.314897,84.707703 94.454862,84.670653 94.594827,84.631545 94.751259,84.569796 94.751259,84.415423 94.687451,84.353674 94.623644,84.291924 94.463096,84.291924 94.257265,84.291924 94.154349,84.35779 94.074075,84.409248 94.024676,84.551271 Z M 94.751259,84.991749 Q 94.578361,85.053499 94.391055,85.10084 94.135825,85.168764 94.0679,85.23463 93.997918,85.302554 93.997918,85.389003 93.997918,85.487802 94.065842,85.551609 94.135825,85.613358 94.269615,85.613358 94.40958,85.613358 94.528961,85.545434 94.650402,85.47751 94.699801,85.38077 94.751259,85.281971 94.751259,85.125539 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path974" />
                  <path
                     d="M 96.085042,83.843213 H 96.869258 V 84.201359 Q 96.982465,83.96877 97.101846,83.882321 97.223287,83.793814 97.400301,83.793814 97.585549,83.793814 97.805788,83.909079 L 97.546441,84.505988 Q 97.398243,84.444239 97.311794,84.444239 97.147129,84.444239 97.056564,84.580088 96.92689,84.77151 96.92689,85.296379 V 86.029137 H 96.085042 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path976" />
                  <path
                     d="M 100.43836,85.144064 H 98.758782 Q 98.781423,85.345778 98.867872,85.444577 98.989312,85.5866 99.184852,85.5866 99.30835,85.5866 99.419499,85.524851 99.487423,85.485743 99.565639,85.386944 L 100.39102,85.463102 Q 100.20166,85.792431 99.934076,85.936513 99.666496,86.078536 99.166327,86.078536 98.732024,86.078536 98.482968,85.957096 98.233913,85.833597 98.069248,85.568076 97.906642,85.300496 97.906642,84.940292 97.906642,84.427773 98.233913,84.110793 98.563242,83.793814 99.141627,83.793814 99.610921,83.793814 99.882618,83.935837 100.15431,84.07786 100.29634,84.347499 100.43836,84.617137 100.43836,85.049382 Z M 99.586222,84.742694 Q 99.561522,84.499814 99.45449,84.39484 99.349516,84.289866 99.176618,84.289866 98.976962,84.289866 98.85758,84.448356 98.781423,84.547155 98.76084,84.742694 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path978" />
                  <path
                     d="M 102.12823,85.030857 103.01536,84.975283 Q 103.04418,85.191405 103.13269,85.304612 103.27677,85.487802 103.54435,85.487802 103.744,85.487802 103.85104,85.395178 103.96013,85.300496 103.96013,85.176997 103.96013,85.059673 103.85721,84.96705 103.7543,84.874426 103.37968,84.792093 102.76631,84.654187 102.5049,84.425714 102.24144,84.197242 102.24144,83.843213 102.24144,83.610624 102.37523,83.404794 102.51108,83.196904 102.78072,83.079581 103.05241,82.960199 103.52376,82.960199 104.10215,82.960199 104.40472,83.176321 104.70935,83.390385 104.76698,83.85968 L 103.88809,83.911137 Q 103.85309,83.707365 103.73989,83.614741 103.62874,83.522117 103.43114,83.522117 103.26853,83.522117 103.1862,83.5921 103.10387,83.660024 103.10387,83.758823 103.10387,83.830863 103.17179,83.888496 103.23766,83.948187 103.48466,83.999645 104.09597,84.131376 104.35944,84.267225 104.62496,84.401015 104.74434,84.600671 104.86578,84.800327 104.86578,85.047324 104.86578,85.337545 104.70523,85.582484 104.54469,85.827422 104.25652,85.955038 103.96836,86.080594 103.52994,86.080594 102.76013,86.080594 102.46374,85.784198 102.16734,85.487802 102.12823,85.030857 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path980" />
                  <path
                     d="M 105.17864,84.94235 Q 105.17864,84.442181 105.51621,84.119027 105.85377,83.793814 106.42804,83.793814 107.08464,83.793814 107.42014,84.174601 107.68978,84.481289 107.68978,84.93 107.68978,85.434286 107.35428,85.75744 107.02083,86.078536 106.4301,86.078536 105.90317,86.078536 105.57796,85.810956 105.17864,85.479568 105.17864,84.94235 Z M 106.01843,84.940292 Q 106.01843,85.232571 106.13576,85.372536 106.25514,85.512501 106.43421,85.512501 106.61534,85.512501 106.73061,85.374595 106.84793,85.236688 106.84793,84.932058 106.84793,84.648012 106.73061,84.510105 106.61328,84.37014 106.44039,84.37014 106.2572,84.37014 106.13782,84.512163 106.01843,84.652128 106.01843,84.940292 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path982" />
                  <path
                     d="M 108.12614,83.011657 H 108.96593 V 86.029137 H 108.12614 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path984" />
                  <path
                     d="M 111.80845,86.029137 H 111.0263 V 85.675108 Q 110.85134,85.893288 110.67227,85.985912 110.49525,86.078536 110.23591,86.078536 109.89011,86.078536 109.69251,85.872705 109.49697,85.664816 109.49697,85.23463 V 83.843213 H 110.33882 V 85.045265 Q 110.33882,85.251096 110.41498,85.337545 110.49114,85.423994 110.62904,85.423994 110.7793,85.423994 110.87398,85.308729 110.97072,85.193463 110.97072,84.895009 V 83.843213 H 111.80845 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path986" />
                  <path
                     d="M 113.33161,83.011657 V 83.843213 H 113.79267 V 84.454531 H 113.33161 V 85.230513 Q 113.33161,85.370478 113.35837,85.415761 113.39953,85.485743 113.50245,85.485743 113.59507,85.485743 113.7618,85.432227 L 113.82355,86.010612 Q 113.51274,86.078536 113.2431,86.078536 112.93024,86.078536 112.78204,85.998262 112.63384,85.917988 112.5618,85.755382 112.49182,85.590717 112.49182,85.224338 V 84.454531 H 112.18307 V 83.843213 H 112.49182 V 83.441843 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path988" />
                  <path
                     d="M 114.2208,83.011657 H 115.05853 V 83.581808 H 114.2208 Z M 114.2208,83.843213 H 115.05853 V 86.029137 H 114.2208 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path990" />
                  <path
                     d="M 115.49489,84.94235 Q 115.49489,84.442181 115.83245,84.119027 116.17001,83.793814 116.74428,83.793814 117.40088,83.793814 117.73639,84.174601 118.00603,84.481289 118.00603,84.93 118.00603,85.434286 117.67052,85.75744 117.33708,86.078536 116.74634,86.078536 116.21941,86.078536 115.8942,85.810956 115.49489,85.479568 115.49489,84.94235 Z M 116.33468,84.940292 Q 116.33468,85.232571 116.452,85.372536 116.57138,85.512501 116.75046,85.512501 116.93159,85.512501 117.04685,85.374595 117.16418,85.236688 117.16418,84.932058 117.16418,84.648012 117.04685,84.510105 116.92953,84.37014 116.75663,84.37014 116.57344,84.37014 116.45406,84.512163 116.33468,84.652128 116.33468,84.940292 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path992" />
                  <path
                     d="M 118.41357,83.843213 H 119.19367 V 84.199301 Q 119.36863,83.98112 119.5477,83.888496 119.72677,83.793814 119.98406,83.793814 120.33191,83.793814 120.52745,84.001703 120.72505,84.207534 120.72505,84.639779 V 86.029137 H 119.8832 V 84.827085 Q 119.8832,84.621254 119.80705,84.536863 119.73089,84.450414 119.59298,84.450414 119.44067,84.450414 119.34598,84.565679 119.2513,84.680945 119.2513,84.979399 V 86.029137 H 118.41357 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path994" />
                  <path
                     d="M 121.08114,85.423994 121.91269,85.345778 Q 121.96415,85.493976 122.05678,85.557784 122.1494,85.621592 122.30377,85.621592 122.47255,85.621592 122.56518,85.549551 122.63722,85.496035 122.63722,85.415761 122.63722,85.325195 122.54254,85.275796 122.47461,85.240805 122.18233,85.189347 121.74597,85.113189 121.57513,85.049382 121.40635,84.983516 121.28903,84.829143 121.17376,84.67477 121.17376,84.477172 121.17376,84.26105 121.29932,84.104618 121.42488,83.948187 121.64511,83.87203 121.86535,83.793814 122.23585,83.793814 122.62693,83.793814 122.81217,83.853505 122.99948,83.913196 123.12298,84.038752 123.24854,84.164309 123.33087,84.378373 L 122.53636,84.456589 Q 122.50549,84.351615 122.43345,84.302216 122.33465,84.23635 122.19468,84.23635 122.05266,84.23635 121.98679,84.287808 121.92299,84.337207 121.92299,84.409248 121.92299,84.489522 122.00532,84.530688 122.08765,84.571854 122.36346,84.604787 122.7813,84.652128 122.98507,84.736519 123.18885,84.82091 123.29588,84.977341 123.40497,85.133773 123.40497,85.321079 123.40497,85.510443 123.2897,85.689516 123.1765,85.868589 122.9295,85.975621 122.68456,86.080594 122.26055,86.080594 121.66158,86.080594 121.40635,85.909755 121.15318,85.738915 121.08114,85.423994 Z"
                     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Arial Black';-inkscape-font-specification:'Arial Black, ';stroke-width:0.10538539"
                     id="path996" />
                </g>
              </g>
            </svg>
            <ons-input type="text" placeholder="Username" autocapitalize="none" ng-model="username" ng-disabled="working" class="on-white"></ons-input>
            <div style="position: relative; margin-top: 10px;">
                <ons-input type="{{passwordVisible?'text':'password'}}" placeholder="Password" ng-model="password" ng-disabled="working" class="on-white"></ons-input>
                <ons-button modifier="quiet" class="password-visible" ng-class="passwordVisible?'active':''" ng-click="passwordVisible=!passwordVisible" ng-disabled="working">
                    <ons-icon icon="{{passwordVisible?'ion-eye':'ion-eye-disabled'}}"></ons-icon>
                </ons-button>
            </div>
            <br />
            <button type="submit" class="login-button button button--large" ng-class="ons.platform.isAndroid()?'button--material':'button--ios'" ng-disabled="working">
                <ons-ripple></ons-ripple>
                <ons-icon ng-show="working" icon="fa-circle-o-notch" spin="true"></ons-icon>
                {{button}}
            </button>
            <br><br>
            <div style="display: flex; align-items: center;">
                <label for="savePasswordCheckbox" style="flex: 1; margin-top: 8px; font-size: 14px; color: #666;">
                    <ons-checkbox input-id="savePasswordCheckbox" ng-model="savePassword" ng-disabled="working" style="vertical-align: middle;"></ons-checkbox> 
                    Save Password
                </label>
                <ons-button ng-show="env != 'demo'" modifier="quiet" class="forgot-password" ng-disabled="working" ng-click="forgotPassword()" style="flex: 1;">Forgot password?</ons-button>
                <ons-button ng-show="env == 'demo'" modifier="quiet" class="forgot-password" ng-disabled="working" ng-click="signUp()" style="flex: 1;">Sign Up For Access</ons-button>
            </div>

        </ons-card>
    </form>
    <help-button ng-if="env == 'demo'"></help-button>
</ons-page>