<div>
  <div style="display: flex;">
  	<div style="font-weight: bold; font-style: oblique; flex: 1;">
  		{{ item.WorkgroupJobNumber }} <span ng-if="item.WorkgroupJobNumber!=item.NumberChar">({{ item.NumberChar }})</span>
  	</div>
  	<div style="font-style: oblique; color: #bbb;">
  		{{ item.StatusMeaning }}
  	</div>
  </div>
  <div ng-if="item.Description&&item.Description!=item.NumberChar&&item.Description!=item.WorkgroupJobNumber" style="margin-top: 8px;">{{item.Description}}</div>
</div>