<ons-dialog style="z-index: 100005;" cancelable ng-controller="SmartpickSearchController" class="expanded scrollable-dialog contains-select" id="SmartPickDialog">
  <ons-toolbar style="flex-shrink: 0;" inline class="fourty-four">
    <div class="center" style="font-size: 16px;">{{options.title}}</div>
    <div class="right">
      <ons-toolbar-button ng-hide="loading || !options.filtersVisible" ng-click="clearFilters()">
        <ons-icon icon="ion-backspace-outline"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="loading || !options.filters" ng-click="openFilters()" ng-class="options.filtersVisible?'active':''">
        <ons-icon icon="ion-funnel" ng-hide="options.filtersVisible"></ons-icon>
        <ons-icon icon="ion-checkmark" ng-show="options.filtersVisible"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <form class="smartpick-search" ng-submit="search()" style="flex-shrink: 0;">
    <ons-input type="text" ng-model="searchTerm" ng-disabled="loading" id="smartpick-search-term" placeholder="Search/Filter"></ons-input>
    <button type="submit" class="login-button button" ng-class="ons.platform.isAndroid()?'button--material':'button--ios'" ng-disabled="loading || (!validateSearchLength(searchTerm) && options.filterLimitCount > filterLimitThreshold)">
      <ons-ripple></ons-ripple>
      <ons-icon icon="ion-search"></ons-icon>
    </button>
  </form>
  <div class="smartpick-filters {{options.filtersVisible?'':'collapsed'}}" ng-show="options.filtersVisible||options.hasFilterSelected">
     <div class="smartpick-row" ng-repeat="filter in options.filters" ng-show="options.filtersVisible||options.filtersSelected[filter.key]">
        <b ng-bind="filter.label||filter.key" class="smartpick-label"></b>
        <ui-select ng-model="options.filtersSelected[filter.key]" theme="selectize" tagging="null" on-select="selectFilter($item, filter)" ng-disabled="loading || !options.filtersVisible || filter.disabled">
            <ui-select-match>
                <span ng-bind="$select.selected[filter.display]"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in options.filtersData[filter.key] | filter: filterFilter($select.search, filter, options.filtersSelected)">
                <span ng-bind="item[filter.display]"></span>
            </ui-select-choices>
        </ui-select>
     </div>
  </div>
  <div style="padding: 20px; text-align: center; color: #ccc; font-style: oblique; font-size: 13px;" ng-show="!items.length || !filtered.length">
    <div ng-show="!items.length && options.filterLimitCount > filterLimitThreshold">
      Enter at least {{options.minSearchLength}} characters and press the button to search for items. Wildcard <b>*</b> may be used.
    </div>
    <div ng-show="!items.length && options.filterLimitCount <= filterLimitThreshold">
      Press the button to search for items. Wildcard <b>*</b> may be used.
    </div>
    <div ng-show="items.length && !filtered.length">
      No items match your current filter. <span ng-show="options.filterLimitCount <= filterLimitThreshold">(Press the button to search for new items)</span>
    </div>
  </div>
  <ons-list style="overflow: auto; transform: translate(0,0);" class="flex">
    <ons-list-item modifier="longdivider" ng-repeat="item in items | filter:filterItems(searchTerm) as filtered" ng-click="options.selectItem(item)" style="font-size: 14px; padding: 0;" tappable>
      <div class="left" style="width: 100%;">
        <ng-include src="'app/dialog/smartpick/'+options.itemTemplate" style="width: 100%; padding: 0px 16px;"></ng-include>
      </div>
    </ons-list-item>
  </ons-list>
</ons-dialog>

