<ons-page style="height: 100%;" ng-controller="ShowupLocationsController" ons-show="showPage($event)" ons-hide="hidePage($event)" id="jobSitesPage">
  <ons-toolbar>
    <div class="left">
      <ons-back-button id="showup-back-button" ng-hide="job.process.name=='EndDay'" ng-disabled="loading||working"></ons-back-button>
      <ons-toolbar-button ng-show="job.process.name=='EndDay'" ng-click="endDay()" ng-disabled="loading||working"><ons-icon icon="ion-log-out"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">
      <span ng-if="!job.multiple&&job.NumberChar">{{job.NumberChar}} Sites</span>
      <span ng-if="job.multiple||!job.NumberChar">Job Show Up Sites</span>
    </div>
    <div class="right" ng-cloak>
      <ons-toolbar-button ng-disabled="working" ng-hide="loading" ng-click="saveAndClose()">
        <ons-icon icon="ion-checkmark"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-tabbar position="auto" var="jobSitesTabbar" ng-cloak tabbar-fix ons-postchange="changeTab($event)">
      <ons-tab active label="Map" page="app/showup/showup-map.html"></ons-tab>
      <ons-tab label="Sites" page="app/showup/showup-locations.html"></ons-tab>
  </ons-tabbar>
</ons-page>