<ons-alert-dialog style="z-index: 100000;" class="expanded" cancelable>
  <div class="alert-dialog-title" style="color: {{site.LocationVerified?colors.verified:colors.unverified}}">
    {{site.Name}}
  </div>    
  <div class="alert-dialog-content location" ng-if="site" style="display: flex; flex-direction: column;">
    <div style="flex-grow: 1; overflow-y: auto; ">
      <div ng-if="job.multiple">
        Job #: {{site.job.WorkgroupJobNumber}} ({{site.job.NumberChar}})
        <div>{{site.job.Description}}</div>
      </div>
      <div class="entry left dispatch-field form-row">
        <div class="fake-tr">
          <span class="fake-td form-label">Site Name</span>
          <span class="fake-td form-input">
            <input style="width: 100%" type="text" ng-model="site.Name" maxlength="50" ng-disabled="loading" title="Site Name" placeholder="Site Name" click-select ons-class="text-input">
          </span>
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        <div>
          <div class="entry left dispatch-field form-row">
            <div class="fake-tr">
              <span class="fake-td form-label">Latitude</span>
              <span class="fake-td form-input">
                <input style="width: 100%" type="text" ng-model="site.Latitude" maxlength="50" ng-disabled="loading" title="Latitude" placeholder="Latitude" formatted-number-input="{decimals:6}" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" inputmode="decimal" autocapitalize="words">
              </span>
            </div>
          </div>
          <div class="entry left dispatch-field form-row">
            <div class="fake-tr">
              <span class="fake-td form-label">Longitude</span>
              <span class="fake-td form-input">
                <input style="width: 100%" type="text" ng-model="site.Longitude" maxlength="50" ng-disabled="loading" title="Longitude" placeholder="Longitude" formatted-number-input="{decimals:6}" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" inputmode="decimal" autocapitalize="words">
              </span>
            </div>
          </div>
        </div>
        <div style="padding-left: 10px;">
          <ons-button ng-click="editLatLon()" style="padding: 5px 10px 0px 10px; min-height: 30px; line-height: 30px;"><span class="ion-android-locate" style="font-size: 22px;"></span></ons-button>
        </div>
      </div>
      <div class="entry left dispatch-field form-row">
        <div class="fake-tr">
          <span class="fake-td form-label">Location Confirmed</span>
          <span class="fake-td form-input">
            <ons-checkbox ng-model="site.LocationVerified"></ons-checkbox>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <div class="{{ons.platform.isIOS()?'alert-dialog-footer--rowfooter':''}}">
      <ons-button ng-click="editAddress()" class="alert-dialog-button alert-dialog-button--rowfooter left" ng-disabled="loading" modifier="quiet"><ons-icon icon="ion-edit"></ons-icon> Address</ons-button>
    </div>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="close()">Close</ons-button>
  </div>
</ons-alert-dialog>