
* {
  box-sizing: border-box;
}
*[contenteditable] {
    -webkit-user-select: auto !important;
}
ons-navigator[var="mainNav"] {
  top: constant(safe-area-inset-top); /* iOS 11.0 */
  top: env(safe-area-inset-top); /* iOS 11.2 */
  bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}

.dropdown-button {
  padding: 0 10px !important;
  font-size: 22px !important;
  height: 100% !important;
}
.select-wrap {
  height: 100%;
}

.toolbar.subBar {
  background-color: #424141;
}
ons-page[shown="true"] .toolbar.fixed {
  position: fixed;
  top: 55px !important;
}
.toolbar-button.toolbar-button--material {
  line-height: 56px;
}
.toolbar.subBar .button {
  color: #fff;
}
.toolbar.subBar .button[disabled] {
  color: rgba(255,255,255,0.3);
}
ons-dialog .toolbar-button.toolbar-button--material {
  line-height: inherit;
}
.subBar input {
  color: #fff;
}
ons-page > ons-toolbar > .center, .dialog-container > ons-toolbar > .center, ons-page .toolbar.subBar > .center {
  flex: 1 1 auto;
}

textarea {
  border-color: #b8b8b8 !important;
  background-image: linear-gradient(to bottom, #f1f1f1, #f7f7f7) !important;
  width: 100%;
}
.toolbar__center {
  width: 0 !important;
}
.toolbar__right {
  max-width: 100% !important;
}

.white-wrap {
  background-color: #fff;
}

.notification {
    margin-left: 3px !important;
}
.notification.red {
    background-color: #F00 !important;
}
.login-page {
    position: relative;
    height: 100%;
    overflow: auto;
}
.login-page .page__content {
  display: flex;
  align-items: center;
}
.login-form {
  width: 90%;
  margin: auto;
}

.login-form ons-card {
  text-align: center;
}

.password-visible {
  position: absolute !important;
  right: 0;
  bottom: 10px;
  color: #ccc !important;
  font-size: 22px !important;
}
.password-visible.active {
  color: #000 !important;
}

.help-container {
  text-align: center;
  width: 75%;
  margin: 20px auto;
}
.help-wrapper {
  text-align: left;
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
}
.help-container svg {
  width: 75%;
}
.help-container ons-icon {
  font-size: 22px;
}
.help-container li {
  list-style-type: none;
  margin-top: 3px;
}

.info-button-float {
  background-color: #00F !important;
}
ons-speed-dial-item div {
  position: absolute;
  background: rgba(0,0,0,0.7);
  font-size: 15px;
  padding: 0 10px;
  border-radius: 5px;
  top: 0;
  white-space: nowrap;
}
.fab--bottom__left ons-speed-dial-item div {
  left: 45px;
}
.fab--bottom__right ons-speed-dial-item div {
  right: 45px;
}
ons-speed-dial-item {
  overflow: visible !important;
}
ons-speed-dial-item ons-icon {
  vertical-align: middle !important;
}
.orange-fab .fab {
  background-color: #f97c00 !important;
}
.sign-up-form {
  width: 90%;
  margin: 5px auto;
}
.sign-up-form ons-card {
  text-align: center;
}
.centerVertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.centerVertical.fiftyPercent {
  height: 50%;
}
.login-form svg {
  width: 70%;
  margin-bottom: 20px;
}

.login-form ons-input[type=text], .login-form ons-input[type=password], .sign-up-form ons-input {
  display: block;
  width: 100%;
  padding-bottom: 15px;
}

.login-form .login-button {
  width: 100%;
  margin: 0 auto;
}

.login-form .forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}

.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  border: 2px solid white;
  display: inline-block;
  width: 80px;
  height: 80px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

ons-tabbar.no-tabs .tabbar {
  display: none;
}
ons-tabbar.no-tabs .tabbar__content {
  bottom: 0px;
}
ons-tabbar.no-tabs .tabbar--top__content {
  top: 0px;
}
.tab-underline-blue {
  background-color: #438dff !important;
}
.tab-underline-orange {
  background-color: #F97C00 !important;
}

.job-list-description {
  font-size: 14px;
  opacity: 0.6;
  font-style: oblique;
}

.job-and-org {
  font-size: 14px !important;
  background-color: #eee !important;
  padding: 5px !important;
  border-radius: 5px !important;
  margin-left: 5px;
  display: inline-block;
}
.job-and-org.small {
  margin: 0;
  font-size: small !important;
}
.job-and-org .org {
  font-weight: bold;
}
.dispatch-badge {
  font-size: 14px;
  background-color: #F97C00;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  display: inline-block;
  color: #fff;
}

.job-detail-wrapper {
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
  margin: 5px;
}

.job-detail-title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.job-detail-subtitle {
  font-size: 14px;
}

.job-detail-subtitle.light {
  opacity: 0.5;
}

.right-buttons {
  padding-top: 0;
  padding-bottom: 0;
}

.divider {
    height: 1px;
    margin: 10px 0px;
    border-top: 1px solid #ccc;
}

.location-number {
    width: 100px;
}

.location-number.list-content {
    font-weight: bold;
    
}

.location-row {
  color: #000;
}

.location-row .location-detail-qty {
  opacity: 1 !important;
}
.completion.blue .completion-qty {
  color: #00F;
}

ons-list-item.faded {
  opacity: 0.5;
}

.location-row.faded {
    opacity: 0.5;
}
.location-row.red {
    color: #F00;
}
.location-row.green {
    color: #1f7e1a;
}
.location-row.blue {
    color: #00F;
}
.location-row .location-detail-qty.blue {
  color: #00F;
}

.location-reference-number {
  width: 150px;
}
.location-reference-number.list-content {
    font-size: 14px;
    opacity: 0.6;
    font-style: oblique;
    font-weight: bold;
}

.location-percent-complete.list-content {
  font-size: 14px;
}

.location-status {
    padding-right: 10px;
    width: 130px;
    text-align: right;
}

.location-factor-row {
  font-size: 14px;
}
.location-factor-type {
  width: 110px;
}
.location-factor-percent {
  width: 60px;
  text-align: right;
}

.list-header .location-percent-complete {
  float: right;
}

.list-header div {
    display: inline-block;
}

.desc-below {
  position: absolute;
  padding-top: 10px;
  font-weight: normal;
  white-space: nowrap;
}

.location-detail-assembly {
    width: 50px;
}
.location-detail-action {
    width: 50px;
}
.location-detail-spec {
  width: 100px;
}
.location-detail-uom {
  width: 50px;
}
.location-detail-qty {
  width: 75px;
  text-align: center;
}
.location-detail.selected, .location-row.selected {
  background-color: #f3f3f3;
}
.location-detail.assembly-item.selected {
  background-color: #eaeaea !important}

.inspection-qty {
  width: 70px;
  text-align: center;
}
.inspection-qty.blue, .inspection-qty > .blue {
  color: #00F;
}
.inspection-qty.red {
  color: #F00;
}
.red-highlight {
  border-radius: 3px;
  padding: 1px 3px;
  background-color: #f00;
  color: #fff;
}
.assembly-item {
  background-color: #f6f6f6 !important;
  border-bottom: 1px solid rgba(204, 204, 204, 0.57) !important;
}
.location-detail .left {
  padding-bottom: 30px;
  padding-right: 0px;
}
.list-item__center:empty {
  padding: 0px;
}
.has-desc-below-less-480 {
  padding-bottom: 30px !important;
}
.location-detail .left.has-comments {
  padding-bottom: 45px;
}
.location-detail-comments {
  font-style: oblique;
  font-weight: bold;
}

  
.list-item .location-detail-action {
    font-weight: bold;
    padding-left: 10px;
}
.list-item .location-detail-spec {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.6;
}
.list-item .location-detail-uom {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.6;
}
.list-item .location-detail-qty {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.6;
}
.list-item .location-detail-assembly {
    font-size: 14px;
    font-weight: bold;
}
.list-item .inspection-qty {
    font-size: 14px;
}

.location-detail.completion .completion-cell {
  display: table;
}

.location-detail {
    color: #000 !important;
}
.location-detail.faded {
    opacity: 0.5 !important;
}
.location-detail.red {
    color: #F00 !important;
}
.location-detail.green {
    color: #1f7e1a !important;
}
.location-detail-right {
    padding-right: 5px;
}
.detail-buttons {
  width: 130px;
  text-align: right;
}
.detail-buttons .button {
    font-size: 18px;
    padding: 0px 10px;
}
.detail-buttons .button.approve {
  color: #3251fc;
}
.detail-buttons .button.comment {
  color: #000;
}
.detail-buttons .button.uncomplete {
  font-size: 25px;
  padding: 0px 8px;
  line-height: 30px;
}
.detail-buttons .button.complete {
  color: #00F;
  font-size: 25px;
  padding: 0px 8px;
  line-height: 30px;
}
.detail-buttons .button.complete .half-complete {
  color: #f97c00
}
.detail-buttons .button.complete:disabled,
.detail-buttons .button.complete[disabled],
.detail-buttons .button.complete:disabled .half-complete,
.detail-buttons .button.complete[disabled] .half-complete {
  color: rgba(0, 0, 0, 0.26) !important;
}
.detail-buttons.end-day .button.approve {
  color: #1f7e1a;
  font-size: 25px;
  padding: 0px 8px;
  line-height: 30px;
}
.detail-buttons.end-day .button.reject {
  color: #ae0000;
  font-size: 25px;
  padding: 0px 8px;
  line-height: 30px;
}
.detail-buttons.end-day .button {
  margin: 0 5px;
}
.light-gray-bg {
  background-color: #f6f6f6 !important;
}
.te-job-day-row {
  background-color: #f6f6f6 !important;
}
.te-job-day-row.faded, .time-review-row.faded{
  opacity: 0.5;
}
.te-job-day-row.red, .time-review-row.red{
    color: #F00;
}
.te-job-day-row.dark-red, .time-review-row.dark-red,{
    color: #ae0000;
}
.te-job-day-row.green, .time-review-row.green{
    color: #1f7e1a;
}
.te-job-day-row.blue, .time-review-row.blue{
    color: #00F;
}
.te-job-day-row:not(.time-review-row) .left {
  padding-left: 20px;
}
.te-job-day-row .left {
  font-size: 14px;
  font-weight: bold;
}
.te-job-day-row .left .job-day, .time-review-data .job-day {
  font-style: oblique;
  font-weight: normal;
  padding-left: 5px;
  opacity: 0.6;
}

.te-job-day-row:not(.time-review-row) .right {
  padding-right: 10px;
}
.red .time-review-button {
    background-color: #F00 !important;
}
.dark-red .time-review-button {
    background-color: #ae0000 !important;
}
.green .time-review-button {
    background-color: #1f7e1a !important;
}
.blue .time-review-button {
    background-color: #00F !important;
}
.time-review-foreman {
  padding-left: 20px; font-weight: normal;
}
.time-review-date {

}
.time-review-day {
  background-color: #ededed !important;
}
.time-review-day .left, .time-review-day .right, .time-review-day .center {
  min-height: 0;
  line-height: 0;
  padding: 0;
}
.time-review-day .left {
  padding: 15px 0;
}

.hotel-info {
  padding-bottom: 5px;
}
.hotel-info label {
  font-size: 15px;
}
.hotel-info input {
  width: 100%;
}
.hotel-room input {
  width: 30%;
  margin-right: 10px;
}
.hotel-room input:not(:focus){
  background-image: none;
}
.hotel-room-expanded {
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.hotel-room-occupants {
  text-align: right;
}
.hotel-room-occupants.available {
  opacity: 0.5;
  font-style: italic;
}
.hotel-members-accounted, .hotel-members-accounted * {
  color: #1f7e1a !important;
}
.hotel-members-unaccounted, .hotel-members-unaccounted * {
  color: #f00 !important;
}
.calendar-header-day.hotel-members-accounted, .calendar-header-day.hotel-members-accounted * {
  color: #50a54b !important;
}
.calendar-header-day.hotel-members-accounted, .calendar-header-day.occupied {
  text-shadow: 1px 1px 3px black;
}
.te-crew-row {
  font-size: 14px;
}
.te-crew-row .faded {
  opacity: 0.5;
}
.te-crew-row .completion-cell, .te-crew-row .cell {
  display: table;
}
.te-crew-row.show-desc .left,  .te-crew-row.show-desc .right{
  padding-bottom: 35px;
}
.te-crew-row.summary.show-desc .left,  .te-crew-row.summary.show-desc .right{
  align-items: flex-end
}
.member-name {
  width: 150px;
  font-weight: bold;
}
.member-name-ed {
  width: 130px;
  font-weight: bold;
}
.member-craft {
  width: 100px;
}
.member-class {
  width: 125px;
}
.member-status {
  width: 40px;
}
.member-hours, .equipment-hours {
  width: 100px;
}
.member-hours-small {
  width: 60px;
}
.member-hours-ed {
  width: 70px;
}
.member-hours-small.total-hours {
  font-weight: bold;
  text-align: right;
}
.member-changed, .equipment-changed {
  color: #00F;
  font-style: oblique;
}

.equipment-number {
  width: 100px;
  font-weight: bold;
}
.equipment-category {
  width: 100px;
}
.equipment-description {
  width: 125px;
}
.equipment-desc-below {
  font-weight: bold;
}
.te-page-header {
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  margin: 0;
  padding: 5px 5px 5px 8px;
  display: flex;
  align-items: center;
}
.te-page-title {
  flex: 1;
  color: #d76b00;
}
.te-page-title.left {
  flex: inherit;
  width: auto;
}
.te-page-title.center {
  flex: 1;
  font-size: 13px;
  font-weight: bold;
  color: #999;
  text-align: center;
}
.task-header-total {
  flex: 1;
}
.task-header-total .hours {
  color: #666;
}
.gray-button {
  font-size: 25px !important;
  padding: 0px 8px !important;
  line-height: 30px !important;
  color: #666 !important;
}
.editable .header-hour-editable, .location-detail-qty .qty-edit, .edit-factor-percent {
  color: #00F;
  border-radius: 3px;
  background-color: #e8e8e8;
  padding: 2px 3px;
  display: inline-block;
}

.te-page-content {
  margin-top: 10px;
}
.te-header-value {
  color: #727272;
}
.te-task.show-desc .left {
  padding-bottom: 30px;
}
.te-task {
  font-size: 14px;
  font-weight: bold;
}
.te-week-time {
  font-size: 14px;
  padding: 0 5px !important;
}
.te-week-person ons-list-item.te-week-time .left, .te-week-person ons-list-item.te-week-time .right {
  padding-bottom: 30px;
}
.te-week-time .te-member-task-time {
  width: 54px;
}
.te-task .cell {
  display: table !important;
}
.te-task-number {
  width: 120px;
}
.te-task-time {
  width: 75px;
}
.te-task-duration {
  width: 75px;
}
.editable .te-task-change-button:not(.no-edit) {
  border-radius: 3px;
  background-color: #ddd;
  padding: 4px 6px;
  color: #00f;
  display: inline-block;
}
.editable .timesheet-clickable {
  padding: 4px 6px;
  display: inline-block;
  width: 100%;
}
.editable .timesheet-clickable:not(.no-edit) {
  border-radius: 3px;
  background-color: #e0f4ff;
}
.te-task-view-button {
  border-radius: 3px;
  background-color: #ddd;
  padding: 4px 6px;
  display: inline-block;
  margin-right: -5px;
  margin-top: -4px;
}
.te-member-task-date {
  width: 80px;
}
.week-time-job-row {
  background-color: #f6f6f6 !important;
  padding: 0 2px !important;
}
.week-time-job-row .left {
  background-color: #f6f6f6 !important;
  padding-left: 5px !important;
}
.week-time-job-row .te-member-task-date {
  width: 15px;
}
.te-member-task-time {
  display: inline-block;
  width: 65px;
}
.te-member-task {
  padding: 3px 0;
}
.location-detail-status {
    padding-right: 10px;
}
#location-info-dialog ons-row, #location-detail-info-dialog ons-row {
  margin-top: 5px;
}

.location-detail-info-dialog ons-toolbar-button ons-icon {
  font-size: 20px;
}

.checkbox-disabled-wrapper .checkbox__input:checked+.checkbox__checkmark:before {
  background: #f97c00 !important;
  border: 1px solid #f97c00 !important;
}
.checkbox-disabled-wrapper .checkbox__checkmark:before {
  border: 1px solid #f97c00 !important;
}

.checkbox-disabled-wrapper .checkbox--material__checkmark:before {
  border: 2px solid #717171 !important;
}
.checkbox-disabled-wrapper .checkbox--material__input:checked+.checkbox--material__checkmark:before {
  background-color: #f97c00 !important;
  border: none !important;
}

.checkbox-disabled-wrapper .checkbox__input:disabled+.checkbox__checkmark {
  opacity: 1 !important;
}

.tabbar-inline, .tabbar-inline .tabbar, .tabbar-inline .ons-tabbar__content, .tabbar-inline .page, .tabbar-inline .page__content {
    position: relative;
}

.tabbar-inline .ons-swiper-target.active > .page:not(.active) {
    height: 0px;
}
.tabbar-inline .ons-swiper-target.active > .page[shown] {
    height: auto;
}
.infinite-scroll-tabs .ons-swiper-target.active > .page > .page__content {
  overflow: visible;
}
.infinite-scroll-tabs .scroll-container {
  height: 100%;
  overflow: auto;
}

.tabbar-inline .ons-tabbar__content {
    max-height: 65vh;
    overflow: auto;
}
.tabbar-inline.tabbar-inline-top {
  display: flex;
  flex-direction: column-reverse;
}
.tabbar-inline.tabbar-inline-top .ons-tabbar__content {
    top: 0px;
}

.tabbar-short .tabbar {
  height: 40px;
}
.tabbar-short .tabbar__button {
  height: 40px;
  line-height: 40px;
}
.tabbar-short .tabbar__icon {
  font-size: 22px;
}

.tabbar-short .tabbar__label {
  font-size: 10px;
}

.orange-button {
  color: #d76b00;
}

.orange-header {
    margin: 0;
    color: #d76b00;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
}

.dialog-list .dialog-list-item {
  padding-left: 16px;
}
.dialog-list ons-list-item {
  padding-left: 0px;
}
.dialog-list.no-bg, .dialog-list.no-bg .dialog-list-item, ons-list.no-bg, ons-list.no-bg ons-list-item  {
  background: none;
}

.dialog, .dialog-container {
  min-width: 75vw !important;
  max-height: 90vh !important;
}

.alert-dialog-subtitle {
  font-size: small;
}
.alert-dialog-button.blue {
  color: #00F;
}

.scrollable-dialog .dialog-container, .scrollable-dialog .alert-dialog-container {
  display: flex;
  flex-direction: column;
  min-width: 75vw;
  max-height: 90vh;
}
.scrollable-dialog .alert-dialog-content {
  display: flex;
  flex-direction: column;
}

.scrollable-dialog .alert-dialog {
  min-width: 75vw;
}

.scrollable-dialog.smaller .dialog-container {
  min-width: 70vw;
  max-height: 85vh;
}
.scrollable-dialog.smaller .alert-dialog {
  min-width: 70vw;
}
ons-toolbar.fourty-four {
  height: 44px;
}
ons-toolbar.fourty-four > ons-toolbar-button {
  height: 44px;
}
ons-toolbar.fourty-four > .left, ons-toolbar.fourty-four > .center, ons-toolbar.fourty-four > .right {
  line-height: 44px;
  height: 44px;
}
.scrollable-dialog .dialog-container > div {
  display: flex;
  flex-direction: column;
}

.expanded .alert-dialog {
  min-width: 75vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.expanded .alert-dialog-container {
  display: flex;
  flex-direction: column;
}


.expanded .alert-dialog-content {
  flex-grow: 1;
}

.contains-select .alert-dialog, .contains-select .dialog, .contains-select .alert-dialog-container, .contains-select .dialog-container {
  overflow: visible;
  -webkit-mask-image: none;
  border-radius: 4px;
}
.contains-select .alert-dialog-container > *:first-child, .contains-select .dialog-container > *:first-child {
  border-radius: 4px 4px 0 0;
}
.contains-select .alert-dialog-container > *:last-child, .contains-select .dialog-container > *:last-child {
  border-radius: 0 0 4px 4px;
}
.camera-icon {
  vertical-align: middle;
}
.camera-icon::before{
    font-size: 20px;
}

.img-modal-dialog, .img-modal-dialog div {
  width: 100%;
  height: 100%;
}
.img-modal-dialog div.dialog {
  height: auto;
}
input.transparent-white {
  background-color: transparent;
  border: none;
  color: #fff;
}
input.transparent-white::placeholder {
  color: #fff;
  opacity: 0.5;
}
.fade-transition {
  opacity: 1;
  transition: opacity 0.2s linear;
}
.fade-transition.hide {
  opacity: 0;
  pointer-events: none;
}

.img-modal-dialog .dialog-container, .img-modal-dialog .dialog-container div, .img-modal-dialog .dialog-container img{
  max-height: 100%;
  max-width: 100%;
  background: none;
}

.camera-thumbnail {
  height: 100px;
  width: 100px;
  background-color: #ccc;
  border: 1px solid #aaa;
  background-size: cover;
  background-position: center;
}
.camera-thumbnail.small {
  height: 50px;
  width: 50px;
}

.menu-item {
  font-weight: bold;
}
.menu-item.inset div{
  font-weight: normal;
  padding-left: 20px !important;
}
.menu-item ons-icon {
  font-size: 20px;
  margin-right: 5px;
}

.hotels-header {
  border: none;
  font-size: 13px !important;
}
.hotel-header {
  width: 100%;
}
.hotel-header td {
  vertical-align: top;
}
.hotels-header .date-input * {
  vertical-align: middle;
}
.hotels-header .date-input input {
  font-size: 13px !important;
}
.add-job-wrapper {
  padding: 15px;
  border: none;
}
.add-job-wrapper label:not(.checkboxLabel), .hotels-header label:not(.checkboxLabel) {
  display: block;
  font-size: medium;
  font-weight: bold;
  color: #666;
}
.add-job-wrapper ons-col, .hotels-header ons-col {
  padding: 5px;
}
.add-job-wrapper ons-input:not([type="checkbox"]), .hotels-header ons-input:not([type="checkbox"]) {
  width: 100%;
}
.add-job-wrapper .text-input:disabled, .hotels-header .text-input:disabled {
  opacity: 0.5;
}
.add-job-wrapper ons-input[disabled], .hotels-header ons-input[disabled] {
  opacity: 1;
}

.smartpick-search {
  display: flex;
  background-color: #eee;
  padding: 5px 10px;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
}
.smartpick-search ons-input {
  flex: 1;
  margin-right: 5px;
}
.smartpick-search button {
  padding: 0 10px;
  font-size: 22px;
}
.smartpick-search .text-input__label {
  right: 0px;
  white-space: nowrap;
  overflow: hidden;
}
.smartpick-filters {
  background-color: #eee;
  padding: 10px 10px 5px;
  color: #727272;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
}
.smartpick-filters.collapsed .smartpick-row {
  display: flex;
}
.smartpick-filters.collapsed .smartpick-row .smartpick-label {
  white-space: nowrap;
  font-size: 13px;
  padding-right: 5px;
}
.smartpick-filters.collapsed .smartpick-row .ui-select-container {
  flex: 1;
  font-style: oblique;
  text-align: right;
}
.smartpick-filters.collapsed .smartpick-row .ui-select-container span {
  color: #727272 !important;
}
.smartpick-filters.collapsed .smartpick-row .ui-select-search {
  width: 100%;
}
.smartpick-filters.collapsed .selectize-input, .smartpick-filters.collapsed .ui-select-container {
  background: none !important;
  background-color: none !important;
  background-image: none !important;
  box-shadow: none !important;
  border: none;
  padding: 0;
}

.smartpick-filters.collapsed .selectize-input::after {
  display: none !important;
}



ons-toolbar-button.active {
  background-color: rgba(255, 255, 255, .15);
}

.if-480 {
  display: none !important;
}
.fifty-percent-if-480 {
  width: 100%;
  margin-left: 0;
}
@media only screen and (min-width : 480px) {
  .if-less-480:not(.ng-hide) {
    display: none !important;
  }
  div.if-480:not(.ng-hide) {
    display: block !important;
  }
  span.if-480:not(.ng-hide) {
    display: inline !important;
  }
  td.if-480:not(.ng-hide), th.if-480:not(.ng-hide) {
    display: table-cell !important;
  }
  .if-block.if-480:not(.ng-hide) {
    display: block !important;
  }
  .if-inline.if-480:not(.ng-hide) {
    display: inline !important;
  }
  .if-inline-block.if-480:not(.ng-hide) {
    display: inline-block !important;
  }
  .fifty-percent-if-480 {
    width: 48%;
    margin-left: 2%;
  }
  .fifty-percent-if-480:nth-child(1) {
    margin-left: 0;
  }
  .member-name {
    width: 200px;
  }
  .equipment-number {
    width: 150px;
  }
  .equipment-category {
    width: 150px;
  }
  .equipment-description {
    width: 200px;
  }
  .te-week-time .te-member-task-time {
    width: 70px;
  }
  .has-desc-below-less-480 {
    padding-bottom: 14px !important;
  }
  .location-factor-type {
    width: 200px;
  }
}

.spin.ons-icon--ion::before {
  -webkit-animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}


/****     Clock picker   ******/
.time-picker .alert-dialog-content {
  margin: 10px 0 5px;
}
.ui-clockpicker {
  border: solid #aaa 2px;
  border-radius: 2px;
  font-family: Helvetica, sans-serif;
}
.ui-clockpicker .selected {
  color: #0088cc;
}
.ui-clockpicker a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
.ui-clockpicker-selection {
  display: block;
  padding: 10px 0 7px;
  font-size: xx-large;
  color: #666;
  text-align: center;
}
.ui-clockpicker-selector {
  position: relative;
  display: block;
  padding: 5px;
  background: #eee;
}
.ui-clockpicker-selector li {
  cursor: pointer;
  color: #555;
}
.ui-clockpicker-line {
  position: absolute;
  top: 46%;
  left: 50%;
  width: 2px;
  height: 30%;
  background: #0088cc;
  z-index: 1;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
.ui-clockpicker-line::after {
    background: #0088cc;
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    transform: translate(-2px,-2px);
    -webkit-transform: translate(-2px,-2px);
}
.ui-clockpicker-time {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid #000 1px;
  border-radius: 250px;
  background: #fff;
}
.ui-clockpicker-time::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.ui-clockpicker-time li {
  position: absolute;
  width: 18%;
  height: 18%;
  text-align: center;
  border-radius: 50%;
  background-color: #f1f1f1;
  vertical-align: middle;
  font-size: 18px !important;
  line-height: 200%;
  z-index: 1;
}
.ui-clockpicker-time li.selected {
  background-color: #ccc;
}
.ui-clockpicker-time li:nth-child(1){
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.ui-clockpicker-time li:nth-child(2){
  top: 6.7%;
  left: 75%;
  transform: translate(-75%, -6.7%);
  -webkit-transform: translate(-75%, -6.7%);
}
.ui-clockpicker-time li:nth-child(3){
  top: 25%;
  left: 93.3%;
  transform: translate(-93.3%, -25%);
  -webkit-transform: translate(-93.3%, -25%);
}
.ui-clockpicker-time li:nth-child(4){
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
}
.ui-clockpicker-time li:nth-child(5){
  top: 75%;
  left: 93.3%;
  transform: translate(-93.3%, -75%);
  -webkit-transform: translate(-93.3%, -75%);
}
.ui-clockpicker-time li:nth-child(6){
  top: 93.3%;
  left: 75%;
  transform: translate(-75%, -93.3%);
  -webkit-transform: translate(-75%, -93.3%);
}
.ui-clockpicker-time li:nth-child(7){
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
}
.ui-clockpicker-time li:nth-child(8){
  top: 93.3%;
  left: 25%;
  transform: translate(-25%, -93.3%);
  -webkit-transform: translate(-25%, -93.3%);
}
.ui-clockpicker-time li:nth-child(9){
  top: 75%;
  left: 6.7%;
  transform: translate(-6.7%, -75%);
  -webkit-transform: translate(-6.7%, -75%);
}
.ui-clockpicker-time li:nth-child(10){
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.ui-clockpicker-time li:nth-child(11){
  top: 25%;
  left: 6.7%;
  transform: translate(-6.7%, -25%);
  -webkit-transform: translate(-6.7%, -25%);
}
.ui-clockpicker-time li:nth-child(12){
  top: 6.7%;
  left: 25%;
  transform: translate(-25%, -6.7%);
  -webkit-transform: translate(-25%, -6.7%);
}
.minute .ui-clockpicker-time li:nth-child(2){
  opacity: 0.3;
}
.minute .ui-clockpicker-time li:nth-child(3){
  opacity: 0.3;
}
.minute .ui-clockpicker-time li:nth-child(5){
  opacity: 0.3;
}
.minute .ui-clockpicker-time li:nth-child(6){
  opacity: 0.3;
}
.minute .ui-clockpicker-time li:nth-child(8){
  opacity: 0.3;
}
.minute .ui-clockpicker-time li:nth-child(9){
  opacity: 0.3;
}
.minute .ui-clockpicker-time li:nth-child(11){
  opacity: 0.3;
}
.minute .ui-clockpicker-time li:nth-child(12){
  opacity: 0.3;
}
.ui-clockpicker-period {
  position: relative;
  top: -5px;
  height: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ui-clockpicker-period li {
  position: absolute;
  font-weight: bold;
}
.ui-clockpicker-period li:nth-child(1) {
  left: 0;
}
.ui-clockpicker-period li:nth-child(2) {
  right: 0;
}



ons-input.no-label .text-input--material__label--active {
  display: none;
}


[ng\:cloak], [ng-cloak], .ng-cloak, .ng-hide {
  display: none !important;
}

.load-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.loader {
  margin: auto;
  font-size: 10px;
  position: relative;
  border-top: 5px solid rgba(0,0,255, 0.2);
  border-right: 5px solid rgba(0,0,255, 0.2);
  border-bottom: 5px solid rgba(0,0,255, 0.2);
  border-left: 5px solid #0000ff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

ons-card.timesheet-tab-status.timesheet-black .weekday-date, .timesheet-status.timesheet-black *, .timesheet-review-row.timesheet-black {
  color: #000 !important;
}
ons-card.timesheet-tab-status.timesheet-gray .weekday-date, .timesheet-status.timesheet-gray *, .timesheet-review-row.timesheet-gray {
  color: #888 !important;
}
ons-card.timesheet-tab-status.timesheet-orange .weekday-date, .timesheet-status.timesheet-orange *, .timesheet-review-row.timesheet-orange {
  color: rgb(239,146,20) !important;
}
ons-card.timesheet-tab-status.timesheet-blue .weekday-date, .timesheet-status.timesheet-blue *, .timesheet-review-row.timesheet-blue {
  color: #00F !important;
}
ons-card.timesheet-tab-status.timesheet-red .weekday-date, .timesheet-status.timesheet-red *, .timesheet-review-row.timesheet-red {
  color: #F00 !important;
}
ons-card.timesheet-tab-status.timesheet-green .weekday-date, .timesheet-status.timesheet-green *, .timesheet-review-row.timesheet-green {
  color: #1f7e1a !important;
}

.timesheet-entry.timesheet-black * {
  color: #000 !important;
}
.timesheet-entry.timesheet-gray * {
  color: #666 !important;
}
.timesheet-entry.timesheet-orange * {
  color: rgb(239,146,20) !important;
}
.timesheet-entry.timesheet-blue *, .timesheet-clickable.timesheet-blue {
  color: #00F !important;
}
.timesheet-entry.timesheet-red * {
  color: #F00 !important;
}
.timesheet-entry.timesheet-green * {
  color: #1f7e1a !important;
}

.shrink {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.condensed-flex {
  -webkit-flex-shrink: 1;
  -webkit-flex-grow: 0;
  flex-shrink: 1;
  flex-grow: 0;
}

a, a:link {
  color: #00F;
  text-decoration: underline;
}

.fte-page > .page__content, .gt-page > .page__content {
  display: flex;
  flex-direction: column;
}
.gt-subBar {
  padding: 4px !important;
}
.fte-page > .page__content {
  overflow: hidden;
}
.fte-scroll {
  display: flex; 
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: auto;
}
.fte-page[shown="true"] .fte-scroll {
  margin-top: 55px;
}
#fte-add-jobs-done-button {
  margin: 10px;
  vertical-align: middle;
  pointer-events: all;
}
.timesheet-tab-header {
  font-size: 14px;
}

.timesheet-info ons-row {
  padding: 10px;
}
.timesheet-info ons-row.info ons-col {
  text-align: center;
}
.timesheet-info td.timesheet-field {
  margin-right: 0;
  padding-right: 5px;
  font-weight: bold;
}

.timesheet-main-wrapper {
  position: relative;
  flex: 1;
}

.timesheet-tab-badge {
  font-weight: normal;
  background-color: #fffae0;
  padding: 1px 4px;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: #000;
}
.timesheet-job-tabs .tabbar__item.active .timesheet-tab-badge {
    border-color: #fff;
}
.timesheet-tab-badge:empty {
  display: none;
}

table.list {
  display: table;
  border-spacing: 0;
  overflow: visible;
  width: 100%;
}
thead.list-header {
  display: table-header-group; 
}
tr.list-item {
  display: table-row;
}
thead.list-header th, tr.list-item td, tr.list-header td {
  display: table-cell;
  padding: 3px;
}
thead.list-header th, tr.list-header td {
  font-weight: bold;
}

td div.timesheet-header-title {
  display: block;
  line-height: 100%;
}
.timesheet-header-subtitle {
  font-size: 12px;
  overflow: hidden;
  position: relative;
  max-width: 65px;
  white-space: nowrap;
  display: block !important;
}
.timesheet-crew-equip-header {
  background-color: #999 !important;
}
tr.timesheet-job-crew-equip td:not(.timesheet-crew-equip), td.timesheet-crew-equip-not-job {
  background-color: rgba(0, 255, 208, 0.04) !important;
}
td.timesheet-crew-equip, tr.timesheet-crew-equip td {
  background-color: rgba(0, 255, 208, 0.08) !important;
}
.timesheet-crew-equip .timesheet-tag {
  background-color: rgb(188, 230, 222);
}
.editable td.timesheet-crew-equip .timesheet-clickable:not(.no-edit) {
    background-color: #cff2ea;
}

.timesheet-job-row {
  font-size: 14px;
}
.timesheet-highlight, .timesheet-job-row.gt-job.selected.timesheet-highlight {
  background-color: rgba(255, 212, 0, 0.12);
}
.timesheet-job-row.selected {
  background-color: rgba(255, 212, 0, 0.12);
}
.timesheet-job-row.gt-job.selected {
  background-color: #e0f4ff;
}
.timesheet-job-row.gt-job.selected :checked + .checkbox--material__checkmark:before {
    border-color: #4aa3e5;
    background-color: #4aa3e5;
}
.timesheet-job-row.gt-job.selected :checked + .checkbox__checkmark:before {
    background: #4aa3e5;
}
.timesheet-job-row.gt-job.crew-selected {
  background-color: rgba(44, 200, 171, 0.09);
}
.timesheet-job-row.gt-job.crew-selected :checked + .checkbox--material__checkmark:before {
    border-color: #75bbac;
    background-color: #75bbac;
}
.timesheet-job-row.gt-job.crew-selected :checked + .checkbox__checkmark:before {
    background: #75bbac;
}
.timesheet-job-row td {
  vertical-align: top;
}
.timesheet-my-checkbox {
  position: relative;
}
.timesheet-my-checkbox .timesheet-job-order {
  position: absolute;
  z-index: 1;
  width: 100%;
  line-height: 22px;
}
.body--material .timesheet-job-order {
  line-height: 18px;
}
.timesheet-my-checkbox .timesheet-job-order {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.timesheet-my-checkbox .checkbox__checkmark::after {
  content: none;
}
.font16px {
  font-size: 16px;
}
.flex {
  flex: 1 1 auto;
}
.icon-button {
  font-size: 18px !important;
  padding: 0px 10px !important;
}

.timesheet-bold {
  font-weight: bold;
}

.timesheet-faded, .timesheet-faded .ui-select-match > span > span {
  color: rgba(0, 0, 0, 0.4) !important;
}
.timesheet-faded.blue, .timesheet-faded.blue .ui-select-match > span > span {
  color: rgba(0, 0, 255, 0.4) !important;
}
tr.blue, tr.blue .ui-select-match > span > span {
  color: #00F;
}

.timesheet-red .ui-select-match > span > span, .timesheet-ccc-badge.timesheet-red, .timesheet-ccc-badge .timesheet-red {
  color: #F00 !important;
}
.timesheet-faded .timesheet-red .ui-select-match > span > span, .timesheet-navigator-selector-item.inactive .timesheet-ccc-badge.timesheet-red {
  color: rgba(255,0,0,0.5) !important;
}

.timesheet-thirty-percent {
  opacity: 0.3;
}

.form-row {
  display: flex;
  align-items: center;
  padding: 3px 0;
}
.form-row-item {
  display: flex;
  align-items: center;
}
.form-col {
  display: flex;
  flex-direction: column;
}
.form-label {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;
}
.flex {
  flex: 1 1 auto;
}
.form-row label, .form-row .form-row-item {
  margin-right: 10px;
  font-weight: bold;
}
.form-row label > input, .form-row label > .form-input, .form-row .form-row-item > .form-input {
  font-weight: normal;
}
.form-row.emphasize-value label, .form-row.emphasize-value .form-row-item {
  font-weight: normal;
}
.form-row:not(.no-margin) label > input, .form-row:not(.no-margin) label > .form-input, .form-row:not(.no-margin) .form-row-item > .form-input {
  margin-left: 10px;
}
.form-row label:last-child, .form-row .form-row-item:last-child {
  margin-right: 0;
}
.form-row.emphasize-value label > input, .form-row.emphasize-value label > .form-input, .form-row.emphasize-value .form-row-item > .form-input {
  font-weight: bold;
}

.timesheet-grid-label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

td.grid-disappear-left {
  position: relative;
  height: 1px;
  padding: 0;
}
td.grid-disappear-left .timesheet-entry-inner::after {
  position: absolute;
  left: -3px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #eceff1;
  content: '';
}

table.crew-time td {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
table.crew-time {
  border-bottom: 1px solid #ccc;
}
table.crew-time thead, table.crew-time tr.list-header {
  background-color: #757575;
  color: #fff;
}
table.crew-time thead ons-button, table.crew-time tr.list-header ons-button {
  color: #fff !important;
}
table.crew-time thead th, table.crew-time tr.list-header td {
  border-left: 1px solid #fff;
  vertical-align: middle;
}
table.crew-time thead th:first-child, table.crew-time tr.list-header td:first-child {
  border-left: none;
}

tr.list-header {
  display: table-row !important;
}
.editable .timesheet-main tr.active-row-group .cell-row-start {
  border-left: 2px solid #000091;
}
.editable .timesheet-main tr.active-row-group .cell-row-middle {
  border-top: 2px solid #000091;
  border-bottom: 2px solid #000091;
}
.editable .timesheet-main tr.active-row-group .cell-row-end {
  border-right: 2px solid #000091;
}
.editable .timesheet-main td.active-column-group.cell-column-start {
  border-top: 2px solid #000091;
}
.editable .timesheet-main td.active-column-group.cell-column-middle {
  border-left: 2px solid #000091;
  border-right: 2px solid #000091;
}
.editable .timesheet-main td.active-column-group.cell-column-end {
  border-bottom: 2px solid #000091;
}
.editable .timesheet-main td.cell-group-primary {
  background-color: #fff !important;
}
.editable .timesheet-main td.active-column-group.cell-column-middle.timesheet-blocked:not(.cell-group-primary) {
  border-left-color: #6d6d91;
  border-right-color: #6d6d91;
}
.editable .timesheet-main td.active-column-group.cell-column-start.timesheet-blocked:not(.cell-group-primary) {
  border-top-color: #6d6d91;
}
.editable .timesheet-main td.active-column-group.cell-column-end.timesheet-blocked:not(.cell-group-primary) {
  border-bottom-color: #6d6d91;
}
.editable .timesheet-main tr.active-row-group .cell-row-start.soft {
  border-left: 2px solid rgba(0, 0, 145, 0.4);
}
.editable .timesheet-main tr.active-row-group .cell-row-middle.soft {
  border-top: 2px solid rgba(0, 0, 145, 0.4);
  border-bottom: 2px solid rgba(0, 0, 145, 0.4);
}
.editable .timesheet-main tr.active-row-group .cell-row-end.soft {
  border-right: 2px solid rgba(0, 0, 145, 0.4);
}
.editable .timesheet-main td.active-column-group.cell-column-start.soft {
  border-top: 2px solid rgba(0, 0, 145, 0.4);
}
.editable .timesheet-main td.active-column-group.cell-column-middle.soft {
  border-left: 2px solid rgba(0, 0, 145, 0.4);
  border-right: 2px solid rgba(0, 0, 145, 0.4);
}
.editable .timesheet-main td.active-column-group.cell-column-end.soft {
  border-bottom: 2px solid rgba(0, 0, 145, 0.4);
}
.timesheet-entry.override, .timesheet-entry.override input {
  color: #00F;
}
.timesheet-entry.difference, .timesheet-entry.difference input {
  color: #F00;
}
.timesheet-spacer {
  height: 20px;
  background-color: rgba(152, 152, 152, 0.35);
}
.timesheet-blocked {
  height: 20px;
  background-color: rgba(152, 152, 152, 0.4);
}
.timesheet-blocked:not(.cell-group-primary), .timesheet-blocked:not(.cell-group-primary) input {
  color: #6a6a6a;
}
.timesheet-main td.timesheet-blocked {
  border-color: #bbb;
}
.timesheet-job-col {
  width: 60px;
}
.toggle-header {
  white-space: nowrap;
}
.timesheet-phase-name {
  padding: 4px;
}
.timesheet-job-grid-controls {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.timesheet-task-num {
  font-weight: bold;
  margin-right: 5px;
}
.timesheet-task-desc {
  font-style: oblique;
}
.timesheet-task-info {
  flex: 1 1 auto;
}
.comments-icon .ion-chatbox {
  opacity: 0.5;
}
tr.timesheet-non-comp span, tr.timesheet-non-comp .timesheet-entry, tr.timesheet-non-comp .timesheet-entry input {
    color: #aaa;
}
.timesheet-entry.timesheet-blue, .timesheet-entry.timesheet-blue input {
  color: #00F;
}
.crew-time-job .timesheet-entry-inner, .crew-time-job .timesheet-entry-inner input {
    font-weight: bold;
}
td.timesheet-entry {
  text-align: right;
}
.dialog-error {
  margin-top: -10px;
  color: #f00;
}

.timesheet-ccc-badge {
  white-space: nowrap;
  font-size: 11px;
  background-color: rgba(0,0,0,0.1);
  padding: 2px 3px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none !important;
  color: rgba(0,0,0,0.5);
  margin-left: 5px;
  cursor: default;
}
.timesheet-ccc-badge:empty {
  display: none !important;
}
.timesheet-ccc-badge.timesheet-red {
  color: rgba(255,0,0,0.65);
}

.timesheet-info b, .timesheet-info .timesheet-field {
  margin-right: 10px;
}
.timesheet-info td.timesheet-field {
  margin-right: 0;
  padding-right: 5px;
  font-weight: bold;
}
.timesheet-field-line {
  margin-bottom: 5px;
}
.timesheet-field-line:last-child {
  margin-bottom: 0;
}

.timesheet-field-wrapper.no-wrap-lines .timesheet-field-line, .timesheet-field-wrapper .timesheet-field-line.no-wrap-line {
  white-space: nowrap;
}
.timesheet-label {
  text-align: right;
}
.timesheet-field-table td.timesheet-field {
  margin-right: 0;
  padding-right: 5px;
  font-weight: bold;
}
.timesheet-field-table {
  width: 100%;
}

.timesheet-entry.inequal, .timesheet-entry.inequal input, .timesheet-clickable.inequal, label.inequal {
  color: #F00;
}

.timesheet-navigator-selector-item.inactive, b.inactive, button.inactive, tr.inactive {
  color: #999;
}

.timesheet-summary tr.inactive td > * {
  opacity: 0.45;
  color: #000;
}

.timesheet-navigator-selector-item.blue {
  color: #00F;
}
.timesheet-navigator-selector-item.blue.inactive {
  color: rgba(0, 0, 255, 0.5);
}

.tabbar--top.tabbar--material {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .14), 0 5px 1px -4px rgba(0, 0, 0, .2);
}

.timesheet-navigator {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #fff;
}
.timesheet-navigator .flex {
  position: relative;
  height: 100%;
}
.timesheet-navigator ons-carousel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.italic {
  font-style: italic;
}

.timesheet-main .timesheet-entry.tint {
  border-color: #b3b3b3;
  background-color: rgba(0, 0, 0, 0.07);
  position: relative;
}

.timesheet-entry.active-summary, .timesheet-day-summary, .timesheet-day-summary input, .timesheet-bold {
  font-weight: bold;
}
.timesheet-summary tr.inactive {
  font-style: italic;
}
table.timesheet-main.row-lines tr td {
  border-top: 1px solid rgba(0,0,0,.05) !important;
}
table.timesheet-main.row-lines tr:first-child td {
  border-top: none !important;
}
th.timesheet-summary-col {
  width: 60px;
  vertical-align: bottom;
  text-align: center;
}
td.timesheet-summary-col {
  padding: 3px;
  vertical-align: middle;
  text-align: center;
}
td.timesheet-summary-col.smaller {
  font-size: 13px;
}
.timesheet-summary-col.left {
  text-align: left;
}
/*tr.summary-job-row.first td {
  border-top: 1px solid rgba(0, 0, 0, 0.52) !important;
}
tr.summary-job-row.last td, tr.summary-job-row td.no-totals {
  border-bottom: 3px solid rgba(0, 0, 0, 0.52) !important;
}*/
.timesheet-task-summary .timesheet-task-desc, .timesheet-task-summary .timesheet-standard-col {
  padding: 3px;
  vertical-align: middle;
  white-space: nowrap;
}
.timesheet-task-summary .timesheet-comment-col {
  position: relative;
  min-width: 300px;
  height: 1px;
  padding: 0;
}
.timesheet-task-summary .timesheet-comment-col textarea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.75);
  overflow: hidden;
}
.timesheet-task-summary .timesheet-comment-col textarea:focus {
  position: relative;
}
.timesheet-summary-col.total {
  font-weight: bold;
}
tr.alt {
  background-color: rgba(0,0,0,.07);
}
tr.alt-darker {
  background-color: rgba(0,0,0,.14);
}
.timesheet-indent-one {
  padding-left: 20px !important;
}
.timesheet-indent-two {
  padding-left: 40px !important;
}
.timesheet-indent-three {
  padding-left: 60px !important;
}
tr.timesheet-review-row {
    font-size: 14px;
}
.timesheet-day-header.center {
  text-align: center;
}
.timesheet-day-header.right {
  text-align: right;
}
.tabbar__content > .ons-swiper-target > ons-page:not(.fix) {
  visibility: visible !important;
}
.subBarTabs .tabbar {
  background-color: #555;
}
.subBarTabs.hasControls .tabbar--top__content {
  top: 109px;
}
.tabControls {
  position: absolute;
  top: 49px;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  z-index: 10;
}

.report-level-row {
  display: flex;
  align-items: center;
}
.report-level-row:hover, .report-level-row:hover .icon-button span, .report-level-row:hover .icon-button ons-icon, .report-level-row:hover .timesheet-ccc-badge  {
  color: #00F;
}
help-button * {
    color: #fff;
}

@-webkit-keyframes flash {
    from {
        background-color: inherit;
    }
    to {
      background-color: rgba(255, 136, 0, 0.623);
    }
}    
.flash {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 250ms;
    -webkit-animation-iteration-count: 8;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.location-percent-row {
  margin: 0 -10px;
  padding: 5px 10px;
  border-radius: 5px
}
.location-percent-row.alt{
  background-color: #eee;
}
.location-percent-row.active {
  font-weight: bold;
}
.location-percent-dialog .alert-dialog-content > div {
  margin: 0 -10px;
  padding: 0 10px;
}
.summary-job-row td * {
  /*opacity: 0.5*/
}
.blue-button {
  color: #00F;
}
.blue-button:disabled, .blue-button[disabled] {
  transition: none;
  opacity: 1;
  box-shadow: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.26);
}

.date-square {
  font-size: 14px;
  background-color: #888;
  border-radius: 3px;
  padding: 3px 4px;
  color: #fff;
  text-align: center;
}
.date-square .year {
  font-weight: bold;
}

.date-square.light {
  background-color: #ddd;
  color: #bbb;
}
.date-square.light-green {
  background-color: #9ece9b
}
.date-square.green {
  background-color: #1f7e1a;
}
.receipt-status {
  color: #888;
}
.receipt-status.green {
  color: #1f7e1a;
}
.receipt-status.light-green {
  color: #9ece9b
}
.receipt-status.light {
  color: #ddd;
}
.receipt-header-button {
  padding: 0px 10px !important;
  min-height: 30px !important;
  line-height: 30px !important;
}

.grid-label {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.timesheet-even-rows tr:nth-child(even), .even-rows  tr:nth-child(even), tr.alt {
  background-color: rgba(0,0,0,.07);
}
.todays-date, .todays-date input {
  color: #00F;
  font-weight: bold;
}
.billed, .billed input, .billed select, .billed label {
  color: #08a800 !important;
}
tr.location.done td:not(.done) {
  opacity: 0.5;
}
.location.done div.canFade {
  opacity: 0.5;
}
tr.location td.dispatch-field, tr.location td.custom-field {
  height: 1px;
  padding: 0;
  position: relative;
}
td.dispatch-field .entry-inner {
  /*display: table;*/
  height: 100%;
}
td.dispatch-field contenteditable {
  min-width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}
td.num, td.dol {
  position: relative;
  font-size: 14px;
  text-align: center;
  min-width: 40px;
}
.num .entry-inner, .dol .entry-inner, .drop .entry-inner, .radio .entry-inner  {
  height: 100%;
}
td.custom-field.num, td.custom-field.dol, td.custom-field.drop, td.custom-field.radio {
  vertical-align: top;
}
th.check, th.char, th.btn {
  width: 0px;
}
td.num input[type="text"], td.dol input[type="text"], td.dispatch-field input[type="text"] {
  vertical-align: middle;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 24px;
  height: 100%;
  color: #000;
  width: 100%;
}
.entry-inner select {
  vertical-align: middle;
  min-height: 24px;
  height: 100%;
  color: #000;
  width: 100%;
}
.entry-inner input, .entry contenteditable, .entry-inner select, .entry-inner label {
  font-size: 14px;
}
td.radio .entry-inner label {
  display: block;
  white-space: nowrap;
}
contenteditable {
    white-space: nowrap;
} 
contenteditable br {
    display:none;
}
contenteditable * {
    display:inline;
    white-space:nowrap;
}
contenteditable:empty {
    padding-top: 14px !important;
}
input.error, contenteditable.error:not(:focus) {
  border-bottom: 1px solid #F00 !important;
}
contenteditable.error:focus {
  background-image: linear-gradient(#F00, #F00), linear-gradient(to top, transparent 1px, #afafaf 1px);
}
td.num input[type="text"], td.dol input[type="text"]  {
  text-align: center;
}
.custom-field.left input[type="text"], .dispatch-field input[type="text"], td.dispatch-field contenteditable {
  text-align: left;
  padding: 3px;
}
tr.location .required input, tr.location .required textarea, tr.location .required select, tr.location .required .ui-select-container.ng-empty .selectize-input {
  background: #e0f4ff;
}
tr.location input:not(:focus), tr.location contenteditable:not(:focus), tr.location select:not(:focus) {
 background-image: none;
}
.ui-select-container.short .selectize-input {
  padding: 5px 15px 5px 8px;
}
.comment-tag {
  color: #fff !important;
  margin-left: 10px !important;
  border-radius: 50px !important;
  padding: 5px 10px !important;
  min-height: 0 !important;
  line-height: inherit !important;
  text-transform: none !important;
}
.comment-tag.unselected {
  background-color: #757575 !important;;
}
.comment-tag:first-child {
  margin-left: 0px !important;
}
tr.location.new td:first-child {
  border-left: 3px solid #00F;
}
tr.location.new td:last-child {
  border-right: 3px solid #00F;
}
.timesheet-job-subtitle {
  font-size: 12px;
  white-space: normal;
  max-width: 600px;
  padding-bottom: 3px;
  color: #666;
  font-style: italic;
}

.ol-attribution {
  transform: scale(0.75);
  transform-origin: bottom right;
}
.ol-control button {
  outline: none;
}
.ol-center-control {
  top: 7em;
  left: 0.5em;
}
.ol-settings-control {
  left: 0.5em;
  bottom: 0.5em;
}
.mapPopup {
  -webkit-transform: translate(-50%,-110%);
  transform: translate(-50%,-110%);
}
.mapPopup.no-selection {
  -webkit-transform: translate(-50%,-100%);
  transform: translate(-50%,-100%);
}
.mapPopup .popover--bottom__arrow {
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, .15);
  left: 50%;
}
.mapPopup .popover__content {
  background-color: #fff;
  padding: 10px;
  width: auto;
  min-width: 220px;
}
.map-overlay-pointer-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.map-overlay-pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  width:  300px;
  height: 414px;
  transform-origin: top left;
  transform: scale(0.1) translate(-50%, -100%);
}
.map-overlay-pointer.multiply {
  -webkit-mix-blend-mode: multiply;
  mix-blend-mode: multiply;
}
.map-overlay-pointer.red {
  -webkit-filter: brightness(0.5) sepia(1) saturate(10000%);
  filter: brightness(0.5) sepia(1) saturate(10000%);
}
.routing-locations ons-list-item .center div {
  display: block;
}
.filterCount {
  font-size: small;
  text-align: center;
  background-color: #b6b6b6;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}
.filterCount .count {
  font-weight: bold;
}
.smartpick-search-basic .row {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 5px;
}
.smartpick-search-basic .row:first-child {
  margin-top: 0;
}
.smartpick-search-basic .row input {
  margin-left: 5px;
  font-weight: bold !important;
  width: 100%;
}

.float-left {
  float: left;
}
.no-wrap, .no-wrap * {
  white-space: nowrap;
}
.fake-tr {
  width: 100%;
  display: table-row;
}
.fake-td {
  display: table-cell;
  vertical-align: middle;
}
.fake-td.form-label {
  margin-right: 0;
  padding-right: 5px;
}
.fake-td.form-input {
  width: 100%;
}
.inexact-address-warning {
  color: #F00;
  font-size: small;
  font-style: italic;
}

.communication {
  margin-top: 30px;
  position: relative;
}
.communication::after {
  content: '';
  border-top: 1px solid #b5b5b5;
  height: 1px;
  position: absolute;
  width: 100%;
  margin-top: 10px;
}
.communication:first-child {
  margin-top: 0px;
}
.communication:last-child::after {
  display: none;
}
span.communication-badge,th.communication-badge {
  background-color: #196e9d;
  color: #fff;
  text-align: center;
}
.communication-required {
  color: #f08a00;
  font-size: small;
}
span.communication-badge.required,th.communication-badge.required {
  background-color: #f08a00;
}
span.communication-badge {
  padding: 3px 5px;
  border-radius: 10px;
}
.communication-bg {
  background-color: #e0f4ff;
}
.communication-desc {
  margin-top: 8px;
}
.communication-links {
  margin-top: 15px;
}
.communication-buttons {
  margin-top: 8px;
}

.timesheet-toolbar {
  border-bottom: 2px solid #F97C00 !important;
}
.timesheet-toolbar.gt {
  border-bottom-color: #438dff !important;
}
.timesheet-toolbar.workday {
  border-bottom-width: 3px !important;
}

.time-buckets-wrapper {
  overflow-x: auto;
}
.time-buckets > tbody > tr > td {
  height: 1px;
  padding: 8px 8px 8px 0;
}
.time-buckets > tbody > tr > td:first-child {
  padding: 8px;
}
.time-buckets ons-card {
  height: 100%;
  margin: 0;
}
.time-buckets ons-card .content {
  white-space: nowrap;
}
.bucket-period {
  display: flex;
  margin-top: 3px;
  align-items: center;
  font-size: small;
}
.time-bucket .name {
  display: block;
  margin-bottom: 5px;
}
.time-bucket .bucket-bar {
  font-size: small;
  display: inline-block;
  background-color: #e7e7e7;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  position: relative;
  margin-top: 5px;
  flex: 1 auto;
  text-align: center;
}
.time-bucket .bucket-bar:first-child {
  margin-top: 0;
}
.bucket-bar {
  position: relative;
}
.bucket-bar .timesheet-status {
  margin: 0;
  visibility: hidden;
  white-space: nowrap;
}
.bucket-bar .timesheet-status.visible {
  visibility: visible;
  position: absolute;
}
.bucket-limit {
  display: none;
}
.bucket-bar .bar {
  display: none;
}
.bucket-bar.show-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #d3efff;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  display: block;
}
.bucket-bar.show-bar:not(.full) .bar::after {
  position: absolute;
  content: '';
  bottom: 0;
  top: 0;
  right: 0;
  border-right: 1px solid #a4deff;
}
.bucket-bar.show-limit .bucket-limit {
  display: inline;
}
.ol-selectable, .ol-unselectable {
  transform: translateZ(0);
}
.left.toolbar__left, .right.toolbar__right {
  width: unset;
}
ons-page > ons-toolbar, .dialog-container > ons-toolbar, ons-page .toolbar.subBar {
  display: flex;
  align-items: center;
}
.timesheet-progress-steps.disabled {
  pointer-events: none;
}
.calendar-header {
  width: 100%;
  line-height: normal;
}
.calendar-header-day {
  padding: 6px 0;
  border-radius: 3px;
  font-weight: normal;
  font-size: 13px;
}
.calendar-header-day .day-date {
  font-weight: bold;
}
.calendar-header-day.today {
  background-color: rgba(255,255,255,0.1)
}

.calendar-header-day.occupied {
  color: #f97c00;
}

.calendar-header-days td {
  width: 14.286%; /* 100/7 */
}

.showup-sites-list .job-and-org {
  margin-left: 0;
}
.showup-sites-list .job-num {
  margin-left: 5px;
}
.showup-sites-list .job-list-description {
  padding-left: 5px;
}
.showup-sites-list .list-item__left {
  min-width: inherit;
}

/** Android **/
.android ons-button.left {
  float: left;
  margin-left: 8px;
}

/** iOS **/

.ios ons-page > ons-toolbar > .right.toolbar__right {
  min-width: 36px;
}
.ios ons-page .toolbar.subBar.fixed {
  padding-top: 0;
  top: 63.5px !important;
}
.ios .fte-page[shown="true"] .fte-scroll {
  margin-top: 44px;
}
.ios ons-page .toolbar.subBar::after {
  content: none;
}
.ios .alert-dialog-content:not(.preserve-default), .ios .dialog-content:not(.preserve-default) {
  text-align: left;
}
.ios .text-input:not(.no-white) {
  background-color: #fff !important;
}
.ios textarea {
  background: #fff !important;
  border-radius: 5px !important;
  border: none !important;
}
.ios .on-white .text-input, .ios .white-wrap .text-input, .ios .on-white textarea, .ios .white-wrap textarea {
  background-color: #efeff4 !important;
}
.ios .alert-dialog, .ios .alert-dialog-container, .ios .dialog, .ios .dialog-container {
  border-radius: 8px;
}
.ios .contains-select .alert-dialog-container > *:first-child, .ios .contains-select .dialog-container > *:first-child {
  border-radius: 8px 8px 0 0;
}
.ios .contains-select .alert-dialog-container > *:last-child, .ios .contains-select .dialog-container > *:last-child {
  border-radius: 0 0 8px 8px;
}
.ios .alert-dialog-title > ons-button {
  margin-top: -10px;
}
.ios ons-toolbar-button.active {
  color: #f97c00;
  background: none !important;
}
.ios .alert-dialog-content.no-padding, .ios .dialog-content.no-padding {
  padding: 0;
}
.ios #width_tmp_select {
  padding-right: 10px;
  -webkit-appearance: none;
}
.ios .select-wrap {
  padding-left: 3px;
  position: relative;
}
.ios input[type="date"], .ios .select-wrap select {
  -webkit-appearance: none;
  background-color: transparent !important;
  position: relative;
  white-space: nowrap;
  padding-right: 20px;
}
.ios input[type="date"]::after, .ios .select-wrap::after  {
  position: absolute;
  top: 50%;
  right: 5px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
  pointer-events: none;
}
.ios .receipt-header-button {
  min-height: 33px !important;
}
.ios #fte-add-jobs-done-button {
  padding: 3px 8px;
}
.ios .hotel-room-occupants .select-wrap {
  display: inline-block;
}
.hotel-room-occupants select {
  padding-right: 20px;
  width: 100%;
}
.title.smaller {
  font-size: 20px;
}
.summary-comment {
  font-size: smaller;
  padding: 3px 5px;
  white-space: pre-wrap;
}
.summary-comment:empty::after {
  content: 'No comment';
  color: #888;
  font-style: italic;
}