<ons-page style="height: 100%; display: flex;" class="fix">
  <div class="centerVertical" ng-show="working">
     <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <div id="showup-map" style="flex: 1; height: 100%; width: 100%; opacity: {{working?'0':'1'}}"></div>
  <div class="map-overlay-pointer-wrapper" ng-show="locating">
    <div class="map-overlay-pointer red"></div>
    <div class="map-overlay-pointer multiply"></div>
  </div>
  <div class="mapPopup popover popover--material" id="showupPopup" ng-hide="working">
    <div class="popover__content popover--material__content" style="display: flex; flex-direction: column;">
      <div class="flex" ng-show="popupSite">
        <ons-checkbox ng-model="popupSite.LocationVerified" style="float: right;"></ons-checkbox>
        <div ng-if="job.multiple" on-long-press="showJobDescription(popupSite.job)"><b class="job-and-org small">{{popupSite.job.WorkgroupJobNumber}} ({{popupSite.job.NumberChar}})</b></div>
        <b>{{ popupSite.Name }}</b>
        <div ng-hide="popupSite.loadingAddress">
          <div ng-if="popupSite.Address && popupSite.Address!=popupSite.NumberChar">{{ popupSite.Address}}</div>
          <div ng-if="popupSite.City || popupSite.StateCode || popupSite.PostalCode">
            <span ng-if="popupSite.City">{{ popupSite.City }}<span ng-if="popupSite.StateCode || popupSite.PostalCode">, </span></span>
            <span ng-if="popupSite.StateCode">{{ popupSite.StateCode }}</span>
            <span ng-if="popupSite.PostalCode">{{ popupSite.PostalCode }}</span>
          </div>
          <div class="inexact-address-warning" style="margin-top: 5px;" ng-show="popupSite.InexactAddressMatch">
            This address is not an exact match
          </div>
        </div>
        <div ng-show="popupSite.loadingAddress" style="text-align: center; padding: 5px;">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
      </div>
      <div style="display: flex; margin-top: 5px;" ng-show="popupSite">
        <ons-button ng-click="nav(popupSite)" ng-disabled="popupSite.loadingAddress"><ons-icon icon="ion-android-navigate"></ons-icon> Navigate</ons-button>
        <ons-button ng-click="editSite(popupSite)" modifier="quiet" ng-disabled="popupSite.loadingAddress"><ons-icon icon="ion-edit"></ons-icon> Edit </ons-button>
      </div>
      <div class="flex" ng-show="contextMenu">
        <b>{{ contextMenu.lat | number:5 }}, {{ contextMenu.lon | number:5 }}</b><br>
        <div style="padding-top: 10px; padding-bottom: 10px;">
          <label>
            <ons-checkbox ng-model="locating.loadingAddress"></ons-checkbox>
            Lookup New Address?
          </label>
        </div>
      </div>
      <div style="display: flex;" ng-show="contextMenu">
        <ons-button ng-click="saveLocatingPosition()">Confirm</ons-button>
        <ons-button modifier="quiet" ng-click="cancelLocating()">Cancel</ons-button>
      </div>
    </div>
    <div class="popover__arrow popover--bottom__arrow"></div>
  </div>
</ons-page>