<ons-page style="height: 100%;" ng-controller="OrgDocsController" ng-init="init()">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.toggle()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center" ng-show="loaded">
      Reference Documents
    </div>
    <div class="right" ng-show="opening"><ons-toolbar-button><ons-icon class="spin" icon="ion-load-b" style="font-size: 20px !important;"></ons-icon></ons-toolbar-button></div>
  </ons-toolbar>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-tabbar position="auto" dynamic-tabbar="orgDocTabbar" modifier="autogrow" ng-style="working?{'visibility':'hidden'}:{}">
      <ons-tab ng-repeat="tab in tabs" label="{{ tab.title }}" page="app/docs/org-docs-type.html" ng-style="styles.tab"></ons-tab>
  </ons-tabbar>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>