<ons-alert-dialog style="z-index: 100000;" class="expanded scrollable-dialog" cancelable>
  <div class="alert-dialog-title"> {{ data.member.Name }} <!-- Put class change button here? -->
    <div class="alert-dialog-subtitle" style="display: flex; align-items: center;">
      <label style="padding: 10px 0;">
        <ons-checkbox ng-model="data.allClasses" ng-change="refresh(parent.workweek.filters.filterClass.ID)"> All
      </label>
      <span ng-hide="data.allClasses" style="flex: 5; padding: 0 20px;">
        <ui-select ng-model="parent.workweek.filters.filterClass" title="Class" on-select="refresh(parent.workweek.filters.filterClass.ID)">
            <ui-select-match placeholder="Class">{{$select.selected.Class}}</ui-select-match>
            <ui-select-choices repeat="option in data.weekData.Class | propsFilter: {Class:$select.search} track by option.ID">
                <div ng-bind-html="option.Class | highlight: $select.search"></div>
            </ui-select-choices>
            <ui-select-no-choice>No class available.</ui-select-no-choice>
        </ui-select>
      </span>
      <span style="flex: 1; text-align: right;">
        Total: <b>{{ data.weekData.Total | number:2 }}</b>
      </span>
    </div>
  </div>
  <div class="alert-dialog-content no-padding">
    <div style="overflow: auto;">
      <table class="timesheet-main row-lines" ons-class="list" style="width: 100%;">
        <thead class="timesheet-header" ons-class="list-header">
          <th class="timesheet-summary-col left nowrap">Date</th>
          <th class="timesheet-summary-col nowrap">Job #</th>
          <th class="timesheet-summary-col nowrap">Crew</th>
          <th class="timesheet-summary-col" ng-if="!parent.workweek.HidePerDiem">PD</th>
          <th class="timesheet-summary-col" ng-if="data.weekData.Meals">Meals</th>
          <th class="timesheet-summary-col">ST</th>
          <th class="timesheet-summary-col">OT</th>
          <th class="timesheet-summary-col">DT</th>
          <th class="timesheet-summary-col">Total</th>
        </thead>
        <tbody>
            <tr ng-repeat-start="day in data.weekData.Days" ng-style="day.Style" ons-class="list-item">
                <td class="timesheet-summary-col nowrap smaller"><b>{{ ::day.Date | date:'M/d/yyyy' }} <span class="timesheet-ccc-badge">{{ ::day.Date | date:'EEE' }}</span></b></td>
                <td class="timesheet-summary-col nowrap smaller">
                  <ons-button class="icon-button expand-button" ng-click="day.Expanded = !day.Expanded" tabindex="-1" ng-show="day.Jobs.length>1" modifier="quiet"><span class="{{day.Expanded?'ion-minus-circled':'ion-plus-circled'}}"></span></ons-button>
                  <span ng-hide="day.Jobs.length!=1" ng-style="day.Jobs[0].Style">{{ ::day.Jobs[0].Number }}</span>
                </td>
                <td class="timesheet-summary-col nowrap smaller">
                  <ons-button class="icon-button expand-button" ng-click="parent.expandCrews('day', day)" tabindex="-1" ng-show="day.crewCount>1&&(!day.Expanded||day.crewCount!=day.Jobs.length)" modifier="quiet"><span class="{{day.CrewExpanded&&(day.Expanded||day.crewCount==1)?'ion-minus-circled':'ion-plus-circled'}}"></span></ons-button>
                  <span ng-hide="day.crewCount!=1" ng-style="day.Jobs[0].Crews[0].Style">{{ ::day.Jobs[0].Crews[0].Name }}</span>
                </td>
                <td class="timesheet-summary-col" ng-if="!parent.workweek.HidePerDiem">
                  <div ng-if="!parent.workweek.HidePerDiemAmount">{{ ::day.PD | currency:'$' }}</div>
                  <checkbox-disabled checked="day.PD>0" ng-if="parent.workweek.HidePerDiemAmount"></checkbox-disabled>
                </td>
                <td class="timesheet-summary-col" ng-if="data.weekData.Meals">{{ ::day.ME||'' }}</td>
                <td class="timesheet-summary-col">{{ ::day.ST | number:2 }}</td>
                <td class="timesheet-summary-col">{{ ::day.OT | number:2 }}</td>
                <td class="timesheet-summary-col">{{ ::day.DT | number:2 }}</td>
                <td class="timesheet-summary-col total">{{ ::day.Total | number:2 }}</td>
            </tr>
            <tr ng-repeat-start="job in day.Jobs" ng-show="day.Jobs.length > 1 && day.Expanded" class="alt" ng-style="day.Style" ons-class="list-item">
              <td class="timesheet-summary-col"></td>
              <td class="timesheet-summary-col nowrap smaller" ng-style="job.Style">{{ ::job.Number }}</td>
              <td class="timesheet-summary-col nowrap smaller">
                <ons-button class="icon-button expand-button" ng-click="parent.expandCrews('job', day, job)" tabindex="-1" ng-show="job.Crews.length>1" modifier="quiet"><span class="{{job.CrewExpanded?'ion-minus-circled':'ion-plus-circled'}}"></span></ons-button>
                <span ng-hide="job.Crews.length!=1" ng-style="job.Crews[0].Style">{{ ::job.Crews[0].Name }}</span>
              </td>
              <td class="timesheet-summary-col" ng-if="!parent.workweek.HidePerDiem">
                <div ng-if="!parent.workweek.HidePerDiemAmount">{{ ::job.PD | currency:'$' }}</div>
                <checkbox-disabled checked="job.PD>0" ng-if="parent.workweek.HidePerDiemAmount"></checkbox-disabled>
              </td>
              <td class="timesheet-summary-col" ng-if="data.weekData.Meals">{{ ::job.ME||'' }}</td>
              <td class="timesheet-summary-col">{{ ::job.ST | number:2 }}</td>
              <td class="timesheet-summary-col">{{ ::job.OT | number:2 }}</td>
              <td class="timesheet-summary-col">{{ ::job.DT | number:2 }}</td>
              <td class="timesheet-summary-col total">{{ ::job.Total | number:2 }}</td>
            </tr>
            <tr ng-repeat-end ng-repeat="crew in job.Crews" ng-show="job.Crews.length > 1 && job.CrewExpanded && day.CrewExpanded&&(day.Expanded||day.Jobs.length==1)" class="alt{{day.Jobs.length>1?'-darker':''}}" ng-style="day.Style" ons-class="list-item">
              <td class="timesheet-summary-col"></td>
              <td class="timesheet-summary-col"></td>
              <td class="timesheet-summary-col nowrap smaller" ng-style="crew.Style">{{ ::crew.Name }}</td>
              <td class="timesheet-summary-col" ng-if="!parent.workweek.HidePerDiem">
                <div ng-if="!parent.workweek.HidePerDiemAmount">{{ ::crew.PD | currency:'$' }}</div>
                <checkbox-disabled checked="crew.PD>0" ng-if="parent.workweek.HidePerDiemAmount"></checkbox-disabled>
              </td>
              <td class="timesheet-summary-col" ng-if="data.weekData.Meals">{{ ::crew.ME||'' }}</td>
              <td class="timesheet-summary-col">{{ ::crew.ST | number:2 }}</td>
              <td class="timesheet-summary-col">{{ ::crew.OT | number:2 }}</td>
              <td class="timesheet-summary-col">{{ ::crew.DT | number:2 }}</td>
              <td class="timesheet-summary-col total">{{ ::crew.Total | number:2 }}</td>
            </tr>
            <tr style="display: none" ng-repeat-end></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" ng-click="step(-1)" ng-disabled="loading" class="alert-dialog-button left">
        <ons-icon icon="ion-chevron-left" style="vertical-align: 0;"></ons-icon> Prior
    </ons-button>
    <ons-button modifier="quiet" ng-click="step(+1)" ng-disabled="loading" class="alert-dialog-button left">
        Next <ons-icon icon="ion-chevron-right" style="vertical-align: 0;"></ons-icon>
     </ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()">OK</ons-button>
  </div>
</ons-alert-dialog>