<ons-page>
  <ons-list style="flex: 1; transform: translate(0,0);" class="dialog-list" ng-show="tab.tasks.length && (tab.tasks.length <= 100 || data.filterTasks.length >= 3)" infinite-scroll="increaseLimit(tab)" infinite-scroll-container="'#te-task-dialog-tabbar .tabbar__content'" infinite-scroll-distance="1">
    <ons-list-item ng-repeat="task in tab.tasks | propsFilter: {TaskNumber:data.filterTasks,selected:true,or:true} | 
limitTo: tab.limitTo track by task.ID" ng-click="selectTask(task, data.multiSelect, $event)" style="font-size: 14px;" on-long-press="transferTask($index)" tappable>
      <div ng-show="data.multiSelect" style="padding-left: 10px">
        <ons-checkbox ng-model="task.selected" ng-click="selectTask(task, data.multiSelect, $event)"></ons-checkbox>
      </div>
      <div class="dialog-list-item">
        <div style="font-weight: bold; font-style: oblique;">
          {{ ::task.TaskNumber }}
        </div>
        <div style="font-style: oblique;">
          {{ ::task.Description }}
        </div>
      </div>
    </ons-list-item>
  </ons-list>
  <div ng-show="!tab.tasks.length || (tab.tasks.length > 100 && data.filterTasks.length < 3)" style="padding: 14px; text-align: center; background-color: #fff;">
    <span style="opacity: 0.5;" ng-show="!tab.tasks.length">No tasks of this type available.</span>
    <span style="opacity: 0.5;" ng-show="tab.tasks.length > 100 && data.filterTasks.length < 3">Enter at least 3 characters in the filter to see matching tasks.</span>
  </div>
</ons-page>