<ons-alert-dialog class="time-picker">
    <div class="alert-dialog-title">{{ title }}</div>
    <div class="alert-dialog-content">
      <clockpicker ng-model="time" clock-mode="hours" ng-hide="loading"></clockpicker>
      <div class="centerVertical" ng-show="loading">
        <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
    </div>
    <div class="alert-dialog-footer">
      <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true, time)" ng-disabled="!time || loading">Ok</ons-button>
      <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
    </div>
 </ons-alert-dialog>