<ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;">
  <div class="centerVertical" ng-show="$parent.data.working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-list>
    <ons-list-item tappable modifier="longdivider" ng-repeat="timesheet in tab.timesheets" ng-click="openTimesheet(timesheet)" class="{{$parent.data.openingTimesheet?'faded':''}} {{timesheet.isCurrent?'timesheet-bold':''}}">
      <div class="left">{{ timesheet.title }}</div>
      <div class="right timesheet-tab-status">
        <div>
         <div class="job-list-description" ng-if="!timesheet.isMyTimesheet||tab.showCrewName" style="margin-bottom: 5px;">{{ timesheet.StartDate | date:'MM/dd/yyyy' }} - {{ timesheet.EndDate | date:'MM/dd/yyyy' }}</div>
         <div class="timesheet-review-row {{getStatusClass(timesheet.Status)}}" style="text-align: right; font-size: 14px; font-style: italic;">{{ timesheet.Status }}</div>
        </div>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>