<ons-page style="height: 100%; display: flex;">
  <ons-card class="job-detail-wrapper" ng-hide="job.multiple">
      <ons-row>
        <ons-col>
          <div class="job-detail-title">Job #: {{ job.NumberChar }}</div>
        </ons-col>
        <ons-col>
          <div class="job-detail-title">WG Job #: {{ job.WorkgroupJobNumber }}</div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>  
          <div class="job-detail-subtitle light">{{ job.Description }}</div>
        </ons-col>
      </ons-row>
   </ons-card>
  <ons-list class="routing-locations">
    <ons-list-item modifier="longdivider" id="showup-loc-{{location.JobShowUpSiteID}}" ng-repeat="location in job.Site | filter: filterLocations(filterList) track by location.JobShowUpSiteID" class="location" tappable>
        <div class="left" ng-click="locatePin(location)">
          <ons-icon icon="ion-android-pin" ng-show="location.status=='map'" style="color: {{ location.LocationVerified?colors.verified:colors.unverified }};"></ons-icon>
          <ons-icon icon="ion-load-c" ng-show="location.status=='loading'" class="spin"></ons-icon>
          <ons-icon icon="ion-alert-circled" ng-show="location.status=='error'" style="color: #F00;"></ons-icon>
        </div>
        <div class="center canFade">
          <div on-long-press="showJobDescription(location.job)">
            <div ng-if="job.multiple"><b class="job-and-org small">{{location.job.WorkgroupJobNumber}} ({{location.job.NumberChar}})</b></div>
            <b>{{ location.Name }}</b>
            <div ng-if="location.Address">{{ location.Address}}</div>
            <div ng-if="location.LocationCity || location.LocationStateCode || location.LocationPostalCode">
              <span ng-if="location.City">{{ location.City }}<span ng-if="location.StateCode || location.PostalCode">, </span></span>
              <span ng-if="location.StateCode">{{ location.StateCode }}</span>
              <span ng-if="location.PostalCode">{{ location.PostalCode }}</span>
            </div>
          </div>
        </div>
        <div class="right right-buttons canFade">
          <div class="detail-buttons" style="width: auto !important;">
            <ons-button ng-click="editSite(location)" modifier="quiet"><ons-icon icon="ion-edit"></ons-icon></ons-button>
          </div>
        </div>
    </ons-list-item>
  </ons-list>
</ons-page>