<ons-page style="height: 100%;" ng-controller="EditReceiptController" ons-show="showPage()" ons-hide="hidePage()">
  <ons-toolbar>
    <div class="left">
      <ons-back-button id="receipt-back-button" ng-disabled="loading" ></ons-back-button>
    </div>
    <div class="center" ng-bind="title"></div>
    <div class="right">
      <ons-toolbar-button ng-hide="working||loading||editing||!receipt.ID||receipt.StatusCode=='BI'" ng-click="edit()">
        <ons-icon icon="ion-edit"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="working||loading||!editing||!receipt.ID" ng-click="cancelEditing()">
        <ons-icon icon="ion-close"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="working||loading||!editing" ng-click="doneEditing()">
        <ons-icon icon="ion-checkmark"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

   <table style="height: 100%; width: 100%;" cellspacing="0" cellpadding="0"><tr style="height: 1px;"><td>
    <ons-card class="job-detail-wrapper">
        <ons-row style="display: table-row">
          <ons-col style="display: table-cell; width: 100%">
            <div class="job-detail-title">
              <span ng-show="job">Job: {{ job.WorkgroupJobNumber }} <span ng-show="job.NumberChar!=job.WorkgroupJobNumber">({{job.NumberChar}})</span></span>
              <span ng-hide="job">Find a job</span>
            </div>
          </ons-col>
          <ons-col style="display: table-cell; width: 1px; padding-left: 20px;" ng-show="editing">
            <ons-button class="receipt-header-button" ng-click="findJob()" ng-disabled="working||loading">
              <ons-icon icon="ion-search" style="font-size: 20px"></ons-icon>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>  
            <div class="divider"></div>
          </ons-col>
        </ons-row>
        <ons-row style="display: table-row">
          <ons-col style="display: table-cell; width: 50%; padding-right: 10px;">
            <span>Status: <span class="receipt-status {{getStatusClass(receipt)}}">{{ receipt.InvoiceStatus.Meaning }}</span></span>
          </ons-col>
          <ons-col style="display: table-cell; width: 50%">
            <span ng-show="receipt.VendorOrgTypeCode">Vendor: {{ receipt.VendorName }}</span>
            <span ng-hide="receipt.VendorOrgTypeCode">Select a vendor</span>
          </ons-col>
          <ons-col style="display: table-cell; width: 1px; padding-left: 20px;" ng-show="editing">
            <ons-button class="receipt-header-button" ng-click="findVendor()" ng-disabled="working||loading">
              <ons-icon icon="ion-card" style="font-size: 20px"></ons-icon>
            </ons-button>
          </ons-col>
        </ons-row>
     </ons-card>
    </td></tr><tr style="height: 100%;"><td style="vertical-align: top;">
      <div class="centerVertical" ng-show="working">
         <ons-progress-circular indeterminate="true"></ons-progress-circular>
      </div>
      <fieldset ng-hide="working" class="add-job-wrapper white-wrap" ng-disabled="loading">
        <ons-row>
          <ons-col style="flex:1">
            <label for="receiptInvoiceNumber">Receipt #</label>
            <ons-input ng-model="receipt.InvoiceNumber" input-id="receiptInvoiceNumber" ng-readonly="!editing"></ons-input>
          </ons-col>
          <ons-col style="flex:1">
            <label>Category</label>
            <ui-select ng-model="receipt.InvoiceType" theme="selectize" tagging="null" style="{{!editing?'pointer-events: none;':''}}" ng-disabled="loading" on-select="changeType()">
              <ui-select-match>
                  <span ng-bind="$select.selected.Meaning"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (data.InvoiceType | filter: $select.search)">
                  <span ng-bind="item.Meaning"></span>
              </ui-select-choices>
            </ui-select>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col style="flex:1">
            <label for="receiptDate">Date</label>
            <input type="date" ng-model="receipt.InvoiceDate" input-id="receiptDate" ng-readonly="!editing" ons-class="text-input" style="width: 100%;">
          </ons-col>
          <ons-col style="flex:1">
            <label for="receiptAmount">Amount</label>
            <input type="text" ng-model="receipt.BaseAmount" input-id="receiptAmount" ng-readonly="!editing" formatted-number-input="{decimals:2,prefix:'$'}" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" inputmode="decimal" autocapitalize="words">
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <label for="receiptDescription">Description</label>
            <textarea class="textarea" rows="2" ng-model="receipt.Description" id="receiptDescription" style="width: 100%" ng-readonly="!editing"></textarea>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <label class="checkbox-disabled-wrapper" ng-hide="['FB','CP'].includes(job.StatusCode)||['FB','CP'].includes(receipt.JobStatusCode)">
              <ons-checkbox ng-model="receipt.billable" ng-disabled="!editing"></ons-checkbox>
            Billable</label>
          </ons-col>
          <ons-col>
            <label class="checkbox-disabled-wrapper">
              <ons-checkbox ng-model="receipt.ReimbursableFlag" ng-disabled="!editing"></ons-checkbox>
            Reimbursable</label>
          </ons-col>
        </ons-row>
      </fieldset>
      <ons-row style="display: table-row">
          <ons-col style="display: table-cell; width: 100%">
            <ons-list-title>Photos</ons-list-title>
          </ons-col>
          <ons-col style="display: table-cell; width: 1px; padding-left: 20px;" ng-show="editing">
            <ons-button style="min-height: 30px; line-height: 30px;" ng-click="addPhoto()" ng-disabled="working||loading" modifier="quiet">
              <ons-icon icon="ion-plus" style="font-size: 22px"></ons-icon>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-list>
          <ons-list-item tappable modifier="longdivider" ng-repeat="upload in receipt.ReceiptPhoto" ng-click="openPhoto($index)" ng-class="(loading||working)?'faded':''">
            <div class="left" ng-if="editing && upload.thumb">
              <div class="camera-thumbnail small" ng-style="{'background-image':'url('+upload.thumb+')'}"></div>
            </div>
            <div class="center">
              {{ upload.Description }}
              <i ng-show="!upload.Description">&lt;No Description&gt;</i>
            </div>
            <div class="right" ng-if="editing && upload.thumb">
               <ons-button ng-click="removePhoto($index)"><ons-icon icon="ion-close" style="font-size: 18px"></ons-icon></ons-button>
            </div>
          </ons-list-item>
        </ons-list>
    </td></tr></table>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>