<ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;">
  <div class="centerVertical" ng-show="working||!receipts.length">
    <ons-progress-circular ng-show="working" indeterminate="true"></ons-progress-circular>
    <div ng-hide="working">No reciepts available.</div>
  </div>
  <ons-list>
    <ons-list-item tappable modifier="longdivider" ng-repeat="receipt in receipts" ng-click="openReceipt(receipt)" ng-class="openingReceipt?'faded':''">
      <div class="left">
        <div class="date-square {{getStatusClass(receipt)}}">
          <div class="day">{{ receipt.InvoiceDate | date:'M/dd' }}</div>
          <div class="year">{{ receipt.InvoiceDate | date:'yyyy' }}</div>
        </div>
      </div>
      <div class="center">
        {{ receipt.InvoiceNumber }}
        <div class="job-and-org"><span class="org">{{ receipt.JobWorkgroupJobNumber }}</span></div>
        <div class="job-and-org">{{ receipt.InvoiceTypeMeaning }}</div>
      </div>
      <div class="right">
         <span>{{ receipt.BaseAmount | currency:'$' }}</span>
      </div>
    </ons-list-item>
  </ons-list>
  <ons-button modifier="quiet" ng-show="next && next.id" ng-click="loadMoreMine()" ng-disabled="working || openingReceipt" style="display: block; margin: 10px auto;">Load More</ons-button>
</ons-page>