<ons-page>
  <ons-card class="job-detail-wrapper" ng-cloak>
    <ons-row>
      <ons-col width="65%">
        <div class="job-detail-title">Ref #: {{ location.ReferenceNumber }}</div>
      </ons-col>
      <ons-col>
        <div class="job-detail-title">Type: {{ location.TypeMeaning }}</div>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>  
        <div class="job-detail-subtitle light">{{ location.Description }}</div>
      </ons-col>
    </ons-row>
    <div class="divider"></div>
    <ons-row style="display: table-row;">
      <ons-col style="display: table-cell; width: 1px; padding-right: 20px; white-space: nowrap;">
        <ons-button style="padding: 0px 10px; min-height: 30px; line-height: 30px;" ng-click="openPhotos()" class="{{location.hasPhoto?'':'button--material--flat'}}" ng-disabled="completing||working" ng-hide="!location.hasPhoto&&location.hasDocument">
          <ons-icon icon="ion-camera" style="font-size: 20px"></ons-icon>
        </ons-button>
        <ons-button style="padding: 0px 10px; min-height: 30px; line-height: 30px;" ng-click="openDocuments()" modifier="quiet" ng-disabled="completing||working" ng-if="location.hasDocument">
          <ons-icon icon="ion-document" style="font-size: 20px"></ons-icon>
        </ons-button>
      </ons-col>
      <ons-col style="display: table-cell; width: 50%;">
        <div class="job-detail-subtitle" ng-if="location.CompleteDate">Completed: {{ location.CompleteDate | date:'M/d/yyyy' }}</div>
      </ons-col>
      <ons-col style="display: table-cell; width: 50%;">  
        <div class="job-detail-subtitle">Complete: {{ location.PercentComplete}}% <ons-progress-bar style="margin: 5px 0px" value="{{ location.PercentComplete }}"></ons-progress-bar></div>
      </ons-col>
    </ons-row>
  </ons-card>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-list ng-hide="working">
      <ons-list-header style="display: flex;">
          <div class="left location-detail-assembly" ng-show="location.UseAssembliesFlag">Assm.</div><!--
       --><div class="left location-detail-action">Action</div><!--
       --><div class="left location-detail-spec">Spec #</div><!--
       --><div class="left location-detail-uom">UOM</div><!--
       --><div class="left location-detail-qty if-480 if-inline">Est. Qty</div><!--
       --><div class="left location-detail-qty if-480 if-inline">Comp. Qty</div><!--
       --><div class="left location-detail-qty">Rem. Qty</div>
      </ons-list-header>
      <ons-list-item modifier="longdivider" id="anchor{{detail.JobLocationDetailID}}" ng-repeat="detail in location.LocationDetail | filter:showDetailRow" class="location-detail completion" ng-class="getDetailClass(detail)" on-click="openLocationDetail(detail)" on-long-press="detailOnLongPress(detail)" tappable>
          <div class="left" ng-class="detail.Comments?'has-comments':''">
            <div class="location-detail-assembly completion-cell" ng-show="location.UseAssembliesFlag">
              <div>{{ detail.AssemblyNumber }}</div>
              <div class="desc-below" ng-show="detail.AssemblyID">
                {{ detail.AssemblyDescription }}
                <div class="location-detail-comments" ng-show="detail.Comments" ng-bind="detail.Comments"></div>
              </div>
            </div>
            <div class="location-detail-action completion-cell">{{ detail.ActionCodeCalc }}</div>
            <div class="location-detail-spec completion-cell">
              <div>{{ detail.SpecificationSpecificationNumber }}</div>
              <div class="desc-below" ng-show="!detail.AssemblyID">
                {{ detail.SpecificationDescription }}
                <div class="location-detail-comments" ng-show="detail.Comments" ng-bind="detail.Comments"></div>
              </div>
            </div>
            <span class="location-detail-uom completion-cell">{{ detail.UnitOfMeasureAbbreviation }}</span>
            <span class="location-detail-qty if-480 completion-qty">{{ detail.EstimatedQuantity | number:2 }}</span>
            <span class="location-detail-qty if-480 completion-qty">{{ detail.CompletedToDate | number:2 }}</span>
            <span class="location-detail-qty completion-cell completion-qty">{{ detail.RemainingQty | number:2 }}</span>
          </div>
          <div class="center"></div>
          <div class="right location-detail-right">
              <div class="detail-buttons" style="width: auto !important;" ng-show="!selectMode && !location.ConvertedForLocationTimeFlag && ((!detail.Complete && (detail.CompleteToEstimateButton == 'Complete' || detail.CompleteToEstimateButton == 'Complete All')) || detail.CompleteToEstimateButton == 'Uncomplete')">
                  <ons-button style="padding-left: 0;" modifier="quiet" class="complete complete-button" ng-show="(detail.CompleteToEstimateButton == 'Complete' || detail.CompleteToEstimateButton == 'Complete All')" on-click="detailComplete(detail, $event)" ng-disabled="completing" on-long-press="detailPartialComplete(detail, $event)">
                    <div style="position: relative;">
                      <div ng-hide="detail.CompletedToDate == 0" style="position: absolute; width: 50%; overflow: hidden;">
                        <ons-icon class="half-complete" icon="ion-checkmark-circled"></ons-icon>
                      </div>
                      <ons-icon icon="ion-checkmark-circled"></ons-icon>
                    </div>
                  </ons-button>
                  <ons-button style="padding-left: 0;" modifier="quiet" class="uncomplete" ng-show="detail.CompleteToEstimateButton == 'Uncomplete' && !detail.PartialOnly" on-click="detailUncomplete(detail, $event)" ng-disabled="completing"><ons-icon icon="ion-backspace"></ons-icon></ons-button>
              </div>
              <div class="location-detail-status" ng-show="selectMode && !detail.Complete && (detail.CompleteToEstimateButton == 'Complete' || detail.CompleteToEstimateButton == 'Complete All')">
                  <ons-checkbox ng-model="detail.selected" on-click="multiSelectBox(detail, $event)" ng-style="{'pointer-events': detail.CompleteToEstimateButton == 'Complete All'?'all':'none'}"></ons-checkbox>
              </div>
              <div ng-show="(detail.Complete && detail.CompleteToEstimateButton != 'Uncomplete') || (!detail.Complete && detail.CompleteToEstimateButton != 'Complete')">
                <div class="location-detail-status" ng-show="!detail.FailedInspectionFlag && detail.Complete">
                    <ons-icon icon="ion-checkmark"></ons-icon>
                </div>
                <div class="location-detail-status" ng-show="detail.FailedInspectionFlag">
                    <ons-icon icon="ion-close"></ons-icon>
                </div>
              </div>
        </div>
      </ons-list-item>
  </ons-list>
</ons-page>