<ons-page ng-controller="CompleteLocationController">
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center"><span class="if-480">Location #: </span>{{ location.NumberChar }}</div>
    <div class="right">
      <ons-toolbar-button ng-show="env == 'demo' && goToInfo && !selectMode" ng-click="goToInfo()"><ons-icon icon="ion-help"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working||selectMode" ng-click="navigateLocation(-1)" ng-disabled="completing || !canNav.left"><ons-icon icon="ion-chevron-left"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working||selectMode" ng-click="navigateLocation(1)" ng-disabled="completing || !canNav.right"><ons-icon icon="ion-chevron-right"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="design.process.name=='EndDay' && !selectMode" ng-click="endDay()" ng-disabled="loading||adding||working||closing"><ons-icon icon="ion-log-out"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working || completing || (location.Complete && design.StatusCode != 'IP') || selectMode || tabIndex > 1" ng-click="multiSelect(true)"><ons-icon icon="ion-checkmark-circled"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working || completing || selectMode || location.ConvertedForLocationTimeFlag" ng-click="addDetail()" ng-disabled="completing || (location.Complete && design.StatusCode != 'IP')"><ons-icon icon="ion-plus"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="multiSelect(false)" ng-show="selectMode&&!completing"><ons-icon icon="ion-close"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="completeAllDialog()" ng-show="selectMode&&!completing" ng-disabled="canFinishSelect(location.LocationDetail)"><ons-icon icon="ion-checkmark"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="completing">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-tabbar position="auto" ng-class="location.UseAssembliesFlag?'':'no-tabs'" var="completionDetailsTabbar">
    <ons-tab label="By Assembly" page="app/completework/complete-work-details-1.html" active></ons-tab>
    <ons-tab label="By Detail" page="app/completework/complete-work-details-2.html"></ons-tab>
    <ons-tab label="Summary" page="app/completework/complete-work-details-3.html" ng-show="!selectMode"></ons-tab>
  </ons-tabbar>
</ons-page>