<ons-alert-dialog style="z-index: 100000;">
  <div class="alert-dialog-title">Find Location</div>
  <div class="alert-dialog-content">
    <div class="centerVertical" style="margin: 20px;" ng-show="data.searching">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <form ng-hide="data.searching" ng-submit="search()">
       <ons-row>
        <ons-col>
          <ons-input type="text" placeholder="Search term" ng-model="data.term" style="width: 100%;"></ons-input>
        </ons-col>
    </form>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="search()" ng-disabled="!data.term">Find</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="close()">Cancel</ons-button>
  </div>
</ons-alert-dialog>