<ons-page>
  <ons-list>
    <ons-list-item modifier="longdivider" ng-repeat="upload in uploads | filter:{TypeCode:tab.code} as filteredUploads" ng-click="openUpload(upload)" ng-disabled="openingUpload" tappable>
      <div class="left">
        <span ng-if="upload.Description">{{ upload.Description }}</span>
        <i ng-if="!upload.Description">&lt;No description&gt;</i>
      </div>
      <div class="right" ng-show="tab.code=='PH'">
        <ons-button class="icon-button" modifier="quiet" ng-disabled="openingUpload" ng-click="deleteUpload(upload)" ng-if="deleteUpload">
          <ons-icon icon="ion-trash-b"></ons-icon>
        </ons-button>
      </div>
    </ons-list-item>
    <ons-list-item ng-show="!filteredUploads.length">
      <div class="left" style="text-align: center; color: #ccc;">
        <i>No items attached</i>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>