<span class="name timesheet-navigator-selector-item {{item.addToCrew?'blue':''}} {{ item.cssClass }} {{item.rental?'italic':''}}">
  {{ ::item.Number }} - {{ ::item.Description }} <span ng-if="item.rental">*</span>
</span>
<span class="timesheet-ccc-badge">{{ ::item.Category }}</span>