<ons-page style="height: 100%;" ng-controller="FTEWorkWeekController" ons-show="showPage()" ons-hide="hidePage()">
  <ons-toolbar class="timesheet-toolbar">
    <div class="left">
      <ons-back-button id="timesheet-back-button" ng-disabled="loading" ng-hide="fromGeneralTime"></ons-back-button>
      <ons-toolbar-button ng-show="fromGeneralTime" ng-click="closeTimesheet()" ng-disabled="loading||adding||working||closing"><ons-icon icon="ion-log-out"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">
      {{ workweek&&workweek.PersonFullName?workweek.PersonFullName:timesheet.title }}
    </div>
    <div class="right">
      <ons-toolbar-button ng-show="!loading&&workweek.changes&&workweek.AllowEdit" ng-click="save()">
        <ons-icon icon="fa-save"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="loading||working" ng-click="reports()">
        <ons-icon icon="fa-bar-chart"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <div ng-hide="working">
    <table style="width: 100%; border-spacing: 10px;"><tr>
      <td>
        Start: <br>
        End:
      </td>
      <td style="width: 50%">
        <b>{{ timesheet.StartDate | date:'MM/dd/yyyy' }}</b><br>
        <b>{{ timesheet.EndDate | date:'MM/dd/yyyy' }}</b>
      </td>
      <td style="width: 50%">
        Work Week: <ui-select ng-model="workweek.timeWorkWeek" title="Work Week" theme="selectize" ng-disabled="loading||!workweek.canChangeTimeCode" on-select="changeTimeWorkWeek()">
            <ui-select-match placeholder="Work Week">{{$select.selected.Meaning}}</ui-select-match>
            <ui-select-choices repeat="option in workweek.sp.timeWorkWeek | filter: {Meaning:$select.search} track by option.SmartCode">
                <div ng-bind="option.Meaning"></div>
            </ui-select-choices>
        </ui-select>
      </td>
    </tr></table>
    <div class="time-buckets-wrapper" ng-show="visibleBuckets.length">
      <table class="timesheet-totals time-buckets"><tr>
        <td ng-repeat="bucket in workweek.TimeBucket | filter:{VisibleOnFTFlag:true} as visibleBuckets">
          <div style="height: 100%">
            <ons-card>
              <div class="content time-bucket">
                <u class="name">{{ ::bucket.Name }}</u>
                <span class="bucket-period">
                  {{::(getBucketDate(bucket,'Period1'))}}:
                  <span class="bucket-bar {{bucket.HourLimit&&bucket.totalPeriod1Hours?'show-bar':''}} {{bucket.HourLimit?'show-limit':''}} {{bucket.HourLimit==bucket.totalPeriod1Hours?'full':''}}">
                    <span class="bar" ng-style="{width:max(100*bucket.totalPeriod1Hours/bucket.HourLimit)+'%'}"></span>
                    <b class="visible timesheet-status {{bucket.totalPeriod1Hours<0?'timesheet-red':bucket.totalPeriod1Hours==bucket.HourLimit?'timesheet-blue':''}}">
                      <span>{{ bucket.totalPeriod1Hours | number:2 }}</span>
                      <span class="bucket-limit"> / {{ bucket.HourLimit | number:2 }}</span>
                    </b>
                    <b class="timesheet-status">
                      {{ bucket.totalPeriod1Hours | number:2 }}
                      <span class="bucket-limit"> / {{ bucket.HourLimit | number:2 }}</span>
                    </b>
                  </span>
                </span>
                <span class="bucket-period" ng-if="bucket.Period2Start">
                  {{::(getBucketDate(bucket,'Period2'))}}:
                  <span class="bucket-bar {{bucket.HourLimit&&bucket.totalPeriod2Hours?'show-bar':''}} {{bucket.HourLimit?'show-limit':''}} {{bucket.HourLimit==bucket.totalPeriod2Hours?'full':''}}">
                    <span class="bar" ng-style="{width:max(100*bucket.totalPeriod2Hours/bucket.HourLimit)+'%'}"></span>
                    <b class="visible timesheet-status {{bucket.totalPeriod2Hours<0?'timesheet-red':bucket.totalPeriod2Hours==bucket.HourLimit?'timesheet-blue':''}}">
                      <span>{{ bucket.totalPeriod2Hours | number:2 }}</span>
                      <span class="bucket-limit"> / {{ bucket.HourLimit | number:2 }}</span>
                    </b>
                    <b class="timesheet-status">
                      {{ bucket.totalPeriod2Hours | number:2 }}
                      <span class="bucket-limit"> / {{ bucket.HourLimit | number:2 }}</span>
                    </b>
                  </span>
                </span>
              </div>
            </ons-card>
          </div>
        </td>
      </tr></table>
    </div>
    <div style="margin: 8px" ng-if="workweek.approveAll||workweek.zeroAll">
      <ons-button class="timesheet-button" ng-if="workweek.zeroAll" ng-disabled="loading" ng-click="zeroAllHours()" modifier="quiet">{{ workweek.zeroAll }}</ons-button>
      <ons-button class="timesheet-button" ng-if="workweek.approveAll" ng-disabled="loading" ng-click="reviewAll(workweek.approveAllCode)" modifier="quiet">{{ workweek.approveAll }}</ons-button>
    </div>
    <ons-card ng-repeat="day in workweek.WorkDay track by day.ID" class="timesheet-tab-status {{getStatusClass(day.StatusCode)}}" style="{{workweek.currentDay==$index?'border: 1px solid #666':'';}}" ng-click="changeDay($index)" ng-disabled="loading" ng-attr-id="{{workweek.currentDay==$index?'timesheetCurrentDayCard':null}}">
      <b class="weekday-date" style="float: right; font-size: 12px;">{{ day.StatusMeaning }}</b>
      <b class="weekday-date">{{ ::day.WeekdayDate | date:'EEE' }} {{ ::day.WeekdayDate | date:'M/dd' }}</b>
      <div class="content">
        <ons-row>
          <ons-col>My Hours <br><b>{{ day.WeekdayHours | number:2 }}</b></ons-col>
          <ons-col>ST <br><b>{{ day.STHours | number:2 }}</b></ons-col>
          <ons-col>OT <br><b>{{ day.OTHours | number:2 }}</b></ons-col>
          <ons-col>DT <br><b>{{ day.DTHours | number:2 }}</b></ons-col>
        </ons-row>
      </div>
    </ons-card>
  </div>
</ons-page>
