<span class="name timesheet-navigator-selector-item {{item.addToCrew?'blue':''}} {{item.isMe?'timesheet-bold':''}} {{ item.cssClass }}">{{ ::item.Name }}</span>
<span class="timesheet-ccc-badge {{item.ClassID!=item.PersonClassID?'timesheet-red':''}}">{{ ::item.ClassShort }}</span>