<ons-alert-dialog class="time-picker">
  <div class="alert-dialog-title">{{options.title||'Meals'}}</div>
  <div class="alert-dialog-content">
    <form ng-submit="done(true)" novalidate="true">
      <input type="text" placeholder="{{options.placeholder||'Meals'}}" ng-model="model.value" style="width: 100%; margin-top: 10px;" ng-disabled="loading" formatted-number-input="{decimals:0}" ons-class="text-input" pattern="^-?(?:[0-9]+|[0-9]*)$" inputmode="numeric" autocapitalize="words">
    </form>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button left" ng-click="reset()">Reset</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-disabled="options.validate&&!options.validate(model.value)">Ok</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
  </div>
</ons-alert-dialog>