<ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;">
    <div class="centerVertical" ng-show="working">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <ons-list>
      <ons-list-item tappable modifier="longdivider" ng-repeat="job in tab.jobs" on-click="openJob(job, tab)" on-long-press="jobOnLongPress(job, tab)" ng-class="openingJob?'faded':''" id="anchor{{job.ID}}">
        <div class="left" style="min-width: auto;">{{ getJobNumber(job) }}
          <div class="job-and-org">{{ getOtherJobNumber(job) }}</div>
        </div>
        <div class="right">
           <span class="job-list-description">{{ job.Description }}</span>
        </div>
      </ons-list-item>
    </ons-list>
</ons-page>