<ons-page style="height: 100%;" ng-controller="DailyReportController" ng-init="init()">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" ng-show="loaded">
        ATC Daily Report
      </div>
      <div class="right" ng-cloak>
        <ons-toolbar-button ng-hide="working || openingJob" ng-click="findJob()"><ons-icon icon="ion-search"></ons-icon></ons-toolbar-button>
        <ons-toolbar-button ng-show="openingJob">
          <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div class="centerVertical" ng-show="working||!hasJobs">
      <ons-progress-circular indeterminate="true" ng-show="working"></ons-progress-circular>
      <div ng-hide="working">No jobs available.</div>
    </div>
    <ons-tabbar position="auto" var="dailyReportTabbar" ng-style="(working||!hasJobs)?{'visibility':'hidden'}:{}" class="{{ata.tabs.length<2?'no-tabs':''}}" ng-cloak tabbar-fix>
        <ons-tab ng-repeat="tab in data.tabs" label="{{ tab.title }}" page="app/dailyreport/job-list.html" ng-style="styles.tab"></ons-tab>
    </ons-tabbar>
    <help-button ng-if="env == 'demo'"></help-button>
</ons-page>