<ons-dialog style="z-index: 100005;" cancelable ng-controller="AddTEJobDialogController" class="expanded scrollable-dialog contains-select" id="AddTEJobDialog">
  <ons-toolbar class="fourty-four" style="flex-shrink: 0;" inline>
    <div class="center" style="font-size: 16px;">Select Job</div>
    <div class="right">
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-hide="loading" ng-click="executeSearch()" ng-disabled="!form.department||!form.crew">
        <ons-icon icon="ion-search" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <form class="smartpick-search" ng-submit="executeSearch()" style="flex-shrink: 0;" ng-show="smartpicks">
    <ui-select ng-model="form.department" theme="selectize" tagging="null" ng-disabled="loading" style="flex: 1;" ng-change="changeDepartment()">
      <ui-select-match>
          <span ng-bind="$select.selected.Name"></span>
      </ui-select-match>
      <ui-select-choices repeat="item in smartpicks.Department | filter: filterSmartpick(['Name'],$select.search)">
          <span ng-bind="item.Name"></span>
      </ui-select-choices>
    </ui-select>
    <ui-select ng-model="form.crew" theme="selectize" tagging="null" ng-disabled="loading" style="flex: 1.4;">
      <ui-select-match>
          <span ng-bind="$select.selected.Name"></span>
      </ui-select-match>
      <ui-select-choices repeat="item in smartpicks.Crew | filter: filterCrew()">
          <span ng-bind="item.Name"></span>
      </ui-select-choices>
    </ui-select>
  </form>
  <ons-list style="flex: 1; overflow: auto; transform: translate(0,0);">
    <ons-list-item modifier="longdivider" ng-repeat="item in items" ng-click="selectItem(item, form)" style="font-size: 14px;" ng-show="checkLastSearch(form.lastSearch)" tappable>
      <div style="width: 100%; padding-right: 16px;">
        <div style="font-weight: bold; width: 100%;">
          {{ item.WGJobNumber }} <span style="float: right; font-weight: normal; font-size: smaller; color:{{item.status=='Active'?'#1f7e1a':'#d76b00'}}">{{ item.status }}</span>
          <div style="font-style: oblique;">{{item.Description}}</div>
        </div>
        <div>
          Owner: <span style="font-style: oblique;">{{ item.Owner }}</span>
        </div>
        <div>
          Owner Job #: <span style="font-style: oblique;">{{ item.JobNumber }}</span>
        </div>
      </div>
    </ons-list-item>
    <div style="padding: 20px; text-align: center; color: #ccc; font-style: oblique; font-size: 13px;" ng-show="!items.length||loading||!showItems">
      <div ng-show="!loading && showItems">
        No jobs found for department/crew.
      </div>
      <div ng-show="!loading && !showItems">
        Use the button in the title bar to execute the job search.
      </div>
      <div ng-show="loading">
        <div class="centerVertical">
          <ons-progress-circular indeterminate="true"></ons-progress-circular>
        </div>
      </div>
    </div>
  </ons-list>
</ons-dialog>

