<ons-dialog style="z-index: 100000;" cancelable ng-controller="LocationDetailInfoController" class="location-detail-info-dialog" ons-posthide="posthide()">
    <ons-toolbar class="fourty-four" inline>
      <div class="center" style="font-size: 16px;">{{ detail.AssemblyID ? 'Assm #: '+detail.AssemblyNumber : 'Spec #: '+detail.SpecificationSpecificationNumber}}</div>
      <div class="right">
        <ons-toolbar-button ng-click="openSpecDiagram(detail.SpecificationSpecDocumentID)" ng-disabled="resubmitting">
          <ons-icon ng-hide="openingDoc || !detail.SpecificationSpecDocumentID || loading" icon="ion-image" style="font-size: 20px !important;"></ons-icon>
          <ons-icon ng-show="openingDoc || loading" icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-tabbar class="tabbar-short tabbar-inline" inline id="ld-dialog-tabbar">
      <ons-tab page="app/dialog/location-detail-info-1.html" active="true" ng-disabled="resubmitting">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="ion-information-circled"></ons-icon>
          </div>
          <div class="tabbar__label if-480">Info</div>
        </button>
      </ons-tab>
      <ons-tab page="app/dialog/location-detail-info-2.html" ng-if="detail.JobBillingUponCode == 'LDI' && !detail.AssemblyID && !detail.isSummary" ng-disabled="resubmitting">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="ion-clipboard"></ons-icon>
          </div>
          <div class="tabbar__label if-480">Inspections</div>
        </button>
      </ons-tab>
      <ons-tab page="app/dialog/location-detail-info-3.html" ng-disabled="resubmitting" ng-if="!detail.AssemblyID && !detail.isSummary">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="ion-hammer"></ons-icon>
          </div>
          <div class="tabbar__label if-480">Completions</div>
        </button>
      </ons-tab>
      <ons-tab page="app/dialog/location-detail-info-4.html" ng-if="detail.LDChangeOrder && detail.LDChangeOrder.length && !detail.isSummary" ng-disabled="resubmitting">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__icon">
            <ons-icon icon="ion-fork-repo"></ons-icon>
          </div>
          <div class="tabbar__label if-480">CO&apos;s</div>
        </button>
      </ons-tab>
    </ons-tabbar>
</ons-dialog>