<ons-page>
  <div class="centerVertical" style="margin: 20px;" ng-show="loading">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <div ng-hide="loading" style="padding: 10px; font-size: 14px" class="white-wrap">
    <h4 class="orange-header">Change Orders</h4>
    <div ng-repeat="co in detail.LDChangeOrder">
      <div class="divider"></div>
      <ons-row>
        <ons-col width="20%;"><span style="font-weight: bold;">CO #:</span> {{co.ChangeOrderChangeOrderNumber}}</ons-col>
        <ons-col><span style="font-weight: bold;">Status:</span> {{co.DetailStatusMeaning}}</ons-col>
      </ons-row>
      <ons-row>
        <ons-col><span style="font-weight: bold;">Design Qty:</span> {{co.DesignQuantity}}</ons-col>
        <ons-col><span style="font-weight: bold;">Est. Qty:</span> {{co.EstimatedQuantity}}</ons-col>
      </ons-row>
      <ons-row>
        <ons-col><span style="font-weight: bold;">App. Qty:</span> {{co.ApprovedQuantity}}</ons-col>
        <ons-col><span style="font-weight: bold;">New Qty:</span> {{co.NewQuantity}}</ons-col>
      </ons-row>
    </div>
  </div>
</ons-page>