<ons-alert-dialog style="z-index: 100000;" cancelable>
  <div class="alert-dialog-title">Start Job</div>
  <div class="alert-dialog-content">
  	<p>Job: <b>{{jobNumber}}</b></p>
    <p> Start Date: <input type="date" ons-class="text-input" ng-model="model.start" id="estimated-start-date" style="vertical-align: middle;">
    </p>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-disabled="!model.start" ng-click="done(true, model.start)">Start</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()">Cancel</ons-button>
  </div>
</ons-alert-dialog>