<ons-page style="height: 100%;" ng-controller="SpecDocsSectionController">
  <ons-toolbar>
    <div class="left"><ons-back-button id="back-button"></ons-back-button></div>
    <div class="center">{{ section.Name }}</div>
    <div class="right" ng-show="opening"><ons-toolbar-button><ons-icon class="spin" icon="ion-load-b" style="font-size: 20px !important;"></ons-icon></ons-toolbar-button></div>
  </ons-toolbar>
  <div class="centerVertical" ng-show="working">
    <ons-progress-circular indeterminate="true"></ons-progress-circular>
  </div>
  <ons-list ng-hide="working">
    <ons-list-item modifier="longdivider" ng-repeat="doc in section.docs" ng-click="openDocument(doc)" tappable ng-style="opening?{opacity:0.5}:{}">
         <div class="left list-content">{{ doc.Name }}</div>
         <div class="right if-480 job-list-description">
           {{ doc.Description }}
        </div>
    </ons-list-item>
  </ons-list>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>