
html {
  box-sizing: border-box;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #fff;
}
*, *:before, *:after {
  box-sizing: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[disabled] { 
  cursor: default;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
a, a:link {
  color: #00F;
  text-decoration: underline;
}
.center {
  text-align: center;
}
body {
  text-align: center;
  margin: 0;
    padding: 10px 10px 0 10px;
    z-index: -5;
    position: absolute;
    left: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,f6f6f6+80,d8d8d8+100 */
  background: rgb(246,246,246); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 80%, rgba(216,216,216,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(246,246,246,1) 80%,rgba(216,216,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(246,246,246,1) 0%,rgba(246,246,246,1) 80%,rgba(216,216,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
  overflow-x: hidden;
}
body::after {
  content: '';
    border-bottom: 2px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.timesheet-wrapper {
  display: inline-block;
  text-align: left;
  min-width: 900px;
}
.timesheet-wrapper input[type="text"], .timesheet-wrapper input[type="number"], .timesheet-wrapper textarea,
.timesheet-dialog input[type="text"], .timesheet-dialog input[type="number"], .timesheet-dialog textarea {
  border: 1px solid #aaa;
}
.timesheet-top {
  display: flex;
  align-items: center;
}
.timesheet-top-info {
  padding: 10px 0;
}
.timesheet-top-buttons {
  flex: 1 1 auto;
  text-align: left;
}
.timesheet-title {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.timesheet-info b, .timesheet-info .timesheet-field {
  margin-right: 10px;
}
.timesheet-info td.timesheet-field {
  margin-right: 0;
  padding-right: 5px;
  font-weight: bold;
}
.timesheet-field-line {
  margin-bottom: 5px;
}
.timesheet-field-line:last-child {
  margin-bottom: 0;
}
fieldset.timesheet-field-wrapper {
  padding: 0 5px 3px;
  border: 1px solid #ccc;
}
.timesheet-field-wrapper.no-wrap-lines .timesheet-field-line, .timesheet-field-wrapper .timesheet-field-line.no-wrap-line {
  white-space: nowrap;
}
thead.sticky-floater {
  position: fixed;
  top: 0px;
  display: none;
}
thead.sticky-floater.visible {
  display: table-header-group;
}
thead.sticky-floater th {
  background-color: rgb(122, 122, 122);
}
.timesheet-main td, .timesheet-main th {
  border: 1px solid #ccc;
}
.timesheet-main td:not(.editable), .timesheet-main th:not(.editable) {
  cursor: default;
}
.timesheet-main-wrapper {
  position: relative;
}
.timesheet-main {
  border-spacing: 0;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 50px;
  font-size: 14px;
}
.timesheet-main::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}
.timesheet-date-col {
  min-width: 75px;
  text-align: center;
}
.timesheet-name-col {
  min-width: 260px;
  white-space: nowrap;
}
.timesheet-total-col {
  min-width: 100px;
}
.timesheet-header td, .timesheet-header th {
  background-color: rgba(0, 0, 0, 0.52);
  color: #fff;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
}
.timesheet-header td.active, .timesheet-header th.active {
  background-color: rgba(255,255,255,0.52);
  color: #000;
}
.timesheet-entry {
  position: relative;
  font-size: 14px;
  text-align: center;
  height: 1px;
}
.timesheet-entry-inner {
  height: 100%;
  position: relative;
}
.timesheet-entry.active-summary, .timesheet-day-summary, .timesheet-day-summary input, .timesheet-bold {
  font-weight: bold;
}
.timesheet-entry input {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  border: 0 !important;
  color: #000;
}

.header-summary tr td, .header-summary tr td * {
  font-size: 14px;
}
.header-summary tr:first-child td, .header-summary tr:first-child td * {
  font-size: 15px;
  font-weight: bold;
}
.header-summary tr:first-child td {
  border-bottom: 2px solid rgba(0, 0, 0, 0.52);
}
.header-summary tr.per-diem-row td {
  border-top: 1px solid rgba(0, 0, 0, 0.52);
}
.timesheet-main.editable tr.active-row-group .cell-row-start {
  border-left: 2px solid #000091;
}
.timesheet-main.editable tr.active-row-group .cell-row-middle {
  border-top: 2px solid #000091;
  border-bottom: 2px solid #000091;
}
.timesheet-main.editable tr.active-row-group .cell-row-end {
  border-right: 2px solid #000091;
}
.timesheet-main.editable td.active-column-group.cell-column-start {
  border-top: 2px solid #000091;
}
.timesheet-main.editable td.active-column-group.cell-column-middle {
  border-left: 2px solid #000091;
  border-right: 2px solid #000091;
}
.timesheet-main.editable td.active-column-group.cell-column-end {
  border-bottom: 2px solid #000091;
}
.timesheet-main.editable td.cell-group-primary {
  background-color: #fff !important;
}
.timesheet-main.editable td.active-column-group.cell-column-middle.timesheet-blocked:not(.cell-group-primary) {
  border-left-color: #6d6d91;
  border-right-color: #6d6d91;
}
.timesheet-main.editable td.active-column-group.cell-column-start.timesheet-blocked:not(.cell-group-primary) {
  border-top-color: #6d6d91;
}
.timesheet-main.editable td.active-column-group.cell-column-end.timesheet-blocked:not(.cell-group-primary) {
  border-bottom-color: #6d6d91;
}
.timesheet-main tr:first-child .timesheet-entry.tint::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.07);
  left: -1px;
  top: -5000px;
  height: 10000px;
  right: -1px;
  z-index: -1;
}
.timesheet-main .timesheet-entry.tint {
  border-color: #b3b3b3;
}
.timesheet-main.editable .timesheet-entry.editable, .timesheet-enterable-field.editable {
  background-color: rgba(0, 161, 255, 0.12);
}
.timesheet-main.editable td.editable.timesheet-active-cell {
  background-color: #e0f4ff;
}
.timesheet-entry.override, .timesheet-entry.override input {
  color: #00F;
}
.timesheet-entry.difference, .timesheet-entry.difference input {
  color: #F00;
}
.timesheet-spacer {
  height: 20px;
  background-color: rgba(152, 152, 152, 0.35);
}
.timesheet-blocked {
  height: 20px;
  background-color: rgba(152, 152, 152, 0.4);
}
.timesheet-blocked:not(.cell-group-primary), .timesheet-blocked:not(.cell-group-primary) input {
  color: #6a6a6a;
}
.timesheet-main td.timesheet-blocked {
  border-color: #bbb;
}
    
.timesheet-indent-one {
  padding-left: 20px;
}
.timesheet-indent-two {
  padding-left: 40px;
}
.timesheet-indent-three {
  padding-left: 60px;
}
.timesheet-button-rack {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.timesheet-button-rack-left {
  float: left;
}
.timesheet-button-rack-right {
  float: right;
}
.timesheet-button-rack-left, .timesheet-button-rack-right {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
  box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
  background-color: #fff;
  margin: 10px;
}

.timesheet-button {
  background-color: #C0C0C0;
  border: 1px solid #000;
  height: 25px;
  font-weight: bold;
  font-size: 9pt;
  position: relative;
  padding: 1px 6px;
}
.timesheet-button::after {
  content: '';
  border-left: none;
  border-right: 1px solid #000;
  border-top: none;
  border-bottom: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.timesheet-button:active::after:enabled {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
.timesheet-button-group .timesheet-button {
  border-left: none;
  border-right: none;
}
.timesheet-button-group .timesheet-button::after {
  content: '';
  border-left: 1px solid #ddd;
  border-right: 1px solid #666;
  border-top: none;
  border-bottom: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.timesheet-button-menu, .timesheet-button-group {
  display: inline-block;
  position: relative;
}
.timesheet-button-menu .timesheet-button-menu-items  {
  display: none;
  position: absolute;
  white-space: nowrap;
}
.timesheet-button-menu .timesheet-button-menu-items.top  {
  bottom: 100%;
  padding-bottom: 5px;
}
.timesheet-button-menu .timesheet-button-menu-items.bottom  {
  top: 100%;
  padding-top: 5px;
}
.timesheet-button-menu .timesheet-button-menu-items.left  {
  right: 100%;
  padding-right: 5px;
}
.timesheet-button-menu .timesheet-button-menu-items.right {
  left: 100%;
  padding-left: 5px;
}
.timesheet-button-menu .timesheet-button-menu-items.align-right  {
  right: 0;
}
.timesheet-button-menu .timesheet-button-menu-items.align-left  {
  left: 0;
}
.timesheet-button-menu .timesheet-button-menu-items.align-top  {
  top: 0;
}
.timesheet-button-menu .timesheet-button-menu-items.align-bottom  {
  bottom: 0;
}
.timesheet-button-menu.open .timesheet-button-menu-items  {
  display: block;
}
.timesheet-button-menu.open button  {
  z-index: 101;
}
.timesheet-button-menu .timesheet-button-menu-items::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.7;
  margin: -100%;
  z-index: 100;
}
.timesheet-button-group .timesheet-button:last-child {
  border-right: 1px solid #000;
}
.timesheet-button-group .timesheet-button:last-child::after {
  content: '';
  border-left: 1px solid #ddd;
  border-right: 1px solid #000;
  border-top: none;
  border-bottom: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.timesheet-button-group .timesheet-button:first-child {
  border-left: 1px solid #000;
}
.timesheet-button-group .timesheet-button:first-child::after {
  content: '';
  border-left: none;
  border-right: 1px solid #666;
  border-top: none;
  border-bottom: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.timesheet-dialog-wrapper {
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}
.timesheet-dialog {
  background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50.01%); 
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
}
.timesheet-dialog.add-member, .timesheet-dialog.add-equipment {
  min-width: 500px;
  max-width: 600px;
}
.timesheet-dialog.select-task {
  min-width: 550px;
}
.timesheet-dialog-title {
  font-weight: bold;
    text-align: left;
}
.timesheet-dialog-controls {
  margin: 10px 10px -10px;
  text-align: left;
  display: flex;
  align-items: center;
  padding-top: 1px;
}
.timesheet-dialog-controls > input {
  flex: 1 1 auto;
  min-width: 20px;
  margin: 0 5px;
}
.timesheet-dialog-controls > .ui-select-container {
  max-width: 300px;
  margin: 0 5px;
}

.timesheet-dialog-content {
  margin: 20px 10px;
  text-align: left;
  max-height: 500px;
  overflow-y: auto;
  min-height: 1px;
}
.timesheet-dialog-buttons .timesheet-button {
    float: right;
    margin-left: 5px;
}
.timesheet-dialog-title:empty, .timesheet-dialog-buttons:empty, .timesheet-dialog-content:empty {
  display: none;
}
.timesheet-dialog .spinner {
  width: 50px;
    margin: 0 10px;
}
.timesheet-dialog #reviewComment {
  min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-height: 75px;
    background-color: #f6f6f6;
}
.timesheet-comment {
  background-color: #fffae0;
    border: 1px dashed #9a8e3c;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.timesheet-job-buttons {
  margin-bottom: 10px;
}
.timesheet-job-status {
  margin-left: 5px;
}
.timesheet-tab-wrapper {
  margin-top: 30px;
}
.timesheet-tab-bar {
  display: flex;
  border-bottom: 2px solid #ccc;
  align-items: center;
}
.timesheet-tab {
  display: block;
  padding: 5px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(122, 122, 122);
  border: 2px solid #ccc;
  margin-left: 1px;
  margin-right: 1px;
  min-width: 75px;
  text-align: center;
  margin-bottom: -2px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
a.timesheet-tab {
  color: #fff;
  text-decoration: none !important;
}
a.timesheet-tab.active, a.timesheet-tab.active:link {
  background-color: #fff;
  /*border-bottom: 4px solid #fff;*/
  color: #000;
}
a.timesheet-tab.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 6px;
  background-color: white;
  overflow: visible;
}
.timesheet-tab:first-child {
  margin-left: 0;
}
.timesheet-tab:last-child {
  margin-right: 0;
}
.timesheet-tab-header {
  margin: 0px 0px 10px;
  font-size: 14px;
}
.timesheet-day-error { 
  background-color: #ffdddd;
  padding: 10px;
  border-radius: 5px;
  color: #990000;
}
.timesheet-tab-content-wrapper {
    position: relative;
}
.timesheet-tab-content {
  padding-top: 10px;
    position: absolute;
    min-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.timesheet-enterable-field {
  font-weight: bold;
  width: 100px;
  border: 2px solid #ccc;
  padding: 1px;
}
.timesheet-header-subtitle {
  font-size: 12px;
}
.timesheet-job-row {
  -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.timesheet-job-row.selected {
  background-color: rgba(255, 212, 0, 0.12);
}
.timesheet-job-row td {
  padding: 1px 3px;
  cursor: pointer !important;
  vertical-align: top;
}
.timesheet-job-row.locked td {
  cursor: default !important;
}
.timesheet-jobs-container {
  padding: 10px;
  border: 2px solid #ccc;
  border-top: none;
  margin-bottom: 20px;
}
.timesheet-ccc-badge {
  white-space: nowrap;
  font-size: 11px;
  background-color: rgba(0,0,0,0.1);
  padding: 2px 3px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none !important;
  color: rgba(0,0,0,0.5);
  margin-left: 5px;
  cursor: default;
}
.timesheet-ccc-badge:empty {
  display: none !important;
}
.timesheet-ccc-badge.timesheet-red {
  color: rgba(255,0,0,0.65);
}
.timesheet-job-tabs a:first-child {
  margin-left: 10px;
}
.timesheet-tab-badge {
  font-weight: normal;
    background-color: #fffae0;
    padding: 1px 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    color: #000;
}
.timesheet-job-tabs a.active .timesheet-tab-badge {
    border: 1px solid #bbb;
    color: #666;
}
.timesheet-tab-badge:empty {
  display: none;
}
.timesheet-job-order {
  background-color: #fffae0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  font-weight: bold;
}
.timesheet-tag {
  background-color: #eee;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 12px;
    font-style: italic;
}
.timesheet-crew-equip-header {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.timesheet-status.timesheet-black *, .timesheet-review-row.timesheet-black {
  color: #000 !important;
}
.timesheet-status.timesheet-gray *, .timesheet-review-row.timesheet-gray {
  color: #666 !important;
}
.timesheet-status.timesheet-orange *, .timesheet-review-row.timesheet-orange {
  color: rgb(239,146,20) !important;
}
.timesheet-status.timesheet-blue *, .timesheet-review-row.timesheet-blue {
  color: #00F !important;
}
.timesheet-status.timesheet-red *, .timesheet-review-row.timesheet-red {
  color: #F00 !important;
}
.timesheet-status.timesheet-green *, .timesheet-review-row.timesheet-green {
  color: #1f7e1a !important;
}
.timesheet-review-row td span {
  opacity: 0.75;
}
.timesheet-review-row td.timesheet-review-col span {
  opacity: 1;
  font-weight: bold;
}
.timesheet-day-header {
  position: relative;
}
ons-card.timesheet-tab-status::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    top: 0;
    right: 0;
}
ons-card.timesheet-tab-status::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0;
    top: 0;
    right: 0;
    border-color: transparent #FFF transparent transparent;
}

ons-card.timesheet-tab-status.timesheet-black::after {
  color: #000;
  border-color: transparent #000 transparent transparent;
}
ons-card.timesheet-tab-status.timesheet-gray::after {
  color: #666;
  border-color: transparent #666 transparent transparent;
}
ons-card.timesheet-tab-status.timesheet-orange::after {
  color: rgb(239,146,20);
  border-color: transparent rgb(239,146,20) transparent transparent;
}
ons-card.timesheet-tab-status.timesheet-blue::after {
  color: #00F;
  border-color: transparent #00F transparent transparent;
}
ons-card.timesheet-tab-status.timesheet-red::after {
  color: #F00;
  border-color: transparent #F00 transparent transparent;
}
ons-card.timesheet-tab-status.timesheet-green::after {
  color: #1f7e1a;
  border-color: transparent #1f7e1a transparent transparent;
}
td.timesheet-crew-equip, tr.timesheet-crew-equip td {
  background-color: rgba(0, 255, 208, 0.08) !important;
}
.timesheet-crew-equip .timesheet-tag {
  background-color: rgb(188, 230, 222);
}
.timesheet-crew-checkbox {
  background-color: rgb(188, 230, 222);
  border-left: 1px solid #ccc;
}
.timesheet-my-checkbox {
  background-color: #e0f4ff;
  position: relative;
}
.locked .timesheet-my-checkbox {
  background-color: initial;
}
.nowrap {
  white-space: nowrap;
}
.timesheet-crew-link a {
  text-decoration: none;
  color: #666;
  font-style: normal;
}
.timesheet-crew-grid {
  border-spacing: 0;
  border: 1px solid #ccc;
  width: 100%;
}
.timesheet-crew-grid th, .timesheet-crew-grid td {
  border: 1px solid #ccc;
}
.timesheet-crew-grid td {
  padding: 1px 3px;
}
.timesheet-crew-grid tr:nth-child(even), .timesheet-even-rows  tr:nth-child(even), tr.alt {
  background-color: rgba(0,0,0,.07);
}

.timesheet-progress-wrapper {
  font-size: 13px;
  position: relative;
  margin-bottom: 20px;
}
.timesheet-progress-wrapper::after {
  position: absolute;
    left: 40px;
    right: 40px;
    top: 8px;
    height: 1px;
    background-color: rgba(0,0,0,.1);
    content: '';
    z-index: -1;
}
.timesheet-progress-steps {
  display: flex;
  justify-content: space-between;
}
.timesheet-progress-step {
  text-align: center;
  color: #d2d2d2;
}
.timesheet-progress-badge {
  padding: 1px 4px;
  border-radius: 10px;
  background-color: #e6e6e6;
  border: 1px solid #9fa99e;
  color: #9fa99e;
  display: inline-block;
  margin-bottom: 3px;
  box-shadow: 0px 0px 8px 9px rgba(255,255,255,1);
  transition: background-color linear 0.2s;
}
.timesheet-progress-step.complete {
  color: #4b8445;
}
.timesheet-progress-step.complete .timesheet-progress-badge {
  background-color: #a5efb4;
    border: 1px solid #4b8445;
    color: #4b8445;
}
.timesheet-progress-step.current {
  color: #000;
}
.timesheet-progress-step.current .timesheet-progress-badge {
  background-color: #000;
    border: 1px solid #000;
    color: #fff;
}
.timesheet-icon-button {
  padding: 0px 5px;
  background: none;
  border: none;
  font-size: 20px;
}
.comments-icon .ion-chatbox {
  color: #aaa;
}
.comments-icon .ion-chatbox-working {
  color: #000;
}
.timesheet-icon-button .fas {
  font-size: 15px;
}
.timesheet-icon-button.blue {
  color: #00F;
}
.expand-button span {
  font-size: 15px;
}
.timesheet-icon-button:enabled {
    cursor: pointer;  
}
.timesheet-icon-button:disabled {
  opacity: 0.3;
}

td .select2-container {
  width: 100%;
}

.select2-container.select2-dropdown-open::after {
  content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    z-index: 9999;
    background-color: #fff;
    border-left: 1px solid #5897fb;
    border-right: 1px solid #5897fb;
}
.select2-drop-active {
  min-width: 200px;
  border-top: 1px solid #5897fb;
  border-radius: 0 4px 4px 4px;
}
.select2-search {
  padding-top: 4px;
}
.select2-input {
  width: 100% !important;
}
.select2-title {
  font-weight: bold;
}
.select2-subtitle {
  font-style: italic;
  font-size: 12px;
}
.timesheet-faded, .timesheet-faded .select2-choice {
  color: rgba(0, 0, 0, 0.5) !important;
}
.timesheet-faded.blue, .timesheet-faded.blue .select2-choice {
  color: rgba(0, 0, 255, 0.5) !important;
}
tr.blue, tr.blue .select2-choice {
  color: #00F;
}
.timesheet-step-header {
  padding: 10px 0px;
}
.timesheet-grid-label {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.timesheet-job-col {
  width: 60px;
}
.toggle-header {
  white-space: nowrap;
}
.timesheet-grid-button {
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  font-style: italic;
  padding: 1px 6px;
}
th .timesheet-icon-button {
  color: #fff;
}
td.grid-disappear-left {
  position: relative;
  height: 1px;
  padding: 0;
}
td.grid-disappear-left .timesheet-entry-inner::after {
  position: absolute;
  left: -3px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  content: '';
}
.timesheet-phase-name {
  padding: 4px;
}
.timesheet-job-grid-controls {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.timesheet-task-num {
  font-weight: bold;
  margin-right: 5px;
}
.timesheet-task-desc {
  font-style: oblique;
}
.timesheet-task-info {
  flex: 1 1 auto;
}
.form-row {
  display: flex;
  align-items: center;
  padding: 3px 0;
}
.form-row-item {
  display: flex;
  align-items: center;
}
.form-col {
  display: flex;
  flex-direction: column;
}
.flex {
  flex: 1 1 auto;
}
.form-row label {
  margin-left: 10px;
  font-weight: bold;
}
.form-row label > input, .form-row label > .form-input {
  font-weight: normal;
}
.form-row.emphasize-value label {
  font-weight: normal;
}
.form-row:not(.no-margin) label > input, .form-row:not(.no-margin) label > .form-input {
  margin-left: 10px;
}
.form-row label:first-child {
  margin-left: 0;
}
.form-row.emphasize-value label > input, .form-row.emphasize-value label > .form-input {
  font-weight: bold;
}

@-webkit-keyframes flash {
    0% {
        background-color: rgba(255, 212, 0, 0.12);
    }
    22% {
        background-color: rgba(255, 212, 0, 0.05);
    }
    77% {
        background-color: rgba(255, 212, 0, 0.12);
   }
    100% {
        background-color: inherit;
    }
}
    
.flash {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: ease-in-out;
}
.crew-time-job .timesheet-entry-inner input {
  font-weight: bold;
}
.timesheet-entry.inequal, .timesheet-entry.inequal input {
  color: #F00;
}
.timesheet-entry.timesheet-blue, .timesheet-entry.timesheet-blue input {
  color: #00F;
}
.dialog-error {
  color: #F00;
}
.dialog-error:empty {
  display: none;
}
.timesheet-dialog-info {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.timesheet-dialog-info-inner {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  display: inline-block;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
}
.timesheet-navigator {
  display: flex;
}
.timesheet-navigator-selector {
  border: 2px solid #ccc;
  border-radius: 5px;
}
.timesheet-navigator-selector-item {
  padding: 5px;
  font-size: 14px;
  overflow: hidden;
}
.timesheet-navigator-selector-item.active {
  /* currently selected item */
  background-color: #eee;
}

.timesheet-summary tr.inactive {
  font-style: italic;
}
.timesheet-navigator-selector-item a {
  display: flex;
  white-space: nowrap;
}
.timesheet-navigator-selector-item .name {
  flex: 1 1 auto;
}
.timesheet-navigator-selector-item .timesheet-ccc-badge {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.timesheet-navigator-selector-title {
  background-color: #7a7a7a;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  padding: 3px;
  text-align: center;
  margin-top: 5px;
  border-top: 2px solid #ccc;
}
.timesheet-navigator-selector-title:first-child {
  border-radius: 4px 4px 0 0;
  margin-top: 0;
  border-top: none;
}
.timesheet-navigator-content {
  padding-left: 10px;
  flex: 1 1 auto;
}
.timesheet-navigator-selector-divider {
  border-top: 1px solid #ddd;
  margin: 5px 0;
}
.timesheet-label {
  text-align: right;
}
.timesheet-tooltip {
  position: fixed;
  display: none;
  color: #fff;
  font-weight: bold;
  z-index: 200;
  background-color: #888;
  border: 1px solid #fff;
  padding: 3px;
  border-radius: 5px;
  font-size: 12px;
  word-break: break-word;
}
.timesheet-tooltip:empty {
  display: none !important;
}
.comment-tooltip {
  text-align: left;
  max-width: 400px;
}
.crew-member-info, .crew-equipment-info {
  max-width: 500px;
  min-width: 400px;
}
.crew-member-info .timesheet-dialog-title, .crew-equipment-info .timesheet-dialog-title {
  display: flex;
}
.crew-member-info .timesheet-dialog-title .timesheet-icon-button, .crew-equipment-info .timesheet-dialog-title .timesheet-icon-button {
  font-size: 16px;
}
.crew-member-info .timesheet-dialog-title i, .crew-equipment-info .timesheet-dialog-title i {
  text-align: right;
  flex: 1 1 auto;
  font-size: 14px;
}
.crew-member-info .timesheet-dialog-content, .crew-equipment-info .timesheet-dialog-content {
  font-size: 14px;
  flex-direction: column;
  overflow: visible;
}
tr.timesheet-non-comp span, tr.timesheet-non-comp .timesheet-entry, tr.timesheet-non-comp .timesheet-entry input {
    color: #aaa;
}

th.timesheet-summary-col {
  width: 60px;
  vertical-align: bottom;
  text-align: center;
}
td.timesheet-summary-col {
  padding: 3px;
  vertical-align: middle;
  text-align: center;
}
tr.summary-job-row.first td {
  border-top: 1px solid rgba(0, 0, 0, 0.52) !important;
}
tr.summary-job-row.last td, tr.summary-job-row td.no-totals {
  border-bottom: 3px solid rgba(0, 0, 0, 0.52) !important;
}
.timesheet-task-summary .timesheet-task-desc, .timesheet-task-summary .timesheet-standard-col {
  padding: 3px;
  vertical-align: middle;
  white-space: nowrap;
}
.timesheet-task-summary .timesheet-comment-col {
  position: relative;
  min-width: 300px;
  height: 1px;
  padding: 0;
}
.timesheet-task-summary .timesheet-comment-col textarea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.75);
  overflow: hidden;
}
.timesheet-task-summary .timesheet-comment-col textarea:focus {
  position: relative;
  height: 50px;
  overflow: auto;
}
.timesheet-summary-col.total {
  font-weight: bold;
}
.member-week-time, .equip-week-time {
  max-width: 100%;
}
.member-week-time .timesheet-dialog-content, .equip-week-time .timesheet-dialog-content {
  overflow: visible;
}
.status-history {
  max-width: 700px;
}
.status-history td {
  padding: 3px;
}
.timesheet-dialog.add-job {
  max-width: inherit;
}
.edit-task-dialog {
  min-width: 350px;
}
.edit-task-dialog textarea {
  margin-top: 20px;
  width: 100%;
}
.edit-job-dialog {
  min-width: 350px;
}
.edit-job-dialog textarea {
  width: 100%;
}

.smartpick-dialog {
  width: 400px;
}
.smartpick-dialog .timesheet-dialog-content {
  margin: 0 -10px -10px -10px;
  display: flex;
  border-radius: 0 0 5px 5px;
}
.smartpick-search {
  display: flex;
  background-color: #eee;
  padding: 5px 10px;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
}

.smartpick-dialog-item {
  cursor: pointer;
}
.smartpick-dialog-item .smartpick-dialog-item-content {
  width: 100%;
  padding: 16px;
  border-top: 1px solid #ddd;
}

.smartpick-dialog-item:first-child .smartpick-dialog-item-content {
  border-top: none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359.9999999999deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359.9999999999deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359.9999999999deg);}
}

.spin {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  width: 20px;
  height: 20px;
  transform-origin: 44%;
}

.smartpick-filters {
  background-color: #eee;
  padding: 5px 10px;
  color: #727272;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: left;
  margin-right: -10px;
  margin-left:  -10px;
}
.smartpick-filters .smartpick-row {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.smartpick-filters .smartpick-row:first-child, .smartpick-filters.collapsed .smartpick-row {
  margin-top: 0px;
}
.smartpick-filters .smartpick-row .smartpick-label {
  padding-right: 5px;
}
.smartpick-filters .smartpick-row .smartpick-value {
  flex: 1;
}
.smartpick-filters.collapsed .smartpick-row .smartpick-label {
  white-space: nowrap;
  font-size: 13px;
}
.smartpick-filters.collapsed .smartpick-row .ui-select-container {
  flex: 1;
  font-style: oblique;
  text-align: right;
}
.smartpick-filters.collapsed .smartpick-row .ui-select-container span {
  color: #727272 !important;
}
.smartpick-filters.collapsed .smartpick-row .select2-chosen {
  margin-right: 0;
}

.smartpick-filters.collapsed .select2-choice, .smartpick-filters.collapsed .ui-select-container {
  background: none !important;
  background-color: none !important;
  background-image: none !important;
  box-shadow: none !important;
  border: none;
  padding: 0;
}

.smartpick-filters.collapsed .smartpick-row .ui-select-container .select2-choice .select2-arrow {
  display: none !important;
}
