<ons-page ng-controller="DesignJobController" style="height: 100%;">
  <ons-toolbar>
    <div class="left">
      <ons-back-button id="back-button" ng-hide="design.process"></ons-back-button>
    </div>
    <div class="center" ng-bind="job.JobNumber"></div>
    <div class="right">
      <ons-toolbar-button ng-hide="working || !['IP','SB'].includes(design.StatusCode) || !design.Location.length || design.JobContractTypeCode != 'BL'" ng-click="submitDesign()" ng-disabled="editingLocationIndex >= 0 || loading || adding"><ons-icon icon="ion-checkmark"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working || design.StatusCode != 'IP'" ng-click="updateEstimate()" ng-disabled="editingLocationIndex >= 0 || loading || adding"><ons-icon icon="ion-refresh"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-hide="working || loading || adding || closing || design.StatusCode != 'IP'" ng-click="addLocation()" ng-disabled="editingLocationIndex >= 0"><ons-icon icon="ion-plus"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="loading || adding || closing">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div ons-class="toolbar" ng-show="editingLocationIndex >= 0" class="subBar fixed">
    <div class="left">
      <ons-toolbar-button ng-click="saveLocation()" ng-disabled="loading||adding"><ons-icon icon="ion-checkmark"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="moveLocation(-1)" ng-disabled="loading||adding||!canMove.up"><ons-icon icon="ion-chevron-up"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="moveLocation(1)" ng-disabled="loading||adding||!canMove.down"><ons-icon icon="ion-chevron-down"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="locationFields()" ng-disabled="loading||adding"><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-click="locationFactors()" ng-disabled="loading||adding"><ons-icon icon="ion-wrench"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center"></div>
    <div class="right">
      <ons-toolbar-button ng-click="deleteLocation()" ng-disabled="loading||adding"><ons-icon icon="ion-trash-b"></ons-icon></ons-toolbar-button>
    </div>
  </div>

  <ons-card class="job-detail-wrapper">
      <ons-row>
        <ons-col>
          <div class="job-detail-title">Job #: {{ job.JobNumber }}</div>
        </ons-col>
        <ons-col>
          <div class="job-detail-title">WG Job #: {{ job.WorkgroupJobNumber }}</div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>  
          <div class="job-detail-subtitle light">{{ job.Description }}</div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working">
        <ons-col>  
          <div class="divider"></div>
        </ons-col>
      </ons-row>
      <ons-row ng-hide="working">
        <ons-col>  
          <span class="job-detail-subtitle">Hours: <br class="if-less-480 if-inline-block">{{ design.UnfactoredHours | number:2 }}</span> 
        </ons-col>
        <ons-col>  
          <span class="job-detail-subtitle">Factored Hrs: <br class="if-less-480 if-inline-block">{{ design.FactoredHours | number:2 }}</span>
        </ons-col>
        <ons-col>  
          <span class="job-detail-subtitle">Factor: <br class="if-less-480 if-inline-block">{{ (design.totalFactor==-1?100:design.totalFactor) | number:2 }}%</span>
        </ons-col>
        <ons-col style="flex: inherit;width:auto;" ng-show="design.totalFactor > -1">  
          <ons-button style="margin-bottom: 3px; padding: 0px 10px; min-height: 30px; line-height: 25px; font-size: 20px; flex-shrink: 1" ng-click="jobFactors()" ng-disabled="editingLocationIndex >= 0 || loading || adding">
          <ons-icon icon="ion-wrench"></ons-icon>
          </ons-button>
        </ons-col>
      </ons-row>
   </ons-card>
   <div class="centerVertical" ng-show="working">
       <ons-progress-circular indeterminate="true"></ons-progress-circular>
   </div>
    <ons-list ng-hide="working">
        <ons-list-header>
          <div class="left">
            <div class="location-number">Location</div><!--
         --><div class="location-reference-number">Ref #</div>
          </div>
        </ons-list-header>
        <ons-list-item id="anchor{{location.JobLocationID}}" class="location-row" ng-class="getLocationClass(location)" ng-repeat="location in design.Location" ng-click="goToLocation($index, location, $event)" on-long-press="locationOnLongPress(location)" tappable modifier="longdivider">
             <div class="left location-number list-content">{{ getLocationNumber(location) }} </div>
             <div class="middle location-reference-number list-content">{{ getReferenceNumber(location) }}</div>
             <div class="right location-detail-right right-buttons">
                <div class="detail-buttons" style="width: auto !important;" ng-show="design.StatusCode=='IP'">
                  <ons-button modifier="quiet" style="color:#00F" on-click="editLocation(location, $index, $event)" ng-disabled="loading||adding||editingLocationIndex >= 0" ghost="editingLocationIndex >= 0"><ons-icon icon="ion-edit"></ons-icon></ons-button>
                  <ons-button modifier="quiet" on-click="cancelEdit(location, $event)" ng-disabled="loading||adding" ng-hide="!location.editing"><ons-icon icon="ion-close"></ons-icon></ons-button>
                </div>
          </div>
        </ons-list-item>
    </ons-list>
    <ons-button modifier="quiet" ng-show="showLoadMore" ng-click="loadMore()" ng-disabled="working || adding || loading" style="display: block; margin: 10px auto;">Load All Locations</ons-button>
  <help-button ng-if="env == 'demo'"></help-button>
</ons-page>