<ons-alert-dialog style="z-index: 100000;" class="expanded contains-select">
  <div class="alert-dialog-title">{{ options.title||'Factors' }}</div>
  <div class="alert-dialog-content no-padding" style="margin: 10px 0px;">
    <div class="centerVertical" style="margin: 20px;" ng-hide="data">
      <ons-progress-circular indeterminate="true"></ons-progress-circular>
    </div>
    <div ng-show="data && factors && factors.length">
      <ons-list-header>
        <div class="left">
          <div class="location-factor-type">Type</div>
        </div>
        <div class="center">
          <div>Factor</div>
        </div>
        <div class="location-factor-percent" style="float: right;">Percent</div>
      </ons-list-header>
      <ons-list style="overflow: visible;">
        <ons-list-item modifier="longdivider" ng-repeat="factor in factors" class="location-factor-row">
          <div class="left">
            <div class="location-factor-type">{{ factor.FactorDescription }}</div>
          </div>
          <div class="center">
            <div ng-show="factor.FactorUseCode == 'SE'" style="width: 100%;">
              <ui-select ng-model="factor.factor" theme="selectize" tagging="null" on-select="selectFactor($item, factor)" ng-disabled="options.readOnly">
                  <ui-select-match>
                      <span ng-bind="$select.selected.FactorReferenceName"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in factor.smartpick">
                      <span ng-bind="item.FactorReferenceName"></span>
                  </ui-select-choices>
              </ui-select>
            </div>
            <div ng-show="factor.FactorUseCode != 'SE'">
              {{ factor.FactorDisplay }}
            </div>
          </div>
          <div class="right">
            <div class="location-factor-percent">
              <span class="{{ (factor.FactorUseCode == 'EN'&&!options.readOnly)?'edit-factor-percent':''}}" ng-click="editFactor(factor)">{{ factor.PercentDisplay }}%</span>
            </div>
          </div>
        </ons-list-item>
      </ons-list>
    </div>
    <div ng-show="data && (!factors || !factors.length)" style="padding: 20px;">
      There are no factors enabled.
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-disabled="!data || options.readOnly">Ok</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">Cancel</ons-button>
  </div>
</ons-alert-dialog>