<ons-page style="height: 100%;" ng-controller="GTWorkDayController" class="gt-page" ons-hide="hidePage()" ons-show="showPage()">
  <ons-toolbar class="timesheet-toolbar gt workday">
    <div class="left"><ons-back-button id="back-button" ng-disabled="loading"></ons-back-button></div>
    <div class="center">
      {{ workweek.WorkDay[workweek.currentDay].WeekdayDate | date:'EEE' }} {{ workweek.WorkDay[workweek.currentDay].WeekdayDate | date:'M/dd' }}
    </div>
    <div class="right">
      <ons-toolbar-button ng-disabled="loading||workweek.currentDay==0" ng-click="navDay(-1)">
        <ons-icon icon="ion-chevron-left"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-disabled="loading||workweek.currentDay==6" ng-click="navDay(+1)">
        <ons-icon icon="ion-chevron-right"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-show="!loading&&editable&&!workweek.WorkDay[workweek.currentDay].addingJob" ng-disabled="!workweek.changes" ng-click="save()">
        <ons-icon icon="fa-save"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button ng-disabled="loading||workweek.WorkDay[workweek.currentDay].addingJob" ng-click="review('SB', false, workweek.currentDay)" ng-hide="!['PE','IP','RJ'].includes(workweek.WorkDay[workweek.currentDay].StatusCode) || (workweek.MyPersonID != workweek.PersonID && !workweek.AllowTimeApproval && !workweek.AllowTimeReview)"><ons-icon icon="ion-checkmark"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-disabled="loading||workweek.WorkDay[workweek.currentDay].addingJob" ng-click="review('IP', false, workweek.currentDay)" ng-hide="workweek.WorkDay[workweek.currentDay].StatusCode != 'SB' || (workweek.MyPersonID != workweek.PersonID && !workweek.AllowTimeApproval && !workweek.AllowTimeReview)"><ons-icon icon="ion-ios-undo"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-disabled="loading||workweek.WorkDay[workweek.currentDay].addingJob" ng-click="review('AP', false, workweek.currentDay)" ng-hide="workweek.WorkDay[workweek.currentDay].StatusCode != 'SB' || (!workweek.AllowTimeApproval)"><ons-icon icon="ion-thumbsup"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-disabled="loading||workweek.WorkDay[workweek.currentDay].addingJob" ng-click="review('RJ', false, workweek.currentDay)" ng-hide="workweek.WorkDay[workweek.currentDay].StatusCode != 'SB' || (workweek.MyPersonID != workweek.PersonID && !workweek.AllowTimeApproval && !workweek.AllowTimeReview)"><ons-icon icon="ion-thumbsdown"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-disabled="loading||workweek.WorkDay[workweek.currentDay].addingJob" ng-click="review('IP', false, workweek.currentDay)" ng-hide="workweek.WorkDay[workweek.currentDay].StatusCode != 'AP' || !workweek.AllowTimeApproval || !workweek.WorkDay[workweek.currentDay].CanReOpen"><ons-icon icon="ion-ios-undo"></ons-icon></ons-toolbar-button>
      <ons-toolbar-button ng-show="loading">
        <ons-icon icon="ion-load-b" class="spin" style="font-size: 20px !important;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>


  <div class="subBar timesheet-progress-wrapper gt-subBar" ons-class="toolbar" style="height: auto; min-height: 44px;">
    <div class="center">
      <div style="text-align: center">
        <ons-button class="timesheet-button" ng-disabled="loading||!workweek.AllowEdit" ng-click="changeJobs()">
          <ons-icon icon="ion-checkmark" ng-show="workweek.WorkDay[workweek.currentDay].addingJob"></ons-icon>
          {{workweek.WorkDay[workweek.currentDay].addingJob?'Done':'Select Jobs'}}
        </ons-button>
        <ons-button class="timesheet-button" ng-disabled="loading" ng-click="openCrew()" modifier="quiet">
          Equipment
        </ons-button>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; flex: 1;">
    <div class="timesheet-tab-header">
      <div class="timesheet-info">
        <ons-row class="info" ng-if="!workweek.WorkDay[workweek.currentDay].addingJob">
          <ons-col>
            <span>Hours <br><b>{{ workweek.WorkDay[workweek.currentDay].WeekdayHours | number:2 }}</b></span>
          </ons-col>
          <ons-col>
            <span>ST <br><b>{{ workweek.WorkDay[workweek.currentDay].STHours | number:2 }}</b></span>
          </ons-col>
          <ons-col>
            <span>OT <br><b>{{ workweek.WorkDay[workweek.currentDay].OTHours | number:2 }}</b></span>
          </ons-col>
          <ons-col>
            <span ng-if="workweek.WorkDay[workweek.currentDay].hasDoubleTime">DT <br><b>{{ workweek.WorkDay[workweek.currentDay].DTHours | number:2 }}</b></span>
          </ons-col>
          <ons-col>Status <br><b class="timesheet-status {{getStatusClass(workweek.WorkDay[workweek.currentDay].StatusCode)}} {{loading?'timesheet-thirty-percent':''}}"><span style="white-space: nowrap;">{{ workweek.WorkDay[workweek.currentDay].StatusMeaning }}</span></b></ons-col>
        </ons-row>
      </div>
    </div>

    <ons-button class="timesheet-button" modifier="quiet" ng-disabled="loading" ng-click="workweek.WorkDay[workweek.currentDay].showSafety = !workweek.WorkDay[workweek.currentDay].showSafety" ng-show="workweek.WorkDay[workweek.currentDay].Comm.length&&!workweek.WorkDay[workweek.currentDay].addingJob"><ons-icon icon="{{workweek.WorkDay[workweek.currentDay].showSafety?'ion-eye-disabled':'ion-eye'}}"></ons-icon>  Safety Communications</ons-button>
    <div class="timesheet-main-wrapper {{ loading?'':editable }}" data-calc="{{editable=getEditableClass(workweek.WorkDay[workweek.currentDay]);hasJobs=getHasJobs()}}" style="position: relative; display: flex; flex-direction: column;" ng-click="clearTableHighlight()">
      <div style="overflow-y: auto" ng-if="!workweek.WorkDay[workweek.currentDay].addingJob">
        <ons-card ng-if="workweek.WorkDay[workweek.currentDay].showSafety" style="background-color: #e0f4ff; color: #196e9d;">
          <div class="title">Safety Communications</div>
          <div class="content communications">
            <div ng-repeat="com in workweek.WorkDay[workweek.currentDay].Comm" class="communication">
              <b>{{ com.Name }} <i class="communication-required" ng-if="com.CompletionTypeCode=='REQ'">(Required)</i></b>
              <div ng-show="com.Description && com.Name != com.Description" class="communication-desc"><i>{{ com.Description }}</i></div>
              <div class="communication-links" style="display: flex;">
                <div class="flex">
                  <a href ng-disabled="loading" ng-click="openCommunication(com)">
                    <span ng-if="com.TypeCode=='DOC'"><i class="ion-document"></i> Open Document</span>
                    <span ng-if="com.TypeCode=='VID'"><i class="ion-play"></i> Watch Video</span>
                    <span ng-if="com.TypeCode=='LIN'"><i class="ion-link"></i> Open Link</span>
                  </a>
                  <span ng-if="(com.TypeCode=='DOC'&&com.FileStringSpanish)||(com.TypeCode=='VID'&&com.URLSpanish)">
                    (<a href ng-disabled="loading" ng-click="openCommunication(com, 'Spanish')">Spanish</a>)
                  </span>
                </div>
                <div ng-hide="!com.reviewed">
                  <label style="white-space: nowrap;">
                    <b><ons-checkbox ng-disabled="loading" ng-model="com.Person.ReviewedFlag" ng-change="markCommunicationDone(com)"></ons-checkbox> Done</b>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ons-card>
        <ons-card ng-if="workweek.WorkDay[workweek.currentDay].showUpSites" style="background-color: #ffe0c3;color: #ff8009;">
          <div class="title smaller">Confirm Show-Up Sites</div>
          <div class="content">
            <ons-button ng-click="openShowupSites()" ng-disabled="loading" style="padding: 5px 10px 0px 10px; min-height: 30px; line-height: 30px; float:right;"><span class="ion-android-locate" style="font-size: 22px;"></span></ons-button>
            <ul>
              <li ng-repeat="site in workweek.WorkDay[workweek.currentDay].showUpSites">
                {{site.WorkgroupJobNumber}} ({{ site.NumberChar }}) - {{site.Description}}
              </li>
            </ul>
          </div>
        </ons-card>
        <div style="overflow: auto">
          <table class="timesheet-main crew-time" style="overflow: auto;margin-bottom: 0;" ons-class="list">
              <tr class="timesheet-header" ons-class="list-header">
                <td class="left timesheet-name-col" colspan="3">Summary</td>
                <td class="timesheet-date-col timesheet-day-header">ST</td>
                <td class="timesheet-date-col timesheet-day-header">OT</td>
                <td class="timesheet-date-col timesheet-day-header" ng-if="workweek.WorkDay[workweek.currentDay].hasDoubleTime">DT</td>
                <td class="timesheet-date-col timesheet-day-header">PD</td>
                <td ng-repeat="equip in workweek.WorkDay[workweek.currentDay].WorkDayEquipment | filter:{active: true} track by equip.EquipmentID" class="timesheet-date-col timesheet-day-header {{equip.MyEquipment?'':'timesheet-crew-equip-header'}}" on-long-press="toastEquipDescription(equip, 1)" id="gt-equip-1-{{equip.EquipmentID}}">
                  <div class="timesheet-header-title">{{ ::equip.EquipmentEquipmentNumber }} <div class="timesheet-header-subtitle">{{ ::equip.EquipmentDescription }}</div></div>
                </td>
              </tr>
              <tr class="timesheet-day-summary" ons-class="list-item">
                <td class="timesheet-name-col timesheet-indent-one" colspan="3">{{ workweek.WorkDay[workweek.currentDay].WeekdayDate | date:'EEEE' }} ({{ workweek.WorkDay[workweek.currentDay].WeekdayDate | date:'M/dd' }})</td>
                <td class="timesheet-entry st-allocation-total {{editable}} {{ (workweek.WorkDay[workweek.currentDay].STHours!=workweek.stdHours[workweek.currentDay])?'difference':'' }}">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{!loading&&hasJobs?'':'no-edit'}}" ng-click="editMyHours('ST', $event)">{{ workweek.WorkDay[workweek.currentDay].STHours | number:2 }}</span>
                  </div>
                </td>
                <td class="timesheet-entry ot-allocation-total {{editable}} {{ (workweek.WorkDay[workweek.currentDay].OTHours > 0)?'difference':''}}">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{!loading&&hasJobs?'':'no-edit'}}" ng-click="editMyHours('OT', $event)">{{ workweek.WorkDay[workweek.currentDay].OTHours | number:2 }}</span>
                  </div>
               </td>
                <td class="timesheet-entry dt-allocation-total {{editable}} {{ (workweek.WorkDay[workweek.currentDay].DTHours > 0)?'difference':''}} " ng-if="workweek.WorkDay[workweek.currentDay].hasDoubleTime">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{!loading&&hasJobs?'':'no-edit'}}" ng-click="editMyHours('DT', $event)">{{ workweek.WorkDay[workweek.currentDay].DTHours | number:2 }}</span>
                  </div>
                </td>
                <td class="timesheet-entry pd-allocation-total {{editable}} {{ getPerDiemClass(workweek.WorkDay[workweek.currentDay]) }}">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{!loading&&hasJobs&&workweek.WorkDay[workweek.currentDay].WeekdayHours?'':'no-edit'}}" ng-click="editMyPD($event)">{{ workweek.WorkDay[workweek.currentDay].TotalPerDiem | currency:'$' }}</span>
                  </div>
                </td>
                <td ng-repeat="equip in workweek.WorkDay[workweek.currentDay].WorkDayEquipment | filter:{active: true} track by equip.EquipmentID" class="timesheet-entry {{equip.MyEquipment?'':'timesheet-crew-equip'}} {{editable}} {{ (equip.TotalHours!==workweek.WorkDay[workweek.currentDay].WeekdayHours)?'difference':'' }} {{ (equip.DirectHoursTotal !== '')?'override':'' }} equip-total-{{equip.EquipmentID}}" tooltip="equip.EquipmentDescription">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{!loading&&hasJobs?'':'no-edit'}}" ng-click="editMyEquipHours(equip, $event)">{{ equip.TotalHours | number:2 }}</span>
                  </div>
                </td>
              </tr>
              <tr class="timesheet-header" ng-if="jobs.length" ng-repeat-start="jt in jobTypes track by $index" ons-class="list-header">
                <td class="left timesheet-name-col" colspan="{{::(jt.filter.TypeCode=='OJ'?2:1)}}">{{ ::jt.Name }}</td>
                <td ng-if="jt.filter.TypeCode!='OJ'" class="center">Type {{::jt.Code}}</td>
                <td><!-- Comments --></td>
                <td class="timesheet-date-col timesheet-day-header">ST</td>
                <td class="timesheet-date-col timesheet-day-header">OT</td>
                <td class="timesheet-date-col timesheet-day-header" ng-if="workweek.WorkDay[workweek.currentDay].hasDoubleTime">DT</td>
                <td class="timesheet-date-col timesheet-day-header">PD</td>
                <td ng-repeat="equip in workweek.WorkDay[workweek.currentDay].WorkDayEquipment | filter:{active: true} track by equip.EquipmentID" class="timesheet-date-col timesheet-day-header {{equip.MyEquipment?'':'timesheet-crew-equip-header'}}" on-long-press="toastEquipDescription(equip, 2)" id="gt-equip-2-{{equip.EquipmentID}}">
                  <div class="timesheet-header-title">{{ ::equip.EquipmentEquipmentNumber }} <div class="timesheet-header-subtitle">{{ ::equip.EquipmentDescription }}</div></div>
                </td>
              </tr>
              <tr ng-repeat="job in workweek.WorkDay[workweek.currentDay].WorkDayJob | filter:filterJobs(jt) | orderBy:['OrderNumber','CrewEquipmentFlag'] as jobs track by job.JobID" class="timesheet-job-grid {{job.CrewEquipmentFlag?'timesheet-job-crew-equip':''}} {{jobEditable?'':'disabled timesheet-highlight'}}" data-job-editable="{{jobEditable=(!job.DirectSTHours&&!job.DirectOTHours&&!job.DirectDTHours&&!job.JobDayCrewMemberID)}}" ng-repeat-end  ons-class="list-item">
                <td class="timesheet-name-col timesheet-indent-one" colspan="{{::(job.TypeCode=='OJ'?2:1)}}" on-long-press="toastJobDescription(job)" id="gt-job-number-{{job.JobID}}">
                  <div class="timesheet-job-grid-controls">
                    <div class="flex">
                      <div ng-if="job.TypeCode!='OJ'||job.JobWorkgroupJobNumber!=job.JobDescription">{{ ::job.JobWorkgroupJobNumber }} <span ng-if="job.JobJobNumberChar!=job.JobWorkgroupJobNumber">({{ ::job.JobJobNumberChar }})</span></div>
                      <div class="{{::((job.TypeCode=='OJ'&&job.JobWorkgroupJobNumber==job.JobDescription)?'':'timesheet-job-subtitle')}}">{{ ::job.JobDescription }}</div>
                    </div>
                    <ons-button class="icon-button" style="{{job.photos?'':'color:#ccc'}}" ng-if="job.photos||job.photos===false" ng-click="jobPhotos(job)" tabindex="-1" modifier="quiet" ng-disabled="loading"><span class="ion-image"></span></ons-button>
                    <ons-button class="icon-button" ng-click="goToForemanTime(job)" tabindex="-1" ng-if="workweek.AllowTimeApproval&&(job.JobDayCrewMemberID||job.hasDirectEquip)" modifier="quiet" ng-disabled="loading" style="text-overflow: unset;"><span class="ion-android-exit"></span></ons-button>
                  </div>
                </td>
                <td ng-if="job.TypeCode!='OJ'" style="padding: 3px;" class="center">{{ ::job.JobTypeMeaning }}</td>
                <td>
                  <ons-button class="icon-button comments-icon" ng-click="openComments(job)" tabindex="-1" tooltip="job.JobComment" tooltip-class="comment-tooltip" modifier="quiet" ng-disabled="loading"><span class="{{job.JobComment?'ion-chatbox-working':'ion-chatbox'}}"></span></ons-button>                            
                </td>
                <td class="timesheet-entry st-allocation {{jobEditable?editable:''}} {{ (job.DirectSTHoursTotal!=='')?'override':'' }}">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{jobEditable&&!loading?'':'no-edit'}}" ng-click="editJobHours(job, 'ST', jobEditable, $event)" group-cells="{format:'column',boxes:[{select:'.st-allocation-total',dir:'up'},{select:'.st-allocation',dir:'both',end:'.timesheet-day-summary'}]}">{{ job.STHours | number:2 }}</span>
                  </div>
                </td>
                <td class="timesheet-entry ot-allocation {{jobEditable?editable:''}} {{ (job.DirectOTHoursTotal!=='')?'override':'' }}">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{jobEditable&&!loading?'':'no-edit'}}" ng-click="editJobHours(job, 'OT', jobEditable, $event)" group-cells="{format:'column',boxes:[{select:'.ot-allocation-total',dir:'up'},{select:'.ot-allocation',dir:'both',end:'.timesheet-day-summary'}]}">{{ job.OTHours | number:2 }}</span>
                  </div>
                </td>
                <td class="timesheet-entry dt-allocation {{ (job.ContractAllowDoubleTimeFlag||job.AllowOHDoubleTimeFlag)?(jobEditable?editable:''):'timesheet-spacer'}} {{ (job.DirectDTHoursTotal!=='')?'override':'' }} " ng-if="workweek.WorkDay[workweek.currentDay].hasDoubleTime">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{jobEditable&&!loading?'':'no-edit'}}" ng-click="editJobHours(job, 'DT', jobEditable, $event)" group-cells="{format:'column',boxes:[{select:'.dt-allocation-total',dir:'up'},{select:'.dt-allocation',dir:'both',end:'.timesheet-day-summary'}]}"  ng-if="job.ContractAllowDoubleTimeFlag||job.AllowOHDoubleTimeFlag||job.DTHours > 0">{{ job.DTHours | number:2 }}</span>
                  </div>
                </td>
                <td class="timesheet-entry pd-allocation {{ (job.DirectPerDiemTotal!=='')?'override':'' }} {{ ((!job.JobTimesheetPerDiemAllowed)?'timesheet-spacer':((jobEditable||job.CanChangeDirect)&&job.TotalHours?editable:''))}}">
                  <div ng-if="job.JobTimesheetPerDiemAllowed||job.PerDiem>0" class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{(jobEditable||job.CanChangeDirect)&&job.JobTimesheetPerDiemAllowed&&!loading&&job.TotalHours?'':'no-edit'}}" ng-click="editJobPD(job, jobEditable, $event)" group-cells="{format:'column',boxes:[{select:'.pd-allocation-total',dir:'up'},{select:'.pd-allocation',dir:'both',end:'.timesheet-day-summary'}]}">{{ job.PerDiem | currency:'$' }}</span>
                  </div>
                </td>
                <td ng-repeat="equip in job.WorkDayJobEquipment track by equip.EquipmentID" data-equip-editable="{{equipEditable=(!equip.JobDayCrewEquipmentID||equip.CanChangeDirect)}}" class="timesheet-entry {{equip.MyEquipment?'':(job.CrewEquipmentFlag?'timesheet-crew-equip':'timesheet-crew-equip-not-job')}} {{equipEditable?editable:''}} {{ (equip.DirectHoursTotal!=='')?'override':'' }} equip-allocation-{{equip.EquipmentID}}" tooltip="equip.EquipmentDescription">
                  <div class="timesheet-entry-inner">
                    <span class="timesheet-clickable {{equipEditable&&!loading?'':'no-edit'}}" ng-click="editEquipHours(job, equip, equipEditable, $event)" group-cells="{format:'column',boxes:[{select:'.equip-total-{{equip.EquipmentID}}',dir:'up'},{select:'.equip-allocation-{{equip.EquipmentID}}',dir:'both',end:'.timesheet-day-summary'}]}">{{ equip.TotalHours | number:2 }}</span>
                  </div>
                </td>
              </tr>
          </table>
        </div>
      </div>
      <div ng-if="workweek.WorkDay[workweek.currentDay].addingJob">
        <div style="position: absolute; top:49px;right:0;left:0;bottom:0; height: auto;" class="centerVertical">
          <ons-progress-circular indeterminate="true" style="transform: translateY(-50%);"></ons-progress-circular>
        </div>
        <ons-row ng-if="workweek.WorkDay[workweek.currentDay].currentJobType!='WGC'" class="tabControls">
          <ons-col style="flex:2; display: flex; padding-right: 10px;">
            <ons-input style="display:flex; flex:1; align-self: center;" type="text" ng-model="workweek.filters.jobNumber" placeholder="Filter Jobs"></ons-input>
          </ons-col>
          <ons-col>
            <ui-select ng-model="$parent.workweek.filters.jobStatus" tagging="null">
              <ui-select-match>
                  <span ng-bind="$select.selected.Meaning"></span>
              </ui-select-match>
              <ui-select-choices repeat="option in (workweek.jobStatuses | filter: $select.search) track by option.Code">
                  <span ng-bind="option.Meaning"></span>
              </ui-select-choices>
            </ui-select>
          </ons-col>
        </ons-row> 
        <ons-tabbar ons-postchange="changeJobTab($event)" var="jobsTabbarGT" position="top" class="subBarTabs {{workweek.WorkDay[workweek.currentDay].currentJobType=='WGC'?'':'hasControls'}}">
          <ons-tab ng-repeat="jt in addJobTypes track by jt.Code" ng-click="workweek.WorkDay[workweek.currentDay].currentJobType=jt.Code" page="app/timesheet/gt-pick-job-page.html" ng-if="$index < 3||(workweek.CanQuickAddJobs&&editable)">
            <input type="radio" style="display: none">
            <button class="tabbar__button">
              <div class="tabbar__label" ng-if="jt.Code != 'WGC'">{{::jt.Name}} <span class="timesheet-tab-badge">{{ showJobBadge(workweek.WorkDay[workweek.currentDay].Job, jt.Code) }}</span></div>
              <div class="tabbar__icon" ng-if="jt.Code == 'WGC'"><ons-icon icon="ion-plus"></ons-icon></div>
            </button>
          </ons-tab>
        </ons-tabbar>
      </div>
    </div>
  </div>
</ons-page>