<ons-alert-dialog class="expanded scrollable-dialog" cancelable>
  <div class="alert-dialog-title">Review History</div>
  <div class="alert-dialog-content">
    <div style="overflow: auto;">
      <div ng-hide="parent.workweek.statusHistory.length">
        No history for this timesheet.
      </div>
      <table class="timesheet-main" style="margin-bottom: 0px;" ng-show="parent.workweek.statusHistory.length" ons-class="list">
        <thead class="timesheet-header" ons-class="list-header">
          <th class="nowrap">Date/Time</th>
          <th>User</th>
          <th>Status</th>
          <th>Comments</th>
        </thead>
        <tbody>
            <tr ng-repeat="status in parent.workweek.statusHistory" class="timesheet-review-row {{parent.getStatusClass(status.Status)}}" ons-class="list-item">
                <td class="nowrap"><span>{{ ::status.CreationDateTime | date:'M/d/yyyy HH:mm' }}</span></td>
                <td class="nowrap"><span>{{ ::status.User }}</span></td>
                <td class="nowrap timesheet-review-col"><span>{{ ::status.Status }}</span></td>
                <td><span>{{ ::status.Comments }}</span></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()">Close</ons-button>
  </div>
</ons-alert-dialog>