<ons-alert-dialog class="scrollable-dialog contains-select" cancelable>
  <div class="alert-dialog-title">{{ data.task.TaskNumber }} - {{ data.task.JobTaskDescription }}
    <ons-button modifier="quiet" ng-if="!showPhaseCodes && parent.editable" ng-click="showPhaseCodes=true" class="if-480 if-inline-block" style="float: right">Edit Phase Codes</ons-button>
  </div>
  <div class="alert-dialog-content">
    <span class="dialog-error" style="{{ons.platform.isIOS()?'margin-top:0':''}}">{{data.error}}</span>
    <b ng-if="!showPhaseCodes && parent.editable" class="if-less-480 if-inline-block">Phase Codes</b>
    <span ng-if="!showPhaseCodes && parent.editable" style="margin-bottom: 10px; display: inline-block;" class="if-less-480 if-inline-block">
      <ons-button modifier="quiet" ng-click="showPhaseCodes=true">Edit Phase Codes</ons-button>
    </span>
    <ons-list style="flex: 1; overflow: auto; transform: translate(0,0);" class="no-bg dialog-list" modifier="longdivider" ng-if="showPhaseCodes && parent.editable">
      <ons-list-item ng-repeat="pc in data.phaseCodes | filter:{hidden:false}" style="font-size: 14px;" ng-click="pc.selected = data.task.LockPhases?pc.selected:!pc.selected" tappable>
        <div class="left">
          <ons-checkbox ng-model="pc.selected" ng-click="$event.stopPropagation()" ng-disabled="data.task.LockPhases"></ons-checkbox>
        </div>
        <div class="center">
          <span>
            <span style="font-weight: bold; font-style: oblique;">
              {{ ::(pc.PhaseCodeDisplayNumber||pc.DisplayNumber) }}
            </span>
            <br>
            <span style="font-style: oblique;">
              {{ ::(pc.PhaseCodeDescription||pc.Description) }}
            </span>
          </span>
        </div>
      </ons-list-item>
    </ons-list>
    <div class="form-row" ng-if="isLocationTask(data.job,data.task)" style="min-height: 50px;">
      <div class="content-item form-row-item flex" ng-click="$event.stopPropagation()">
        Location: <ui-select ng-model="data.location" title="Location" class="form-input flex" ng-disabled="!data.task.canEditLocation||!parent.editable">
            <ui-select-match placeholder="Location">{{$select.selected.NumberChar}}</ui-select-match>
            <ui-select-choices repeat="location in workweek.jobLocations[data.job.JobCrewJobID] track by location.ID">
                <div ng-bind-html="location.NumberChar | highlight: $select.search"></div>
            </ui-select-choices>
            <ui-select-no-choice>No location available.</ui-select-no-choice>
        </ui-select>
      </div>
    </div>
    <textarea class="textarea content-item" ng-readonly="!parent.editable" placeholder="No comment" ng-model="data.comment" rows="4" id="taskCommentArea" ng-focus="showPhaseCodes=false" ng-blur="showPhaseCodes=true" style="width: 100%; min-height: 50px;"></textarea>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-show="parent.editable">Save</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(false)">{{ parent.editable?'Cancel':'Close' }}</ons-button>
  </div>
</ons-alert-dialog>