<ons-alert-dialog style="z-index: 100000;" class="expanded contains-select">
  <div class="alert-dialog-title">{{ data.equipJob.Equipment.EquipmentEquipmentNumber }}</div>
  <div class="alert-dialog-content">
    <span class="dialog-error">{{data.error}}</span>
    <ons-row>
      <ons-col>
        <label for="equipActive">
          <ons-checkbox ng-model="data.equipJob.Equipment.ActiveFlag" input-id="equipActive" ng-change="parent.changeCrewActive(data.equipJob.Equipment.EquipmentTypeCode=='SM'?'Equipment':'Rental', data.equipJob.Equipment.ActiveFlag, data.equipJob.Equipment, data.equipJob, data.equip)" ng-disabled="!parent.editable||parent.loading"></ons-checkbox>
          Active
        </label>
      </ons-col>
      <ons-col ng-show="parent.editable&&data.equipJob.Equipment.permanentMessage">
        <label for="equipPermanent">
          <ons-checkbox ng-model="data.equipJob.Equipment.hasPermanentChanges" input-id="equipPermanent" ng-change="parent.checkEquipPermanent(data.equipJob.Equipment)" ng-disabled="!parent.editable||parent.loading"></ons-checkbox>
          {{ data.equipJob.Equipment.permanentMessage }}
         </label>
      </ons-col>
    </ons-row>
     <div ng-hide="data.equipJob.Equipment.ActiveFlag" style="margin-top: 10px;">
      <b>Inactive Reason</b>
        <ui-select ng-model="data.equipJob.Equipment.inactiveReason" ng-disabled="!parent.editable||parent.loading" title="Inactive Reason" on-select="parent.changeEquipInactiveReason(data.equipJob.Equipment)">
          <ui-select-match placeholder="Inactive Reason">{{$select.selected.Meaning}}</ui-select-match>
          <ui-select-choices repeat="reason in parent.workweek.sp.equipmentInactiveReason | propsFilter: {Meaning:$select.search}">
              <div ng-bind-html="reason.Meaning | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>No reasons available.</ui-select-no-choice>
        </ui-select>
     </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()">Close</ons-button>
  </div>
</ons-alert-dialog>