<ons-alert-dialog class="expanded scrollable-dialog" cancelable>
  <div class="alert-dialog-title">Manage Crew</div>
  <div class="alert-dialog-content no-padding">
    <div style="overflow: auto;">
      <table class="timesheet-crew-grid" ng-show="model.CrewEquipment.length" ons-class="list">
        <thead class="timesheet-header" ons-class="list-header">
          <th>#</th>
          <th>Description</th>
          <th class="if-480">Category</th>
          <th style="text-align: center;">Mine</th>
          <th ng-if="editable"></th>
        </thead>
        <tbody>
          <tr ng-repeat="equip in model.CrewEquipment track by equip.EquipmentID" class="{{equip.MyEquipmentFlag?'':'timesheet-crew-equip'}}" ons-class="list-item" ons-modifier="longdivider">
            <td>{{ equip.EquipmentEquipmentNumber }}</td>
            <td>{{ equip.EquipmentDescription }}</td>
            <td class="if-480">{{ equip.CategoryCategory }}</td>
            <td style="text-align: center; cursor: pointer;" ng-click="mine(equip, true, $event)">
              <ons-checkbox ng-model="equip.MyEquipmentFlag" ng-click="mine(equip, false, $event)" style="cursor: pointer;" ng-disabled="!editable"></ons-checkbox>
            </td>
            <td style="width: 1px;" ng-if="editable"><ons-button modifier="quiet" class="timesheet-button icon-button" ng-click="model.CrewEquipment.splice($index,1); model.changes = true;"><ons-icon icon="ion-trash-b"></ons-icon></ons-button></td>
          </tr>
        </tbody>
      </table>
      <div ng-hide="model.CrewEquipment.length">No equipment defined for crew.</div>
    </div>
  </div>
  <div class="alert-dialog-footer">
    <ons-button modifier="quiet" class="alert-dialog-button left" ng-click="addCrewEquipment()" ng-disabled="model.loading" ng-if="editable">Add</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done(true)" ng-disabled="!model.changes||model.loading" ng-if="editable">Save</ons-button>
    <ons-button modifier="quiet" class="alert-dialog-button" ng-click="done()">Cancel</ons-button>
  </div>
</ons-alert-dialog>