<ons-page style="height: 100%; display: flex; flex-direction: column; position: relative;">
  <div class="centerVertical" ng-show="working||!tab.sites.length">
    <ons-progress-circular ng-show="working" indeterminate="true"></ons-progress-circular>
    <div ng-hide="working">No show-up sites available.</div>
  </div>
  <ons-list class="showup-sites-list">
    <ons-list-item tappable modifier="longdivider" ng-repeat="site in tab.sites track by site.JobShowUpSiteID" ng-click="openSite(site)" ng-class="opening?'faded':''">
      <div class="left">
        <div>
          <div class="job-num">{{ ::site.job.WorkgroupJobNumber }}</div>
          <div class="job-and-org">{{ ::site.job.NumberChar }}</div>
        </div>
      </div>
      <div class="center job-list-description">
        {{ ::site.job.Description }}
      </div>
      <div class="right">
        <div class="job-and-org">{{ site.Name }}</div>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>